[2016-12-07 17:45] #183 closed

[2016-12-07 20:09] jbphet commented on #185
I tried a darker shade of purple for the background of the "solid" region in the graph, and it looks more distinct.  Here's a screen shot.

![som-color-blind](https://cloud.githubusercontent.com/assets/3082831/20984627/56e47edc-bc7e-11e6-886d-34c2c715f632.PNG)

@ariel-phet - please test off of master and close if this looks good to you.

[2016-12-07 21:42] jbphet commented on #184
I've changed this to detect when the atom is released in the area of the potential that is greater than zero.  @ariel-phet - please test on the master branch and close if this looks like what we're after.

[2016-12-07 22:44] ariel-phet commented on #185
Looks good, thanks!

[2016-12-07 22:44] #185 closed

[2016-12-07 22:46] ariel-phet commented on #184
I think so....looks good to me! Closing

[2016-12-07 22:46] #184 closed

[2016-12-07 23:28] jbphet commented on #186
I tried several potential solutions to this, but all had unacceptable side effects on the operation of the sim.  The problem results from the same issue as #181, which is that the kinetic energy can end up very unevenly distributed at cold temperatures, and some particles end up with so little energy that they don't move visibly when the temperature starts to increase again and their kinetic energ

[2016-12-07 23:35] jbphet commented on #166
@phet-steele - please retest this on v1.0.0-dev.15.  If you are able to duplicate, please note how many attempts it required.

[2016-12-08 01:38] ariel-phet commented on #186
@jbphet opine I shall.

@EthanWJohnson nice thorough find!

@jbphet I am going to agree with you here. We know how finicky this model can be and we are going to have to live with a couple of odd corner cases. What we are seeing, though a bit nonphysical, does show a change in KE of the moving particle, and I am guessing once it hits the blobs things start to even out.

Marking "won't fix" and clos

[2016-12-08 01:38] #186 closed

[2016-12-08 06:28] jbphet commented on #187
This was due to a bug in the algorithm that places particles back in the container after an explosion followed by a return of the lid.  This algorithm was setting the X value of the position vector to a vector rather than a value, which was then causing the value to be converted to a string when a `+=` operation was done on it, and then subsequent `+=` operations were causing the strings to grow c

[2016-12-08 19:02] jbphet opened #189 "address TODOs"
There are 10 TODOs in the code as of this writing.  These should be addressed prior to the creation of the first Release Candidate (RC) branch.

[2016-12-08 23:33] EthanWJohnson commented on #187
I'm not able to form Ice-10 on the master version--above commit appears to have fixed it.

[2016-12-09 22:38] oliver-phet opened #190 "User reported issue: temperature measurement during phase change"
I absolutely love your simulations and use them in a great number of my lessons but I have a problem with the states of matter simulation – during a phase change the temperature continues to rise. This is wrong and contradicts what we need to teach our students.

Instead, I think the thermometer is measuring the total internal energy which is not the same as the temperature.

[2016-12-12 18:41] jbphet commented on #189
I've addressed all items marked with TODO.  The sim passes lint, and I've done a basic regression test and haven't seen any new issues created by these changes.  The sim will be thoroughly tested shortly as it goes through the release process, so I think it's safe to close this.

[2016-12-12 18:41] #189 closed

[2016-12-12 18:44] jbphet commented on #188
The first item in @samreid's list above looks like 15 lines of duplicated code between states-of-matter and fluid-pressure-and-flow.  I'm not going to worry about this part as I work to tackle the other portions identified.

[2016-12-12 18:48] jbphet commented on #188
40 of the lines were a result of some debug code which was just removed while addressing TODO items, see #189.  These were the lines identified as follows:

[2016-12-12 19:09] arouinfar commented on #190
@oliver-phet phase changes/latent heat aren't addressed in SOM. See @ariel-phet's comment in the Teacher Tips issue https://github.com/phetsims/states-of-matter/issues/168#issuecomment-264054515.

@jbphet a user has suggested that the thermometer in SOM may be measuring the total internal energy, rather than the temperature. Is this true?

[2016-12-12 19:26] jbphet opened #191 "add visibility annotations"
As I go through the code in preparation for release, I'm noticing some missing visibility annotations.  These should be added.

[2016-12-12 21:23] phet-steele opened #192 "Single molecule at 0K drifts left and right, can't be heated"
I took a gander and the current state of this sim and I want to point out to @jbphet that, at 0K, with only one molecule in the container, a molecule will tend to drift left and right. The setup for this bug would simply involve reaching a state with only one molecule in the container, then cooling to 0K:

![som07](https://cloud.githubusercontent.com/assets/5863899/21117224/0320fc5c-c076-11e6-8a20

[2016-12-12 21:58] jbphet commented on #190
The user is essentially correct, but there are so few particles that measuring temperature vs total internal energy just wouldn't work.  I'm not sure there is much we could do about this, at least not without a fair amount of thought and investigation.

I just discussed this with @ariel-phet and he's going to provide @oliver-phet with suggestions on how to respond to the user.

[2016-12-12 22:29] jbphet commented on #188
I've gone through and eliminated most of the duplication.  I just re-ran the report, and it now looks like this (I omitted the overlap with FPAF, since I'm not going to look into any cross-repo duplication at this time):

[code]

This amounts to 31 lines of duplicated code, and while I could probably generalize the phase state changer to eliminate the remain lines in the first group, and could gen

[2016-12-12 22:49] arouinfar commented on #190
Thanks @jbphet!

[2016-12-12 23:39] jbphet commented on #191
Done, closing.

[2016-12-12 23:39] #191 closed

[2016-12-13 04:46] ariel-phet commented on #190
@oliver-phet please put the user in contact with me, and then close this issue.

[2016-12-13 05:07] #190 closed

[2016-12-13 17:08] jbphet commented on #192
I've investigated this, and the issue is that there is some code in the isokinetic thermostat that doesn't scale down the particle velocity for falling particles.  This is done so that the particles will fall to the bottom of the container as the system approaches absolute zero.  In this particular case, the way that the forces and motion are updated just happens to make it such that the particle

[2016-12-13 17:21] ariel-phet opened #193 "Including latent heat (one day...)"
Just so we keep this question documented, it would certainly be ideal to include latent heat in the model of SOM.

As one user astutely said:

Even with a very small number of particles, the ratio of specific heat capacity to specific latent heat should not change. And since the temperature rises appreciably slowly, so should the phase change be slow. To put it another way, if the phase change wer

[2016-12-13 18:15] phet-steele opened #194 "Automated Testing Lint Error (12/13/2016 10:00 AM)"
[code]

[2016-12-13 20:52] phet-steele commented on #187
Fixed in the rc 👍

[2016-12-13 20:52] #187 closed

[2016-12-14 00:38] jbphet commented on #194
Fixed, closing.

[2016-12-14 00:38] #194 closed

[2016-12-14 04:54] jonathanolson opened #195 "Sim failing on startup"
[code]
fails require.js for states-of-matter and states-of-matter-basics.

[2016-12-14 17:25] jbphet commented on #195
Fixed in https://github.com/phetsims/states-of-matter/commit/05021ff4a1a444a86bc99778bf43351c40484d06, closing.

[2016-12-14 17:25] #195 closed

[2016-12-14 20:02] samreid opened #196 "The case of the disappearing dependencies.json"
As part of https://github.com/phetsims/tasks/issues/753 I was looking into https://github.com/phetsims/joist/issues/389 and noticed there is no dependencies.json here where it should be http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-rc.1/

@jbphet @pixelzoom @jonathanolson any idea what is happening?

[2016-12-14 20:06] samreid commented on #196
I'm seeing this during a build:

[code]

[2016-12-14 21:54] phet-steele opened #197 "Atom/Molecule selections are being scaled/aligned differently with respect to each other"
With either `?stringTest=double` or `?stringTest=x`, it is very apparent that the "Adjustable Attraction" molecule selection is being scaled quite differently from the others, among other differences.

In this screenshot, both the left and right alignment are off for every selection:
<img width="338" alt="screen shot 2016-12-14 at 2 13 25 pm" src="https://cloud.githubusercontent.com/assets/5863899

[2016-12-14 21:55] phet-steele opened #198 "Panels on the Interaction screen can have different respective widths"
On the Interactions screen, with `?stringTest=double`, the Atoms panel becomes wider than the Forces panel. This is only true when the sliders are shown with "Adjustable Attraction" selected. @jbphet suggested it may be worth it to fix this, since the Atomic Interactions sim does not have this problem. The proposed solution would be to make the panel widths consistent with whichever panel is the w

[2016-12-14 21:55] phet-steele opened #199 "?stringTest=%20 causes alignment failures and errors"
`?stringTest=%20` is not a supported test, so this probably does not need to be addressed for 1.0. That being said, I've never seen a sim break from this test until now. I guess I'll leave it up to @jbphet to look into this if he wants to. Maybe this is indicative of a deeper problem?

3rd screen, alignment is way off:
<img width="1918" alt="screen shot 2016-12-14 at 2 31 19 pm" src="https://cloud

[2016-12-14 21:55] phet-steele opened #200 "Update QA Credits"
@jbphet, please add Ethan Johnson and Bryce Griebenow to the QA credits.

For phetsims/tasks#753

[2016-12-14 21:55] phet-steele opened #201 "Chromebook overlap on Phase Changes screen"
The Phase Changes screen on Chromebook gets a little crowded towards the bottom. @ariel-phet @jbphet is there a way to free up the overlap slightly? (The Reset All button and Phase Diagram panel are overlapping by a few pizels)

![states of matter screenshot 1](https://cloud.githubusercontent.com/assets/5863899/21202649/777f87b6-c20c-11e6-9f2c-7b5d5c374ecc.png)

Seen on Peppy.4389.93.0, for phetsi

[2016-12-14 21:58] phet-steele commented on #176
Looks good!

[2016-12-14 21:58] #176 closed

[2016-12-14 22:04] jbphet commented on #196
The dependencies were built correctly by the build server - I checked - but it appears they weren't transferred to the dev server.  I looked into it a bit and ended up logging this issue: https://github.com/phetsims/perennial/issues/29.

[2016-12-14 22:04] phet-steele commented on #71
Performance is still not ideal, but @jbphet recollects a recent meeting where @ariel-phet approved of the current performance. @ariel-phet, would you mind taking one last look, for posterity, at 1.0.0-rc.1 and confirm that the performance is what you expect?

[2016-12-14 22:15] ariel-phet commented on #71
@phet-steele please comment on what you find "unideal" so I can look at those things specifically.

[2016-12-14 22:20] ariel-phet commented on #201
@jbphet feel free to remove a pixel or so between the control panels and move the reset all button down a pixel or two to remove the overlap. If needed, the reset all button could be reduced slightly in size (5%) with a dilated touch area.

Feel free to use any combination of space/size adjustment that you feel works best.

[2016-12-14 22:20] phet-steele commented on #166
From my tests, it looks like this can't happen anymore. Instead, any particle suspended the moment the temperature hits 0K will continue to move towards the bottom. Once they reach the bottom, they stop moving. Closing.

[2016-12-14 22:20] #166 closed

[2016-12-14 22:29] phet-steele commented on #71
1. The momentary lag when switching to water for the first time.
2. The particles slowing down when the lid is being moved by the user (any molecule)
3. General decrease in performance when things begin to heat up w/ large quantities of a molecule (especially water)

[2016-12-14 22:37] phet-steele opened #202 "Interaction screen panels have slightly off pointer areas"
<img width="415" alt="screen shot 2016-12-14 at 3 32 35 pm" src="https://cloud.githubusercontent.com/assets/5863899/21204062/ab8e447e-c212-11e6-8001-b5fba4967e3c.png">

Seen on all macOS 10.12.2 browsers, for phetsims/tasks#753.
URL: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-rc.1/states-of-matter_en.html?stringTest=double&showPointerAreas
Version: 1.0.0-rc.1 2016-12-13 1

[2016-12-14 23:03] phet-steele commented on #199
Pretty sure this is the EXACT same issue as https://github.com/phetsims/atomic-interactions/issues/58. (the above screenshots and errors happen the same with `?stringTest=xss`). I could be proactive and give this issue the same treatment as the linked issue, but I'll still let @jbphet decide.

[2016-12-14 23:25] ariel-phet commented on #71
@phet-steele do these problems exist on iPad Air? or just on iPad 2 for you?

[2016-12-14 23:42] phet-steele commented on #71
@ariel-phet just iPad 2, iOS 9.3.5

[2016-12-15 01:03] samreid commented on #188
In my opinion, this seems like a good opportunity to factor out code.  For the model, factoring out the code will help ensure that the AbstractPhaseStateChanger and WaterPhaseStateChanger don't accidentally diverge in the future (or if there are bugfixes they would only have to be done in one place.  In the view, factoring out the code will help ensure that the buttons maintain similar looks and s

[2016-12-15 01:50] ariel-phet commented on #71
@phet-steele

(1) does not bother me too much since it quickly starts to perform decently
(2) not ideal, but not horrible
(3) again not ideal, but not horrible

Unfortunately, I think this is as good as we are going to get on iPad iOS 9 for the moment. @jbphet spent quite a bit of time trying to optimize, and we are just going to need to call it at this point. I agree then in a few of these situat

[2016-12-15 01:50] #71 closed

[2016-12-15 21:15] jbphet commented on #201
I moved it down two pixels, it now looks like this:

![som-moved-reset-button](https://cloud.githubusercontent.com/assets/3082831/21242309/ef7f916a-c2d0-11e6-8b95-d9939606957f.png)

[2016-12-15 23:52] arouinfar opened #203 "Create sim primer"
Tracking sim primer production separately from the master checklist #175.

[2016-12-16 18:41] jbphet commented on #199
I have investigated this and it looks like the bulk of the issues result from code that lays out graphs and panels based in part on the bounds of text nodes.  When there are no visible characters in the text node, it is considered to have no bounds, so failures result.  If the developer tools are open, errors and assertions are encountered.

I recommended closing this as "will not fix".  Assigning

[2016-12-16 18:44] jbphet commented on #196
Unassigning myself, since I'm fairly confident at this point that the issue linked in the comment above is the cause, and doesn't have anything to do with States of Matter specifically.

[2016-12-16 22:02] ariel-phet commented on #199
@jbphet agreed, closing

[2016-12-16 22:02] #199 closed

[2016-12-16 22:26] jbphet commented on #188
@samreid - I appreciate your high standards!  I've worked to consolidate the remaining duplicated code, and in the process it revealed an inconsistent behavior between the screens (the play pause button was inflating on one screen and not the others).  I re-ran the analyzer, and the only reported duplication was the aforementioned FPAF code (other than the expected config files).  I think our work

[2016-12-16 22:26] #188 closed

[2016-12-16 23:55] jbphet commented on #192
The easiest - and perhaps the most practical - thing to do would be to eliminate the ability to get the particles to absolute zero.  This feature creates a number of problems, and there is already a lot of special case code to support it, and handling the case described in this issue would likely involve even more special-case code.  If I can't come up with anything elegant, and we decide that thi

[2016-12-17 02:20] ariel-phet commented on #192
@jbphet I think eliminating absolute zero would be fine (since it is unphysical). You could go to 1K or perhaps let it go to 0.1K and then things will be very slow, but it gets no colder, I would be completely fine with that.

[2016-12-19 17:33] phet-steele commented on #202
👍 1.0.0-rc.2 is great.

[2016-12-19 17:33] #202 closed

[2016-12-19 17:34] phet-steele commented on #200
👍 1.0.0-rc.2 is great.

[2016-12-19 17:34] #200 closed

[2016-12-19 17:36] phet-steele commented on #198
👍 1.0.0-rc.2 is great.

[2016-12-19 17:36] #198 closed

[2016-12-19 17:41] phet-steele commented on #197
👍 1.0.0-rc.2 is great, but one quick question @jbphet.

You've constrained the strings to be tight on the first screen:
<img width="346" alt="screen shot 2016-12-19 at 10 38 17 am" src="https://cloud.githubusercontent.com/assets/5863899/21322661/5ef8a988-c5d7-11e6-9c9c-492b58005497.png">

But are allowing them to float to the edges on the other two screens:
<img width="312" alt="screen shot 2016-1

[2016-12-19 18:45] ariel-phet opened #204 "Performance on Edge is fairly abysmal"
Testing on Win 10 and Edge, I saw 5 fps with water in the gaseous phase.

The performance is definitely below our normal standards, but fortunately edge is an extremely low percentage of our user base.

At some point, we should investigate what is bogging down so badly, but we will not let this issue delay publication of the sim (compromises must be made at times).

[2016-12-19 18:47] phet-steele commented on #201
👍 1.0.0-rc.2 is great.

[2016-12-19 18:47] #201 closed

[2016-12-19 21:57] EthanWJohnson commented on #204
I'm not seeing quite the same performance hit on either of my windows 10 systems, but the sim is using a ridiculous amount of CPU compared to Firefox and Chrome. It sits around 50% CPU usage with spikes up to 60%, whereas Firefox and Chrome generally hover around 20-25% usage.

[2016-12-20 16:55] ariel-phet commented on #192
Deferring to see if we get any emails to phethelp after publication

[2016-12-20 21:46] jbphet commented on #199
While working on some other portions of the sim, I discovered that the main culprit that was causing the layout issues was a small text label with its bounds set to 'accurate'.  I ended up logging an issue about this - see https://github.com/phetsims/scenery/issues/595 - and adding a workaround.  This radically improved the results of this test.

[2016-12-21 04:59] ariel-phet opened #205 "Screenshot not in assests (and missing from Published README)"
In going through #175 it appears the screenshot has not been uploaded to the asset directory.

Related, the published README does not have the screenshot showing

[2016-12-21 05:11] ariel-phet commented on #30
Sim is published, closing

[2016-12-21 05:11] #30 closed

[2016-12-21 05:27] ariel-phet commented on #175
@arouinfar and @jbphet remaining items for you here

[2016-12-28 15:27] arouinfar commented on #168
I've uploaded the teacher tips for SOM and SOMB, but I haven't fully addressed https://github.com/phetsims/states-of-matter/issues/168#issuecomment-264053333. I will need to talk more with @jbphet about the model when I'm back in the office.

[2017-01-04 18:02] jbphet commented on #159
The sim has been published and the new wall behavior has - knock on wood - worked out well.  I've deleted the branch and am closing this issue.

[2017-01-04 18:02] #159 closed

[2017-01-04 18:03] jbphet commented on #153
The branch has been deleted, closing.

[2017-01-04 18:03] #153 closed

[2017-01-04 20:19] jbphet commented on #205
I've moved the commits from the 1.0 branch to master, which has fixed this issue.  Closing.

[2017-01-04 20:19] jbphet commented on #197
Fixed, closing.

[2017-01-04 20:19] #197 closed

[2017-01-04 20:20] jbphet commented on #175
The readme has been updated, which I think was the last unchecked item for me.  Unassigning.

[2017-01-04 20:22] jbphet commented on #173
@ariel-phet - okay to mark this as deferred?

[2017-01-09 19:58] #205 closed

[2017-01-09 19:59] jbphet commented on #94
I've updated the documentation.  Closing.

[2017-01-09 19:59] #94 closed

[2017-01-19 05:02] mattpen commented on #196
The missing dependencies is definitely related to the bug in phetsims/perennial#29 and will be addressed there.  Closing.

[2017-01-19 05:02] #196 closed

[2017-01-19 20:50] arouinfar commented on #203
As discussed, sending this one your way @amyh-phet.

[2017-04-04 22:34] pixelzoom opened #206 "fails stringTest in Options dialog"
Noted in published and master versions of SOM and SOM:Basics.

With `?stringTest=xss`, it's apparent that the Options dialog's content has no `maxWidth`.

If doing a maintenance release, you need to pickup the fix for the "Options" title in phetsims/joist#416.

[2017-04-05 23:01] jbphet commented on #206
I've added a `maxWidth` option for the dialog.  I looked at a number of the translations that are currently live on the site, and none seem to have any issues with the width of this dialog, so I don't think a maintenance release is warranted.  I think this is addressed, so I'll close it, @pixelzoom please reopen if there is more that needs to be done.

[2017-04-05 23:41] pixelzoom commented on #206
@jbphet It looks like you added a maxWidth for the entire dialog contents.  That will cause the entire contents to shrink if only one text label is long.   In all sims that I've worked on, it has been requested to set maxWidth on the individual labels, not on the entire contents.

[2017-04-06 15:57] pixelzoom commented on #206
For example, see how @jonathanolson addressed this same issue in https://github.com/phetsims/molecule-shapes/issues/148, commit https://github.com/phetsims/molecule-shapes/commit/3116679d13f7dd36206dd0111a2f609d4514a394.  This is the correct way to apply `maxWidth`.

[2017-04-06 23:20] jbphet commented on #206
How does that look?

[2017-04-07 16:53] #206 closed

[2017-05-02 19:30] #168 closed

[2017-07-06 03:52] #175 closed

[2017-08-23 21:14] oliver-phet opened #207 "User question: system temperature, pump position"

[2017-08-25 22:39] jbphet commented on #207
Assigned to @ariel-phet to decide whether to figure out whether to take this on.  Tagging @arouinfar since I know these changes were discussed at design meetings and she might have some input.

[2017-09-01 00:53] ariel-phet commented on #207
@oliver-phet can you forward me the original email so I can respond directly to the user?

[2017-09-01 01:02] oliver-phet commented on #207
Original email forwarded.

[2017-09-05 22:17] ariel-phet commented on #207
Responded to user with the following:

[2017-09-05 22:18] ariel-phet commented on #207
Closing this issue, and will be opening a separate issue for the behavior of water when molecules are pumped in.

[2017-09-05 22:18] #207 closed

[2017-09-05 22:19] ariel-phet commented on #203
Primers created and published, closing

[2017-09-05 22:19] #203 closed

[2017-09-05 22:48] ariel-phet opened #208 "Water rises in temperature excessively when molecules are pumped in"
To reproduce:

1. On the phase changes screen, choose Water
2. Perform one full cycle of the the pump
3. The temperature rises dramatically (from 157 K up to ~300 or 400K)

The amount of temperature rise is quite inconsistent, which is suspicious as well.

This behavior only occurs with water, but seems quite buggy. We should investigate once Gene Expression is moving to QA.

[2017-09-18 19:27] pixelzoom opened #209 "inconsistent prefix for filenames"
This sim mixes conventions for filename prefix. SOMPlayPauseStepControl.js uses the "SOM" abbreviation, others use the full name "StatesOfMatter". The choice of which convention to follow is up to the developer, but it should be applied consistently.

[2017-11-16 21:27] jbphet commented on #208
I've spend a bunch of time on this hoping that there would be a reasonably quick and easy solution.  Alas, I' haven't found one yet, and need to move on to other things and come back to this later.

The basic issue is this: During normal operation of the main model, the target temperature of the substance (e.g. neon, water, etc.) is set by the user's actions, and the model works to keep the partic

[2017-12-01 16:07] jbphet opened #210 "incorporate support for Legends of Learning"
I reported in a recent status meeting that I'm spending some time working on https://github.com/phetsims/states-of-matter/issues/208.  @kathy-phet has requested that as I work on this I should also add support for LoL.  Here is the email dialog:

[2017-12-01 16:07] jbphet commented on #210
@samreid - can you confirm that building off of master will incorporate LoL support?

[2017-12-01 16:16] samreid commented on #210
Joist/master of LegendsOfLearningSupport.js and its usages are intended to support Legends of Learning and hopefully sufficient.  However, the simulation developer also needs to make sure that nothing in the simulation happens outside of the step(dt) function.  For example, some of our older sims use window.setTimeout or window.setInterval--those will not be able to pause correctly.  Also there is

[2017-12-01 16:29] jbphet commented on #210
Thanks @samreid.  Is there a good way for me as a developer to check that the functionality works once I've taken the steps you outlined, or is it best to build a dev version and have QA check it?

[2017-12-01 16:30] samreid commented on #210
From @jessegreenberg note on slack:

Basically test that pause works, pause in 5 seconds works, try dragging things when you pause in 5 seconds, etc.  Try dragging things outside the iframe, etc.

[2017-12-04 19:40] arouinfar opened #211 "Create LoL Icons and Descriptions"
Support for LoL is being added in #210 so we will also need icons and descriptions.

[2017-12-04 19:47] arouinfar commented on #211
@ariel-phet @kathy-phet or @jbphet can you confirm that we are delivering only SOM -- not SOMB?

I think SOMB would be redundant here, since the first screen is exactly identical to SOM and the 2nd screen is very similar. The primary difference on the 2nd screen is that SOMB does not include the  adjustable interaction option and thus does not have the interaction potential (which could always be

[2017-12-04 21:03] oliver-phet opened #212 "User reported issue: shape of liquid"
I'm writing to request a small change to the States of Matter Basics.    In this interactive, When you change from solid to liquid, the particles tend to stay bunched close together in a roughly defined shape, rather than settling at the bottom of the container (see the image below).  This is deceptive for beginning students.  I use this interactive in the opening chapter of my book, to convey the

[2017-12-04 21:03] oliver-phet commented on #212
@arouinfar Comments on this?

[2017-12-05 05:11] ariel-phet commented on #211
I am bit out of the LoL loop, but I would think only SOM is logical given your points above.

[2017-12-05 15:09] arouinfar commented on #212
@oliver-phet I do not believe this is a bug, per se. Over time, a liquid does settle at the bottom of the container.

<img src="https://user-images.githubusercontent.com/8419308/33613812-3533e4ea-d99b-11e7-8039-f70276111192.png" width=300> <img src="https://user-images.githubusercontent.com/8419308/33613800-2d1cd258-d99b-11e7-9c40-7bb49ad32136.png" width=300>

Liquid takes the shape of its contain

[2017-12-05 16:09] jbphet commented on #211
I have no idea.  I'm adding @samreid to the list of assignees, since he is more likely to know than I.

[2017-12-05 16:16] jbphet commented on #212
I'm about to spend some time on another issue reported by a user (see #208), and we've already decided to also add support for Legends of Learning (see #211).  It's easy enough to try tweaking the amount of gravity.  @ariel-phet and @arouinfar - shall I do that at the same time?

[2017-12-05 16:24] jbphet commented on #211
As I think about it, I will be working to add changes to the temperature behavior for SOM in #208, and that change may go out with the release that supports LoL.  If this is done, then SOMB will also need to be republished, otherwise the two sims will have slightly different behaviors.  I think we should just plan on doing SOMB too.

[2017-12-05 17:07] kathy-phet commented on #211
@arouinfar - They are focused on 8th grade and lower right now, so I think SOMB might be the more appropriate of the two sims. I do agree that there is a lot of overlap, however, so its a bit complicated of a choice.

[2017-12-05 17:48] ariel-phet commented on #212
@jbphet - what about the user suggestion to have the initial liquid shape be more "settled" at the bottom of the container to begin with? Since when you click the gas phase it immediately spreads around the container, it seems reasonable to specify an approximate initial shape for the liquid.

It might also make sense to turn up the gravity a touch, but not too much (IMO). Right now the liquid als

[2017-12-05 17:49] ariel-phet commented on #212
@oliver-phet please thank the user for the suggestion and let them know we are looking into this simulation currently for a few improvements and this seems like a reasonable suggestion.

[2017-12-05 18:10] oliver-phet commented on #212
Email to user sent.

[2017-12-05 20:16] arouinfar commented on #211
Sounds good @kathy-phet I will prepare icons and descriptions for SOMB. QA testing generally focuses on SOM (because SOMB is mostly redundant) so if for some reason we change our minds in the future, the live version of SOM would also be LoL-ready.

[2017-12-06 16:26] jbphet commented on #212
Starting with a better initial position for the liquid state for all materials is definitely a possibility, but would be a bit more involved than simply turning up the gravity.  Right now, the code algorithmically positions the particles in a blob that, by itself, looks very unnatural, so the code then iterates the particle model a number of times without showing it to the user to get the initial

[2017-12-07 17:57] arouinfar commented on #211
The icons and descriptions for SOMB are now on Drive.

[2017-12-07 17:57] #211 closed

[2018-01-12 02:59] jbphet commented on #208
I met with Paul Beale, who was one of the main designers of the particle model and has a lot of knowledge on statistical mechanics, and we brainstormed a few approaches.  In the end, the one that worked the best was to treat particle injection as a separate case from any other particle speed changes (such as interaction with the lid) and to calculate what the new temperature should be, and then us

[2018-01-16 20:49] ariel-phet commented on #208
1.1.0-dev.1 seems to be working nicely with acceptable behavior. I think this version addresses the issue sufficiently.

[2018-01-17 14:55] jbphet commented on #208
Paul also tested this out, and emailed me saying, "I agree. This appears much more physical. Thanks."

[2018-01-17 15:02] jbphet commented on #208
@oliver-phet and @ariel-phet - I thought I recalled that a user had contacted us about this, but I don't see any record of it in this ticket.  My memory could be faulty, but I don't want to close this issue without closing the loop with the user(s) if they *did* report it.  Do you have any recollections or records on this?

[2018-01-17 15:40] ariel-phet commented on #208
@jbphet yes this was user reported.

@oliver-phet looks like the original email was Aug 23 2017, subject "states of matter HTML5 version" to phethelp. I was in contact with the user, and will inform them of the change.

[2018-01-17 15:47] ariel-phet commented on #208
Emailed the user. Self assigning to let them know the new version is published.

[2018-01-23 17:09] ariel-phet commented on #208
I think this can be closed actually, the user did not respond about the dev version I sent with the new behavior. Closing.

[2018-01-23 17:09] #208 closed

[2018-01-24 23:16] jbphet commented on #212
Fixing this issue will also resolve somethting that Trish pointed out to me a while ago, but we never logged.  If the user pauses the sim while the substance is in the gas or solid state, and then changes to the liquid state, the initial, semi-organized particle arrangement can be seen.  Here is a screen shot to illustrate:

![image](https://user-images.githubusercontent.com/3082831/35362186-f0a25

[2018-01-29 17:32] phet-steele opened #213 "Assertion failed: unhandled substance: ADJUSTABLE_ATOM"
1. Phase Changes screen
2. With something other than Adjustable Attraction selected, change the temperature
3. Select Adjustable Attraction

[code]

[2018-01-29 20:58] jbphet commented on #213
Good catch.  This was due to changes made to #212, and I had neglected to add liquid phase initialization for the adjustable atom.  Should be fixed now.  I'll leave this open and will have it verified on upcoming RC.

[2018-04-04 16:31] oliver-phet opened #214 "User feedback, multiple"
@arouinfar We are working with a publisher that is going to embed states of matter, and the author had this feedback. Let me know if you would like these broken into separate issues.

Feedback on details the author found not correct:
- Festkörper (solid body): the start as cube is good with neon, argon and oxygen. With Water, the cube is not really recognisable because the isolated watermolecules

[2018-04-04 17:35] arouinfar opened #215 "User suggestion: toggle pressure units"
In #214, a user requested support for pressure units of bar or mbar.

The thermometer readout is a combobox to toggle C/K.
![image](https://user-images.githubusercontent.com/8419308/38323853-b5794aaa-37fb-11e8-8368-e3b191d97c35.png)

We are planning to do something similar in Gas Properties, allowing users to toggle between atm and kPa.
![image](https://user-images.githubusercontent.com/8419308/38

[2018-05-02 23:39] ariel-phet commented on #214
@jbphet I have to say the wandering does not really bother me, but I suppose it is a bit odd in the way we normally think of a solid.

I am wary about making a change since this model tends to be tweaky, but if you think it is 3'ish hours, that at least seems reasonable to explore. I would say we do that exploration in a way that is easy to revert and test the consequences. Does fixing the wanderi

[2018-05-25 19:13] oliver-phet opened #216 "Query parameter to start sim using Celsius"
A collaborator requested that the sim start using Celsius rather than Kelvin. @jbphet thought this should be done using a query parameter.

Waiting to confirm with collaborator before we start instrumenting this.

[2018-05-29 15:51] oliver-phet commented on #216
@jbphet It sounds like it would be great if we could add a query parameter to allow the sim to start using Celsius.

[2018-05-31 18:15] ariel-phet commented on #212
This should get the new `status:addressed-waiting-deploy` label. Self assigning to add that when availabe

[2018-07-17 18:38] pixelzoom opened #217 "migrate BicyclePumpNode to scenery-phet"
The Gas Properties design document description of the bicycle pump UI component (see screenshot below) points to "similar in States of Matter".   I see `STATES_OF_MATTER/BicyclePumpNode`, but it's coupled to that sim.   So we'll need to allocate a chunk of time to generalize it and move it to scenery-phet, so that I can use it in Gas Properties.

Assigning to me, @jbphet and @ariel-phet to discuss

[2018-07-17 18:41] pixelzoom opened #218 "migrate HandleNode to scenery-phet"
Gas Properties design document identifies a handle that is used in multiple places. It looks like this:

![screenshot_705](https://user-images.githubusercontent.com/3046552/42838635-8fedaa78-89be-11e8-8d90-f9aa0dac878d.png)

I'm sort of surprised that this isn't already in common code, since I seem to recall other sims having this type of handle.

`STATES_OF_MATTER/HandleNode` looks close, but wou

[2018-07-18 00:46] ariel-phet commented on #218
@pixelzoom is this something @andrealin could do, as she has done a fair bit of common code work now?

[2018-07-18 01:51] pixelzoom commented on #218
yep.

[2018-07-18 15:48] jbphet commented on #217
Porting this to common code would probably be a decent introduction for @chrisklus.  We could have a short discussion with @pixelzoom, @chrisklus, and me to decide what generalization is needed and then I could support him during the work.  The original port was done by Actual Concepts, then refined by me, and there are some things that could likely be simplified.

[2018-07-18 15:49] pixelzoom commented on #218
Yes. Although I suspect that she'll have her hands full with Graphing Quadratics.

[2018-07-18 15:50] jbphet commented on #217
I have a pretty clear list of what needs to be done on SOM to get it published, so we can discuss at any time.  Probably the biggest effort is some generalization of the color scheme handling.

[2018-07-23 20:30] ariel-phet commented on #217
Since we agree this would be a nice intro to common code for @chrisklus we will have @jbphet on this with him when @jbphet dives back into trying to get SOM republished

[2018-07-23 20:50] jbphet commented on #216
Added in https://github.com/phetsims/states-of-matter/commit/6c2a42cdd1af7528f44cc6caedc96c63d362e27b (forgot to reference this issue in the commit).

[2018-07-23 20:53] jbphet commented on #216
I added the query parameter `defaultCelsius` for this feature, seems to work well.  The sim will return to Celsius is changed to Kelvin and then reset.

Leaving open and unassigned until tested and published.

**Do not close this issue** until the feature has been published and we have informed the user who requested the feature that it is now available.

[2018-07-27 21:01] jbphet commented on #210
I tested today using the test harness URL provided above and used localhost links from master for the sims.  I tested all 3 sim variations, and all loaded, and the "Pause" function worked.  I didn't see any control that said "Pause in 5 Seconds", so I don't know if this has gone away or if it's a bit of a hidden option and I don't know how to find it.  At any rate, since the pause functionality wo

[2018-07-27 21:03] jbphet commented on #209
This was fixed a while back, closing.

[2018-07-27 21:03] #209 closed

[2018-07-27 21:08] jbphet commented on #214
The wandering is probably related to this issue: https://github.com/phetsims/states-of-matter-basics/issues/15.

[2018-07-31 21:39] jbphet commented on #214
Here are a some screenshots of the "wandering" behavior.  My test procedure was to start the sim, select the first screen, and apply heat for 4 to 5 seconds.  Not all cases look like these, but a significant proportion do, and it is definitely a bit unphysical since the particles shouldn't collectively gain energy in a single direction.

![image](https://user-images.githubusercontent.com/3082831/4

[2018-08-01 18:33] jbphet commented on #214
In the course of working on the drift issue I added some debug code that shows the accumulation of added velocity.  This turned out to be very helpful in numerically understanding the cause of the drift, so I published a dev version that included this debug output.  The version is https://phet-dev.colorado.edu/html/states-of-matter/1.1.0-dev.2/phet/states-of-matter_en_phet.html and the output can

[2018-08-02 20:42] jbphet commented on #192
We've decided that this is an edge case.  Closing.

[2018-08-02 20:42] #192 closed

[2018-08-02 21:15] jbphet commented on #215
This was discussed in the 8/2/2018 design meeting with @ariel-phet, @arouinfar, and @kathy-phet and it was decided to not add alternative pressure units since this is not truly meant to be a quantitative sim.  Closing.

[2018-08-02 21:15] #215 closed

[2018-08-02 21:16] jbphet commented on #214
In the 8/2/2018 design meeting we decided to double check the temperature values after the latest mods to the thermostats are complete.  If they are reasonably accurate, we won't change them.

[2018-08-03 15:44] jbphet commented on #214
Also in the 8/2/2018 design meeting, we reviewed the drift compensation.  I demonstrated the sim with compensation in the horizontal direction only and with compensation in by the horizontal and vertical directions, and we decided to go with horizontal only.  Our reasoning is that the rising up of the substance looks reasonably good, and is what users are used to.  Also, this behaved somewhat oddl

[2018-08-06 21:05] jbphet opened #219 "Slight upward jump for neon and argon when cooled from solid state"
While working on the drift issues reported in https://github.com/phetsims/states-of-matter/issues/214 and https://github.com/phetsims/states-of-matter-basics/issues/15, I noticed that there is a noticeable initial jump exhibited by neon and argon when they are cooled from a solid state.  This is present in the currently published version too, which is v1.0.3, but seems to be a little more apparent

[2018-08-07 01:56] ariel-phet commented on #219
@jbphet yes, I can see what you are talking about. It does look a tad odd, but I am not overly concerned at this point. Things settle quickly enough that you have to be watching pretty carefully to decide it is odd.

Since we know this behavior is in a sense incorrect, I am going to mark the issue as deferred. We can see if we get any complaints from the world over the next school year.

Unassigni

[2018-08-08 17:26] jbphet commented on #214
@arouinfar - in comment https://github.com/phetsims/states-of-matter/issues/214#issue-311303288 above, the person who is interested in integrating the sim into their learning environment had some input on what he/she saw as the melting and boiling points of the substances.  I've just published a new dev version (link below) - can you check and see if you think the temperatures need any adjustment?

[2018-08-08 19:47] samreid commented on #218
I helped @chrisklus review HandleNode.js and everything is looking great.  The only outstanding question I had was whether to use flat options or nested options.  I asked on slack:

Did we decide we prefer flat options like this?
_.extend({
 componentAProperty1: ‘x’,
 componentAProperty2: ‘y’
})

or nested options like this:

_.extend({
 componentAOptions:{…}
});

and haven't heard back yet.  Stil

[2018-08-08 21:18] chrisklus commented on #218
@samreid thanks for reviewing with me, I think we're all set. Closing.

[2018-08-08 21:18] #218 closed

[2018-08-08 22:28] pixelzoom commented on #218
I did reply on Slack, but looks like my reply didn't get sent (perhaps my internet connection went down). I said:

Looking at HandleNode, I think that flat options are fine in that context.

[2018-08-09 19:09] arouinfar commented on #214
@jbphet neon and argon are looking great!

I've noticed that liquid oxygen doesn't spread along the bottom of the container, like the other liquids. I started from a solid, and then gradually heated up the sample. I find that 1.1.0-dev.3 generally behaves about the same as the published version.

Solid > Liquid Water behaves pretty well, but the Liquid > Gas transition is poorer in 1.1.0-dev.3 tha

[2018-08-10 18:13] KatieWoe commented on #214
Found the same thing as @arouinfar Linking to phetsims/QA/issues/164

[2018-08-10 18:22] KatieWoe opened #220 "Cooled solids drift to the side of the container"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/164 and related to phetsims/states-of-matter-basics/issues/15
Drifting of solids to one side of the container can still occur if the solid has been cooled down.
**Steps to reproduce:**
1. Go to the States screen
2. Choose an solid.  Water tends to occur the fastest
3. Use t

[2018-08-10 18:55] KatieWoe opened #221 "Solid will begin to deform if left to sit"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/164
Solid will begin to deform if left to sit for some amount of time.  That amount of time depends on the solid chosen.  @jbphet is aware of this and finds it an acceptable compromise, but wanted an issue made to confirm this.
**Steps to reproduce:**
1. Go to the States sc

[2018-08-10 21:05] KatieWoe opened #222 "Neon and Argon Particles begin flashing and falling to the bottom"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For phetsims/QA/issues/164
It is possible to continuously add neon or argon particles.  When too many are added they will start to flash, teleport, sink to the bottom, and overlap.  In addition, the needle showing pressure will be swinging wildly back and forth.  The flashing and teleportation se

[2018-08-10 22:28] KatieWoe commented on #192
For phetsims/QA/issues/164
The movement at 0 K can happen with large numbers of particles as well, though heating can occur just fine.

[2018-08-13 16:27] KatieWoe commented on #222
I was able to get this bug with oxygen, but in a slightly different way.  I doesn't occur simply by adding more particles (though I did think I may have seen some jumpiness, I couldn't tell).  To do this with oxygen, fill the container then freeze the particles solid.  When attempting to heat them up again, the bug will occur.

https://drive.google.com/file/d/1NTy_SycgKBJrgoEawN0rsiyS6nQVY18d/view

[2018-08-13 20:41] arouinfar commented on #221
Nice find @KatieWoe. @jbphet I left solid neon unattended and noticed considerable shifting after ~10 minutes.

On startup:
<img width="439" alt="screen shot 2018-08-13 at 2 18 45 pm" src="https://user-images.githubusercontent.com/8419308/44056576-ea3b8570-9f05-11e8-9457-3153134b653e.png">

After ~10 minutes:
<img width="436" alt="screen shot 2018-08-13 at 2 33 19 pm" src="https://user-images.gith

[2018-08-13 21:55] kellywurtz commented on #222
Test device:
Chromebook
Operating System:
Chrome OS - Version 67.0.3396.99
Browser:
Chrome

This bug also occurs with the Adjustable Attraction particles. Pump the container full of particles to around 150 atm, at which point they all fall to the bottom and then blow the lid off.

[2018-08-13 22:18] jbphet commented on #221
Also, I think it's fairly "real" in that a blob of neon atoms would tend toward this state due to entropy.  Closing.

[2018-08-13 22:18] #221 closed

[2018-08-14 18:41] kellywurtz commented on #222
Test device:
Macbook
Operating System:
OS X 10.10.5
Browser:
Safari

Also with the adjustable interaction particles, if you first cool the system to a solid state, and then begin pumping particles in, the bug will occur sooner (lower temperature & pressure/fewer particles) than if you had not initially cooled the system. On the other hand, if you initially warm the system a bit, and then begin pum

[2018-08-15 15:28] JRomero0613 opened #223 "Thermometer resets tilted on states screen."
**Device:**
Mac OS X El Capitan v. 10.11.6
**Browser:**
Chrome v. 68.0.3440.106
**Problem description:**
Noticed while testing https://github.com/phetsims/QA/issues/164 on the states screen heat an atom or molecule to the point where the lid flies off (I used Argon) and choose a different atom or molecule to reset the lid. The thermometer should now be reset to its original position but it will be

[2018-08-15 16:50] KatieWoe commented on #223
Just tested this on the published sim and it does occur there as well.

[2018-08-27 22:29] oliver-phet commented on #216
@jbphet Was there a issue created in QA to test this?

[2018-08-28 15:46] jbphet commented on #216
There will be for the next RC.

[2018-08-28 23:28] jbphet commented on #223
Interesting test case, I've never done that.  I've added code to reset the rotational angle of the thermometer when the lid is returned after the container explodes.

[2018-08-29 18:36] JRomero0613 commented on #223
I've just tested this issue in master on macOS Sierra v. 10.12.6 on Chrome v. 68.0.3440.106, Firefox v. 61.0.2, and Safari v. 10.1.2.12603.3.8 and it has been fixed. I move to close this issue, with a check to make sure it has been fixed in the next round of testing.

[2018-08-29 21:53] jbphet commented on #222
@KatieWoe - I believe this problem was due to the newly added code that compensates for drift.  This code (which was added by me) was using a total value for accumulating the drift, and that total was getting too high when lots of particles were in the container.  I have changed the code to instead use an average value for the accumulated drift (total/numParticles), and that seems to have fixed th

[2018-08-29 23:18] KatieWoe commented on #222
@jbphet Win 10 chrome using Argon and cooling it occasionally, I still saw the problem.
https://drive.google.com/file/d/1lOtWUZMw35APqJImzJeKMlyTkK6lZzte/view?usp=sharing
Long video.  Bug at the end.

[2018-08-30 14:51] KatieWoe commented on #222
I also was able to reproduce it with neon on the same system, though it did not occur as quickly.  I filled it mostly full, then started to cool it down, similar to the method for argon.

I also noticed an issue that may be connected to this one, or it might be a general performance issue.  I noticed little "jumps" or skips in the animation of the particles as I was pumping.  I tried to capture th

[2018-09-01 01:14] jbphet commented on #222
Another good test.  There was another place in the code that I'd missed that could also benefit from averaging.  Please test master again and see how things are looking now.

[2018-09-04 15:29] KatieWoe commented on #222
Looks great.  Haven't seen the bug yet and everything generally looks smoother.  I'll keep looking through the day as I have time, but I think we can say this is fixed.

[2018-09-05 16:37] jbphet commented on #222
Excellent!  Unassigning, and will add this to the list of issues to be double checked on the RC.

[2018-09-05 21:32] jbphet commented on #214
I've remapped the temperature behavior for oxygen and water, and @arouinfar and I reviewed it from master and she said that it seemed much improved.

[2018-09-05 22:19] jbphet commented on #220
I've added zeroing out of collective velocity for all solids when the phase is set.  This improves the behavior, but there is still some drift over long time periods.  In my opinion, the level is now acceptable, since people are unlike to have the sim just sit there for ten minutes.

@KatieWoe - please test this on master and, if it strikes you as acceptable, mark as "fixed pending deployment".  I

[2018-09-05 22:30] KatieWoe commented on #220
@jbphet it does seem better.  I did notice that when on water as a solid some of the particle movement looked less smooth than usual, so that might be something to keep an eye on.

[2018-09-11 23:00] jbphet commented on #219
I had a bit of a brainstorm about this while working on other aspects of the sim, and I have implemented some code that only runs the isokinetic thermostat if the calculated temperature of the substance needs to be changed in a specific direction (e.g. the particles need to be slowed down because the user is cooling them) instead of always running it when the temperature is changing.  This seems t

[2018-09-12 20:18] phet-steele opened #224 "Why did the HearterCoolerNode get smaller?"
@jbphet @arouinfar I can't find a documented decision on why this is, but the `HeaterCoolerNode` in 1.1.0-rc.1 is smaller than the published sim (1.0.5). Por que?

NEW:
![image](https://user-images.githubusercontent.com/5863899/45450721-4859e280-b696-11e8-9550-4dd078df56f9.png)

OLD:
![image](https://user-images.githubusercontent.com/5863899/45450745-5b6cb280-b696-11e8-9cc1-6abb60178e7b.png)

Seen

[2018-09-12 20:35] phet-steele commented on #223
I've caused this in 1.1.0-rc.1. The rotation is correct, but the position is not.

![image](https://user-images.githubusercontent.com/5863899/45451578-adaed300-b698-11e8-9b7f-f4b21f82cafd.png)

I'm not sure how close to the original steps I was (since I think they may have been missing some details), nor am I sure that what I did is important, but here they are:

1. Heat Argon.
2. JUST as the lid

[2018-09-12 20:43] phet-steele commented on #216
Looks good in 1.1.0-rc.1 Win 10 Chrome. From the commit, I can't imagine this needing more testing on other platforms.

@jbphet let @oliver-phet know when this is out!

[2018-09-12 21:32] KatieWoe commented on #214
For https://github.com/phetsims/QA/issues/185 it looks like some of the melting and boiling points are off by a few degrees (boiling point of neon for example) but it does look much better.  Behavior of water when boiling looks a bit off as well.  But I agree with @arouinfar that it is much better than it was.

[2018-09-12 21:54] KatieWoe commented on #223
Using @JRomero0613 method it does seem fixed (this is the same as @phet-steele method but clicking Neon later, after the lid leaves.)
@phet-steele that's a good catch.  One addition to step 2.  It looks like you need to click Neon before the lid leaves the screen, not necessarily before the thermometer, leaving a bit more wiggle room.  Most easily done if you have a multitouch screen.
![new versio

[2018-09-12 22:16] KatieWoe commented on #214
Also for https://github.com/phetsims/QA/issues/185.  I believe this is what was meant by "the red point does not move correctly."  Changing temperature and pressure only moves the dot along the phase change line between solid and gas, and later liquid and gas, until it reaches the supercritical fluid section.  It never is in the solid, the liquid, or the gas section, only on that line.
https://dri

[2018-09-12 23:00] KatieWoe commented on #222
Looks good.  Closing

[2018-09-12 23:00] #222 closed

[2018-09-12 23:01] KatieWoe commented on #220
Looks Good.  Closing

[2018-09-12 23:17] KatieWoe commented on #212
Looks good.  Closing

[2018-09-12 23:45] phet-steele commented on #213
Fixed in 1.1.0-rc.1.

[2018-09-12 23:45] #213 closed

[2018-09-13 00:03] KatieWoe opened #225 "Lost atom behind toolbox"
**Test device:**
Dell Laptops
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/185
This is present in the published version.  When on the interaction screen the moveable tom can be hid behind a toolbox.
**Steps to reproduce:**
1. Go to interactions screen
2. Open the forces toolbox
3. Select adjustable attraction
4. Drag the atom b

[2018-09-13 06:54] phet-steele commented on #225
![Wow](https://media.giphy.com/media/26ufdipQqU2lhNA4g/giphy.gif)

At least you can just collapse the Forces panel to get it back.

[2018-09-13 06:55] phet-steele commented on #225
I'm going to pass this off to @arouinfar first to see how much she cares about this, before a dev spends time on it.

[2018-09-13 14:37] KatieWoe commented on #225
@phet-steele yeah I realized that after I had locked up and gone home for the day.

[2018-09-13 15:42] KatieWoe opened #226 "Overlapping Pointer Areas"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/185
There are two instances where pointer areas overlap, or could potentially interfere with usage.  Unsure if this is fixable in one instance, and it doesn't seem like it interferes much, so posing as a question.  This is also in the published version.

[2018-09-13 20:01] KatieWoe commented on #223
Hitting the orange reset button does not move the thermometer back.

[2018-09-13 20:32] jbphet commented on #226
@KatieWoe - does this issue exist on the published sim?

[2018-09-13 20:34] KatieWoe commented on #226
@jbphet Yes.  Mentioned in problem description.

[2018-09-14 20:43] KatieWoe opened #227 "Heated solids float and rotate"
**Test device:**
Dell Laptop and iPad Air 2
**Operating System:**
Win 10 and iOS 11.4.1
**Browser:**
Chrome and Safari
**Problem description:**
For https://github.com/phetsims/QA/issues/185 and elaboration on https://github.com/phetsims/states-of-matter/issues/214#issuecomment-410294041
When heating up a very cold solid it will both rise off the bottom of the container noticeably before even becom

[2018-09-14 20:44] KatieWoe commented on #219
Seems good.  Closing

[2018-09-14 20:44] #219 closed

[2018-09-14 21:52] KatieWoe opened #228 "Neon and Argon on Interaction short when stringTest=long"
**Test device:**
Dell Laptop
**Operating System:**
Win 10
**Browser:**
Chrome
**Problem description:**
For https://github.com/phetsims/QA/issues/185
When stringTest=long on the interaction screen, the Neon and Argon strings are much shorter than adjustable attraction and have a lot of room to expand.
**Steps to reproduce:**
1. Set stringTest=long
2. Go to Interaction screen
3. Compare three string

[2018-09-14 22:18] arouinfar commented on #228
Good catch @KatieWoe. The maxWidths for Neon and Argon do look like they could be a bit bigger @jbphet.

[2018-09-14 22:37] arouinfar commented on #227
Interesting find @KatieWoe.

This behavior is present in the published version, though is somewhat mitigated by the solid drifting off to the side (#220).

In general, the cooler the solid neon, the more it will behave like the screen capture in @KatieWoe's https://github.com/phetsims/states-of-matter/issues/227#issue-360448541. While there may be some strangeness coming from 0 K behavior, I was a

[2018-09-17 16:43] jbphet commented on #227
Gravity has not been weakened.  This is the same cause as the left-right drift, just in the Y direction, which is that the number of particles isn't high enough to guarantee that the net velocity is always zero.  The case that @KatieWoe captured about is about as bad as it gets, and it often isn't as noticeable.  In a design meeting, we discussed whether we wanted to try to moderate the Y directio

[2018-09-17 17:56] ariel-phet commented on #227
@KatieWoe thanks for pointing out. I would not say this is so much a "bug" as potentially emergent behavior. It may look a tad funky in the worst case scenario, but...

1. this behavior exists in the published version (and no complaints)

2. heating is still doing the thing we expect...increase the motion of the particles, so I don't think this is pedagogically damaging or incorrect at all.

This

[2018-09-17 17:56] #227 closed

[2018-09-18 16:07] KatieWoe opened #229 "Kelvin label appears thin"
**Device**
Dell Laptop
**OS**
Win 8.1
**Browser**
Internet explorer
**Problem Description**
For https://github.com/phetsims/QA/issues/185
The K that is used for the Kelvin label in the temperature drop down looks much thinner on this platform than on others.  I have not seen this on other platforms yet, but will update the issue if I do.  It does seem to be the same way in the published version.
*

[2018-09-18 16:17] arouinfar commented on #229
@KatieWoe my guess is that the thin K font was chosen by the browser (likely a fallback of sorts). Not particularly sure what devs do to specify font face, but perhaps the 'K' is somehow handled differently from other text in the sim. If that's the case, @jbphet can you update the 'K' so it has the same font face as other text in the sim? If this is just a weird browser thing that we can't control

[2018-09-18 18:39] KatieWoe commented on #229
Appears this way on Win 7 IE as well

[2018-09-18 20:06] KatieWoe commented on #214
@jbphet Do you want this issue closed?

[2018-09-18 20:11] KatieWoe commented on #210
@jbphet do you want this issue closed?

[2018-09-18 21:58] jbphet commented on #210
@KatieWoe - please note if it's been verified to work and, if so, on what release, and then clear the "fixed-pending-testing" label but leave it open.  I'll make a pass through after deployment and close everything that we leave in the "fixed-pending-deployment" state.

[2018-09-24 18:01] jbphet commented on #225
This isn't easy.  The atom, and the model in general, has no knowledge of the position of the control panel, which is in the view.  The "Return Atom" button is made visible solely based on a distance from the original position, and incorporating the position and open/closed state of the control panel would be possible but not easy.

Due to the non-trivial nature of what it would take to address th

[2018-09-24 18:01] #225 closed

[2018-09-24 18:09] jbphet commented on #216
Unassigning but leaving open so that we remember to tell the person who requested it when it's available.

[2018-09-27 20:07] pixelzoom opened #230 "problem with layout of MultiLineText"
Related to https://github.com/phetsims/scenery-phet/issues/392.

Of the 10 sims that use MultiLineText, SOM is the only sim that exhibits a difference after reimplementation of MultiLineText as a subclass of RichText.

_Phase Change_ screen, in published version 1.0.6:

![screenshot_764](https://user-images.githubusercontent.com/3046552/46171496-ef757700-c25d-11e8-9342-595ed4410c71.png)

In _maste

[2018-09-27 23:20] jbphet commented on #229
I think we should leave this as is.  The character isn't actually just the letter K, it's a unicode symbol that is specifically for degrees kelvin, see http://www.fileformat.info/info/unicode/char/212a/index.htm.  We could change it to be a simple K, but then it would be inconsistent with the symbol used for degrees Celsius.  Also, it looks reasonable on my machine in IE, as shown below.  It's act

[2018-09-28 22:21] ariel-phet commented on #229
Both the degrees C and degrees K look crappy on my Windows 7 IE.

That being said, if you are using IE on Win 7 or 8.1 this is probably the least of your problems.

Agree with @jbphet not worth effort to fix, but appreciate the attention to detail @KatieWoe!

[2018-09-28 22:21] #229 closed

[2018-10-03 22:30] jbphet commented on #230
For reference, this is **not** an issue with the 1.1 RC that is currently in progress.

[2018-10-03 23:14] jbphet commented on #226
The first issue noted - the one where the touch area for the finger overlaps the thermometer - doesn't seem to present an issue with respect to interaction with either the finger or the thermometer.  The thermometer is on top of the finger in the z-order, so the user can easily manipulate it.  I played around with this on a touch-based device and I don't think it is likely to cause any problems fo

[2018-10-03 23:48] jbphet commented on #224
I tried to do some forensics on why this ended up a different size, but it was taking a lot of time, so I bailed and just adjusted the size to more closely match the previous release.  The answer wasn't as simple as "somebody said it should be smaller so I changed it".  I think it was actually caused by some mods to common code.  At any rate, it's now much closer to the original.

[2018-10-04 02:07] ariel-phet commented on #226
@jbphet @KatieWoe considering the popularity of the published simulation, lack of complaints, and no obvious improvements that could be made, I think we will leave as is.

However, @KatieWoe definitely keep pointing out issues like this, the attention to detail is greatly appreciated!

[2018-10-04 02:07] #226 closed

[2018-10-05 19:53] jbphet commented on #214
I spoke with Paul a couple of times in person about this, and sent him a link, but he never got back to me.  He said that it's probably not a big deal in any case, and that if I didn't hear back in time we shouldn't worry about it.  So, with that in mind, I'm going to close this issue and move forward with the deployment.

[2018-10-05 20:02] jbphet commented on #224
Note to testers: The heater cooler node size is now much closer to the currently published version, but it's not *exactly* the same.  It just worked out a little better in the code to have this size versus and exact match.  Unless you feel that there is a problem with this slight adjustment, this small change shouldn't be considered a problem.

[2018-10-05 20:31] jbphet commented on #223
I certainly appreciate how thoroughly you folks test these things!  It turns out that if the thermometer node is moved back into place when rotated (due to its movement after an explosion), and then de-rotated to a rotation angle of 0, its position is off because the rotation operation uses the origin of the node rather than its center.  I fixed this be changing the order of operations to do the d

[2018-10-08 17:47] jbphet commented on #223
Assigning to QA to updated based on the results of the 1.1.0-rc.2 testing.

[2018-10-08 22:24] JRomero0613 opened #231 "Additional Particles Significantly hurt performance on Chromebook"
For https://github.com/phetsims/QA/issues/205 when on the phase changes screen when more particles are pumped into the container the performance of the sim drops dramatically. The movement of the particles becomes very jumpy with a very low frame rate. This is the only screen where a noticeable drop in performance can be seen. Not sure what our usage numbers are on this platform so I'll leave it u

[2018-10-08 23:57] ariel-phet commented on #231
@JRomero0613 can you make a video? And can you compare to the published version for me please?

[2018-10-09 18:06] KatieWoe opened #232 "Lines separating nav bar icons too thin"
Device
Mac
OS
Mac OS 10.14
Browser
Safari
Problem Description
For https://github.com/phetsims/QA/issues/205
The lines that appear on the sides of the nav bar icons when moused over can look a bit thin depending on where they are.  Doesn't seem to appear on every platform/browser
Steps to Reproduce
1. Enter the 1st screen of the sim
2. Mouse over the icons on the nav bar

Screenshots
![screen shot

[2018-10-09 18:10] jbphet commented on #232
@KatieWoe - the screenshots shown look like they are from a long string test.  Is this problem with the thin separator lines a general one, or does it only occur during such tests?

[2018-10-09 18:11] jbphet commented on #232
Also, it's important to know if this is unique to this RC or is also a problem with the published version.

[2018-10-09 18:46] KatieWoe commented on #232
@jbphet it does appear without the string test and it does seem to be in the published version

[2018-10-09 19:03] arouinfar commented on #232
Nice attention to detail @KatieWoe.

@jbphet @KatieWoe I tested the the published version of SOM and rc.2 in macOS 10.13.6 and latest Chrome/Firefox/Safari. The lines between screen icons are appearing normally.

This issue is pretty subtle, and I don't imagine it would interfere with usability.  @KatieWoe does this show up for any other published sims? If so, we could open an issue in joist to in

[2018-10-09 19:30] KatieWoe commented on #231
It looks like there were some performance issues on Feynman.  Lovelace didn't show the same problem.  It didn't seem to happen on the published sim.  @jbphet
Video:
https://drive.google.com/file/d/1gRm0basy_D3t7ZzvkuIH0LLl7WJGeQ3V/view?usp=sharing

[2018-10-10 18:50] jbphet opened #233 "Phase diagram doesn't change for water"
In the old (Java) sim, the phase diagram switches for water such that the angle of the line that shows the division between solid and liquid changes.  From the old sim, here is the diagram for non-water:

![image](https://user-images.githubusercontent.com/3082831/46758707-c48e1880-cc8a-11e8-85ee-5e566bb680db.png)

...and here is what it looks like for water:

![image](https://user-images.githubuse

[2018-10-10 18:54] jbphet commented on #233
I fixed this on master, but should propagate to the currently release branch 1.1.

[2018-10-10 22:35] KatieWoe commented on #232
It does seem to happen on published sims.  @arouinfar

[2018-10-10 22:43] arouinfar commented on #232
If it's a general issue popping up in other sims, then I would move this issue to joist @KatieWoe. Please include examples of which OS/browser combinations result in the thinner line, as well as which sims it's appearing in.

This is a pretty subtle issue (though still good to report!), but I don't think has any effect on usability. I imagine Oliver would have opened an issue if he'd been getting

[2018-10-11 19:23] lmulhall-phet opened #234 "NaN for temperature reading when molecules added to empty container"
**Test Device**

Early 2015 MacBook Air

**Operating System**

macOS 10.14 (Seems to occur on all OS's.)

**Browser**

Safari 12.0 (Seems to occur on all browsers.)

**Problem Description**

For https://github.com/phetsims/QA/issues/205. See title and visuals.

<details>
<summary>1st Error</summary>

On Windows+Chrome:
[code]

On macOS+Safari:
[code]

</details>

<details>
<summary>2nd Error</summ

[2018-10-11 22:36] lmulhall-phet opened #235 "Temperature of water decreasing too quickly?"
For https://github.com/phetsims/QA/issues/205. If you go to the states screen and decrease the temperature of water, it goes from 146 K to 40 K in about 3 seconds. Decreasing the temperature of neon from 146 K to 40 K takes about 20 seconds. I asked Amy; she said the temperature changing as quickly as it does doesn’t seem correct. She referred me to John, who said there’s some sort of trade-off in

[2018-10-12 17:28] arouinfar commented on #235
Great observation @lmulhall-phet.

In general, changing the temperature of water is much faster than the other substances in the sim. This is unexpected, as water's large specific heat requires MORE heat to be exchanged to change the temperature. I compared rc.2 to the published version, and the behavior is the same.

I realize that the model for water is a bit finicky, and there haven't been any

[2018-10-15 18:28] ariel-phet commented on #234
@lmulhall-phet can you see if this occurs on the published version?

[2018-10-15 18:33] ariel-phet commented on #235
Agreed, good to observe @lmulhall-phet, but this is the published sim behavior, and definitely would be lots of work to change. Specific heat is not really a learning goal of the sim, so I think different heating/cooling characteristics with different substances is fine.

Closing

[2018-10-15 18:33] #235 closed

[2018-10-15 19:59] KatieWoe commented on #234
@ariel-phet did a quick test on my own and at least initially it doesn't seem to occur in published.

[2018-10-16 17:17] KatieWoe commented on #228
Confirm 1.1.0-rc.2

[2018-10-16 17:18] KatieWoe commented on #224
Confirm 1.1.0-rc.2

[2018-10-16 17:18] KatieWoe commented on #223
Confirm 1.1.0-rc.2

[2018-10-23 22:12] jbphet commented on #234
There seem to be a couple of inconsistencies in the problem description.  First, the steps to reproduce say "States screen", but there is no pump on that screen, so I'm assuming it should say "Phase Changes screen".  Second, it says "Any molecule will work", but then later says "Make sure interaction strength is weak".  The interaction strength is only available when adjustable attraction is selec

[2018-10-24 14:55] KatieWoe commented on #232
Moved to Joist

[2018-10-24 14:55] #232 closed

[2018-10-26 17:32] jbphet commented on #234
This issue was due to a problem where the Verlet algorithm implementations were not handling the case where there were no particles in the container, and were returning `undefined`.  This has always been the behavior, but now that a moving average is used to keep track of temperature changes, the undefined value leads to negative consequences.  The implementations (there are three of them) now ret

[2018-10-26 18:19] jbphet commented on #231
I just tried a controlled experiment on Feynman, which is the Chromebook on which this issue was reported.  It's running Chrome OS version 70.0.3538.69 (Official Build) beta (32-bit).  I ran both the currently published version of States of Matter and the 1.1.0-rc.2 version, both with the `profiler` query parameter.  I then went to the second screen and pumped in neon until there were 10 of the li

[2018-10-26 19:02] KatieWoe commented on #234
1.1.0-rc.3 looks good on Win 10 chrome with argon.

[2018-10-26 20:13] KatieWoe commented on #233
Looks good 1.1.0-rc.3

[2018-10-26 21:49] lmulhall-phet commented on #192
Still an issue for https://github.com/phetsims/QA/issues/212. @jbphet will add some edge case code if someone complains about it.

[2018-10-26 21:56] KatieWoe commented on #192
To be clear, they can be heated.  The movement is the issue that is still present.

[2018-10-26 21:58] KatieWoe commented on #233
Actually, I just noticed this when stringTest=double.  The string gets too long and goes over the new boarder.
![double](https://user-images.githubusercontent.com/41024075/47594302-ebf60e00-d937-11e8-8607-6e9c2f4f9634.PNG)

[2018-10-29 23:10] jbphet commented on #234
Deployed in v1.1.0, closing.

[2018-10-29 23:10] #234 closed

[2018-10-29 23:10] jbphet commented on #233
Deployed in v1.1.0, closing.

[2018-10-29 23:10] #233 closed

[2018-10-29 23:10] jbphet commented on #230
Fixed, closing.

[2018-10-29 23:10] #230 closed

[2018-10-29 23:11] jbphet commented on #228
Deployed in v1.1.0, closing.

[2018-10-29 23:11] #228 closed

[2018-10-29 23:11] jbphet commented on #224
Deployed in v1.1.0, closing.

[2018-10-29 23:11] #224 closed

[2018-10-29 23:11] jbphet commented on #223
Deployed in v1.1.0, closing.

[2018-10-29 23:11] #223 closed

[2018-10-29 23:12] jbphet commented on #220
Deployed in v1.1.0, closing.

[2018-10-29 23:12] #220 closed

[2018-10-29 23:15] jbphet commented on #216
@oliver-phet - please tell the individual who requested this that it is now live.

[2018-10-29 23:17] jbphet commented on #212
@oliver-phet - please tell the individual who requested this that we have improved the behavior of the sim when setting liquid states.

[2018-10-29 23:18] jbphet commented on #210
Published in v1.1.0.  @samreid - does anyone need to be notified of this?  If not, feel free to close.

[2018-10-29 23:20] samreid commented on #210
@arouinfar may be a good contact for LOL, reassigning.

[2018-10-29 23:20] jbphet commented on #214
@oliver-phet - could you let the person who made the requests that prompted this issue that most, if not all, of their comments have been addressed in the new v1.1.0 version.

[2018-10-30 15:36] oliver-phet commented on #216
Email sent. Closing.

[2018-10-30 15:36] #216 closed

[2018-10-30 15:38] oliver-phet commented on #212
User emailed. Closing.

[2018-10-30 15:39] oliver-phet commented on #214
This is from the same user that requested default Celsius. Email sent. Closing.

[2018-10-30 15:39] #214 closed

[2018-11-13 03:23] pixelzoom commented on #217
@ariel-phet I need this sometime in the next couple of weeks.

[2018-11-13 19:36] pixelzoom commented on #217
Heads up! The pump in Gas Properties deviates from the pump in SOM.   I don't fully understand the implications of this yet, but here's the comment thread from the Gas Properties design doc:

[2018-11-13 19:43] arouinfar commented on #217
Beat me to it, thanks @pixelzoom.

I think we'll need to have some design discussion about how the dynamics of the handle should affect the number of particles added, so I'll open an issue in gas-properties for that.

[2018-11-13 20:39] pixelzoom commented on #217
@chrisklus Be sure to see related discussion over in https://github.com/phetsims/gas-properties/issues/33.

[2018-11-13 21:06] pixelzoom commented on #217
I don't know how SOM implemented the pump.  But in Gas Properties, I'm planning on having 1 pump for each type of particle ('heavy' and 'light'), then switching between them based on which type of particle is selected via radio buttons.  Mockup from the design doc:

![screenshot_859](https://user-images.githubusercontent.com/3046552/48443092-4d4a1980-e74d-11e8-9140-f0b251e0cde5.png)

[2018-11-13 22:12] pixelzoom opened #236 "issues with CompositeThermometerNode"
I'm looking at `CompositeThermometerNode` because something similar is needed in Gas Properties.  Screenshot from SOM _States_ screen:

![screenshot_861](https://user-images.githubusercontent.com/3046552/48446506-a79ba800-e756-11e8-87c5-66ac6674a968.png)

A few issues:

- [x] Temperature readout is not properly localized.  The order of value and units is hardcoded:

[code]

Order of value and unit

[2018-11-13 22:14] pixelzoom commented on #236
- [ ] Items in the ComboBox should ideally be right justified, so that the units don't jump around when the number of digits in the temperature value changes.

[2018-11-14 22:14] arouinfar commented on #236
Thanks @pixelzoom. I think it's best that we discuss the broader issue of toggling units with comboboxes in the next design meeting.

If we decide to continue with a combobox, then I agree that the contents should be right-justified.

Another quirk that @pixelzoom brought to my attention is the null value. If the container is empty (which is nearly impossible to do), then the displayed temperature

[2018-11-14 22:16] arouinfar commented on #236
I've linked this issue in the GasProps design meeting notes, so unassigning myself for now.

[2018-11-14 22:43] pixelzoom commented on #236
- [ ] Options are duplicated inline for both instantiations, see `PhaseChangesScreenView` and

[code]

Either make these the defaults, or move them to `SOMConstants`.

[2018-11-14 22:46] pixelzoom commented on #204
In Graphing Quadratics, I was able to increase Edge performance significantly by avoiding `removeChild` and mutating Nodes where possible.  Apparently Edge is more sensitive to scenegraph changes.

[2018-11-15 22:57] KatieWoe opened #237 "Memory Leak"
Due to https://github.com/phetsims/atomic-interactions/issues/72 it was decided a short memory test should be done on the recently published sim.  Results:
Start: 27.2 MB
1 min: 56.6 MB
2 min: 74.9 MB
3 min: 94.2 MB
4 min: 119 MB
5 min: 137 MB

[2018-11-16 21:57] jbphet commented on #237
I tested a RequireJS version (1.1 release branch) with the fixes in the commit above, and the results look good.  Here's a table:

| Time (minutes)  | Memory Usage (MB)  |
|---|---|
| 0  | 30.2 |
| 1  | 37.5  |
| 2  | 39.3  |
| 3  | 40.3 |
| 4  | 40.7  |
| 5  | 41.0 |
| 6  | 41.2  |
| 7  | 41.4  |
| 8  | 41.7  |
| 9  | 42.0  |
| 10  | 42.2  |

The memory is increasing, but not by much, and the tot

[2018-11-20 19:02] pixelzoom opened #238 "incorrect lighting on Pressure gauge"
Noted while adding a similar gauge to Gas Properties.

Pressure gauge looks like it's lit from below, which does not match the PhET standard.

![screenshot_885](https://user-images.githubusercontent.com/3046552/48796123-02378580-ecbc-11e8-821b-ed9a992f881f.png)

[2018-11-20 19:03] pixelzoom commented on #238
Lighting in Gas Properties design doc makes more sense, where it's lit from the front:

![screenshot_886](https://user-images.githubusercontent.com/3046552/48796221-41fe6d00-ecbc-11e8-8438-d80d61ccf3b9.png)

[2018-11-20 19:41] arouinfar commented on #238
Good catch @pixelzoom. At minimum, I would reverse the gradient in states-of-matter, though I do prefer the  gradient in https://github.com/phetsims/states-of-matter/issues/238#issuecomment-440392819.

That component is drawn in code, so it is something that @jbphet would need to address. Not sure if this is within the scope of the states-of-matter family of redeploys, but if this is a quick tweak

[2018-11-20 19:43] pixelzoom commented on #238
In Gas Properties, I've implemented the gradient so that the light source looks like it's slightly above.  See `POST_GRADIENT` in PressureGaugeNode.

[code]

![screenshot_887](https://user-images.githubusercontent.com/3046552/48798448-ea630000-ecc1-11e8-83f3-9c36e609a5f7.png)

[2018-11-28 00:42] chrisklus commented on #217
@pixelzoom do you know the approximate time when it would be nice for this to be done? I think it's going to take me a long time so I'm trying to plan out how much I should allocate per week (or day, if needed very soon).

[2018-11-28 00:57] pixelzoom commented on #217
From the design document:

That doesn't give me any meaningful milestones for when we might need to show this to anyone outside of PhET.  So I'm going to ask @arouinfar: When do we need to show this sim to an audience outside of PhET?   I'd like to have a working BicyclePumpNode around 2 weeks before that date.

[2018-11-28 01:29] pixelzoom commented on #217
Thanks @arouinfar.

@chrisklus Let's shoot for completing this work by the end of March 2019.  Does that seem reasonable?

[2018-11-28 23:18] chrisklus commented on #217
Thanks @pixelzoom and @arouinfar, yes @pixelzoom that sounds great. @SaurabhTotey and I will continue to chip away, and I'll add in more time as needed.

I was originally concerned because of https://github.com/phetsims/states-of-matter/issues/217#issuecomment-438118562.

[2018-12-07 18:45] jbphet commented on #237
I should do a maintenance release on States of Matter 1.1 to publish this fix.

[2018-12-18 19:14] samreid opened #239 "Incomplete image license notes"
Inspired by https://github.com/phetsims/wave-interference/issues/265, Mariah needs a last name.  license.json currently reads:

[code]

[2018-12-18 19:55] arouinfar commented on #239
@samreid @jbphet Mariah's last name is Hermsmeyer.

[2018-12-18 23:17] jbphet commented on #238
I lifted the code from the above comment, put it in SOM, and it looks great.  There is an upcoming maintenance release for this sim, and the basics version is also due for release, so I went ahead and cherry picked the commit to the release branch (1.1).  I'm going to leave this GitHub issue open and unassigned to remind me to double check it on the next release.

[2018-12-19 22:36] #239 closed

[2018-12-21 05:51] pixelzoom commented on #236
@jbphet FYI, see ComboDisplay in https://github.com/phetsims/scenery-phet/issues/449.  This is a specialization of SUN/ComboBox whose items display AXON/NumberProperties using SCENERY_PHET/NumberDisplays.

[2019-01-15 23:28] chrisklus opened #240 "Assertion failed: GaugeNode representing negative values indicates a logic error"
Found while @SaurabhTotey and I were working on #217.

[code]

We are unable to reproduce this assertion failure, as it seems it was a very random occurrence that likely came from floating point error. We were slowly pumping particles in when the assertion was triggered. The pressure in the model was a negative number, but it was very close to 0 (on the order of 10^-17).

[2019-01-24 00:11] KatieWoe opened #241 "CT running lint all task"
[code]

[2019-01-24 03:42] pixelzoom commented on #241
Duplicate of https://github.com/phetsims/atomic-interactions/issues/77, closing.

[2019-01-24 03:42] #241 closed

[2019-02-19 23:08] pixelzoom commented on #217
Mentioned at last week's dev meeting...  We should discuss how the ends of the hose are attached -- to the pump, and to whatever is on the other end.   I'm not sure if this should be the responsibility of `BicyclePumpNode` or the client.  It would be nice to have a `HoseNode` (similar to `WireNode`) that makes this easy.  And it should be possible to attach the hose to either side of the pump.

[2019-02-22 00:03] jbphet commented on #240
I looked through the code path based on the stack trace, and I agree that this was due to floating point errors.  I've added code to prevent that from allowing the pressure to become a negative value.  Closing.

[2019-02-22 00:03] #240 closed

[2019-03-07 23:24] arouinfar commented on #210
@jbphet just wanted to check in on this issue. SOM added LoL support in the 1.1 branch, but the latest SOMB is still on 1.0, so it doesn't have LoL support yet, correct?

[2019-03-08 17:16] jbphet commented on #210
Yes, that's correct.  A while back it was decided that redeploying SOMB wasn't a priority at the time, and we haven't revisited it since then.  If it's important to get out it, please let @kathy-phet and @ariel-phet know, and we'll get 'er done.

[2019-03-08 20:58] jbphet commented on #237
Redeployment complete.  I tested the built version before deployment, and the memory number looked good (a little better than in https://github.com/phetsims/states-of-matter/issues/237#issuecomment-439541860 actually).  Closing.

[2019-03-08 20:58] #237 closed

[2019-03-11 16:02] arouinfar commented on #210
Thanks @jbphet. I was just doing a bit of GitHub hygiene and noticed the latest version of SOMB was dated a week or so after my last comment, so I wanted to be sure that that wasn't the version that was supposed to be delivered.

[2019-03-11 18:24] jbphet commented on #210
@arouinfar - no, the version that is currently live, which is v1.0.7, built on Nov 6 2018, does not include LoL support.  The date reflects a maintenance release that was done to fix issues with full screen behavior on iOS devices.

[2019-03-13 23:38] jbphet commented on #238
The sim has been redeployed and the connector now looks as though it is lit from the front in the published version.  Closing.

[2019-03-13 23:38] #238 closed

[2019-03-14 20:40] jbphet commented on #210
A separate issue has now been created for publishing States of Matter Basics with LoL support, please see https://github.com/phetsims/states-of-matter-basics/issues/19.  Closing this one.

[2019-03-14 20:40] #210 closed

[2019-03-18 22:55] KatieWoe commented on #216
This is also looking ok in SOMB 1.1.0-rc.2

[2019-03-23 20:30] pixelzoom opened #242 "behavior of bicycle pump is incorrect"
Related to https://github.com/phetsims/states-of-matter/issues/217 and identified as a problem in https://github.com/phetsims/gas-properties/issues/33.

https://github.com/phetsims/gas-properties/issues/33#issuecomment-454599692:

https://github.com/phetsims/gas-properties/issues/33#issuecomment-454600973:

[2019-03-23 20:32] chrisklus commented on #242
@pixelzoom this should be fixed on SOM master.

[2019-03-23 20:35] pixelzoom commented on #217
My WAG for when I'd need BicyclePumpNode was "sometime in April" and that's turning out to be right on the money.

In https://github.com/phetsims/states-of-matter/issues/217#issuecomment-442282755, @arouinfar indicated that it would be nice to show off this sim at NSTA (April 11-14) or ISTE (June 23-26), if the first 2 screens are ready.  Given where it's at now, that's still a possibility.

But a

[2019-03-23 20:37] pixelzoom commented on #217
In In https://github.com/phetsims/states-of-matter/issues/217#issuecomment-442283609, my WAG for when this would need to be completed was:

In https://github.com/phetsims/states-of-matter/issues/217#issuecomment-442282755, @arouinfar indicated that it would be nice to show off this sim at NSTA (April 11-14) or ISTE (June 23-26), if the first 2 screens are ready.  Given where it's at now, that's st

[2019-03-23 20:40] chrisklus commented on #217
@pixelzoom yep! Good timing.

[2019-03-25 18:24] KatieWoe commented on #214
I've noticed that water starts melting (r registering as a liquid) at about -27 C.  @jbphet @arouinfar is this acceptable?

[2019-03-25 21:28] KatieWoe commented on #214
Other than that, looks fine on basics 1.1.0-rc.2

[2019-03-25 21:28] KatieWoe commented on #212
Looks good on basics 1.1.0-rc.2

[2019-03-26 16:36] arouinfar commented on #214
I'm not sure I follow @KatieWoe.  When I melt solid water, the density of the water most notably increases near 0 C (+/- a few degrees) and the vibrations of the molecules really pick up.

I think the behavior looks correct in rc.2, so I'll leave this closed.

[2019-03-29 17:28] kathy-phet commented on #217
:) ... Happy to hear its still possible to show off the first 2 screens by these upcoming conferences!

[2019-04-04 19:36] pixelzoom commented on #217
@chrisklus FYI, See discussion about color-related parameters/options in https://github.com/phetsims/scenery/issues/962#issuecomment-480034075.

[2019-04-11 05:47] chrisklus commented on #217
@pixelzoom I've been having a hard time fixing the buggy behavior of the "number of particles added per pump action" situation. Could you take a look at this patch?

<details>

[code]

</details>

My intent is for it to handle the varying sizes of dx that come from different pumping speeds. And it does so pretty well for a limited range of speeds, but not well at all for fast speeds. Observe the b

[2019-04-11 15:46] pixelzoom commented on #217
@chrisklus I'll have a look, but it might not be until next week.

[2019-04-12 17:18] pixelzoom commented on #236
When you convert to ComboBoxDisplay, you should be aware of https://github.com/phetsims/scenery-phet/issues/482.

[2019-04-16 16:31] KatieWoe opened #243 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* When pause/play button is play, the pointer areas overlap a bit.  (I believe this has already been solved)
* I found it quite difficult to

[2019-04-16 16:45] KatieWoe commented on #243
Also, should the pump have touchSnag?

[2019-04-17 16:54] arouinfar commented on #243
Thanks @KatieWoe.

This does not appear to be an issue in master.

We may be somewhat constrained by the bounds of the ComboBox. @jbphet can you look into this?
I tested on my phone, and didn't have any difficulty, so I would be fine with leaving as-is, if necessary.

`RectangularButtonView` does not support asymmetric pointer area dilation, but it is being considered in https://github.com/phetsim

[2019-04-25 20:39] pixelzoom commented on #217
@chrisklus and I collaborated on `HandleNodeDragListener`.  It appears to be operating correctly, and there problem with number of particles added is in SOM.

Assign back to me when ready for next steps.

[2019-04-25 20:41] pixelzoom commented on #217
For the purposes of connecting the hose to the container in Gas Properties, here's what that looks like in the design doc:

<img width="782" alt="screenshot_1159" src="https://user-images.githubusercontent.com/3046552/56767117-2ebe6480-6768-11e9-8c7d-a78cc75ba66d.png">

[2019-04-30 20:23] chrisklus commented on #217
@pixelzoom ready for review.

In https://github.com/phetsims/gas-properties/issues/59, I integrated BicyclePumpNode (BPN) into Gas Properties, so check out that branch if you'd like. I moved the injection point down to where it is in the mockup.

In https://github.com/phetsims/scenery-phet/commit/cef194e3f713063ccd1c8dcdeef8e6bec6e325b2, I added a small constant to fix the calculation for `numberO

[2019-05-01 02:53] pixelzoom commented on #217
I've integrated BicyclePumpNode into master.   It was a little time-consuming because the changes in bicycle-pump branch contained lots of formatting changes, so it was a little difficult to identify the relevant changes.  But I got it sorted out.

The first thing I noticed is the excessive touchArea for the pump handle.  So I added options for pointer areas in the above commit:

[code]

I set the

[2019-05-01 03:02] pixelzoom commented on #217
(4) Width and height don't give me a bigger pump, they just scale the pump.   So if I want a pump that is a little taller or short (by changing `options.height`) then the _entire pump_ scales down, in all dimensions.  So there's no way for me to have a longer handle, or a taller cylinder.   This may be OK for now, but I don't think it's going to cut it longterm.  I'd like to hear what designers (a

[2019-05-01 03:07] pixelzoom commented on #217
(5) The origin is in an inconvenient location, see red dot in the screenshot below.  For coordinating positioning of the pump and the hose, `centerBottom` would be a better place for the origin.

<img width="112" alt="screenshot_1167" src="https://user-images.githubusercontent.com/3046552/57004390-e8b03900-6b8b-11e9-90fd-fbd5c866481e.png">

[2019-05-01 03:44] pixelzoom commented on #217
I the above commits, I took care of (1) and (2).  I eliminated `setHoseAttachmentPosition`.  You position a pump using the typical scenery translation options.  Then you provide `options.hoseAttachmentOffset` to indicate where the far end of the hose is, relative to the pump position.  See example in SOM and Gas Properties.  Here's an abbreviated version of GasPropertiesScreenView:

[code]

Does t

[2019-05-01 04:00] pixelzoom commented on #217
Re (3) shape of the hose...

If I change this line in BicyclePumpNode

[code]

to this:

[code]

.. then things look much better in Gas Properties (and arguably in SOM).

In Gas Properties, here's before (left, 1.5) and after (right, 0.75):

<img width="182" alt="screenshot_1168" src="https://user-images.githubusercontent.com/3046552/57005170-cc63ca80-6b92-11e9-8f45-d863bbe0bf1f.png">  <img width=

[2019-05-01 22:23] chrisklus commented on #217
Yep, that looks great, thanks for making the change.

Indeed, I was thinking we might need to expose the control points with options. It seems like the desired values will vary depending on the distance that the hose extends away from the pump. But, given your demonstration in https://github.com/phetsims/states-of-matter/issues/217#issuecomment-488205854, it seems like we gain a fair amount of fle

[2019-05-01 22:45] pixelzoom commented on #217
That sounds fine.

Check with @ariel-phet or some of the designers.  If the designers are happy with size/proportions of the pump in Gas Properties, I'm happy.    If we were going to do this, I would recommend options:
`handleWidth, handleHeight, bodyWidth, bodyHeight`, then scale the bottom piece based on `bodyWidth`.

Let me know what the difference is, so I can adjust Gas Properties.  Remember

[2019-05-01 22:46] pixelzoom commented on #217
Whoops, that's spelled wrong, should be `hoseCurvinessMultiplier`.  Or just `hoseCurviness` would probably be fine.

[2019-05-01 22:55] pixelzoom commented on #217
You should probably verify that `hoseCurvinessMultiplier` behaves correctly when the hose attachment point is below the pump's origin.

[2019-05-01 23:14] chrisklus commented on #217
yeah i'm betting it won't ha...

[2019-05-01 23:16] pixelzoom commented on #217
Hmmm, why is this issue closed? Reopening.

[2019-05-01 23:20] chrisklus commented on #217
Oops, probably me by mistake, thanks.

[2019-05-01 23:22] pixelzoom commented on #217
Nope, it was me 6 days ago. Doh!

[2019-05-02 01:16] chrisklus commented on #217
I've added `hoseCurviness` as an option, and to my surprise, it worked well when the bike pump was above the hose attachment point. If the bike pump is too close in the x-direction then the hose overlaps with the pump base, but I verified that that can be fixed by just increasing the `hoseCurviness` value.

<img height="284" src="https://user-images.githubusercontent.com/5618316/57051950-59fdf380-

[2019-05-02 15:51] pixelzoom commented on #217
@chrisklus `hoseCurviness` looks great, thanks for doing that.   Do we need an assertion to verify that it's > 0?

Another thing we need related to BicyclePumpNode is a demo on SCENERY_PHET/ComponentsScreenView.

[2019-05-02 22:10] pixelzoom commented on #217
Self-unassigning. Feel free to assign back to me when there's more to review.

[2019-05-02 22:12] pixelzoom commented on #217
Reducing priority to medium, since this is now usable in GP and SOM.

Remaining work is items (4) and (5) in https://github.com/phetsims/states-of-matter/issues/217#issuecomment-488186493.   Item (5) is probably the more important to address sooner rather than later.

[2019-05-04 15:42] pixelzoom commented on #242
@chrisklus does this need to be reviewed, or can it be closed?

[2019-05-04 15:45] pixelzoom commented on #217
@chrisklus we're having some problems with BicyclePumpNode over in https://github.com/phetsims/gas-properties/issues/62.

From https://github.com/phetsims/gas-properties/issues/62#issuecomment-489337799, another thing we need to look at:

The problematic code is:

[code]

For Gas Properties, we need something like `numberProperty.value += numberAddedOnThisDrag`.

Does SOM require adding particles

[2019-05-07 16:11] chrisklus commented on #242
Ready to close.

[2019-05-07 16:11] #242 closed

[2019-05-07 16:55] chrisklus commented on #217
Yes, I think it would be weird if we changed the behavior to match what you're requesting for Gas Properties. Perhaps @arouinfar would have more thoughts on this.

Yeah, that sounds like the best way to go.

There's some room for variation here - how do you want me to implement it? Here's some options I've thought about:

1. We could add the "acquired" particles at the `end` drag event. But if you

[2019-05-07 17:48] chrisklus commented on #217
@pixelzoom I tried out option (4) from https://github.com/phetsims/states-of-matter/issues/217#issuecomment-490162681, and the behavior is looking nice. I'm also no longer seeing any particles sticking at the hose attachment point (as described in https://github.com/phetsims/gas-properties/issues/62#issue-440271129).

I added nested options for the drag listener - let me know if you think that is

[2019-05-07 23:23] pixelzoom commented on #217
(4) results in very odd behavior.

Example 1:
1. Grab the pump handle.
2. Pull the pump handle up, then push the pump handle 90% of the way down.
3. Stop for 5 seconds, do not release the pump handle. Nothing comes out of the pump.
4. Pull the pump handle up.  Particles come out of the pump.

Example 2:
1. Grab the pump handle.
2. Pull the pump handle up, then push the pump handle 90% of the way d

[2019-05-07 23:24] pixelzoom commented on #217
I think the next thing we should do is add BicyclePumpNode to scenery-phet demo, so that we're testing it in a test harness, vs in a sim that may have problems.

[2019-05-07 23:29] chrisklus commented on #217
Yeah I'm confused why my edit to option (4) works for when the pump is all the way down but not stopped at an arbitrary place.

[2019-05-07 23:44] chrisklus commented on #217
@pixelzoom I worked with @SaurabhTotey today and we finished (5) from https://github.com/phetsims/states-of-matter/issues/217#issuecomment-488186493 and updated the offset in your usage so that the pumps in Gas Properties are in the same place (the change was +11).

Remaining work for this issue:

- [ ] Wait to hear from @ariel-phet about (4) in https://github.com/phetsims/states-of-matter/issues/

[2019-05-08 00:36] chrisklus commented on #217
I understand now. When the pump handle is dragged all the way down, the drag listener is still firing because you typically drag your mouse past the bottom of the range, so the drag events know that the handle is not moving in a downward direction. But in @pixelzoom's examples in https://github.com/phetsims/states-of-matter/issues/217#issuecomment-490289661, the mouse is not moving, so there are n

[2019-05-08 20:05] arouinfar commented on #217
I'm not sure, actually. I know the model for SOM can't handle a sudden influx of particles, which is why the BicyclePumpNode only adds a max of 3 particles/pump. That said, I don't know if anything bad would happen if all 3 of those particles were added at the same time. From a pedagogical perspective, adding the particles simultaneously would be just fine. From a model perspective, I don't know.

[2019-05-08 21:12] pixelzoom commented on #217
@chrisklus in the above commit I changed how option `addParticlesOneAtATime` is handled.  I also moved the default for `dragListenerOptions` into `HandleNodeDragListener` constructor.  This seems to be working nicely in both SOM and GP.   Review and let me know if you see any issues.

I'm still seeing one particle get stuck where it enters the container at the hose.  See screenshot below.  No idea

[2019-05-08 21:17] pixelzoom commented on #217
I said:

Guess I have to eat my words.  Temperature in the GP container is still behaving erratically and I'm not sure why.

[2019-05-09 16:10] jbphet commented on #217
The main reasons that the particles are not added all at once are:
+ Since the particles originate at the same place in the container, adding them at the same time also adds them at essentially the same **place**.  The repulsion between the particles is based on the distance between the particles, and when this distance approaches zero, the repulsion approaches infinity, and the model - not surpri

[2019-05-09 18:15] pixelzoom commented on #217
Somes like all needs are met with option `addParticlesOneAtATime`.

[2019-05-09 23:39] pixelzoom commented on #217
@chrisklus The stuck particle appears to have been a Gas Properties problem.  Details in https://github.com/phetsims/gas-properties/issues/62#issuecomment-491059437.  But in summary, it was possible to create a particle with zero initial speed, because the initial temperature was incorrect.

[2019-05-14 23:18] ariel-phet commented on #217
In regards to https://github.com/phetsims/states-of-matter/issues/217#issuecomment-488186493 if there is an option for height, it should allow us to scale the height, not just the overall size of the pump. In future sims I could see such an option being useful.

However, I am guessing it will be a nontrivial amount of rework this option. I will leave it to @chrisklus and @pixelzoom to decide if th

[2019-05-15 00:38] chrisklus commented on #217
@pixelzoom after a bit of confusion and thought, your changes from https://github.com/phetsims/scenery-phet/commit/872860a38ac811394eeae94a8ea107dd4adb896e make sense and look good. I guess I didn't understand that literally the only issue you were trying to change was the uniform-looking wave of particles that appeared when BPN was quickly pumped. My understanding was that you wanted the particle

[2019-05-15 00:54] pixelzoom commented on #217
@chrisklus asked:

I agree that the current implementation is not a good way the way to handle sizing of the pump, and it's only a matter of time before it will need to be redone.  That said, I don't have time to work on this, and it's not needed for Gas Properties.  So I will defer the decision to you and @ariel-phet.

[2019-05-15 01:02] chrisklus commented on #217
Okay, I'm just going to do it then. Can you assign a priority please @ariel-phet.

[2019-05-16 01:29] pixelzoom commented on #217
BicyclePumpNode is failing in Gas Properties.  It's allowing me to pump in more particles than `rangeProperty`.   Still no demo in scenery-phet, so I'm going to add one.

[2019-05-16 01:31] chrisklus commented on #217
Ah, looks like you skipped over the range check in https://github.com/phetsims/scenery-phet/commit/872860a38ac811394eeae94a8ea107dd4adb896e.

[2019-05-16 01:48] pixelzoom commented on #217
Where are those checks skipped?  I'm not seeing it.  The relevant code is at line 635:

[code]

[2019-05-16 01:50] pixelzoom commented on #217
Ah... The check is using `numberProperty.value`, which is not updated when `!options.addParticlesOneAtATime`.

[2019-05-16 01:57] pixelzoom commented on #217
Range check fixed in the above commit.  Seems to be working fine in Gas Properties and scenery-phet demo.  I'm less familiar with SOM; I pumped until the pump was empty and didn't experience any problem.  @chrisklus could you check my work?

[2019-05-16 02:01] pixelzoom commented on #217
@chrisklus you might also want to review `demoBicyclePumpNode` in scenery-phet demo.

[2019-05-16 02:03] chrisklus commented on #217
Looks perfect. SOM will just work the same as before since `numberOfBatchParticles` is initialized to 0.

[2019-05-16 02:12] chrisklus commented on #217
Looks great, thanks for doing that.

[2019-05-16 16:52] jbphet opened #244 "MultipleParticleModel has unused countdown timer for height changes"
I was just looking at the code related to limiting the speed of the container height changes, and it appears that there is a variable called `heightChangeCountdownTime` which doesn't appear to be used for anything.  I should investigate the history, see why it is no longer used (this may be related to the recent changes related to particle injection), and remove it if it is no longer needed.

[2019-05-22 19:11] jbphet commented on #244
I examined the code for usages and didn't see any (other than updates to the value), removed the variable, linted, and did a bit of testing, especially around container height changes, and all seems good.  Closing.

[2019-05-22 19:11] #244 closed

[2019-07-01 21:54] SaurabhTotey commented on #243
I haven't changed the kelvin-celsius conversion ComboBox. I have, however, given the zoom buttons on the last screen an asymmetric dilation that looks like the below image in master.
<img width="74" alt="ZoomButtons" src="https://user-images.githubusercontent.com/22577113/60468857-22e39880-9c18-11e9-8489-cb5322208b0e.png">
Also, the particles in the last screen (the large draggable one at the bott

[2019-07-01 22:27] arouinfar commented on #243
Looks good @SaurabhTotey, thanks!

[2019-12-02 18:45] jbphet opened #245 "Instrument for PhET-iO"
## Before instrumenting
- [ ] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue
description (top issue comment) for tracking. Link back to this checklist via `/blob/<SHA>/` so that the specific guide
you used is preserved.
- [ ] Publish a pre-instrumentation dev release.  This can be useful for identifying whether bugs or memory issues
have be

[2019-12-11 19:18] jessegreenberg opened #246 "Use TimeControlNode for Play/Pause/Step buttons"
From https://github.com/phetsims/scenery-phet/issues/561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForward button and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

In this case it may just be a replacement for the SOMPlayPauseStepControl.

[2019-12-17 23:40] jessegreenberg commented on #246
Sorry @SaurabhTotey I recently added an assertion that the buttons in TimeControlNode all use the same `playingProperty`, which had an impact here. Proposed fix made in above commit, can you please make sure it is still correct?

[2019-12-20 01:49] SaurabhTotey commented on #246
It looks good to me and I couldn't uncover any issues when doing a brief testing. As such, I will close this issue. Please reopen if there is anything left for this I should do.

[2019-12-20 01:49] #246 closed

[2020-01-07 00:13] jbphet commented on #245
I'm assuming that the sims States of Matter: Basics and Atomic Interactions will be fully instrumented and tested as part of this effort too, since both are mostly subsets of States of Matter.

[2020-01-09 22:52] jbphet commented on #245
Instructions and checklist, copied from https://github.com/phetsims/phet-io/blob/master/doc/how-to-instrument-a-phet-simulation-for-phet-io.md:

# How to Instrument a PhET Simulation for PhET-iO

## Before instrumenting
- [ ] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue
description (top issue comment) for tracking. Link back to this check

[2020-01-13 15:51] KatieWoe opened #247 "CT value failed isValidValue"
[code]

[2020-01-16 17:42] jbphet commented on #247
Fixed by adding clamping to a parameter, and I just looked at CT and SOM has passed for the last 11 cycles.  Closing.

[2020-01-16 17:42] #247 closed

[2020-01-20 23:01] jbphet opened #248 "Linkage between important attributes of model are in a bad place"
While working on https://github.com/phetsims/states-of-matter/issues/245 I came across the following code in `InteractiveInteractionPotentialDiagram`:

[code]

Part of what's happening here is that some properties from the model are causing values to be set in the model, and the model doesn't work correctly if this doesn't happen.  But why is it happening in a diagram node?  This is my code (at le

[2020-01-25 01:16] jbphet commented on #245
Dev version available at https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.2/phet-io/.

[2020-01-27 16:02] chrisklus opened #249 "CT: api mismatches present"
[code]

[2020-01-29 19:58] oliver-phet commented on #212
Another user just wrote in about this behavior:

Here's what liquid Oxygen looks like after a minute or two:

<img width="1180" alt="image" src="https://user-images.githubusercontent.com/5090275/73392358-e6a01580-4296-11ea-9ee3-6f8d20661497.png">

[2020-01-31 01:39] chrisklus commented on #249
The problem was that GlobalOptionsNode was instrumented but still being lazily created. I followed the pattern @samreid used in Gravity and Orbits. Waiting for CT to clear, then I'll close.

[2020-01-31 22:31] chrisklus commented on #249
CT looks good, closing

[2020-01-31 22:31] #249 closed

[2020-02-05 15:19] pixelzoom opened #250 "use SCENERY_PHET/TimeControlNode"
Noticed while working on phetsims/scenery-phet#575.

SOM currently has its own implementation that is similar to SCENERY_PHET/TimeControlNode, embedded in AtomicInteractionsScreenView (lines 172-216).  A couple of things that are surprising:

(1) This sim is being (has been?) instrumented for PhET-iO.   Did no one do a review to identify where common components should be used?   Instrumentation of

[2020-02-05 20:08] kathy-phet commented on #250
@jbphet - Agreed this should be updated to use the common code component, as we have been honing the PhET-iO structure and instrumentation of that element.

[2020-02-17 17:07] KatieWoe opened #251 "CT unhandled substance"
In basics too:
[code]

[2020-02-17 21:52] jbphet commented on #212
The attraction between O2 molecules is particularly high when compared to that of the noble gasses, which causes the sim to form a clump in this case, much like a droplet of water forms on a smooth surface due rather than the water spreading evenly into a thin layer.  I know that this tends to cause confusion, and I may be able to change things so that oxygen behaves more like the other substances

[2020-02-20 01:28] zepumph opened #252 "serialize particle data for PhET-iO state"
From https://github.com/phetsims/states-of-matter/issues/251, @jbphet, @samreid, @chrisklus and I met today to investigate a CT bug about setting the state.

While discussing, we thought about investigating serializing the model and particle data so that actual positions are transferred. This ended up feeling really good to me, and we got a patch that is close to a commit.

@jbphet since leaving y

[2020-02-20 01:28] zepumph commented on #251
https://github.com/phetsims/states-of-matter/commit/ca7308aaa6917a28096f79abace922d01abe1332 fixed this with a sub-optimal patch, but hopefully https://github.com/phetsims/states-of-matter/issues/252 will present the robust solution.

[2020-02-20 17:49] zepumph opened #253 "branch: serializeParticleState"
From https://github.com/phetsims/states-of-matter/issues/252

[2020-02-24 20:54] pixelzoom commented on #217
I believe work on this has been done for awhile, so I'm going to close this issue.  If that's not the case, @chrisklus please reopen.

[2020-02-24 20:54] #217 closed

[2020-02-25 15:58] KatieWoe opened #254 "CT unexpected number of particles in saved data set"
[code]

[2020-02-25 15:59] KatieWoe commented on #254
Also in Basics sim:
[code]

[2020-02-26 18:00] jbphet commented on #251
Since the CT error is fixed and a full solution for particle handling is being tracked in #252, I'm closing this one.

[2020-02-26 18:00] #251 closed

[2020-02-27 20:21] KatieWoe opened #255 "Slider string too low"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For ES6 Testing
The string above the interaction strength slider on the second screen is in the same place as the slider, rather than above it.

**Visuals**
![titleonslider](https://user-images.githubusercontent.com/41024075/75483338-e1042100-5963-11ea-8b25-d11bb65ec34e.png)

Troubleshooting information:

<

[2020-02-27 21:16] KatieWoe opened #256 "Particles disappear if pumped above lid"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For ES6
When you pump particles, but the lid is bellow the intake, nothing should happen. Instead, the number of particles in the pump seems to go down. If you reset the sim, those particles stay gone. Middle of gif cut out to save time.

**Visuals**
![particlesdisappear](https://user-images.githubuserconte

[2020-02-27 23:26] arouinfar commented on #236
As part of the PhET-iO design review for #245, @kathy-phet and I took a look at this issue, and it seems like this is something that should be addressed @jbphet.

[2020-02-28 00:09] arouinfar opened #257 "PhET-iO design review comments"
For #245 @kathy-phet and I reviewed the States screen in studio, and have the following comments/questions. For issues that are also relevant to the Phase Changes screen, I've omitted the `statesScreen` prefix from the tandem.

- [x] There are several model elements that are irrelevant to the States screen which should be removed, including:
* `statesScreen.model.interactionPotentialDiagramExpande

[2020-02-28 15:53] KatieWoe opened #258 "CT cannot read property dataStream of undefined"
Also in Basics and Atomic Interactions
[code]

[2020-02-28 23:47] chrisklus commented on #258
I needed to fix this for grunt updating all sims. I did one commit for `states-of-matter`, `states-of-matter-basics`, and `atomic-interactions` (since this was the only issue created for all three repos).

@jbphet please review.

[2020-03-02 18:08] jbphet commented on #258
Looks reasonable to me.  Closing.

[2020-03-02 18:08] #258 closed

[2020-03-02 22:10] jbphet commented on #250
The `TimeControlNode` has been integrated into the sim.  This has caused some changes to the look and behavior versus the previous versions of the sim.  The two most significant are:

+ The play/pause button no longer inflates when in pause mode
+ On the Atomic Interactions screen, the play/pause/step buttons are on the other side of the slow motion radio buttons, and the wording is slightly diffe

[2020-03-02 22:58] chrisklus commented on #250
@jbphet It looks like SOMPlayPauseStepControl.js was already extending TimeControlNode and just added sim-specific options. So the option from line 31: `scaleFactorWhenPaused: PAUSE_SIZE_INCREASE_FACTOR` should still work just fine for inflating the pause button (when nested into `playPauseOptions` like it was).

[2020-03-03 22:13] jbphet commented on #250
Great suggestion @chrisklus - I've made that change.

@arouinfar - now the only change is the normal-versus-slow-motion selection interface on the Atomic Interactions screen.

[2020-03-03 23:45] jbphet opened #259 "Center line missing on interaction potential chart"
The current interaction potential chart on the "Phase Changes" screen is missing the horizontal center line.  It looks like this:

![image](https://user-images.githubusercontent.com/3082831/75830455-282c5080-5d6e-11ea-8759-22f4ca6429e5.png)

The live version (v 1.1.10) looks like this:

![image](https://user-images.githubusercontent.com/3082831/75830539-590c8580-5d6e-11ea-99bb-b055148510c7.png)

[2020-03-03 23:46] jbphet commented on #259
After doing some forensics, it looks like this was removed in an attempt to fix the problem that the center axis line goes over the potential (red) line in https://github.com/phetsims/atomic-interactions/issues/75.

Specifically, here is what I think is the problematic commit: https://github.com/phetsims/states-of-matter/commit/bc510f768ca3d7f45dd45a53dd4450664469d606

[2020-03-03 23:50] jbphet commented on #259
I've made some changes, here's what it looks like now (using water as the substance, which makes the line more apparent):

![image](https://user-images.githubusercontent.com/3082831/75830819-0e3f3d80-5d6f-11ea-99e0-0e1b2ad17062.png)

[2020-03-03 23:51] jbphet commented on #259
@SaurabhTotey - please review.  It looks like you made the commit that removed the line, and I wanted to make sure that this wasn't intentional.  If all looks good, please close.

[2020-03-04 00:23] jbphet commented on #256
This problem seems to be the result of the work done to generalize the bicycle pump node in https://github.com/phetsims/states-of-matter/issues/217.  It looks like due to the fact that the pump directly sets the value of the property even when no injection should be allowed, the value of `MultiParticleModel.numberOfMoleculesProperty` is being increased when it shouldn't be, and that results in the

[2020-03-04 15:59] KatieWoe opened #260 "Phet-io won't load"
When trying to open studio on master:
![statesproblem](https://user-images.githubusercontent.com/41024075/75897823-69684300-5df6-11ea-8c3c-c858498c522b.png)

[2020-03-04 16:05] pixelzoom commented on #260
Looks to me like the Property being passed to the RadioButtonGroup has not been instrumented.

[2020-03-04 18:50] jbphet commented on #260
Close.  It was that I was using `tandem` instead of `tandemName` for the radio button items, and wasn't passing in a tandem to `AquaRadioButtonGroup`.  I've fixed this.

Also, I talked with @KatieWoe, and she isn't going to log any more issues related to validation of tandems for now, since getting all tandems to validate is under the umbrella of instrumenting for phet-io, and there is already an

[2020-03-04 18:50] #260 closed

[2020-03-04 22:17] arouinfar commented on #250
For the record, I would have been fine with losing this behavior. It's something we've done in older HTML5 sims, and in most cases I don't think it's necessary. That said, I'm fine with keeping the behavior as-is, so thanks to @chrisklus for pointing out the necessary option.

I prefer the look that's now in master, and the wording change is something we decided on in the design of `TimeControlNod

[2020-03-04 22:17] #250 closed

[2020-03-05 00:19] jbphet commented on #255
Fixed, closing.

[2020-03-05 00:19] #255 closed

[2020-03-05 21:28] SaurabhTotey commented on #259
Oh, I completely missed this side-effect! It wasn't my intention to remove the line for the interaction potential chart, but it looks good now. Closing.

[2020-03-05 21:28] #259 closed

[2020-03-06 20:15] jbphet commented on #250
@arouinfar and I discussed the button expansion in person and decided to remove it.

[2020-03-06 23:42] jbphet commented on #253
The contents of this branch have been moved into master.  I think I should keep it around for a week to make sure master is working well and I didn't miss anything, then I'll delete it.

[2020-03-09 15:01] KatieWoe opened #261 "CT Inconsistent number of normalized versus non-normalized particles"
Also in Basics
[code]

[2020-03-10 16:03] jbphet commented on #254
This has been fixed by work done for #252.  Closing.

[2020-03-10 16:03] #254 closed

[2020-03-12 18:45] pixelzoom opened #262 "follow naming convention for Enumerations"
From https://github.com/phetsims/phet-core/issues/43...

In CompositeThermometerNode.js, rename `TEMPERATURE_UNITS` to `TemperatureUnits`.

[2020-03-12 22:15] jbphet commented on #261
CT is showing green for SOM, SOMB, and AI since the commit above was made (14 iterations).  Closing.

[2020-03-12 22:15] #261 closed

[2020-03-12 22:18] jbphet commented on #253
Particle serialization has been merged in and seems to be working well.  Closing.

[2020-03-12 22:20] jbphet commented on #252
The branch has been merged in and the resulting issues resolved.  It appears to be working well at this point.  Closing.

[2020-03-12 22:20] #252 closed

[2020-03-12 22:37] jbphet commented on #262
Fixed, closing.

[2020-03-12 22:37] #262 closed

[2020-03-13 04:36] arouinfar commented on #212
Liquid oxygen is noticeably different than the other liquids. While I think it certainly would be nice to fine tune its shape a bit further, I can't speak to the priority of such a change (especially a non-trivial one). If we want to make this change, realistically it makes sense for @jbphet to work on it while he's already in the sim, but that probably doesn't mesh well with PhET-iO delivery goal

[2020-03-17 14:46] KatieWoe opened #263 "CT PhetioObject baseline must equal baseline schema to ensure that baseline changes are intentional"
[code]

[2020-03-17 14:55] jessegreenberg commented on #263
Thanks @KatieWoe - I took a look after pulling everything and before the API error I am getting

From the AquaRAdioButtonGroup in AtomicInteractionsControlPanel. I think this is related to #245 rather than TimeControlNode changes, but let me know if I can help.

[2020-03-17 22:15] jbphet commented on #263
I've updated the API files and the last several rounds of CT have passed.  Closing.

[2020-03-17 22:15] #263 closed

[2020-03-18 21:51] jbphet commented on #248
This has been addressed, closing.

[2020-03-18 21:51] #248 closed

[2020-03-20 23:00] arouinfar opened #264 "MultipleParticleModelIO details visible in studio"
When reviewing #257 with @jbphet, I noticed that the model details are now visible in studio when selecting `statesOfMatter.statesScreen.model` or `statesOfMatter.phaseChangesScreen.model`. I've never seen this in studio before, and I'm not convinced this is a useful way to display this information. Is this something that we could easily hide?

![image](https://user-images.githubusercontent.com/84

[2020-03-20 23:06] arouinfar commented on #257
@kathy-phet I reviewed this with @jbphet today, and we had some further questions about this item:

Here's the current tree structure
![image](https://user-images.githubusercontent.com/8419308/77212436-b6256c80-6acc-11ea-8687-aae1b039a30b.png)

Looking at this again, I'm not sure that it's necessary to add a linked property to each of the state buttons, since the corresponding property is a siblin

[2020-03-21 00:27] zepumph commented on #264
Oh boy. That is some state! Currently there is no way to hide this, and it needs to be `phetioState:true` to support the state feature.

The simplest but not perhaps the best solution is likely to coopt `phetioStudioControl` to hide the "initial state" of an element when set to false.

There are currently 24 usages of `phetioStudioControl:false` in the code, and nothing struck me immediately of in

[2020-03-21 15:40] jbphet commented on #257
@arouinfar said:

Upon further review, it actually doesn't look so easy, because the code doesn't pass in tandems for radio buttons, it passes in a tandem *name*, which the radio button group then uses in the process of creating the button.  Because of this, it's not easy to pre-create the tandem and next things like the button text underneath.  So, if this is what you want, I'll need to work with

[2020-03-21 17:47] jbphet commented on #257
I have a question about migrating `CompositeThermometerNode` to use `ComboDisplayBox` instead of `ComboBox`.   I've examined the code, and it looks like it would be fairly straightforward change except for one thing: in the current implementation, there is code in place to display "--" if there are no particles in the container.  `ComboDisplayBox` can't do this, because it displays values for `Num

[2020-03-21 17:48] jbphet commented on #257
Assigning @ariel-phet in case he has an opinion on the previous comment.

[2020-03-21 20:30] jbphet commented on #257
@arouinfar and @kathy-phet - I've addressed all but two of the issues on the list, and those issues are discussed above.  I think this is ready for the next round of review.

[2020-03-23 14:10] kathy-phet commented on #257
JB wrote:

I agree that we should display --. It doesn't make sense to display 0 in this case (scientifically wrong

[2020-03-23 14:21] kathy-phet commented on #257
Amy wrote:

I think its fine to leave this the way it is since it is complicated to change it. I don't think we should do anything special.

[2020-03-23 18:10] arouinfar commented on #257
That's also my preference @jbphet.

Thanks @kathy-phet. @jbphet I've crossed out this item.

[2020-03-23 21:19] arouinfar commented on #257
@kathy-phet and I reviewed the CompositeThermometerNode and the changes are looking good @jbphet. Can you add a linked property to `temperatureInKelvinProperty` somewhere within CompositeThermometerNode, or possibly in temperatureComboBox, whichever makes more sense to you.

[2020-03-25 22:22] ariel-phet commented on #212
I fundamentally disagree with this user's assessment - Oxygen looks significantly different in the solid, liquid, and gas phases. I think the user is perhaps making the assumption that in the liquid state the oxygen should "puddle" in the bottom of the container. But really the learning goal here is between the ordered crystaline state (solid), the liquid phase, and the gas phase, which are really

[2020-03-30 15:13] arouinfar opened #265 "PhET-iO design review comments - Phase Changes Screen"
For #245, and a continuation of #257.

- [x] `phaseChangesScreen.model.interactionStrengthProperty` - Add documentation to make it clear that this only applies to the adjustable attraction option. Does this value have units?

- [x] `phaseChangesScreen.model.numberOfMoleculesProperty` does seem to be hooked up properly. It is responsive to the BicyclePumpNode, but doesn't subtract molecules when th

[2020-03-31 07:15] arouinfar opened #266 "PhET-iO design review comments - Interactions Screen"
For #245, and a continuation of #257 and #265.

- [x] The tandem for this screen should match what's in the sim, `interactionScreen` not `atomicInteractionsScreen`.

- [x] Does `atomicInteractionsScreen.model.interactionStrengthProperty` have units?

- [x] Use `constrainValue` to make the Atom Diameter and Interaction Strength sliders snap in increments of 5 units.

- [x] `atomicInteractionsScreen

[2020-04-02 00:59] chrisklus commented on #256
Thanks @KatieWoe and @jbphet. I looked into this a bit and think that the pump's existing `enabledProperty` option is the best thing to use.

I logged the value of `MultiParticleModel.numberOfMoleculesProperty`, and am confused by what I'm seeing, but I also don't know/remember much about the model of this sim. As @jbphet said, the value is being increased when it shouldn't be, but something else

[2020-04-02 22:16] jbphet commented on #257
@arouinfar - I've added the linked property described above.  Can you check it out?  I think that's in for this particular GitHub issue, so if it looks good, you can go ahead and close.

[2020-04-02 22:33] jbphet commented on #265
@arouinfar asked above:

- `phaseChangesScreen.model.interactionStrengthProperty`... Does this value have units?

Yes, at least kind of.  This value is epsilon in the Lennard-Jones potential equation, and epsilon/k-Boltzmann is in Kelvin.  So, I suppose that means the units for epsilon are k-Boltzmann-Kelvins, but that doesn't seem like it would be very meaningful to our users.  @arouinfar - shall

[2020-04-02 23:22] jbphet commented on #265
In the model, this value represents the number of particles being simulated, *not* the number in the container.  That means the number can't be updated until the lid is returned.  However, that wasn't happening either.  I've added code to update this value when the lid is returned, on resets, and on substance changes.  @arouinfar - please check the behavior on master and let me know if this is suf

[2020-04-02 23:43] arouinfar commented on #257
Thanks @jbphet! Looks good in master.

[2020-04-02 23:43] #257 closed

[2020-04-02 23:52] arouinfar commented on #265
Thanks for the clarification. Let's leave out the units. Can you adjust the documentation to say that it is a parameter in the Lennard-Jones potential?

Understood. The behavior looks good in master. Can you update the documentation its documentation to: This value represents the number of particles being simulated, not the number or particles in the container.

[2020-04-03 00:10] jbphet commented on #265
From https://github.com/phetsims/states-of-matter/issues/265#issue-590371300 above:

@arouinfar - This would actually be fairly hard to restructure, since the node consists of the gauge, the readout, the collar, and the connector pipe.  It seems odd to me that the readout would be separated but the gauge wouldn't.  Are you sure on this one?  Would it be more clear if I were to instrument the colla

[2020-04-03 21:46] jbphet commented on #266
@arouinfar asked

Please see https://github.com/phetsims/states-of-matter/issues/265#issuecomment-608126340 for an answer to this.

[2020-04-03 23:42] jbphet commented on #266
Well, the motion really *is* paused in this case, and there are a lot of other ways to affect this variable, such as changing the atom diameter or interaction strength while the atoms are in motion.  It's a pretty internal sort of model thing - how about we just don't instrument it at all?

[2020-04-03 23:59] jbphet commented on #266
They could be a single number, but it's not trivial to change, and vectors are pretty convenient in the code for this sort of thing.  I'd estimate 1.5 hrs to do this.  Is it really worth it?

I added units for velocity (pm/s) and acceleration (pm/s^2).  I didn't do position, since the positions are relative to the center of the fixed atom's position.  I could just make the units 'pm' if it's helpf

[2020-04-04 00:25] arouinfar commented on #266
Oh, good point. Yes, let's uninstrument it. I don't think we need to expose it to the client.

Let's leave them as vectors, then.

If the distance between the atoms is in pm, let's display the units of position as pm.

[2020-04-10 17:32] pixelzoom opened #267 "use ScreenIcon"
Related to https://github.com/phetsims/joist/issues/626

Noticed while doing some work on ColorProfile.

SOM is not using JOIST/ScreenIcon for its screen icons.  It's currently using Node.

[2020-04-10 18:53] pixelzoom commented on #267
The easiest way to address this is to wrap your existing nodes in ScreenIcon. See example in https://github.com/phetsims/number-line-common/issues/1#issuecomment-612168363.

[2020-04-10 21:14] zepumph commented on #264
This is going to be handled generally by either https://github.com/phetsims/studio/issues/117 or https://github.com/phetsims/studio/issues/116

[2020-04-10 21:39] jbphet commented on #266
From the original issue description:

Possible yes, but not easy.  The class is called `ZoomableGridNode` and it was created to be a grid with the zooming built in as well as the means to do the zooming.  I could certainly rename it, take the buttons out, make a property that controls the zoom level, add the buttons externally and hook them to this property.  I'd estimate at least a couple of hour

[2020-04-11 02:31] jbphet commented on #266
On `atomicInteractionsScreen.view.interactiveInteractionPotentialDiagram`, I can't consolidate the two nodes that act as epsilon controllers into one node because they are actually created in different places and are on different layers of the scene graph because the line is used in some other places.  I was able to get close to the structure that was specified, so please take a look and let me kn

[2020-04-11 02:33] jbphet commented on #266
@arouinfar - I think I have addressed everything in the list at the top of this issue with the exceptions noted in the comments.  I think it would be good for you to have a look through it all and make sure I didn't miss or misunderstand anything before getting back together with @kathy-phet for making the "featured" determinations.  You can assign this back to me if changes are needed.

[2020-04-11 17:14] pixelzoom opened #268 "use of global in MultipleParticleModelIO"
Noticed while working on a common-code issue related to IO Types...

After converting to ES6 modules, using globals in IO Types is not longer necessary or desirable.

[code]

[2020-04-11 17:15] pixelzoom opened #269 "missing visibility annotation for resetEmitter"
Missing visibility annotation in MultipleParticleModel.js

[code]

[2020-04-13 14:50] KatieWoe opened #270 "CT Registered PhetioObject baseline must equal baseline schema to ensure that baseline changes are intentional"
[code]

[2020-04-13 18:21] jbphet commented on #270
Updated the API, CT has been clear for two rounds now.  Closing.

[2020-04-13 18:21] #270 closed

[2020-04-13 19:15] jbphet commented on #265
I think I've addressed everything in the list above, with some caveats noted in subsequent comments.  @arouinfar - can you please review and make sure that I've truly caught everything?  If not, please note any discrepancies and assign back to me for another round.

[2020-04-16 06:12] arouinfar opened #271 "Pixel polishing"
Related to #265 and #266

Phase Changes Screen, Interaction Strength slider:
- [x] Change color of slider thumb to match the purple used on the Interactions screen.
- [x] Reduce size of "weak" and "strong" tick mark labels to match the size used on the Interactions screen.

Interactions Screen, TimeControlNode:
- [x] Move the Normal/Slow radio button group to the right side of the button group.

[2020-04-16 18:30] arouinfar commented on #265
@jbphet a few more tweaks, but some of them should be fairly easy.

- [ ] `phaseChangesScreen.model.numberOfMoleculesProperty`: There was a typo in my recommended documentation that got pasted into the sim. It currently reads "number or particles" but should be "number of particles".

- [ ] `phaseChangesScreen.model.interactionPotentialAccordionBoxExpandedProperty`: The "AccordionBox" doesn't need

[2020-04-16 18:38] arouinfar commented on #265
We also discussed how to handle the epsilonControls in the Interaction screen, and the decisions we make in #266 will likely affect the tree structure of the interaction potential diagram, which currently looks like this.

![image](https://user-images.githubusercontent.com/8419308/79493303-88094e80-7fde-11ea-9289-8e03da26b557.png)

Re-assigning myself to make sure update this issue once things hav

[2020-04-16 21:19] arouinfar commented on #266
@jbphet let's leave it as-is in Atomic Interactions, then. I don't think it's worth the time investment.

[2020-04-16 22:52] arouinfar commented on #266
I just noticed that the tandem name was changed to "interactionsScreen", but the screen name in the sim is the singular "Interaction". I've caught myself referring to it as "Interactions" (such as in the title of the issue). Given that the other screen names are plural the Interaction screen's parent sim is "Atomic Interactions", we think we should rename this screen "Interactions".

It doesn't lo

[2020-04-16 23:12] arouinfar commented on #265
Based on the tree structure proposed in https://github.com/phetsims/states-of-matter/issues/266#issuecomment-614936661, we'd like to update the interactionPotentialAccordionBox:

[code]

@jbphet we removed the "diagram" level from the AccordionBox. If we need to keep the container, the we recommend calling it "graph" to be consistent with how we'd like to name things on the Interaction screen.

[2020-04-17 20:09] arouinfar commented on #212
Thanks @ariel-phet. You make a very good point. The teacher tips already had some information regarding the shape of the liquid, but I added to it a bit.

Updated teacher tips have been uploaded, closing.

[2020-04-20 20:03] jbphet commented on #269
fixed, closing

[2020-04-20 20:03] #269 closed

[2020-04-20 20:13] jbphet commented on #268
Good to know, thanks.  I changed it to reference an imported module instead, and tested it in the "Studio" and "State" wrappers.  Seems to work fine.  Closing.

[2020-04-20 20:13] #268 closed

[2020-04-22 21:24] jbphet commented on #267
I've ported the programmatically-created icons to extend `ScreenIcon` and used the options to make a white outline appear around the navigation bar icons when in projector mode.  It appears to work very well.  Closing.

[2020-04-22 21:24] #267 closed

[2020-04-23 00:09] jbphet commented on #256
For the record, this problem also occurs when the container is exploded.

I think I've implemented a reasonable solution for this.  First off, I renamed `numberOfMoleculesProperty` to `targetNumberOfMoleculesProperty` to make it more clear what it does.  I then added a derived property that tracks whether injection of new particles is allowed, and hooked it to the bike pump.  This is a derived pro

[2020-04-24 23:28] jbphet commented on #265
@arouinfar - in response to [this comment](https://github.com/phetsims/states-of-matter/issues/265#issuecomment-614942981) above, I'm not able to pull out the `diagram` level in a reasonable way because it really is a separate part of the accordion box, and it would take some odd tandem manipulations that seem inappropriate to me.  I have changed the name of that level to `graph` as suggested.

Al

[2020-04-24 23:29] jbphet commented on #265
I think I've now addressed everything from the most recent review notes.  @arouinfar - back to you for review.

[2020-04-24 23:45] jbphet commented on #266
@arouinfar said:

This is unfortunately way more tricky than it sounds.  There are a lot of translations for this string, and the key to the string is `interaction`, so I'd need to modify the string key name or add a new one, both of which will break all the existing translations when we publish off of master.  I could do some manipulation of the translation string files to make this all work out,

[2020-04-27 19:40] oliver-phet commented on #212
@ariel-phet @arouinfar User replied back:

[2020-04-28 00:05] arouinfar commented on #212
@ariel-phet can you take over communication with this user?

Gas Properties or Gases Intro may better suit their goal of connecting temperature and kinetic energy.

[2020-04-28 02:24] ariel-phet commented on #212
Sure @arouinfar

@oliver-phet can you forward the relevant email to me.

[2020-04-28 15:13] oliver-phet commented on #212
Forwarded!

[2020-04-28 17:06] ariel-phet commented on #212
Ok, I will take it from here. Closing.

[2020-04-28 17:06] #212 closed

[2020-04-28 17:51] chrisklus commented on #256
Nice! That's exactly the direction I was imagining. I agree with you about the enabled bit - seems like the pump shouldn't be pump-able when it's disabled. I can't remember if that was a conscious decision or not. @arouinfar what do you think? (should the bike pump appear disabled and be un-pickable when it's not enabled?)

[2020-04-28 18:10] arouinfar commented on #256
@chrisklus I think we'll want to prevent interaction with the pump via its enabledProperty (non-pickable & reduced opacity). If we instead toggle its pickableProperty to false, the pump will still look interactive, which could feel a bit buggy.

[2020-04-28 19:41] jbphet commented on #266
For the sake of consistency, and since I like this convention better anyway, I've gone through the code and renamed everything that included "InteractionPotentialDiagram" to "PotentialGraph", and have updated the comments and variable names as well.

[2020-04-28 23:45] jbphet commented on #266
@arouinfar and I just met and made a number of real-time changes, and I followed up with some additional revisions related to the controls on the interaction potential graphs.

@arouinfar - over to you to have a look and let me know if you see anything immediately obvious to revise.  If not, you can meet with @kathy-phet for the next full round of revisions and/or identifying things that are "feat

[2020-04-29 15:49] jbphet commented on #256
Unassigning myself, since I think it falls to @chrisklus to update the pump's behavior when disabled.

[2020-04-30 16:32] chrisklus commented on #256
I got this working but must say it feels pretty strange for the whole pump to appear disabled when the sim is paused. I'm not sure of the best way to proceed. Thoughts?

![image](https://user-images.githubusercontent.com/5618316/80735242-64fe9480-8ade-11ea-996f-a7745d90a8ee.png)

![image](https://user-images.githubusercontent.com/5618316/80735212-57490f00-8ade-11ea-93cc-5e322bd53676.png)

[2020-04-30 20:49] jbphet commented on #271
Changes made.  @arouinfar - please review on master.  I ended up moving the `TimeControlNode` on the "Interaction" screen a little to the left so that the radio buttons didn't end up too close to those in the "Forces" panel when "Adjustable Attraction" is selected.  Please check it out and see if you think it - are any of the other changes - need any further revision.

[2020-04-30 21:03] arouinfar commented on #271
Looks good in master. Thanks @jbphet!

[2020-04-30 21:03] #271 closed

[2020-05-01 15:33] arouinfar commented on #256
Why are we disabling the pump when paused? I thought the issue was only if the lid was below the hose.

In latest, I can queue up one pump (3 particles) while paused. Is there a reason why we can't queue up more and then let them stream in when unpaused?

[2020-05-01 15:49] jbphet commented on #256
I think it makes sense to disable the pump when paused.  It seems better than having users be able to pump the handle and have nothing happen.  Perhaps for consistency we should disable the heater/cooler node as well.

I'm personally not too attached to disabling the pump when paused, since it hasn't been a problem before now, but I'd rather we didn't make substantial changes to the paused behavio

[2020-05-01 19:02] arouinfar commented on #265
Something's not quite right here. If I set
`phaseChangesScreen.view.moleculesControlPanel.interactionStrengthSlider.visibleProperty` to false, the "Interaction Strength" title is still visible, even though it's nested under the slider:
`phaseChangesScreen.view.moleculesControlPanel.interactionStrengthSlider.title.visibleProperty`

The updated lidNode is looking really nice! I realize that `lidElli

[2020-05-01 19:09] arouinfar commented on #265
@jbphet I discovered that I can make the epsilonControl.arrow and epsilonControl.line visible for a non-Adjustable Attraction atom. This looks super buggy. For example:

![image](https://user-images.githubusercontent.com/8419308/80833876-c4c37100-8bac-11ea-8289-c720cd71ef0c.png)

[2020-05-01 23:06] arouinfar commented on #266
@jbphet the changes on this screen are all looking good. The only exception is the visibleProperty of the epsilonControl.arrow, epsilonControl.line, and sigmaControl.arrow. Selecting Adjustable Attraction will override any changes a client makes to the visibleProperty. See the end of https://github.com/phetsims/states-of-matter/issues/265#issuecomment-622519379

[2020-05-04 17:11] arouinfar commented on #245
Since design reviews are tracked in other issues, I'm going to unassign the designers.

[2020-05-06 20:06] zepumph commented on #264
I will handle this as part of https://github.com/phetsims/phet-io/issues/1644

[2020-05-06 20:41] zepumph commented on #264
Over in https://github.com/phetsims/phet-io/issues/1644, we added support to omit any state that is nested under the `private` field of the state object. The above commit hides all the state for MultipleParticleModelIO. @arouinfar can you please review. Does it look better now that the state is hidden for this model?

[2020-05-08 21:49] jbphet commented on #265
Here's a screenshot of the structure that @arouinfar and I came up with today that we'd like to see for supporting hiding of the interactive controls in the interaction potential graphs.  Note the capitalization is off - it's due to the word processor trying to be helpful.

![image](https://user-images.githubusercontent.com/3082831/81452191-73cef200-9143-11ea-9305-464b796bc4d8.png)

[2020-05-08 21:52] jbphet commented on #265
@arouinfar - I believe I've made the updates requested in [this comment above](https://github.com/phetsims/states-of-matter/issues/265#issuecomment-622519379).  Please check it out on master and let me know what you think.

I also added some documentation to the interaction controls as we discussed, and I used the phrase "Used for Adjustable Attraction only".  I'm happy to change it, I just wanted

[2020-05-08 21:53] jbphet commented on #266
The item noted in the previous comment should now be addressed.  @arouinfar - please have a look at the behavior on master and let me know what you think.

[2020-05-08 23:18] arouinfar commented on #265
@jbphet are the opacityProperty, pickableProperty, and visibleProperty of epsilonArrow, epsilonLine, and sigmaArrow intentionally phetioReadOnly: true? We had talked about clients potentially wanting to hide just the epsilon-related or sigma-related graph controls.

Everything else from https://github.com/phetsims/states-of-matter/issues/265#issuecomment-622519379 looks great.

[2020-05-11 17:08] jbphet commented on #265
@arouinfar - I guess I came away with a different understanding of what we had talked about.  Because the visibility attributes of these nodes are what is used to hide and show them when the user moves back and forth between adjustable and non-adjustable atoms, we wanted the attributes to be read-only so that the user couldn't create problematic states, such as the one you pointed out in https://g

[2020-05-11 17:37] arouinfar commented on #265
@jbphet sorry for the miscommunication. I didn't realize the epsilonArrow, epsilonLine, and sigmaArrow in the tree hierarchy in https://github.com/phetsims/states-of-matter/issues/265#issuecomment-626036101 were still going to be the actual model parameters that would be overwritten when switching atoms.

For the Phase Changes screen (which only has an epsilon control) it is sufficient to just tog

[2020-05-12 16:38] arouinfar opened #272 "phetioFeatured overrides"
Yesterday @kathy-phet and I reviewed States of Matter and decided on which elements should be phetioFeatured.

There are potentially changes to the tree structure in https://github.com/phetsims/states-of-matter/issues/265#issuecomment-626847444, so I will hold off on including the interactiveControls in the Interaction Potential graphs in my initial commit.

[2020-05-12 16:43] arouinfar commented on #265
Discovered in #272

- [ ] Toggling `phaseChangesScreen.view.moleculesControlPanel.radioButtonGroup.visibleProperty` should only affect the visibility of the radioButtonGroup. Currently, the panel stroke disappears which is undesirable (and inconsistent with the equivalent behavior on the statesScreen).

[2020-05-12 16:48] arouinfar opened #273 "CompositeThermometerNode: opt out of dynamic layout"
Discovered in #272

When hiding the ComboBox (`particleContainerNode.compositeThermometerNode.temperatureComboBox.visibleProperty`), the thermometer's position shifts in such a way that it no longer appears to be measuring inside the container.

![image](https://user-images.githubusercontent.com/8419308/81721787-a9265900-943d-11ea-9094-a1499c4091bd.png)
![image](https://user-images.githubuserconte

[2020-05-12 16:57] arouinfar commented on #266
The discussion related to the interactionPotentialGraph starts in https://github.com/phetsims/states-of-matter/issues/265#issuecomment-626059805

In #272 we discovered a few more (seemingly minor) issues with this screen.

- [ ] `interactionScreen.model.timeControlSpeedProperty` includes an option for "Fast" but that option doesn't exist in this simulation (or Atomic Interactions) and should be re

[2020-05-12 18:13] arouinfar commented on #272
The featured elements look good in studio.

Once https://github.com/phetsims/states-of-matter/issues/265#issuecomment-626847444 is settled, I'll need to feature:
- [ ] visibleProperty of epsilonArrow
- [ ] visibleProperty of epsilonLine
- [ ] visibleProperty of sigmaArrow

After the overrides are finalized for SOM, I'll generalize for SOMB and AI.

[2020-05-13 23:51] arouinfar commented on #264
@zepumph thanks! Things are definitely looking cleaner in studio.

[2020-05-13 23:51] #264 closed

[2020-05-14 19:46] KatieWoe opened #274 "Interaction Screen, interaction strength does not change arrows while paused"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/501.
On the Interaction screen, when looking at the adjustable attraction atoms, the force arrows do not update as you move the interaction strength slider when paused. When moving the atom diameter slider or changing atom types the update does occur. If this is int

[2020-05-14 20:10] KatieWoe opened #275 "White outlines on nav bar icons in projector view"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/501. Not in published version.
When the sim is in projector mode, the icons in the nav bar have a white outline around them. Also seen on the home screen (though this is in published).
**Steps to reproduce**
1. Go to the phet menu and select "options"
2. Turn on pro

[2020-05-14 21:11] KatieWoe opened #276 "Can't pump particles/too many particles in container"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/501.
In certain situations you can get the pump so that it appears to have particles, but won't add them. This occurs after you have returned the lid after a full container was blown up. You can get pumping to start by moving the lid slightly. It is also then possib

[2020-05-15 16:23] jbphet commented on #275
Impressive - not much gets past you @KatieWoe!

This change is intentional, and came about as a result of the work done for https://github.com/phetsims/states-of-matter/issues/267.  Closing.

[2020-05-15 16:23] #275 closed

[2020-05-15 18:54] arouinfar commented on #265
@jbphet here's an outline of the tree structure we just discussed

[code]

[2020-05-15 19:51] jbphet commented on #266
@arouinfar - I've made the changes listed in the previous comment based what is written there and the Zoom call that we just had about how to address the visibility of the hand.  Please check it over and let me know if other changes are needed.

[2020-05-15 20:22] KatieWoe opened #277 "Atom on interaction screen no longer line up with atom on the graph"
**Test device**
Lovelace
**Operating System**
ChromeOS (and others)
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/501. Incredibly nitpicky, and may just be something I thought was a design decision but wasn't. Please close if that is the case.
On the published version of the interaction screen, the center of the movable atom lined up vertically with the atom

[2020-05-15 21:06] jbphet commented on #273
I fixed this by setting the resize option to false in the VBox in which the thermometer and the combo box are embedded, and it seemed to do the trick.  @arouinfar - please check on master and close if it looks good to you.

[2020-05-15 21:29] KatieWoe opened #278 "May be possible to add potential energy by changing interaction strength"
**Test device**
Lovelace
**Operating System**
ChromeOS (and others)
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/501. Wasn't able to reproduce in published, so it looks like it is new.
On the interaction screen, if you lower the interaction strength it seems it is possible to add a very small amount of potential energy as you do so. If the atom is close, but

[2020-05-18 18:30] arouinfar commented on #273
Looks good in master @jbphet!

[2020-05-18 18:30] #273 closed

[2020-05-18 18:33] arouinfar commented on #277
Good find @KatieWoe! It was a deliberate design decision to align the movable atom and the position marker in the graph, so this looks like a bug to me.

[2020-05-18 18:38] arouinfar commented on #266
@jbphet this all looks good in master, and the tree structure for the interactivePotentialGraph discussed in https://github.com/phetsims/states-of-matter/issues/265#issuecomment-629423235 also looks good, so I'll close this issue.

[2020-05-18 18:38] #266 closed

[2020-05-18 18:41] muedli opened #279 "In PhET-iO states screen, top iframe jumps when bottom iframe updates"
<b>Test Device</b>

Liam's MacBook Air

<b>Operating System</b>

macOS 10.15.4

<b>Browser</b>

Google Chrome 81.0.4044.138

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/501. I know we expect the states wrapper to be a bit laggy, but it seems like the lagginess is extending to the top iframe. Every time the bottom iframe updates, the top iframe does a "jump." Probably a no

[2020-05-18 20:03] KatieWoe opened #280 "phet-io api json 404"
For https://github.com/phetsims/QA/issues/501. Found on Win 10 Chrome.
When trying to look at the phet-io api json from the wrapper index you get a 404 error.
![apijsonnotfound](https://user-images.githubusercontent.com/41024075/82252322-0b82cc00-990c-11ea-8cfd-ff7db3e04613.png)

[2020-05-18 20:19] jbphet commented on #280
@zepumph and @samreid - Some of the API documentation seems to be missing from a phet-io dev version of SOM that I just published.  Any insights?

[2020-05-18 20:24] jbphet commented on #279
@zepumph and @samreid - this behavior is almost certainly lag due to the time it takes for the state to be extracted from the top sim and sent over the PhET-iO API.  I don't have any sense of whether or not this is a legitimate cause for concern, since I don't know whether we intend our customers to use it in this way or whether this is more of a "stress test" situation.  I suspect it is the latte

[2020-05-18 20:32] jbphet commented on #265
Some changes have been make recently to `Panel.js` such that it automatically does a re-layout when elements are added or removed from the panel.  This is done primarily in support of PhET-iO.  A decision was made that, if everything is removed from the panel, the panel itself should disappear.  I conveyed this to @arouinfar during a Zoom call, and (if I recall correctly) it was mostly the inconsi

[2020-05-18 20:40] muedli opened #281 "Diff wrapper isn't working"
For https://github.com/phetsims/QA/issues/501.

## The Problem

If you paste https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.4/phet-io/ (the wrapper landing page) in and hit compare, you get:

"New sim: https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.4/phet-io/states-of-matter_all_phet-io.html?postMessageOnError"

but it should say something about finding 0 differences.

[2020-05-18 20:43] KatieWoe commented on #281
Also, are the html file and phet-io.js lib file accurate? This was not something we were instructed to test when this was last discussed, but it looks like it should be.

[2020-05-18 20:56] KatieWoe opened #282 "Studio non-neon movable atoms have non-zero velocity when still"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome 81.0.4044.138
**Problem description**
For https://github.com/phetsims/QA/issues/501
When looking at the velocity property for the movable atom on the interaction screen, it will be non-zero for an atom that hasn't been touched if it is non-neon.

**Visuals**
![changingvelocityofstillatom](https://user-images.githubusercontent.com/

[2020-05-18 20:58] arouinfar commented on #265
@jbphet this all looks great in master!

[2020-05-18 20:58] #265 closed

[2020-05-18 21:15] chrisklus commented on #281
In https://github.com/phetsims/phet-io/issues/1648 we turned off generation of the phet-io API file on build because it was causing problems, and there's no longer an existing API file because we stopped checking those in. So when the sim is built, it currently has no way to get an api file (note the 404 when you click the "PhET-iO API JSON" link at the bottom of the wrapper index).

So I don't th

[2020-05-18 21:49] loganbraywork commented on #282
In Firefox, movable atom velocity in studio is constantly changing for all atoms on startup, including neon.
![2020-05-18StatesPhetIOVelocity](https://user-images.githubusercontent.com/54685448/82262959-2448ad00-991f-11ea-9e66-e52817362f82.gif)

[2020-05-18 22:18] loganbraywork commented on #274
When paused, if the atom is switched from Adjustable Attraction, to Neon or Argon, and back to Adjustable Attraction, the force arrows do not return to their normal state until the sim is unpaused.
![2020-05-18StatesArrows](https://user-images.githubusercontent.com/54685448/82264931-1432cc80-9923-11ea-9ff6-62ccb5407d5b.gif)

[2020-05-18 22:37] loganbraywork opened #283 "State screen does not reflect force arrows"
<b>Test Device</b>

Windows 10

<b>Operating System</b>

Windows 10 1903

<b>Browser</b>

Firefox 76.0.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/501

This appears to be the result of the bug mentioned in https://github.com/phetsims/states-of-matter/issues/274. The state screen appears to reflect the correct position of the force arrows, while the original screen refl

[2020-05-18 22:51] KatieWoe opened #284 "Green arrows for dragging the hand don't show up in state"
For https://github.com/phetsims/QA/issues/501. Found in Win 10 Chrome.
In the states wrapper, when the green arrows show up to indicate that the lid can dragged, those arrows do not show up in the bottom state sim.
![shouldgreenarrowshowup](https://user-images.githubusercontent.com/41024075/82266747-c8ceed00-9927-11ea-9414-a629e744b30d.gif)

[2020-05-18 23:00] muedli opened #285 "In state wrapper, in launched sim, the lid height isn't recognized"
<b>Test Device</b>

Liam's MacBook Air

<b>Operating System</b>

macOS 10.15.4

<b>Browser</b>

Google Chrome 81.0.4044.138

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/501. In the phase changes screen, if you push the lid down and then launch a fresh copy of the sim, you'll notice that the fresh copy seems to think the lid isn't pushed down. See screenshot below.

<b>Vis

[2020-05-18 23:09] arouinfar commented on #272
In the above commits, I finalized the overrides for states-of-matter and then adapted the files for states-of-matter-basics and atomic-interactions. Things look okay in master, closing.

[2020-05-18 23:09] #272 closed

[2020-05-19 14:57] samreid commented on #279
This visual hiccup is to be expected and should not be optimized.  PhET-iO state is not used at the moment for time-dependent playback, the mirror inputs wrapper would be used for that.

[2020-05-19 15:43] jbphet commented on #279
Thanks @samreid.  Closing.

[2020-05-19 15:43] #279 closed

[2020-05-19 17:06] KatieWoe opened #286 "Multi Wrapper does not have anything in second checkbox"
For https://github.com/phetsims/QA/issues/501. Win 10 Chrome 81.0.4044.138.
On the multi wrapper, the 2nd checkbox to control a random aspect of the sim seems to be missing/non-functional.
![nosecondcheckbox](https://user-images.githubusercontent.com/41024075/82356437-ccfb1900-99c0-11ea-8d6f-39e798ef4b3c.png)

[2020-05-19 19:02] KatieWoe opened #287 "Studio Molecules do not have same start positions when launched/reset"
For https://github.com/phetsims/QA/issues/501. Win 10 Firefox.
I noticed that, when comparing molecules in the state or mirror wrappers, the molecules are in the same position each time. However, when launching from studio with a certain molecule positions, the launched position and the position in the sim upon reset do not match. To see this, put the molecules in an easy to recognize position in

[2020-05-19 19:06] KatieWoe commented on #287
Same on first screen.

[2020-05-19 21:01] KatieWoe opened #288 "phet-io.js not password protected"
For https://github.com/phetsims/QA/issues/501. Seen on Win 10 Edge.
The phet-io.js minified document in lib is not minified. The lib directory itself is, but the file within it is not. Unsure if this belongs here on in a phet-io repo. Please move if more appropriate elsewhere. When reproducing, use new incognito modes for each tested page, as the password is cached.

[2020-05-19 21:17] loganbraywork commented on #288
https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.4/phet-io/lib/phet-io.js appears to not be password protected in Firefox, while https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.4/phet-io/lib is.

[2020-05-19 22:32] KatieWoe opened #289 "Interaction Screen Hand in Studio doesn't appear when Launched"
For https://github.com/phetsims/QA/issues/501. Seen on Win 10 Edge.
In studio, if you add the hand that indicates a movable atom in a situation where it would not normally be, then the hand will not appear in the launched version of the sim.
Steps:
1. In studio, go to the Interaction Screen
2. Show All Elements.
3. Move the movable atom and pause it in a new spot
4. Go to interactionScreen, view,

[2020-05-19 22:48] jbphet commented on #281
@samreid - you marked the priority for this as 'high' and left it assigned to me, but I'm not clear what I should do about it.  From @chrisklus's comment above, it sounds like we should just ignore this problem and close the issue.  True?

[2020-05-19 22:52] samreid commented on #281
In https://github.com/phetsims/phet-io/issues/1648 and https://github.com/phetsims/phet-io/issues/1664 we will need to re-enable API file generation to unblock publication.

[2020-05-19 22:57] jbphet commented on #289
@KatieWoe - I've made the visibleProperty read-only now, and the hint can only be turned on via the model property.  This seems to work okay.  Can you please test on master and verify that this is fixed?

[2020-05-19 22:59] jbphet commented on #288
@samreid and @zepumph - this seems like it's an issue with the phet-io build process.  I'm passing it over to you, feel free to assign this back to me if it's something specific to States of Matter that I should deal with.

[2020-05-19 23:11] jbphet commented on #286
This is hitting an assert and failing on launch.  The stack trace is shown below.  I think the problem may be in `phet-io-wrappers/multi/index.html`.  The code in this file looks kind of old, like it hasn't been moved to ES6, and it's trying to make a random list of properties, but that list is ending up empty.

@samreid and @zepumph - I hate to keep doing this, but this looks like a problem with

[2020-05-20 00:17] zepumph commented on #288
This is expected. This minified library file is needed to run phet-io wrappers. If this file was password protected, every student would need to login to use a wrapper. Instead we keep the lib file and sim public and minified, and then password protect documentation and example wrappers. Over to QA to update the needed QA documentation or to ask questions.

[2020-05-20 14:29] KatieWoe commented on #288
Thanks

[2020-05-20 14:29] #288 closed

[2020-05-20 15:37] KatieWoe commented on #289
Behaves as described by @jbphet in master

[2020-05-20 15:37] #289 closed

[2020-05-20 18:02] jbphet commented on #287
There is a specific type for the state of the particle information called `MultipleParticleModelIO` which @zepumph and I worked on together.  This problem has something to do with that class and how it is used in the launch-interact-reset scenario.  @zepumph is pretty knowledgeable in this, so I'm adding him as an assignee.

[2020-05-20 18:15] JRomero0613 opened #290 "No Return Lid Option on States Screen"
For https://github.com/phetsims/QA/issues/501 on the States screen there is no option to return the lid if it has been popped off. The lid can be removed by heating the container for a long time, it takes a long time to get it hot enough to remove the lid so it is probably not very common. On the Phase Changes screen there is a return lid option. On the Phase Changes screen it is much more common

[2020-05-20 20:19] KatieWoe opened #291 "Possible to have overlapping dropdown boxes in Studio"
For https://github.com/phetsims/QA/issues/501. Found on ChromeOS. Happens on other platforms too.
In studio, removing elements in the dropdown/tool boxes changes their size. It is possible to create a scenario where the boxes overlap due to this fact.
Steps:
1. Go to the interaction screen. Stay on neon for now
2. Make the diameter slider invisible
3. In the sim, change to adjustable attraction at

[2020-05-20 20:20] KatieWoe commented on #291
Note that this does resolve in this instance if you switch out of, and then back into, adjustable attraction atoms.

[2020-05-20 20:31] jbphet commented on #282
This is due to floating point error.  The position of the bottom of the potential well can't be perfectly calculated, so there ends up being some minimal forces that cause small motion in some cases.  I've added code to detect when the atom is at zero velocity near the center of the well and experiencing minimal forces, and at that point reduce the forces to zero.  It seems to work so far.

@Katie

[2020-05-20 20:33] jbphet commented on #290
This is intentional.  We don't want the user to be able to have less than the full complement of particles on the first screen, so they have to press reset to get the lid back.  Closing.

[2020-05-20 20:33] #290 closed

[2020-05-20 20:37] jbphet commented on #291
@arouinfar and @kathy-phet - Do we really need to handle situations like this?  I can certainly do it, but there are probably an awful lot of cases where the user can do arbitrary things through studio that will mess up the layout, and it will be quite time consuming to address them all.

If I should address, please assign back to me, otherwise close.

[2020-05-20 20:40] zepumph commented on #286
This was fixed with the above commit. Please confirm on master if you wish and close.

[2020-05-20 20:45] KatieWoe commented on #282
Looks fixed

[2020-05-20 20:49] KatieWoe commented on #286
Looks fixed.

[2020-05-20 20:49] #286 closed

[2020-05-20 21:05] jbphet commented on #277
This was a side effect of the removal of the zoom buttons, which was requested in https://github.com/phetsims/states-of-matter/issues/266.

@KatieWoe - please verify on master and unassign if it looks good, and we'll re-check as part of the next release process.

[2020-05-20 21:07] kathy-phet commented on #291
I believe we saw this bug when we were in Studio. It is not persistent in any published sim, so we did not report it. I would vote labeling as "do not fix".

[2020-05-20 21:14] KatieWoe commented on #277
Looks much better to me

[2020-05-20 21:20] jbphet commented on #285
In this scenario, as soon as the lid is moved the sim adjusts the container height, so it looks like the setting of the state during the launch is the problem.  I've seen this a lot where properties affect one another during setting of phet-io state.

[2020-05-20 21:29] megan-phet opened #292 "Pump stops working when no molecules escape after lid returned"
<b>Test Device</b>
- MacBook Pro

<b>Operating System</b>
- 10.15.4

<b>Browser</b>
- All latest

<b>Problem Description</b>
For https://github.com/phetsims/QA/issues/501
Pump stops working after the lid is returned if all the molecules remain inside.
Even after the reset button is pressed the pump still won't work.

<b>Steps to Reproduce</b>
1. Click on phase change
2. Lower temp
3. Empty pump
4.

[2020-05-20 21:46] jbphet commented on #285
I've made the linkage between the non-normalized container size and the normalized container size a bit more direct, and it seems to have fixed this.

@KatieWoe - please have QA test this on master and, if it's fixed, leave it unassigned and we can re-verify before the next publication.

[2020-05-20 21:51] jbphet commented on #284
This behavior seems expected to me.  The hand is just a view element, it has no existence in the model, so we shouldn't expect things like movement hints to show up.

@zepumph - since you're the phet-io point man on this, can you confirm?  If so, please close.  If not...well, I don't even want to go there.

[2020-05-20 21:54] KatieWoe commented on #285
Looks fixed. Great catch by the way @muedli

[2020-05-20 23:03] zepumph commented on #284
Yes agreed. Hover behavior has traditionally not been included in state. Over to QA to update documentation if desired.

[2020-05-20 23:20] arouinfar commented on #291
I agree @kathy-phet. Labelling as `type:wontfix`.

[2020-05-20 23:20] #291 closed

[2020-05-21 01:26] zepumph commented on #287
My first thought was to look at `MoleculeForceAndMotionDataSetIO` and `MultipleParticleModelIO` to make sure that they were saving all of the data from the core type that would effect the position/rotation of the particles. Nothing looked suspect at first glance (though I don't know the sim at all).

Next I wonder if there is any unseeded randomness that is causing this to be problematic. It was u

[2020-05-21 01:30] zepumph commented on #280
Ahh yeah. That makes sense. Over in https://github.com/phetsims/phet-io/issues/1664 we have quite a bit of work to do until we start generating these again on build. This won't be fixed until that is taken care of.

[2020-05-21 01:31] zepumph commented on #280
This has been a problem since https://github.com/phetsims/chipper/commit/9f49893cf8070d9c0ee04583006ab028ae52bf59.

[2020-05-21 01:32] zepumph commented on #281
I wanted to also tag https://github.com/phetsims/states-of-matter/issues/280, as this is basically the same issue (no api files on build right now).

[2020-05-21 01:33] zepumph commented on #280
On hold until https://github.com/phetsims/phet-io/issues/1664 is sorted out, just like https://github.com/phetsims/states-of-matter/issues/281

[2020-05-21 14:37] KatieWoe commented on #284
Ok. In that case closing.

[2020-05-21 14:37] #284 closed

[2020-05-21 15:36] jbphet commented on #287
@zepumph said:

It doesn't strike me as super important, but we *did* go to a lot of effort to support accurate particle positioning, and it works in the basic launch case, so it is odd that it doesn't work in this case.  It seems to me that we should endeavor to fully understand *why* it doesn't work so that we can be sure that there isn't some deeper issue with the way PhET-iO state is restored.

[2020-05-21 15:42] samreid commented on #287
Is it also failing to save/restore their velocity and angular momentum?

[2020-05-21 15:46] KatieWoe commented on #287
@samreid it seems it is. I heated up water molecules so that their temperature was in the thousand Kelvin range, and it launched at the default 400 range. That seems like a much larger deal.

[2020-05-21 16:55] KatieWoe opened #293 "State Wrapper layering inconsistencies with ComboBox"
For https://github.com/phetsims/QA/issues/501. Found on ChromeOS.
In the state wrapper, there are inconsistencies between the layering in the top sim and the layering in the bottom sim. On the first and second screen, when using the drop down menu to switch between K and C, the layering with the thermometer is inconsistent. On the top the menu is above the thermometer. On the bottom, it is behind

[2020-05-21 17:05] zepumph commented on #287
Agreed! @jbphet, would you like to pair on this either today or tomorrow to investigate what isn't getting into the state?

[2020-05-29 01:42] zepumph opened #294 "support ?shuffleListeners"
From phetsims/axon#215, when running with ?shuffleListeners, we get this error: assigning to responsible dev to determine if it is worth fixing:

[code]

[2020-05-29 19:04] jbphet commented on #294
Hey @zepumph - can you give me some background on this?  I have a slew of SOM issues that I'm in the process of addressing due to phet-io dev testing and the need to get this to a customer, so when you say, "assigning to responsible dev to determine if it is worth fixing", I feel like I don't have enough information to make that determination.  Did we decide that sims need to pass this test before

[2020-05-29 20:58] jbphet commented on #293
I believe that this is happening because the `visible` attribute of the list box associated with the `ComboBox` is be set to `true` through phet-io, but the method `ComboBox.showListBox` is *not* being called because the button listener wasn't fired.  I considered making a separate layer for the list box and passing it in to the `ComboBox` when it is constructed in `CompositeThermometerNode`, but

[2020-05-29 21:18] jbphet commented on #293
@arouinfar and I reviewed this on 5/29/2020 and we decided that it does not need to be fixed for an early customer dev release, but should be addressed before a fully phet-io release of this sim.

[2020-05-29 21:23] jbphet commented on #287
@arouinfar and I reviewed this on 5/29/2020 and we decided that it should be fixed for the upcoming early customer dev release.

[2020-05-29 21:27] jbphet commented on #283
@arouinfar and I reviewed this on 5/29/2020 and we decided that it does not need to be fixed for an early customer dev release (since the customer is not expected to use this screen), but it should be addressed before a fully phet-io release of this sim.

[2020-05-29 21:32] jbphet commented on #281
@arouinfar and I reviewed this on 5/29/2020 in an effort to identify issues that need to be resolved prior to making an early customer dev release.  When reading through the description, it sounds like this issue would need to be resolved prior to such a release, yet it is marked as unassigned and on-hold.  @samreid or @zepumph - can you update this to make it clear whether we can publish to a cus

[2020-05-29 21:33] jbphet commented on #281
I've marked this as high priority so that it gets seen and responded to.  If it's really a non-issue for publication, feel free to modify that level.

[2020-05-29 21:36] jbphet commented on #280
The blocking issue cited above is marked as closed, so this one is being re-opened for followup.  @samreid and @zepumph - we need to know if this has to be resolved before doing an early customer dev release.  From the description, it kinda sounds like it does (but it may be done already for all I know).

[2020-05-29 21:38] jbphet commented on #278
@arouinfar and I reviewed this on 5/29/2020 and we decided that it does not need to be fixed for an early customer dev release, but should be addressed before a fully phet-io release of this sim.

[2020-05-29 21:41] jbphet commented on #276
@arouinfar and I reviewed this on 5/29/2020 and we decided that it does not need to be fixed for an early customer dev release, but should be addressed before the next major or minor release of this sim.

[2020-05-29 21:42] jbphet commented on #274
@arouinfar and I reviewed this on 5/29/2020 and we decided that it does not need to be fixed for an early customer dev release, but should be addressed before the next major or minor release of this sim.

[2020-05-29 22:54] zepumph commented on #294
Over in https://github.com/phetsims/molarity/issues/189#issuecomment-570388452 and https://github.com/phetsims/molarity/issues/189, The dev team thought that listener order dependencies were enough of a code smell to warrant the following line in the code review checklist
https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md#build-and-run-checks:

I don't think this

[2020-05-29 22:54] zepumph commented on #287
Sorry it fell off my radar.

[2020-05-30 01:40] samreid commented on #281
This blocks publication for an RC or production, but will not be used for a client dev release.

[2020-05-30 01:42] samreid commented on #280
This does not seem critical for a client dev release, but will need to be fixed for an RC or production version.  The blocking issue is https://github.com/phetsims/chipper/issues/940

[2020-06-01 15:31] jbphet commented on #287
I did some investigation of this issue, and the problematic behavior is due to the order in which state is being restored.  The velocities, positions, etc, of the particles are being set prior to the setting of the substance type (e.g. argon, oxygen, neon), and there is an elaborate handler for the setting of the substance that initializes the particles information, thus overwriting the previously

[2020-06-01 16:09] arouinfar commented on #256
Thanks for the clarification @jbphet. I don't think it's important to queue up particles in this particular sim, so disabling the BicyclePumpNode when paused seems most appropriate. I would also agree that we should disable the HeaterCoolerNode when paused (we do the same in Gas Props).

[2020-06-01 16:19] arouinfar opened #295 "Add support for ?stickyBurners"
One of the client requests for this sim is the ability to remove the snap-to-zero behavior from the HeaterCoolerNode slider. In EFAC, this was done with the `stickyBurners` query parameter.

@jbphet can you add support for this query parameter in SOM?

[2020-06-02 16:20] pixelzoom commented on #293
Agreed that this should be fixed.  This is another case of having to retrofit code to accommodate PhET-iO restore.  It will undoubtedly make ComboBox more complicated. Not something I'm interested in working on, so assigning to @ariel-phet to prioritize and assign.

[2020-06-02 16:23] pixelzoom commented on #293
Also recommended to create an issue specific to ComboBox in the sun repo, so that it's clear that this affects all sims that use a ComboBox.  And so that the work required on ComboBox will be associated with that issue, instead of a sim-specific SOM issue.

[2020-06-02 17:26] jbphet commented on #287
I've made significant progress on this with help from @zepumph by taking more explicit control of the serialization for `MultipleParticleModel`.  As of the previous commit, the original problem described in this issue, where the particles for non-neon substances aren't correctly positioned on a launch from studio, now appears to be resolved.  However, we're not quite out of the woods yet.  In my t

[2020-06-04 18:22] jbphet opened #296 "publish PhET-iO dev versions for the client"
@kathy-phet would like to deliver PhET-iO dev versions of both states-of-matter and states-of-matter-basics to the client for review.

[2020-06-04 18:24] jbphet commented on #296
During the 6/4/2020 phet-io meeting we reviewed a list of phet-io issues that could potentially block the sharing of dev version.  @zepumph said he'd add them to this issue.

[2020-06-04 20:41] zepumph commented on #296
Yes thanks. The outline for this issue is as follows (largely copied from https://github.com/phetsims/ph-scale/issues/164#issue-601237331):

the process is:

1. Determine what sim specific issues need to be done before publishing the dev version.
1. sign off on open issues labeled "status:blocks-publication". We did this as a group today.
  * Here is the list of issues that need to be done for thi

[2020-06-04 21:29] zepumph commented on #280
This is fixed in local builds, as well as in https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.10/phet-io/ (currently being dev tested). I'm going close this issue.

[2020-06-04 21:29] #280 closed

[2020-06-04 21:29] zepumph commented on #281
@KatieWoe can you please confirm this is fixed in https://github.com/phetsims/QA/issues/505

[2020-06-04 21:32] zepumph commented on #281
@muedli, sorry these instructions are not set up for dev versions. They are for published phet-io versions, in which simulation/version/ would be the root (what `phet-io/` is for dev versions). Sorry for the confusion during dev testing.

[2020-06-04 21:34] KatieWoe commented on #281
It does seem to be working in https://github.com/phetsims/QA/issues/505. Tested with wrapper index url

[2020-06-05 00:08] zepumph commented on #281
Thanks! I'm going to close this issue then.

[2020-06-05 00:09] #281 closed

[2020-06-05 00:10] jbphet commented on #287
Okay, I think I've tracked down the problem with reset.  `MoleculeForceAndMotionDataSetIO` was using references to the arrays of scalar values in the data set rather than copying the values, so when those values got updated as the simulation ran, the saved state was also getting changed.  I've modified `MoleculeForceAndMotionDataSetIO` to copy the data instead, and it also no longer allocates any

[2020-06-05 00:31] zepumph commented on #287
Really nice stuff here. Good work!

* Instead of manually looping and copying, perhaps you look into using Float64ArrayIO. For example see WOASModelIO. Would those `array.set` called copy the array as you desire?
* For numbers, please use `NumberIO` to serialize and deserialize these values. Just like our conversation about BooleanIO and its redundant nature, I still recommend this for consistency

[2020-06-05 23:01] jbphet commented on #287
I've addressed the first three comments above, and @samreid and @zepumph and I met to discuss and refine parts of it.

The fourth comments was:

Your understanding is correct - much of the state gets reset when the substance is changed, so `MultipleParticleModel.setValue` sets the substance property first, then sets any other state that may have been overwritten.  There are other Property instance

[2020-06-05 23:34] jbphet commented on #256
@arouinfar - I've added code to disable the slider on the heater-cooler when the sim is paused.  Seems fine to me, and looks like Gas Properties, which I like.  The bike pump is also disabled in this case, but it doesn't get opaque or non-interactive.  I'm not quite sure why, but I think you should look it over and, if you feel that the pump should fade for consistency, please assign to @chrisklus

[2020-06-05 23:47] jbphet commented on #295
Support added.  @arouinfar - please try it out and close if you approve, or mark as fixed and unassign and we can have QA verify during the next dev release if you like.

[2020-06-08 19:28] arouinfar commented on #295
@jbphet looks great in master. I think we can go ahead and close.

[2020-06-08 19:28] #295 closed

[2020-06-08 19:41] arouinfar commented on #256
Looks good @jbphet.

The behavior in master feels really buggy to me. When paused, the pump appears to be fully interactive, but it doesn't actually do anything. If the BicyclePumpNode is disabled, it needs to look like it.

@chrisklus mentioned that:

I would agree that it doesn't look amazing. Would it be possible to just disable handle, since that is the only interactive portion of the BicycleP

[2020-06-08 20:36] jbphet commented on #296
There are also 3 SOM-specific issues that need to be resolved:

[ ] - https://github.com/phetsims/states-of-matter/issues/256
[ ] - https://github.com/phetsims/states-of-matter/issues/287
[ ] - https://github.com/phetsims/states-of-matter/issues/295

[2020-06-10 22:44] arouinfar commented on #256
This looks awesome @chrisklus, thanks!

[2020-06-10 22:47] chrisklus commented on #256
Sweet, thanks @arouinfar. Reopening just so I can request @jbphet to please do a quick code review of my change above.

[2020-06-10 22:59] zepumph commented on #287
This is looking really good! Thanks for taking care of things. I didn't test or run anything, I just looked through https://github.com/phetsims/states-of-matter/commit/10e18d62c13de246ff4c701c0371487f4a72a6ec and everything is really quite nice.

[2020-06-12 19:51] jbphet commented on #276
This should now be fixed.  @KatieWoe and team - please test on master and, if the test passes, leave it unassigned and open so that we can verify again before next publication.

[2020-06-12 20:21] KatieWoe commented on #276
That aspect seems fixed. However, it seems that you can now continue dragging down the lid of the container after it is blown off. When you return it, it starts moving down on its own. Doesn't seem to happen with screen recording, so I'm going to try another method and post here. Let me know if it should be a separate issue.

[2020-06-12 20:53] KatieWoe commented on #276
![ezgif com-optimize](https://user-images.githubusercontent.com/41024075/84545346-5bab3f00-acbc-11ea-9d80-81fc0c505875.gif)

[2020-06-12 21:59] jbphet commented on #276
@KatieWoe - I noticed this too when I was testing and was probably working to fix it at the same time as you were testing it.  Can you please pull again, test, and see if this portion is fixed too?

[2020-06-12 22:01] jbphet commented on #287
Okay, over to @KatieWoe and team for testing then.  If this is fixed, please leave it open and unassigned and we can verify on next release.  If not, please assign back to me.

[2020-06-12 22:03] KatieWoe commented on #276
Looks ok on master

[2020-06-12 22:25] KatieWoe commented on #287
Looks fixed on master

[2020-06-12 22:42] jbphet commented on #292
This should now be fixed.  @KatieWoe and team - please test on master and, if the test passes, leave it unassigned and open so that we can verify again before next publication.

[2020-06-15 17:13] KatieWoe commented on #292
It does seem fixed.

[2020-06-16 22:58] jbphet commented on #256
@chrisklus - changes look good.

I made one more change to the behavior.  The pump is now fully disabled when the container lid is pushed below the injection point.

@KatieWoe - please test this on master and, if all looks good, unassign but leave open.  This would be a good one to test on the next release.

[2020-06-17 16:06] pixelzoom commented on #293
@jbphet said:

By not providing a separate layer, you're currently exploiting behavior that may change in the future. All popups (include listbox) are designed to be in a separate layer, and that will certainly be the case if we ever get around to addressing this generally.  So if it were me, I'd revert the change and add the missing layer.

[2020-06-17 16:49] KatieWoe commented on #256
Looks good in master

[2020-06-17 17:09] pixelzoom commented on #293
Since I'm the primary author of ComboBox, this was on a list of issues that @ariel-phet and I discussed this morning.  Summary of our discussion:

* Since there's a question about whether the change that @jbphet made to ComboBox might have problems, and we don't have time to investigate, let's revert that change and use a separate layer in SOM.  (I see that @jbphet has already self-assigned - woul

[2020-06-17 18:40] jbphet commented on #236
I stand corrected, I didn't realize that `NumberDisplay`, and thus `ComboBoxDisplay`, had built-in support for no-value situations.  I've done the refactor to use `ComboBoxDisplay`.  @pixelzoom - you're welcome to review if so inclined.

[2020-06-17 19:28] pixelzoom commented on #236
👍 closing.

[2020-06-17 19:28] #236 closed

[2020-06-17 21:31] jbphet commented on #293
@pixelzoom - I've reverted the change to ComboBox where it popped the list box to the front and I've added a separate layer for the list box to `CompositeThermometerNode`.  Please have a look, make sure it looks cool, and unassign if so (and assign back to me with comments if not).

@KatieWoe - please test on master and, if all looks good, unassign and leave open so that we can make sure to test o

[2020-06-17 21:33] pixelzoom commented on #293
👍 Looks great!

[2020-06-17 21:52] KatieWoe commented on #293
The pressure gauge always seems to read 0 with no labels.
![pressure label gone](https://user-images.githubusercontent.com/41024075/84954219-351d4780-b0b2-11ea-886a-1633cfca7936.png)

[2020-06-17 21:53] jbphet commented on #296
Update
--------

As of this writing, there is one blocking issue listed above, and it's https://github.com/phetsims/studio/issues/30.  This is in turn waiting on the completion of QA testing in https://github.com/phetsims/QA/issues/508.  I just checked in with @zepumph via Slack, and he said that once that testing is complete, assuming no major problems are found, we should be clear to move forwar

[2020-06-17 21:53] KatieWoe commented on #293
It looks like that was already there now that I look. Sorry for missing that. Combo box looks ok. @jbphet should I make a new issue?

[2020-06-17 22:04] jbphet commented on #293
Yes, please do.  This is unrelated to the layering.

[2020-06-17 22:21] KatieWoe opened #297 "State Pressure reads 0 and has no units"
Found during https://github.com/phetsims/states-of-matter/issues/293. Occurs in https://github.com/phetsims/QA/issues/501
The pressure gauge on the bottom sim in the state wrapper reads 0 without atm and does not change with the pressure. This was seen on master on 6/17/2020 on Win 10 Chrome.
![pressure label gone](https://user-images.githubusercontent.com/41024075/84956437-6f88e380-b0b6-11ea-9ae7

[2020-06-17 22:54] KatieWoe commented on #276
Just found https://github.com/phetsims/states-of-matter/issues/276#issuecomment-643478845 on master, but when you change scenes, rather than return the lid.
![ezgif com-optimize](https://user-images.githubusercontent.com/41024075/84958688-22f3d700-b0bb-11ea-98a2-3b6d06c87038.gif)

[2020-06-18 18:53] KatieWoe commented on #256
Not sure if this is an issue or not, but https://github.com/phetsims/states-of-matter/issues/256#issuecomment-645052955 is not implemented in https://github.com/phetsims/QA/issues/508

[2020-06-18 19:30] chrisklus commented on #293
from 06/18/20 dev meeting:

PSA from https://github.com/phetsims/states-of-matter/issues/293#issuecomment-645503226 was delivered. @zepumph and @jbphet recommended more documentation in ComboBox to explain the reasoning. We feel good about closing!

[2020-06-18 19:30] #293 closed

[2020-06-18 21:28] jbphet commented on #297
Interesting.  This appears to be due to the fact that the clock is not being run on the downstream sim in the state wrapper, and the `DialGaugeNode` class relies on being clocked.  I added code to explicitly set the state if the pressure value is changed due to a phet-io state setting operation, and that seems to work well.

@KatieWoe - I believe this is now fixed on master, please verify and, if

[2020-06-18 21:50] jbphet commented on #276
Another good find.  The container height was being reset when the substance was changes, but not the *target* container height.  That has been remedied.  @KatieWoe - please test on master and leave open if it passes so that we can verify on the next release.

[2020-06-18 22:03] zepumph commented on #296
That all sounds great. I also want to add that when you are getting ready for another dev version, @zepumph and @arouinfar should look through the issues that came out of https://github.com/phetsims/QA/issues/508 to see if any should block this dev version.

[2020-06-18 22:20] KatieWoe commented on #276
Looks good on master

[2020-06-18 22:35] KatieWoe commented on #297
Looks good on master

[2020-06-19 18:50] KatieWoe opened #298 "Studio molecules in scene buttons shift when text disappears"
For https://github.com/phetsims/QA/issues/508, but seems to be SOM rather than studio.
When using the visible property to remove the text that is on the buttons to change scenes, the molecule image shifts a bit when the text disappears.
![shiftingmolecule](https://user-images.githubusercontent.com/41024075/85170998-6ff6bb00-b22b-11ea-83e9-fa03a5a681ed.gif)

[2020-06-19 21:13] jbphet commented on #274
This was due to an error in the code that I added to make sure the movable atom was still when switching between substances as reported https://github.com/phetsims/states-of-matter/issues/282.  I was setting the attractive and repulsive forces to zero rather than making them equal.  I've fixed that, and it seems to have resolved the problem.

@KatieWoe - please test on master and leave open and un

[2020-06-19 21:15] jbphet commented on #283
This is now fixed, see the description in https://github.com/phetsims/states-of-matter/issues/274#issuecomment-646862398.

@KatieWoe - please check on master.  If it looks good, go ahead and close, since it has the same root cause as #274 so we don't need to re-verify on the next release.

[2020-06-19 21:26] KatieWoe commented on #274
Looks good on master

[2020-06-19 21:28] KatieWoe commented on #283
Looks good on master

[2020-06-19 21:28] #283 closed

[2020-06-22 21:29] jbphet commented on #298
@arouinfar - please weigh in and let me know if you think this is something that should be addressed and, if so, if it is blocking for the initial dev release to the customer.

[2020-06-23 03:31] arouinfar commented on #298
@jbphet this is not critical to fix for the initial dev release. I wonder if this could be related to the dynamic layout when UI elements are removed. If I change the `textProperty` of the string to null, the layout is undisturbed.
![image](https://user-images.githubusercontent.com/8419308/85357924-aa808200-b4cf-11ea-9707-bdb635dd3737.png)

[2020-06-23 03:49] arouinfar commented on #298
Actually, on second thought, I think the current behavior is fine.

The gif shows what happens when the `visibleProperty` of the string (e.g. argonText) is set to false. This is not featured, and there are other ways to hide this text. If the goal is to remove the entire radio button, then the `visibleProperty` of the radio button should be set to false. If the goal is to hide the name, its `textP

[2020-06-23 15:44] jbphet commented on #298
Thanks.  I do agree.  Closing.

[2020-06-23 15:44] #298 closed

[2020-06-23 17:17] jbphet opened #299 "PhET-iO code review"
PhET-iO instrumentation has been added to this sim for https://github.com/phetsims/states-of-matter/issues/245, and part of the process is to have a code review.  However, there is an impending dev release to the client (see https://github.com/phetsims/states-of-matter/issues/296), and in a Slack conversation @kathy-phet said she did not want to delay the client release in order to complete the co

[2020-06-23 18:09] samreid commented on #299
Thanks, I labeled it for PhET-iO Wednesday meeting for discussion.

[2020-06-23 19:55] KatieWoe opened #300 "Interaction scene pause button doesn't reset"
For https://github.com/phetsims/QA/issues/508, but reproduced on https://github.com/phetsims/QA/issues/501. Not in published. Win 10 Edge.
When you pause the sim in the interaction screen, hitting the reset all button does not un-pause it. This occurs regardless of any other changes (though the other changes do seem to reset. Other screens do not seem impacted.
![pausedoesntreset](https://user-ima

[2020-06-24 17:30] zepumph commented on #300
I think this one is sim-specific, over to you @jbphet.

[2020-06-24 22:27] arouinfar opened #301 "Atoms panel title is not instrumented"
Noticed during review for #296 and https://github.com/phetsims/phet-io-client-guides/issues/5

The `Atoms & Molecules` panel title is editable on the first two screens.
* `statesOfMatter.statesScreen.view.moleculesControlPanel.title.textProperty`
* `statesOfMatter.phaseChangesScreen.view.moleculesControlPanel.title.textProperty`

The equivalent `Atoms` panel on the Interaction screen does not have

[2020-06-24 22:28] jbphet commented on #294
The order dependency was caused by portions of the simulation reading the MultipleParticleModel state after the substance was changed, and expecting the model to be fully updated.  When the property notifications were shuffled such that things outside the model were notified of the substance change before the model had processed it, the state was inconsistent and caused assertions.  I implemented

[2020-06-24 22:31] arouinfar commented on #296
@jbphet I spent quite a bit of time reviewing master in studio, and aside from the issues mentioned in https://github.com/phetsims/studio/issues/28#issuecomment-648254742 and https://github.com/phetsims/studio/issues/28#issuecomment-648286832 the tree looked undisturbed to me. I don't think this should block dev delivery to the client, however.

[2020-06-24 22:35] jbphet commented on #300
Should be fixed now.  @KatieWoe, please verify on master and leave open for next round of pre-release testing.

[2020-06-24 22:46] jbphet commented on #296
Two more issues came up during testing that I think should be resolved before release:

- [ ] https://github.com/phetsims/studio/issues/149
- [ ] https://github.com/phetsims/states-of-matter/issues/300

[2020-06-24 23:33] zepumph commented on #294
I only gave a brief scan, and didn't feel like it was worth the cost of me trying to understand the changes more intimately. Thank you for the excellent summary above.

Before closing, would you mind commenting briefly on the what you think the quality of this change is. Like from 1 (waste of time) to 5 (super great). There are a lot of these `?shuffleListener` issues across the project, and it ma

[2020-06-24 23:56] jbphet commented on #301
'Twas indeed an oversight.  I instrumented it and added dynamic layout.  @arouinfar - please check on master and close if it looks good.

[2020-06-24 23:56] jbphet commented on #296
Though not strictly blocking, I decided to address this one too:

- [ ] https://github.com/phetsims/states-of-matter/issues/301

[2020-06-25 13:24] arouinfar commented on #301
Thanks @jbphet! Looks good in master.

[2020-06-25 13:24] #301 closed

[2020-06-25 15:25] KatieWoe commented on #300
Looks good on master

[2020-06-25 17:17] zepumph commented on #296
@chrisklus and @arouinfar will work on getting the client guide for SOM built with the sim, and then this dev version is ready to publish.

[2020-06-25 17:59] zepumph commented on #299
@samreid volunteered. Thanks! This doesn't blockdev, and so should be done at a medium to medium/high priority as it will block RC publication.

[2020-06-25 20:24] jbphet commented on #294
@zepumph asked:

I'd put it at a 3 on this scale.  I wouldn't call it a total waste of time because the code was improved as a result.  The coupling between components was simplified, I did some renaming that will hopefully serve to make things more comprehensible, and the actions that occur are now a more direct result of what happens in the model.  On the other hand, the actual behavior of the s

[2020-06-25 20:25] #294 closed

[2020-06-25 21:07] zepumph opened #302 "Projector mode broken?"
While working on a separate issue, I noticed that on master, SOM's options dialog checkbox for toggling to projector mode seems to broken. Assigning to @jbphet  with a high priority due to soon-to-come release.

[2020-06-25 21:19] jbphet commented on #302
@zepumph - Can you please elaborate on what you're seeing that is leading you to believe that it's broken?  For the most part, it seems fine to me.  If you're saying this because the appearance of the home screen doesn't change, that's just the way it works.

[2020-06-25 21:37] zepumph commented on #302
Ahh shoot. Indeed it was because I only tried the home screen. Thanks for catching me up.

[2020-06-25 21:37] #302 closed

[2020-06-25 22:30] jbphet commented on #296
@chrisklus and @arouinfar have confirmed that they have made the necessary commits for the client guide.  I just did a local build and reviewed the client guide with @arouinfar and didn't see any dev-version-blocking problems.

[2020-06-25 22:39] jbphet commented on #296
I've built and sanity tested dev versions.  Here are the links (password required):

- https://phet-dev.colorado.edu/html/states-of-matter-basics/1.2.0-dev.1/phet-io/
- https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.7/phet-io/

I'll leave this issue assigned to myself until I hear that these have been delivered and will update then.

[2020-06-25 22:41] jbphet commented on #296
I wanted to note that in today's status meeting we decided that enough testing had been done on this and there was not a need to set up QA tasks to test these dev versions.

[2020-06-25 23:36] kathy-phet commented on #296
Delivered!

[2020-06-26 00:00] samreid commented on #299
I labeled it high to put it on my radar, but likely I shouldn't make any commits until there is a dev version.

[2020-06-26 00:18] zepumph commented on #299
A dev version has been made for SOM! See #296.

[2020-06-26 19:00] jbphet commented on #296
This is done.  I will follow up on some other items that still need to be done in order to call the phet-io instrumentation effort complete, but that will be tracked in https://github.com/phetsims/states-of-matter/issues/245, so I'll close this one.

[2020-06-26 19:00] #296 closed

[2020-06-29 19:41] samreid commented on #299
@jbphet can you please identify the scope for this review?  Is all of the code under states-of-matter/js and states-of-matter-basics/js?  Since this has passed design team and dev testing, will I need to review any runtime parts, or is this all about implementation?

[2020-06-29 20:32] samreid opened #303 "Factor out/minimize overrides files."
Discovered during https://github.com/phetsims/states-of-matter/issues/299.  The overrides files must be maintained along with the simulation, and things will be simpler if we can minimize them as much as possible.

This can be done safely by comparing `grunt generate-phet-io-api` before and after a change.  I'll take a look.