[2020-06-29 21:16] samreid commented on #303
I've committed several changes factoring out overrides from several places into the point of origination, I was able to do around one per minute (I focused on the ones that did not require simulation-specific knowledge), and it seemed a good use of time.  For instance, atomic interactions is down from 27 to 19 overrides.  I recommend taking a bit more time to look through and see if anything else

[2020-06-29 21:24] samreid opened #304 "Convert from inherit to class"
During https://github.com/phetsims/states-of-matter/issues/299 I noticed the simulations have 42+ usages of `inherit` instead of `class`.  I didn't see another issue for this.

[2020-06-29 21:52] samreid opened #305 "Use non-deprecated input listeners"
From review in https://github.com/phetsims/states-of-matter/issues/299, I noticed the following deprecation warnings when running with `&deprecationWarnings`.

[code]

The deprecated types have different PhET-iO APIs and hence should not be used for the RC and release.

[2020-06-30 14:29] samreid opened #306 "Move IO type toStateObject/fromStateObject to core types"
Identified during review in https://github.com/phetsims/states-of-matter/issues/299.  While implementation Natural Selection, @pixelzoom recommended a pattern where IO types delegate to core types like so:

https://github.com/phetsims/natural-selection/blob/484118041bc07e5f5d01df8d572067be9b350f79/js/common/model/BunnyCountsIO.js#L15-L39

It looks like we could benefit from the same pattern here.

[2020-06-30 16:38] jbphet commented on #304
I believe this is covered under https://github.com/phetsims/phet-core/issues/82.

Regardless, I'm going to defer this for now and ask at the next dev meeting about whether converting this and other sims from inherit to class is a priority.

[2020-06-30 16:51] jbphet commented on #299
@samreid asked:

There isn't much code in states-of-matter-basics and atomic-interactions, since they both derive entirely from states-of-matter, so I'd like to request that yes, you code review those as well, but I don't think that there will be much to it.  Let me know if you'd like separate issues for this, but it seems unnecessary to me.

I'm not entirely sure what you mean by "[W]ill I need t

[2020-06-30 19:06] samreid opened #307 "Tension between dependency injection and tandem structure"
Discovered during the review in https://github.com/phetsims/states-of-matter/issues/299, I noticed 8 occurrences of the string literal `Tandem = `, like so:

[code]

Which is then used like so:

[code]

In https://github.com/phetsims/phet-io/issues/1617#issuecomment-624984992 it was recommended to try a subclassing pattern where appropriate.  Would that work for these 8 cases?

[2020-06-30 19:08] samreid commented on #307
I'm seeing something similar in this line in js/atomic-interactions/view/InteractivePotentialGraph.js

[code]

[2020-06-30 19:08] samreid commented on #307
I'm seeing something similar in this line in js/atomic-interactions/view/InteractivePotentialGraph.js

[code]

[2020-06-30 19:49] jbphet commented on #303
@samreid - I have a few questions, and a comment, on this:

+ It looks like you moved some overrides and not others.  In your comment you said, "I recommend taking a bit more time to look through and see if anything else is easy to factor out."  Is the goal to move them all?  If so, what is the purpose of the overrides file?  If not, what are the guiding principles for what should be in the overri

[2020-06-30 21:50] samreid commented on #303
Let's consider `temperatureInKelvinProperty`.  Before the commits above we had:

// states-of-matter-overrides.js
[code]

// states-of-matter-basics-overrides.js
[code]

The commits removed those 12 lines of code and added one line of code in the declaration for `temperatureInKelvinProperty`:

[code]

The goal is not to move everything out of the overrides file, but for it to handle exception case

[2020-07-01 01:57] samreid commented on #299
From the code review document:

Is the simulation feature-complete for PhET-iO?  After this dev version could we move forward to RC, or is there other work that would be required first?

[2020-07-01 16:44] KatieWoe opened #308 "Should temperature change when lid is blown off"
For https://github.com/phetsims/QA/issues/508. Looks like it happens in published, but easier to see with studio. Seems to be SoM related, rather than studio.
When the lid is blown off on the first screen, you can continue to add/remove heat. According to the Studio element `statesOfMatter.statesScreen.model.temperatureInKelvinProperty` the temperature changes accordingly, but the molecules do not

[2020-07-01 18:26] KatieWoe commented on #308
Can't be reproduced in the second screen as the heat bucket is disabled when the lid blows off there.

[2020-07-02 14:16] kathy-phet commented on #303
Let's discuss this at PhET-iO meeting.

For several reasons, I am not very keen on adding this step to the development process and prefer the approach we have been using:
1) I favor keeping all of the sim-specific featured elements within the overrides file, and just having the common code featured elements in the code. This helps me as an instructional designer conceptualize where things live in

[2020-07-02 16:30] samreid commented on #303
My understanding from the process @pixelzoom described for Natural Selection is that the design team indicated generally and broadly what should be featured so that @pixelzoom could determine which were appropriate to specify in the code, then the designers applied the overrides to the rest.

Looking forward to discussing further.

[2020-07-02 16:34] pixelzoom commented on #303
That's not the case with Natural Selection.  There has been no "featured" discussion, and there are no plans to put `phetioFeatured: true` in any sim-specific code - it will be specified by designers using Studio, and will therefore be in the overrides.js file.

[2020-07-02 16:36] samreid commented on #303
Thanks for correcting me--I had some recollection about @pixelzoom reporting cases where he determined when to put metadata in the code vs in the override file.  Am I misremembering that?

[2020-07-02 16:44] pixelzoom commented on #303
Studio (with `?admin`) lets you specify `phetioDocumentation`, `phetioFeatured`, `phetioReadOnly`, and `phetioHighFrequency`.    My recollection of our decision about these metadata is:

* `phetioFeatured` should be specified exclusively through Studio

* The other metadata can be specified in the code or through Studio, but not both.  If it's specified in the code and modified in Studio, then the

[2020-07-02 16:55] samreid commented on #303
I also noticed this comment: https://github.com/phetsims/studio/issues/25#issuecomment-598316108 from March 12:

[2020-07-02 17:00] kathy-phet commented on #303
Chris and other developers have been putting phetioReadOnly in the code in places where providing customization access in Studio would break the sim. This is the one place where the metadata has been going in the code, and I agree that this belongs in the code itself. The designers typically communicate this to the developers when we notice that something will break the sim if used incorrectly.

[2020-07-02 17:04] samreid commented on #303
How far would we want to go in this direction?  I noticed `phetioFeatured: true` in Beer's Law Lab code.  Should that be moved to an overrides file?  Should developers be forbidden from factoring something out of this file, even if it only takes 2 minutes?  The overrides file needs maintenance like any file and in one case caused a problem where a developer updated the code but neglected to update

[2020-07-02 17:08] pixelzoom commented on #303
Beer's Law Lab has many problems, doesn't use current patterns, and is overdue for a major overhaul - see https://github.com/phetsims/beers-law-lab/issues/230.  I would anticipate that `phetioFeatured: true` will be removed.

[2020-07-02 17:42] samreid commented on #303
From our discussion today, we agreed that even if a family of Properties in a simulation is to be featured, they should still be independently toggled with studio ?admin mode.  All other metadata will be specified in code.  We will leave `phetioDocumentation` editable in studio, but we expect it to be used rarely.

[2020-07-02 17:45] samreid commented on #303
I'll move things back to the overrides files for this simulation.  @kathy-phet said for other simulations that specify `phetioFeatured` in the sim code, those can be addressed when we revisit those simulations.

[2020-07-02 18:48] jbphet commented on #304
We discussed this issue as well as the general idea of migrating all files from `inherit` to `class` in today's developer meeting and decide to move forward with converting SOM, but not to proactively convert other sims.  Un-deferring.

[2020-07-03 17:07] samreid commented on #303
I reverted the changes and used `grunt generate-phet-io-api` to confirm that the overall API was not disturbed.  @jbphet can you please review?

[2020-07-08 22:20] jbphet commented on #303
I reviewed this by skimming through the overrides file history for SOM, SOMB, and AI, and they look pretty reasonable to me.  The only thing in them is the `phetioFeatured` settings and they look pretty close to what I remember.  The featured items will likely get reviewed before final publication too, so I think this is safe to close.

[2020-07-08 22:20] #303 closed

[2020-07-09 16:59] pixelzoom opened #309 "potential infinite loop in AtomicInteractionsControlPanel"
Noted while working on https://github.com/phetsims/natural-selection/issues/118.

This is a potential infinite loop in AtomicInteractionsControlPanel.js:

[code]

When `titleNode.centerX` and `titleNode.bottom` are set, that changes `titelNode.bounds`.  The solution is to observe `titleNode.localBoundsProperty`.

[2020-07-09 22:06] jbphet commented on #308
I ended up making several modifications for this, so @KatieWoe - please test the new behavior on master fairly thoroughly.  Here's what has changed:

- The heater cooler node now becomes disabled on the "States" screen when the container explodes
- The heater cooler output is set to zero (no heating or cooling) when the container explodes.  This mostly matters (I think) if the `stickyBurners` quer

[2020-07-09 22:32] KatieWoe commented on #308
Things look ok from what I can see on the States screen. Do you want me to check the other screen too @jbphet?

[2020-07-10 17:55] jbphet commented on #308
@KatieWoe - I don't think it needs to be tested on the other screen just yet.  Let's leave it open and unassigned, and have it on the list to check during the upcoming RC.

[2020-07-14 23:40] jbphet commented on #309
Thanks for pointing this out.  I've change the code to monitor local bounds instead, and tested it in Studio.  Closing.

[2020-07-14 23:40] #309 closed

[2020-07-15 18:44] jbphet commented on #305
The offending listeners have been replaced and the deprecation warnings are no longer appearing when using the flag.  Closing.

[2020-07-15 18:44] #305 closed

[2020-07-15 20:00] jbphet commented on #306
The methods have now been moved.  I was wondering about why there was an `applyState` method in the `MultipleParticleModel` version of serialization but no such method in the `MoleculeForceAndMotionDataSet` case.  I had a discussion with the phet-io team on zoom, and they let me know that this is because there are different types of serialization, and these two classes use two different types of s

[2020-07-15 20:00] #306 closed

[2020-07-22 18:05] jbphet commented on #304
This has been done, and there are no more usages of the `inherit` function in states-of-matter, states-of-matter-basics, and atomic-interactions.  Closing.

[2020-07-22 18:05] #304 closed

[2020-07-23 19:06] zepumph opened #310 "2 deprecation warnings in the sim"
After a conversation with the dev team today, it was brought up that you can run the sim with `?deprecationWarnings` to see what code is being used that is deprecated.

This sim shows two warnings that look like they would be very easy to fix:
[code]

[2020-07-23 23:49] jbphet opened #311 "Temperature updates don't work initially when launched from Studio"
This issue was reported by a customer using phet-io version 1.2.0-dev.7, see https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.7/phet-io/.

When launching from studio, temperature changes made via the heater-cooler node in both the "States" and "Phase Changes" screens don't work.  The thermometer will indicate a temperature change, but it won't be reflected in the motion of the particl

[2020-07-24 17:30] zepumph opened #312 "PressListener is Tandem.REQUIRED"
After fixing the assertion for supplying required tandems over in https://github.com/phetsims/tandem/issues/192, there were some unsuppied PressListeners in this sim and atomic interactions that were failing over in https://github.com/phetsims/phet-io-wrappers/issues/356.

Since these uninstrumented PressListeners were next to other instrumented code, I assume that it was a design decision, and pa

[2020-07-24 17:43] zepumph commented on #312
After discussing with @samreid, we are ambivalent about which way to recommend:

1. Leave it the way of the above commit by using Tandem.OPT_OUT
2. Instrument them for completeness.

The benefit of (2) will be that this highlighting will end up in the data stream, and could be useful. It also could be an example of over-instrumentation. We will leave it up to @jbphet as to what he thinks is best.

[2020-07-24 17:50] zepumph commented on #312
Wait! We changed our minds. We see that PressListener only adds events to the data stream for press and release, thus, instrumenting these listeners wouldn't do anything for PhET-iO. With this in mind, we recommend option (1) from above. Please review and feel free to close.

[2020-07-24 20:48] jbphet commented on #311
This problem was due to the thermostats (isokinetic and Andersen) having local references to the molecule data set that weren't being updated when the state was being set.  As a result, they were increasing the velocities of their own local versions of the data, but that was not being reflected in the motion of the visible particles.

I've implemented a fix that explicitly updates the data used by

[2020-07-24 22:39] jbphet commented on #311
With help from @zepumph I have modified the deserialization process to update the molecule data set rather than create a new reference.  This prevents having to explicitly update the thermostats, and thus seems a lot cleaner.  This is implemented and tested locally.  I'll close this and provide a new dev version to the customer.

[2020-07-24 22:39] jbphet commented on #311
On second thought, I'll leave it unassigned but open so that it is tested during the RC process.

[2020-07-24 23:17] jbphet commented on #311
A dev version with the fix has been published at https://phet-dev.colorado.edu/html/states-of-matter/1.2.0-dev.8.

[2020-07-29 19:38] jbphet commented on #310
Should be fixed, leaving open to test.  Note that I changed the usages of `\n` to `<br>` in all existing translations so that we could use `RichText` instead of `MultiLineText`, and we should make sure to publish to the website at the same time that we publish the upcoming phet-io version.

Note to self:
- [ ] Verify that translations look good after publishing to master.

[2020-07-29 20:01] jbphet commented on #312
Precisely - it was definitely intentional not to instrument these.  I'm on board with what has been done, and like the idea of having a clear `OPT_OUT` setting.  Seems like we're in good shape here.  Closing.

[2020-07-29 20:01] #312 closed

[2020-07-29 22:37] jbphet commented on #307
@samreid pointed out that there were 8 occurrences of `*Tandem =`.  I've addressed all but two.  For the ones that I *did* address, I did some subclassing some cases and created and used the tandem from the created object in others.  All in all, it feels like an improvement.

The two that I did *not* address were for radio button groups, and I wasn't sure how to improve these.  Radio buttons creat

[2020-07-30 23:11] jbphet commented on #299
The REVIEW comments have all been addressed, as have the issues that resulted from the review.  Some of those issues were closed and some were left open to make sure that they were tested during the RC process.  @samreid - back to you to review the commits and issue responses and either close or send back to me if you feel that there is more to be done on this.

[2020-07-30 23:41] jbphet opened #313 "Separate the phase diagram out of PhaseDiagramAccordionBox"
`PhaseDiagramAccordionBox` builds the whole phase diagram inside of an accordion box, which works, but isn't a very good separation of concerns.  I should pull the phase diagram into its own node which is then constructed and included in the accordion box.

[2020-07-31 20:08] jbphet commented on #313
I did some work on this an improved the situation, but in the process I realized that there is way too much coupling between the `PhaseChangesScreenView` and the phase diagram.  This could be refactored such that the phase diagram has all the knowledge necessary to draw the diagram as long as it has a reference to the model.  As it stands now, the `PhaseChangesScreenView` instance sets the marker

[2020-07-31 23:10] jbphet commented on #245
Below is a table that shows the results of the memory tests.  All tests were performed in a fresh incognito tab or window on Chrome.  The pre-instrumentation version was 1.2.0-dev.1.

| Test | Pre-Instrumentation phet brand |  Post-Instrumentation phet brand | Post-Instrumentation phet-io standalone |
| ----------- | ----------- | ----------- | ----------- |
| Load and do nothing | 17.0 MB |  25.9

[2020-08-03 23:10] phet-steele opened #314 "Lid is not restored to max height if sim is paused while substance is changed"
1. Phase Changes screen
2. Start on any atom/molecule
3. Move the lid down by any desired amount (don't explode the lid)
4. Pause the sim
5. Switch to any atom/molecule OTHER THAN oxygen (why this doesn't break with oxygen is a mystery to me)

The lid height will change after the substance change, but will not be at the correct (max) height. If oxygen is selected in step 5, the height will correct

[2020-08-04 01:24] samreid commented on #245
I haven't run an analysis like this, but these results aren't surprising to me.  I'm glad to see no leaks in either brand!

[2020-08-04 03:36] muedli commented on #314
Gif:
![issue](https://user-images.githubusercontent.com/60749003/89250108-3f979000-d5d1-11ea-9212-9cdbd5c1eb32.gif)

[2020-08-04 16:59] KatieWoe commented on #277
This looks good in https://github.com/phetsims/QA/issues/525. Closing

[2020-08-04 16:59] KatieWoe commented on #277
Will reopen if other issues found.

[2020-08-04 18:09] KatieWoe commented on #256
Looks good in https://github.com/phetsims/QA/issues/525. Will reopen if issues come up.

[2020-08-04 18:09] #256 closed

[2020-08-04 18:11] KatieWoe commented on #276
This seems fixed in https://github.com/phetsims/QA/issues/525. Will reopen if issues show up

[2020-08-04 18:11] #276 closed

[2020-08-04 18:52] KatieWoe commented on #292
Looks fixed in https://github.com/phetsims/QA/issues/525. Will reopen if something shows up.

[2020-08-04 19:18] KatieWoe commented on #300
Looks good in https://github.com/phetsims/QA/issues/525. Will reopen if something shows up.

[2020-08-04 19:18] #300 closed

[2020-08-04 19:27] KatieWoe commented on #274
This looks ok in https://github.com/phetsims/QA/issues/525. Will reopen if something shows up.

[2020-08-04 19:27] #274 closed

[2020-08-04 19:37] KatieWoe commented on #243
Relevent changes seem to be made in https://github.com/phetsims/QA/issues/525, though buttons in https://github.com/phetsims/states-of-matter/issues/243#issuecomment-507440065 have been removed. Closing for now. Will reopen if problems show up.

[2020-08-04 19:37] #243 closed

[2020-08-04 22:27] samreid commented on #299
I confirmed the REVIEW comments have been addressed nicely, thanks!  I think the last issue is https://github.com/phetsims/states-of-matter/issues/307, we will finish there.  Nice work @jbphet, closing.

[2020-08-04 22:27] #299 closed

[2020-08-04 22:28] samreid commented on #307
Those changes look reasonable to me.  Radio buttons and combo box items have the same deficiency, using `tandemName` pattern, but that won't be addressed here.  Closing.

[2020-08-04 22:28] #307 closed

[2020-08-05 19:38] jbphet opened #315 "[Featured display] Search will not search for unfeatured parents"
See https://github.com/phetsims/studio/issues/175.

I'm logging this as a potentially blocking common-code issue, but there is some discussion about whether it really *is* a blocking issue.  I'll update once that's sorted out.

[2020-08-05 20:44] KatieWoe opened #316 "Temperature drop down can cover pressure valve if long enough"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/525. Doesn't seem to happen in published version. This is unlikely to come up in the actual sim, so it may be fine to pass on.
If stringTest=long, then the temperature drop down on the second screen overlaps and partially covers the pressure gauge.

**Visuals**
![lo

[2020-08-05 20:50] jbphet commented on #314
@phet-steele and/or @muedli - Can you please verify that this is fixed on master, do a bit of additional regression testing on potentially related functionality, and then assign back to me?  It's in a bit of a touchy area of the code, so I'd like it tested before I propagate the fix to the release branch.

[2020-08-05 21:11] KatieWoe commented on #277
This actually seems to come back with long strings. The text to the left of the graph is smaller in that case and it shifts the graph to the left, but the atoms stay in the same place. Up to you @arouinfar and @jbphet if that is worth addressing. For https://github.com/phetsims/QA/issues/525
![shiftinggraph](https://user-images.githubusercontent.com/41024075/89464526-dda06d00-d72d-11ea-9bff-84c386

[2020-08-05 22:49] KatieWoe opened #317 "Odd partial flash of screen when loading a downloaded html of sim"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/525.
When saving an html copy of the sim and then opening it, there is a brief, partial flash of the home screen. This appears odd, but does not seem to cause any problems.

**Visuals**
![oddflashwhenstartingdownload](https://user-images.githubusercontent.com/410240

[2020-08-05 23:05] muedli commented on #314
Looks good on master.

[2020-08-06 03:34] arouinfar commented on #277
Nice find @KatieWoe.

In latest, the graph does not shift when the string shrinks, see:
https://phet.colorado.edu/sims/html/states-of-matter/latest/states-of-matter_en.html?screens=3
https://phet.colorado.edu/sims/html/states-of-matter/latest/states-of-matter_en.html?screens=3&stringTest=long

@jbphet can you look into this?

[2020-08-06 18:05] KatieWoe opened #318 "Touch area on movable lid doesn't always work"
**Device**
IPad 6th Gen
**OS**
iPadOS 13.6
**Browser**
App, Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/525.
The touch pointer areas on the movable lid don't seem to line up with what can actually be grabbed. It mostly seems to impact parts of the lid that aren't handle or hand, so it may be intended. However, the showPointerAreas outlines seem to indicated these areas

[2020-08-07 16:12] KatieWoe commented on #282
Looks good in https://github.com/phetsims/QA/issues/525. Will reopen if something comes up

[2020-08-07 16:12] #282 closed

[2020-08-07 16:39] KatieWoe commented on #311
While the described bug seems fixed, it seems that the molecules now always start in a solid or liquid state, even when launched as a gas. Adding a bit of heat (or taking a bit of heat) caused it to jump into gas state. The temperature does seem to be in the right state so far.
![startassolid](https://user-images.githubusercontent.com/41024075/89667804-fc237700-d899-11ea-8afa-e864ff513c93.gif)

[2020-08-07 16:40] KatieWoe commented on #285
While this looks fixed, it is hard to tell due to https://github.com/phetsims/states-of-matter/issues/311#issuecomment-670605633. Since the particles don't start as a gas, I'd like to leave this until that issue is resolved.

[2020-08-07 16:50] KatieWoe commented on #287
This does look like it might be fixed, but https://github.com/phetsims/states-of-matter/issues/311#issuecomment-670605633 makes it a bit hard to tell for sure. Leaving open until a fix for that is made.

[2020-08-07 17:02] KatieWoe commented on #297
Looks fixed on https://github.com/phetsims/QA/issues/525

[2020-08-07 17:02] #297 closed

[2020-08-07 17:10] KatieWoe commented on #308
This seems to be working as expected in https://github.com/phetsims/QA/issues/525. Will reopen if something comes up.

[2020-08-07 17:10] #308 closed

[2020-08-07 21:27] jbphet commented on #311
Nice catch.  It looks like I missed adding serialization and deserialization of the state of the two thermostats that are used to adjust and maintain the temperature.  This has been added.

@KatieWoe - please test on master, record the results, and assign back to me.  If all looks good, I'll cherry pick the commit into the release branch for the next RC.

[2020-08-07 21:29] jbphet commented on #316
I'm going to pass on this one.  It would only come up if some translation had a super long string to indicate degrees in Celsius or Kelvin, which seems extremely unlikely.

[2020-08-07 21:29] #316 closed

[2020-08-07 21:32] jbphet commented on #287
#311 is fixed (I think), I'll leave this open and will put it on the list to verify during the next RC test.

[2020-08-07 21:34] jbphet commented on #313
Unassigning, since it is unlikely that I'll have any time to work on it in the foreseeable future.

[2020-08-07 21:35] jbphet commented on #314
Cool.  This will be on the list to verify on the next RC.

[2020-08-07 21:36] jbphet commented on #285
#311 is fixed (I think), I'll leave this open and will put it on the list to verify during the next RC test.

[2020-08-07 21:41] jbphet commented on #317
@KatieWoe - I'm not seeing this when I run the same test on my Win 10 Dell using Chrome.  Can you try it on a couple of other machines and add more information about how to duplicate?

[2020-08-07 21:43] jbphet commented on #317
Also, I do not consider this to be blocking for the 1.2 release, which is in progress at the moment.

[2020-08-07 21:47] KatieWoe commented on #311
Things are looking good on master from what I can tell. Tried a few molecule types and solid, liquid, and gas.

[2020-08-07 22:07] KatieWoe commented on #317
I saw this on Win 10 Chrome and Edge, and A different, but still partial, flash on Mac 10.15 Chrome. I did not see this on Firefox or Safari.

Steps:
1. Open the sim
2. Right click and click save as
3. Save to downloads folder.
4. Turn off wifi (bug should still happen without this)
5. Open the saved html file you just created in Chrome/Edge

[2020-08-07 22:58] jbphet commented on #318
I tried a number of things to try to correct this, including updating the listener that shows and hides the hint (the green arrows) to be a `PressListener`, which I think would be the currently recommended approach.  None of what I tried corrected the behavior.  It seems to me that the problem only exists in the area where the touch area for the pointing hand image overlaps with the draggable elli

[2020-08-07 23:00] jbphet commented on #317
@samreid - this seems like something to do with the loading screen.  Can you take a look?

[2020-08-07 23:06] jbphet commented on #311
The commit for this has been added to the 1.2 branch.

[2020-08-07 23:07] jbphet commented on #314
The commit for this has been added to the 1.2 branch.

[2020-08-07 23:13] #292 closed

[2020-08-08 19:03] samreid commented on #317
There are 2 ways of saving an HTML file, and they produce a different result.

# Downloading a link to the file.

When downloading a link to the file like this, it downloads the HTML as we have built it:

![image](https://user-images.githubusercontent.com/679486/89717580-272ec900-d975-11ea-8f9c-089ad0109f6e.png)
![image](https://user-images.githubusercontent.com/679486/89717586-37df3f00-d975-11ea-

[2020-08-10 17:44] jbphet opened #319 "Studio clears tree selection when switching between "Featured" and "All" radio buttons"
See https://github.com/phetsims/natural-selection/issues/171.

If reviewed and approved this should be included in the 1.2 release.

[2020-08-10 19:29] jbphet opened #320 "X button on dialog may have too small pointer area"
See https://github.com/phetsims/sun/issues/610.  More specifically, [this comment](https://github.com/phetsims/sun/issues/610#issuecomment-671525020) provides details about which commit(s) should be cherry-picked to the RC branch.

[2020-08-10 19:30] jbphet commented on #320
@pixelzoom has reported merge issues when trying to cherry-pick related commits into the release branch for ph-scale.  It may be necessary to make the modifications manually.

[2020-08-10 21:31] muedli opened #321 "On my iPad, studio loads with extra space at the top"
<b>Test Device</b>

A1670 iPad Pro

<b>Operating System</b>

iPadOS 13.5.1

<b>Browser</b>

Safari 13.1.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/525. Not exactly a showstopper, but when studio loads there's extra space at the top. See screenshot below. It's pretty easy to resize the screen and make this go away.

<b>Visuals</b>

![issue](https://user-images.githubus

[2020-08-10 22:37] muedli opened #322 "State wrapper launched particles move when upstream sim particles are static"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.5

<b>Browser</b>

Firefox 79.0

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/525. Possibly related to https://github.com/phetsims/states-of-matter/issues/287. I'm pretty sure this is platform-independent. In the state wrapper, if you launch the sim where the particles aren't moving, that is, the tempera

[2020-08-10 22:52] muedli commented on #287
While testing https://github.com/phetsims/QA/issues/525, I noticed that in the mirror inputs wrapper, the top sim's particles don't match the bottom sim's particles.

@jbphet, do you think this warrants a separate issue? If so, please reassign to me and I'll make one.

[2020-08-10 23:10] KatieWoe opened #323 "Graph size changes with long strings"
For https://github.com/phetsims/QA/issues/525. Not in published from what I can tell.
If you have long strings, the phase diagram on the second screen shrinks. It doesn't shrink fully, but is noticeably smaller than normal.
![shrinkinggraph](https://user-images.githubusercontent.com/41024075/89839995-5176b700-db2c-11ea-80a9-45d799c2b22c.gif)

[2020-08-10 23:20] KatieWoe opened #324 "Should the arrow images stay on the right of the box?"
For https://github.com/phetsims/QA/issues/525. This is in the published version.
Some images, such as the atom icons, stay in place when the string labels get shorter. The force arrows icons on the third screen shift left when the strings are shorter.
![movearrows](https://user-images.githubusercontent.com/41024075/89840526-a6ff9380-db2d-11ea-8a40-270a7a7f1187.png)

[2020-08-11 16:01] jbphet commented on #324
I vaguely recall discussing this at one time and deciding not to do it, and I think we may have tried it and not liked the way it looked.  In the top control panel, there is a clear correspondence between left and right, and it's a little more complicated in the lower panel.  So, while I appreciate the suggestion, I would advocate for leaving it as is.

@arouinfar - I'll leave the final call to yo

[2020-08-11 16:14] jbphet commented on #287
@muedli - two things: First, yes, what you're describing should be logged as a separate issue.  The mirror wrapper works by replaying input events, and doesn't convey other state information between the two instances of the sim, so the mechanisms are fundamentally different from what we've been working to address this this issue.  Second, I just tried the mirror wrapper for a few minutes and I did

[2020-08-11 16:42] jbphet commented on #321
I checked in with the phet-io team on Slack about whether Studio is intended to be supported on iOS.  Here are the responses:

Based on this input, I'm closing this issue.

[2020-08-11 16:42] #321 closed

[2020-08-11 19:12] KatieWoe commented on #323
I also noticed that the x-axis labels on the two graphs are different, which seems odd and may be related.

[2020-08-11 20:34] KatieWoe commented on #277
Also, that y-axis label looks a bit short to me?

[2020-08-11 20:43] KatieWoe commented on #323
With short strings they also have different label positions, particularly the y-axis
![difposit](https://user-images.githubusercontent.com/41024075/89947035-15515e00-dbe1-11ea-8b4e-4402e9a63f20.png)

[2020-08-11 22:52] muedli opened #325 "In mirror inputs wrapper, top particles different from bottom particles"
<b>Test Device</b>

MacBook Air

<b>Operating System</b>

macOS 10.15.5

<b>Browser</b>

Safari 13.1.1

<b>Problem Description</b>

For https://github.com/phetsims/QA/issues/525. This bug seems to be platform-specific. That is, I don't see this bug on macOS + Firefox or macOS + Chrome. In the mirror inputs wrapper, the particles in the top iframe have different positions/velocities from the partic

[2020-08-12 16:14] KatieWoe opened #326 "Recording on iPadOS Safari leads to lag"
For https://github.com/phetsims/QA/issues/525. Seen on iPadOS 13.6 while metacog recording on Safari.
Safari on iPad seemed to have jumps/small lags when making the recording. This occurred both while making the recording and I saw the same jumps when watching the resulting recording. I felt this most when dragging things like the movable lid, where it would briefly "catch" and then start again. T

[2020-08-12 17:06] jbphet commented on #326
In https://github.com/phetsims/QA/issues/525#issuecomment-672960726 @kathy-phet said that she does not see this issue as blocking for the 1.2.0 release of this sim, which is in RC writing at the time of this writing.

[2020-08-12 17:36] arouinfar commented on #324
That sounds familiar to me @jbphet. I'm fine with leaving things the way they are.

[2020-08-12 17:36] #324 closed

[2020-08-12 18:15] KatieWoe opened #327 "Display Only property of temperature box may cause odd looking white space."
For https://github.com/phetsims/QA/issues/525. In regards to the client request:

This is done with the `statesOfMatter.statesScreen.view.particleContainerNode.compositeThermometerNode.temperatureComboBox.displayOnlyProperty` and `statesOfMatter.phaseChangesScreen.view.particleContainerNode.compositeThermometerNode.temperatureComboBox.displayOnlyProperty` properties. However, when they are used, t

[2020-08-12 18:41] arouinfar commented on #327
@KatieWoe this is the intended behavior of ComboBox's `displayOnlyProperty`. When true, the ComboBox is no longer interactive and the drop-down icon is hidden. Even if we wanted to center the string in the space, I don't think it'd be possible.

Here's an example from ph-scale:
![image](https://user-images.githubusercontent.com/8419308/90053801-35902400-dc98-11ea-9f4a-bb05a586e85c.png)
![image](ht

[2020-08-12 18:41] #327 closed

[2020-08-12 18:48] KatieWoe opened #328 "Changing the Atoms and Molecules panel title to a long string causes an unexpected space when launched"
For https://github.com/phetsims/QA/issues/525. This seems to happen when launching from studio, and not when using `stringTest=long`. This relates to the client request:

To reproduce:
1. Use `statesOfMatter.interactionScreen.view.atomsControlPanel.title.textProperty`
2. Type a string long enough for the letters displayed in the sim to shrink a size
3. Observe any space in the sim preview
4. Press

[2020-08-12 18:56] jbphet commented on #318
@jonathanolson helped me on this, and it turns out that the touch area of the entire pointing hand node was being expanded, but the drag handler was only on the image, so the expanded touch area was catching touch and drag events but not doing anything with them.  I've changed things such that the touch area of the hand image is expanded instead, and this seems to have resolved the problem.

[2020-08-12 18:58] jbphet commented on #318
I've cherry-picked the commit to the 1.2 release branch, this should be good to go, and we can verify it in the next RC.

[2020-08-12 19:26] KatieWoe opened #329 "Should title of Atoms and Molecules box disappear when items are removed?"
For https://github.com/phetsims/QA/issues/525. Related to the client request:

If you hide each atom/molecule option on the first or second screen, then the entire box disappears. However, if you do this on the third screen then the title remains. I'm not sure which is the desired behavior, but the inconsistency seems odd.
![atomssticksaround](https://user-images.githubusercontent.com/41024075/900

[2020-08-12 19:35] KatieWoe commented on #328
Seems to cause issues with other text as well, such as the molecules selection box.

[2020-08-12 19:39] jbphet opened #330 "State wrapper hits assertion in 1.2 branch"
While working to solve https://github.com/phetsims/states-of-matter/issues/322, I tried to checkout the 1.2 release branch and run the "State" wrapper, but when I do the sim crashes with the error:

[code]

 The stack trace is:
[code]

After digging into it a bit, I can see that validation of the array that represents the atom positions is failing during setting of state in `MoleculeForceAndMotion

[2020-08-12 19:41] jbphet commented on #330
I asked @zepumph to look at this with me, and we concluded that I unfortunately created my release branch while this problem existed in the phet-io code base.  The related issue is https://github.com/phetsims/phet-io/issues/1685.  The commit that fixes the problem is in https://github.com/phetsims/tandem/commit/4bbb2c3f6ef4555c12e4426ab4355072eeedc338.

I'll create a branch of tandem and will cher

[2020-08-12 19:48] zepumph commented on #330
Also see https://github.com/phetsims/QA/issues/530 to make sure this get's tested next time.

[2020-08-12 20:03] KatieWoe opened #331 "Unable to change text of molecules on third screen"
For https://github.com/phetsims/QA/issues/525.
Client request:

The client request guide gives these properties to do this on the third screen:
`statesOfMatter.interactionScreen.view.atomsControlPanel.radioButtonGroup.adjustableAttraction.textProperty`
`statesOfMatter.interactionScreen.view.atomsControlPanel.radioButtonGroup.argon.textProperty`
`statesOfMatter.interactionScreen.view.atomsControlPa

[2020-08-12 20:36] jbphet commented on #322
I just tried to duplicate this on the current 1.2 branch, and the problem no longer occurs.  I believe that it was fixed by the work that was done for https://github.com/phetsims/states-of-matter/issues/311.

I'll leave this open and unassigned and will have it verified on the next RC.

[2020-08-12 20:48] KatieWoe opened #332 "Phase diagram comes back when switching molecules"
For https://github.com/phetsims/QA/issues/525
Client request:

However, if you switch molecules after this has been hidden, it comes back.

![phasecomesback](https://user-images.githubusercontent.com/41024075/90066354-d7207100-dcaa-11ea-8f2b-18a32bebe03e.gif)

[2020-08-12 20:53] jbphet commented on #320
I have done the branch-and-cherry-pick-and-update-dependencies thing in order to pick up this change.  It makes the X bigger, but doesn't expand the touch area beyond that of the X.  Hopefully that will be sufficient.  Marking as unassigned, will test in next RC.

[2020-08-12 20:54] jbphet commented on #330
Fixed, closing.

[2020-08-12 20:54] #330 closed

[2020-08-12 20:56] pixelzoom commented on #320
That's because we decided to remove the default touchArea dilations in Dialog. See https://github.com/phetsims/sun/commit/b5758238b2273a032d392029d2c6895989fc300c.

[2020-08-12 20:57] pixelzoom commented on #320
That's because we decided to remove the default touchArea dilations in Dialog. See https://github.com/phetsims/sun/issues/610#issuecomment-668282345 and https://github.com/phetsims/sun/commit/b5758238b2273a032d392029d2c6895989fc300c.

[2020-08-12 21:23] jbphet opened #333 "Consolidate state-setting code"
While working on other issues, I found a section of code in `MultipleParticleModel` that does some state setting based on an emitter provided by the phetio state engine.  It looks like this:

[code]

I think that this was part of an early effort to set state, and existed before the explicit `toStateObject` and `applyState` methods existed.  It may no longer be necessary, but I'm not sure, and I do

[2020-08-12 21:42] jbphet commented on #332
This is a tricky problem.  The code is designed to turn off the visibility of the phase diagram for adjustable attraction and then turn it back on for everything else.  The most obvious way around this is to have an explicit "showPhaseDiagramProperty" value that can be used to include or exclude the diagram so that the code is free to adjust the visibility itself.  Then we would probably make the

[2020-08-12 22:09] jbphet commented on #331
There was a fairly long dialog about this on our phet-io channel.  I don't want to repeat it here, since it's a private channel.  @arouinfar was involved in the discussion, perhaps she'd be willing to summarize.

[2020-08-12 22:13] jbphet commented on #331
@arouinfar - It *is* possible to change the text in the equivalent panel on the "Phase Changes" screen.  Below is a screenshot.  It seems to me that we should use the same pattern.  Agreed?

![image](https://user-images.githubusercontent.com/3082831/90073639-cf66c980-dcb6-11ea-8d8c-d5a700cd364d.png)

[2020-08-12 23:19] jbphet commented on #332
I have implemented a solution on master (not yet propagated to the 1.2 release branch), but I find it pretty distasteful.  It addresses the scenario that @KatieWoe describes above so that if the user hides the phase diagram in Studio and then launches the sim, the phase diagram will remain hidden.  However, it does this by creating a flag that is set in the case where the visibility is set during

[2020-08-12 23:26] jbphet commented on #331
@arouinfar and I discussed this, and we concluded that it's probably best if we don't allow the user to modify the text for the radio buttons in the atom selection panel for the "Atomic Interactions" screen.  The main reasons are:

+ These represent the behavior of specific atoms, so changing them could end up being quite misleading
+ The current customer has said that they don't intend to use thi

[2020-08-12 23:28] arouinfar commented on #332
I don't love the prospect of adding a separate `displayPhaseDiagram` property, but I could live with it. I think the interaction could be a little clunky if there are two places to interact with the visibility of the AccordionBox. Is it possible to use the approach taken for the `NeutralIndicatorNode` in https://github.com/phetsims/ph-scale/issues/102?

Once we settle this, I'll need to edit the c

[2020-08-12 23:32] arouinfar commented on #331
Thanks for the summary @jbphet. I edited the client requests doc in the commit referenced above. Note that I will need to update it again once we figure out what to do about #332, but those edits are unrealted to this issue.

[2020-08-13 18:00] jbphet opened #334 "Add suffix "RadioButton" to individual radio buttons"
In the 8/13/2020 phet-io meeting we decided that radio buttons should have the suffix "RadioButton" in their tandem names.  I had previous not done this because I felt that the fact that the elements were in a radio button group provided sufficient context, but since these items can be sometimes used in isolation, have a more complete name is useful.

There is a global issue that is logged in http

[2020-08-13 18:18] jbphet commented on #319
Include in a maintenance release for the 1.2 branch when this is resolved, deferred for now.

[2020-08-13 18:21] jbphet commented on #313
When this is done, care must be taken to make sure that it does not alter the phet-io API.

[2020-08-13 18:26] jbphet commented on #277
This should be fixed as part of the 1.2 maintenance release after the initial 1.2 publication.

[2020-08-13 18:46] KatieWoe commented on #322
I reproduced this and noticed that there was some new lag in the above sims after doing this.

[2020-08-13 19:44] zepumph commented on #332
I didn't spend enough time in PhaseChangesScreenView to actually come up with a solution, but hopefully this patch and the screenshot from studio will get us on the right track. You can create an instrumented visibleProperty and pass it into a Node. In that case, the Node.visibleProperty will be a linkedElement to the outside visibleProperty. Do you think that is the compromise needed here?

![ima

[2020-08-13 19:47] zepumph commented on #326
@KatieWoe, has this lag occurred on any other recent iPad recordings in other sims? It seems like this may be an example of PhET-iO + State of Matter computational complexity on a relatively wimpy device (iPad). If that is the case, hopefully work being done in regards to Natural Selection PhET-iO performance (all in common PhET-iO code) will help with this. Example issues of that work are listed

[2020-08-13 19:50] zepumph commented on #245
Agreed, we have not done any extensive, cross sim profiling of memory consumption increase in PhET-iO brand. That said, it could be nice to keep track of these results in a central issue so that we can start to get an idea of that. I created https://github.com/phetsims/phet-io/issues/1696 and will post these results there. Nothing seems out of the ordinary to me for SOM, unassigning.

[2020-08-13 19:55] KatieWoe commented on #326
We just started testing recording on iPad, so I don't have much of any examples to compare to. I didn't see anything that I can recall for ph-scale

[2020-08-13 19:58] jbphet commented on #334
Update: This also involves the items in combo boxes, which will impact the thermometer node.

[2020-08-13 20:05] zepumph commented on #326
Alright thanks, I will keep this on hold until the other performance issues are cleaned up, then it would be good to test this and see if things have improved.

On hold until https://github.com/phetsims/axon/issues/316 and https://github.com/phetsims/axon/issues/317 are complete.

[2020-08-13 21:34] jbphet commented on #332
I don't think that addresses the issue at the core of this, it just renames the property.

[2020-08-13 21:40] KatieWoe opened #335 "?phetioDebug causes launched Studio sim to not respond"
Device
Dirac
OS
Mac 10.12.6
Browser
Chrome
Problem Description
For https://github.com/phetsims/QA/issues/525
When trying to use a launched copy of a sim from studio while using `?phetioDebug` the launched sim is non interactive. It stays on the home screen, even though it was not launched from the home screen. Clicking does nothing and does not let you enter the sim. Mousing over the options brigh

[2020-08-13 21:43] KatieWoe commented on #335
Happens with download html too

[2020-08-13 21:44] zepumph commented on #335
This is expected, and the reason for the recent desire to test this feature. It throws an error when setting state. @jbphet brought this to my attention yesterday, see https://github.com/phetsims/states-of-matter/issues/330 for the report and bug fix already in the release branch. This should not happen in the next RC. I don't think you need to test `?phetioDebug` anymore in this version. Sorry fo

[2020-08-13 21:45] KatieWoe commented on #335
Ok. Closing then

[2020-08-13 21:45] #335 closed

[2020-08-13 22:04] pixelzoom opened #336 "Radio button labels are children of radio buttons"
Related to #334 and noticed while working on https://github.com/phetsims/sun/issues/615.

The structure of this radio button group looks very odd.  Shouldn't the radio button labels be children of the radio buttons?

<img width="199" alt="screenshot_485" src="https://user-images.githubusercontent.com/3046552/90191596-6a76a680-dd7e-11ea-94c9-b45225ceb9d2.png">

[2020-08-13 22:05] jbphet commented on #331
I have updated the version of the client guide used in the 1.2 release branch.  While there may be more updates needed, this change should address this particular issue.

I'm going to mark as fixed and will have the verified in the next RC.  @KatieWoe - the verification for this issue will be to make sure that the incorrect phetioID values are no longer in the client guide.

[2020-08-13 22:20] jbphet commented on #336
As @samreid noted in today's phet-io meeting, the label on the radio button is the responsibility of the client.  `RadioButtonGroup` creates the tandems for the individual radio buttons based on the information provided to its constructor in the `tandemName` values of the provided `items`.  It would thus be a bit tricky to have the text values be a sub-item of the radio button.  So, while I agree

[2020-08-13 22:24] pixelzoom commented on #336
This is also another one of those case when using a Property to change text is an expensive approach.  It's highly unlikely that the radio button labels need to be dynamically changed after the sim is running.  If we had a means of overriding string value, then we wouldn't even need these `*Text` elements.

[2020-08-13 22:31] jbphet commented on #332
@arouinfar and I just discussed (over Zoom) how to approach this.  We both liked the idea of using a container node as was done for ph-scale in https://github.com/phetsims/ph-scale/issues/102, but it's a little more complicated in this case, since there are attributes of the contained node that need to be accessed in our case.  Still, it seems like a good way to go, so here's the plan:

- [ ] Add

[2020-08-13 22:34] pixelzoom commented on #334
I handled this in phetsims/sun#615.  sun cherry-picks are identified in https://github.com/phetsims/sun/issues/615#issuecomment-673707501 and https://github.com/phetsims/sun/issues/615#issuecomment-673730651.

@arouinfar I fixed up the client guide too, please review.

Those items are not instrumented.

[2020-08-13 22:36] pixelzoom commented on #334
Relevant state-of-matter cherry-pick is 1e888729c8fa5a6b26d12c3dac0603533665f0f6.

Relevant phet-io-client-guides cherry-pick is d90b0b16c09b99f9cc3c0ecad0d2b3059f2e8850

[2020-08-14 02:47] jbphet commented on #334
I have cherry-picked the commits for SOM and the client guide to the 1.2 release branch.  As for the common code, I only grabbed the one for radio button names, since the combo box changes are not particularly relevant.  I updated dependencies in SOM, SOMB, and AI, and tested the release branch locally for each.  I think this is ready for deployment.

[2020-08-14 03:54] jbphet commented on #332
@arouinfar - The work listed above is complete.  Can you please update the client guides based on these changes and let me know when you're done?

[2020-08-14 04:54] pixelzoom commented on #336
I also see that it's not possible to simply change (for example) "neon" to something else in one place.  There are 3 different `neonText.textProperty` elements in this sim.  If someone wants to change "neon" to something else, they need to do it in 3 places (...another drawback of using Property instead of an API that lets you substitute strings.)

The way I addressed this in pH Scale is to have s

[2020-08-14 16:17] jbphet commented on #329
The client request is:

I think that the work "each" does not necessarily mean "every", and if they wanted to hide every one, wouldn't they just remove the entire panel?

Having said that, I looked into it and it wasn't too hard to add code to hide the title if the panel contents become empty.  So, the behavior is now consistent between the screens.

[2020-08-14 16:19] jbphet commented on #329
This change has been cherry-picked to the 1.2 branch, so it should be fixed in the next RC.

[2020-08-14 16:46] jbphet commented on #328
@arouinfar, @kathy-phet, and I reviewed this issue yesterday in order to decide if it was blocking for the 1.2 release and we concluded that it was.  However, I think we were misled by the nature of the video recording.  The recording makes it look like the screen layout is quite messed up on the launch, but when I started reading the description more carefully and trying to duplicate the problem,

[2020-08-14 17:00] jbphet commented on #328
I did a bit more investigation and didn't find a quick and obvious fix.  This seems like it has something to do with the interplay between max width, changes to a node's local bounds, and dynamic updates of text values.  In this particular case, the string is in a `BackgroundNode`, and it seems that the size and positioning of the background node isn't getting updated quite as one would expect, ev

[2020-08-14 19:02] jbphet commented on #315
For reference, the test I use to demonstrate this issue, and which manifests the problematic behavior on the 1.2.0-rc.1 release, is to search for the phetioID `statesOfMatter.phaseChangesScreen.view.particleContainerNode`.  This node is not featured, but many of its subcomponents are.  In Studio, when using the 1.2.0-rc.1 release and with filtering set to "Featured", the first ID to appear is `sta

[2020-08-14 19:04] jbphet commented on #315
I have branched the Studio repo and cherry-picked the commits listed in https://github.com/phetsims/studio/issues/175#issuecomment-673713352.  I also updated the dependency in the 1.2 branch.

While testing locally on the 1.2 branch, searching on `statesOfMatter.phaseChangesScreen.view.particleContainerNode` takes me right to that ID, so it looks like the feature is working as we have collectively

[2020-08-14 19:15] jbphet commented on #315
The dependency for Studio has now been updated in states-of-matter-basics and atomic-interactions too.  The latter isn't strictly needed, since we are not releasing a phet-io version of it, but I thought it would be good to have all three variants as consistent as possible and it might make it easier in the future to release AI with phet-io off of this branch.

[2020-08-14 19:29] jbphet commented on #325
I was able to duplicate this on my machine, in Chrome, using the 1.2.0-rc.1 release, through the following fairly simply process:
- load the mirror wrapper
- select the "States" screen
- press the "Liquid" button to set the state to liquid (leave the substance set to neon)
- wait for several minutes

The two start off in sync, but then diverge over time.  Here is a screenshot:

![image](https://us

[2020-08-14 19:32] jbphet commented on #325
I reviewed this with @kathy-phet and @arouinfar, and they said that the customer for whom the 1.2 release is being created is not planning to use input event mirroring, at least not that they know of.  Therefore, this is not blocking for the 1.2 release.

I'm not sure how important this is in the phet-io scheme of things, and I'm not sure who to even ask.  I'm going to mark this for the phet-io me

[2020-08-14 20:04] jbphet commented on #323
Changes cherry-picked to the 1.2 branch.  I don't consider the centering part to be a problem, so I only addressed the shrinkage during long strings.

[2020-08-14 21:11] arouinfar commented on #332
@jbphet this looks great in master. I've edited the client guides in the above commits.

[2020-08-14 21:20] arouinfar commented on #334
@jbphet I added the "RadioButton" suffix to the relevant phetioIDs in SOMB's client-requests.md in the commit above. It will need to be cherry-picked into SOMB.

[2020-08-14 21:31] arouinfar commented on #336
Thanks for opening this issue @pixelzoom. I think it generally makes sense for the textProperty to be a child of the radio button or to instead use global where possible, but I don't know how feasible that is for SOM.

The SOM suite also include Atomic Interactions which has a more complicated interface for selecting pairs of atoms. The Interaction screen of SOM is derived from Atomic Interactions

[2020-08-14 21:39] arouinfar commented on #328
That all sounds reasonable to me @jbphet.

[2020-08-14 23:06] phet-steele commented on #314
Looks good for phetsims/QA/issues/531

[2020-08-14 23:06] #314 closed

[2020-08-14 23:31] phet-steele commented on #323
Looks good for phetsims/QA/issues/531

[2020-08-14 23:43] samreid commented on #326
I think the performance work in the axon issues has been completed.  Can the on hold label be removed?

[2020-08-17 16:41] KatieWoe commented on #323
Is the overlap with the arrows ok? I think it is, but I wanted to check. Please close again if this is alright.
![overlaparrows](https://user-images.githubusercontent.com/41024075/90421116-259c8980-e076-11ea-857f-79a0a1e74112.png)

[2020-08-17 16:59] jbphet commented on #323
I think it's okay, since labels this long are extremely unlikely and having the labels be further from the line to accommodate this rare case doesn't seem like a good trade-off.  Closing.

[2020-08-17 16:59] #323 closed

[2020-08-17 17:06] KatieWoe commented on #320
This looks done. Will reopen if issues show up.

[2020-08-17 17:06] #320 closed

[2020-08-17 18:28] KatieWoe commented on #311
This does seem to be fixed in rc.2. Will reopen if something shows up.

[2020-08-17 18:28] #311 closed

[2020-08-17 18:34] KatieWoe commented on #285
Looks ok in rc.2. Will reopen if something shows up.

[2020-08-17 18:34] #285 closed

[2020-08-17 19:23] KatieWoe commented on #287
looks ok in rc.2. Will reopen if something comes up.

[2020-08-17 19:23] #287 closed

[2020-08-17 19:33] jbphet opened #337 "Use branch for client guide repo in the 1.2 release"
When including the phet-io-client-guide repo in the 1.2 release, I just referenced the SHA instead of creating a branch, since there's only one file being used.  This apparently is a problem for the maintenance tools, and I'll need to fix this up.  This was discussed on Slack, and the dialog is lengthy so I'm not going to include it all.  Here is that part about how to fix things up:

[2020-08-17 20:53] KatieWoe commented on #318
Touch area seems to work now (although it looks smaller in showPointerAreas for some reason). If that's ok, feel free to close.
![lookssmaller](https://user-images.githubusercontent.com/41024075/90443364-5cd06200-e099-11ea-8c5f-022b3c27691d.png)

[2020-08-17 21:08] KatieWoe commented on #322
looks fixed in rc.2. will reopen if something comes up

[2020-08-17 21:08] #322 closed

[2020-08-17 21:22] KatieWoe commented on #329
Looks good in rc.2. Will reopen if something comes up.

[2020-08-17 21:22] #329 closed

[2020-08-17 21:31] KatieWoe commented on #331
Looks ok in rc.2. Will reopen if something comes up

[2020-08-17 21:31] #331 closed

[2020-08-17 21:37] KatieWoe commented on #332
looks ok in rc.2. Will reopen if something comes up.

[2020-08-17 21:37] #332 closed

[2020-08-17 21:39] phet-steele commented on #334
Looks good in phetsims/QA/issues/531 and phetsims/QA/issues/532. 🥳

[2020-08-17 21:39] #334 closed

[2020-08-17 22:43] KatieWoe commented on #315
This looks ok in rc.2. Will reopen if something shows up. Thanks @jbphet for clarifying things in this issue.

[2020-08-17 22:43] #315 closed

[2020-08-17 23:17] KatieWoe commented on #328
This seems worse in https://github.com/phetsims/QA/issues/531
![worse](https://user-images.githubusercontent.com/41024075/90453326-8dba9200-e0ad-11ea-9a51-71ab771ffa63.png)

[2020-08-18 02:12] samreid opened #338 "Support setting a partial instead of total state"
From phetsims/phet-io#1697: There is 1 or more call to phetioStateEngine.stateSetEmitter.addListener. There is now a 2nd argument to the listener, which is a predicate that tests Tandems and returns true if they are in scope. We should check these listeners and see if any of them need to check whether they are in scope of a partial state set.

[2020-08-18 15:14] KatieWoe opened #339 "Client Guide should include hiding sim title"
For https://github.com/phetsims/QA/issues/531.
The client requested:

The guide includes these properties:
[code]
However it does not include the title text in the bar
`statesOfMatter.general.view.navigationBar.titleText.visibleProperty`
To be clear, this property works fine and the text can be hidden, but the issue is that the guide doesn't include it.

[2020-08-18 16:16] jbphet commented on #328
I've removed the "blocks-sim-publication" label because I feel that this is a rare use case with fairly minor consequences.  @arouinfar - please chime in on this.

[2020-08-18 16:24] KatieWoe opened #340 "Phase control buttons don't seem to turn off when deselected."
For https://github.com/phetsims/QA/issues/531. May not be important, but documenting here.
Related to client request:

The properties
[code]
were used as a method of doing this. I noticed that if you select, then deselect these properties, the deselection doesn't seem to work. The button no longer looks depressed, but it is still purple and you can't re-click it. If you launch like this, the butto

[2020-08-18 17:22] KatieWoe opened #341 "Add hiding Epsilon and/or Sigma controls to client guide"
For https://github.com/phetsims/QA/issues/531.
Related to client request:

and these properties were given to do this:
[code]
In both these cases, the Epsilon control in the interactive graph allows changes without those sliders. This should be updated in the guide. I don't believe the Sigma control is relevant in the guide, but just in case.

[2020-08-18 17:28] jbphet opened #342 "uninstrumented elements appear in Studio tree when they should not"
See https://github.com/phetsims/studio/issues/183

This issue was discovered and reported by @kathy-phet and @amanda-phet, and we have deemed it as blocking for the 1.2.0 release.

[2020-08-18 17:36] jbphet commented on #318
Yes, this is actually an expected result since the expanded bounds are now on the pointing finger image and not on the node as a whole, the bounds of which included the green arrows "hint".  Closing.

[2020-08-18 17:36] #318 closed

[2020-08-18 22:29] KatieWoe commented on #325
In https://github.com/phetsims/QA/issues/531, noting that this can lead to a larger problem.
If the lid on the second screen comes off, different amounts of particles can escape. This means that putting the lid on and causing a second explosion will lead to different conditions and one "blowing up" first. This is fairly easy to recreate, and may even be possible on the first explosion.
![Leadstoap

[2020-08-18 22:37] phet-steele opened #343 "comboBox's enableProperty is not respected when displayOnlyProperty is altered"
In the Studio wrapper of 1.2.0-rc.2:

1. Find `statesOfMatter.statesScreen.view.particleContainerNode.compositeThermometerNode.temperatureComboBox.enabledProperty` and disable the combo box.
2. Find `statesOfMatter.statesScreen.view.particleContainerNode.compositeThermometerNode.temperatureComboBox.displayOnlyProperty` (just above `enabledProperty`) and toggle it twice, on then off.

You should no

[2020-08-19 00:03] kathy-phet commented on #325
Good to know, and to discuss. Still not blocking for publication at this time.

[2020-08-19 00:27] phet-steele opened #344 "Mirror inputs, "Return Atom" button becomes visible at different times"
In the Mirror Inputs wrapper of 1.2.0-rc.2

1. Interaction screen
2. Pause!
3. Force the atoms together
4. Hold down the step forward button, but start to be careful as the atom approaches the edge of the screen

You'll notice, by stepping slowly, that the "Return Atom" button appears on the bottom sim first:

![image](https://user-images.githubusercontent.com/5863899/90578238-0a1da580-e180-11ea-8

[2020-08-19 16:02] jbphet opened #345 "Studio search is still not working as expected"
https://github.com/phetsims/studio/issues/184

I've opened this issue to track whether we want to get the fix for the parent issue linked above into the 1.2 maintenance release that @kathy-phet, @arouinfar, and I have been discussing.  At the time of this writing, 1.2.0 is not yet out but is getting close, and we are likely to follow it up with a release that includes fixes for some items that wer

[2020-08-19 16:57] jbphet commented on #345
Over Zoom, @kathy-phet said that yes, this should be a part of the first maintenance release after 1.2.0 goes out.

[2020-08-19 17:25] arouinfar commented on #339
Thanks @KatieWoe. I've updated the client requests for SOM and SOMB, back to you @jbphet.

[2020-08-19 17:35] arouinfar commented on #341
Thanks @KatieWoe. This was a good find. I added the epsilon controls to the SOM guide (irrelevant to SOMB). Since the client didn't have any sigma-related requests, I didn't add the sigma graph controls to the guide.

Back to you @jbphet.

[2020-08-19 17:57] arouinfar commented on #340
This looks buggy to me. However, the request was to set the startup state, so interacting with each SelectedProperty is not really necessary. This can be done by selecting the desired PhaseControl button in the sim and then launching from Studio.

@jbphet can you take a look and see if this is actually a bug? If this isn't a bug, I'll need to edit the client guide to remove the SelectedProperty ph

[2020-08-19 18:06] arouinfar commented on #328
@jbphet agreed that this isn't blocking.

It looks like the problem occurs if the custom string is longer than the `maxWidth`.  I don't anticipate this being a common use case, and I am pretty sure the client just wants to delete the string (based on conversations with KP).

[2020-08-19 19:50] KatieWoe commented on #326
Seen on https://github.com/phetsims/QA/issues/531 in that metacog recording test.

[2020-08-19 19:59] zepumph commented on #326
If @kathy-phet said that this isn't blocking the release of the sim, then the only thing to do is to test this on master. I'm not sure what the priority of this is, but perhaps it could be done in a dev version with the new axon improvements. I'll make one now.

[2020-08-19 20:02] zepumph commented on #328
This feels a bit like a specific sub issue to https://github.com/phetsims/phet-io/issues/1551.

[2020-08-19 20:03] zepumph commented on #326
**Again this is not blocking SOM release.** @KatieWoe can you please test https://phet-dev.colorado.edu/html/states-of-matter/1.3.0-dev.1/phet-io/  to see if this problem is fixed on master?

[2020-08-19 20:24] zepumph commented on #338
In this sim, we have the following listener in MultipleParticleModel.js:

[code]

This feels very screen dependent, and so I think it should be wrapped in the `isInScope` check.

[2020-08-19 20:33] zepumph commented on #338
When I did this, it was working very well, and I am feeling good about the change. I would close this issue, but instead I am going to pass it off to @jbphet to take a look for his knowledge gain. Recently PhET-iO state took on the ability to set subsets of a sim, like a screen. Now the `stateSetEmitter` gives a function that allows you to check to see if this should apply to a provided tandem. I

[2020-08-19 20:53] jbphet commented on #343
I think it's safe to say that this is not blocking for the 1.2.0 release.

[2020-08-19 21:11] zepumph commented on #338
Just kidding. Please ignore, @samreid and I are changing the API as we speak!

[2020-08-19 21:40] jbphet commented on #340
@arouinfar said:

Well, I hate to get into semantics, but it depends on what you mean by a "bug".  If you mean that it is a behavior that is less than ideal, then yes, it is by definition a bug.  If by 'bug' you mean that it was something that was done erroneously in the code that can be quickly and easily corrected, then no, it's not.  This behavior is the result of making aspects of a UI compone

[2020-08-19 22:00] arouinfar commented on #340
@jbphet that sounds reasonable for the 1.2.0 release.

Long term, I think we'll probably want to redesign `StatePhaseControlNode` so clients can easily set the phase by communicating with the SelectedProperty.

[2020-08-19 22:05] arouinfar commented on #340
I've edited the SOM and SOMB guides in the above commits.

[2020-08-19 22:46] jbphet commented on #342
fixes pulled to the som 1.2 branch

[2020-08-19 22:46] jbphet commented on #341
changes cherry-picked to the 1.2 branch

[2020-08-19 22:47] jbphet commented on #339
changes cherry-picked to the 1.2 branch

[2020-08-19 22:48] jbphet commented on #337
Branch created, now used in the SOM 1.2 release branch.  Closing.

[2020-08-19 22:48] #337 closed

[2020-08-19 22:54] zepumph commented on #338
Over in https://github.com/phetsims/tandem/issues/193, we altered the api for the stateSetEmitter slightly. Now instead of checking a function, you check against a "scopeTandem" that serves as the root of the tree being state set.

@jbphet everything in https://github.com/phetsims/states-of-matter/issues/338#issuecomment-676670057 still applies except that the api changed from checking based on a

[2020-08-20 15:50] KatieWoe commented on #339
Looks good in rc.3

[2020-08-20 15:50] #339 closed

[2020-08-20 16:59] KatieWoe commented on #341
Looks good in rc.3

[2020-08-20 16:59] #341 closed

[2020-08-20 17:14] KatieWoe commented on #342
This looks fixed in rc.3

[2020-08-20 17:14] #342 closed

[2020-08-20 17:35] KatieWoe opened #346 "Blue Star properties that aren't related to anything"
For https://github.com/phetsims/QA/issues/536.
I've seen this twice in Studio so far. A property that appears in the tree as blue and with an asterisk does not actually seem to have a counterpart. These properties are the ones I've seen with this issue.
[code]
There may be more that I haven't found.

[2020-08-20 17:36] KatieWoe commented on #346
Normally looks like:
![normallylookslike](https://user-images.githubusercontent.com/41024075/90805840-6d6f1b00-e2d9-11ea-9c8a-982cc33d5e8c.png)
As opposed to:
![bluestar](https://user-images.githubusercontent.com/41024075/90805856-7364fc00-e2d9-11ea-8a12-650463d07860.png)

[2020-08-20 17:51] zepumph commented on #325
@jbphet the primary reason for this kind of bug is that something in the sim using random is not tied to phet.joist.random. (which is seeded to be the same in both sims). Since this is platform specific, it feels less likely that this is the exact problem.

@jbphet said:

I think that he has a windows machine, and I was able to reproduce on mine using his steps. Thanks for the guide!

Looking thro

[2020-08-20 17:51] zepumph commented on #325
@samreid do you have any other ideas on why these may be getting off?

[2020-08-20 17:53] zepumph commented on #325
This feels like an important bug to me. Without reproducible playbacks we lose a large feature of this sim, and publishing it without this feature will not be tracked (see https://github.com/phetsims/phet-io/issues/1609) and it is likely that we will forget about this, and potentially try to use this for a data study in the future.

[2020-08-20 17:54] KatieWoe commented on #346
I am so confused, the second one seems to have disappeared?

[2020-08-20 18:02] samreid commented on #336
From Aug 20 PhET-iO meeting:

@jbphet: It seemed like the client just wanted to change the text label in one place, not changing it systemically throughout the sim.

@pixelzoom: Let's reach out to the client to see if they want to change things globally/just in certain views and dynamically/statically.

@kathy-phet for now I recommend to leave it as it is, even if it doesn't take too long.

@zepum

[2020-08-20 18:03] KatieWoe commented on #346
Ok, I just figured it out (kinda?). That second option from `optionsDialog` on only if you have seen the option dialog in the sim.

[2020-08-20 18:04] samreid commented on #325
At today's meeting, @kathy-phet and @jbphet indicated this may need to be fixed after the initial 1.0 release.

[2020-08-20 18:12] KatieWoe commented on #346
Also assigning @kathy-phet since deadline is so close

[2020-08-20 19:53] jbphet commented on #346
The "Blue Star properties" to which @KatieWoe is referring are linked elements that are added automatically by the Checkbox class.  In this case, the `ProjectorModeEnabledProperty` and the blue start `property` just below it are actually the same thing.

@zepumph and I just looked at this together on a Zoom call, and he said that it did indeed seem a bit odd that these properties can't be manipula

[2020-08-20 19:56] jbphet commented on #346
I'm going to make the call that this is not blocking for the 1.2.0 release, since setting projector mode from withing the sim and launching works fine (I tried it), and the inability to manipulate projector mode through the instance tree doesn't seem like a deal breaker for this release.  I've removed @kathy-phet and @arouinfar from the list of assignees.

[2020-08-20 20:21] KatieWoe opened #347 "Differing Return Lid behavior when launched mid explosion"
For https://github.com/phetsims/QA/issues/536. Likely fairly minor.
If you pause the sim while the lid is exploding on the second screen, and press the Return Lid button while paused, then the molecules will either return to the container or disappear right away. If, however, you are in studio and launch while paused but before returning the lid, then the launched sim will return the lid without a

[2020-08-20 21:08] zepumph commented on #346
Notes from my investigation. . .

There is code in studio that does a special case for archetypes where it swaps out the actual type of instance for ObjectIO. This makes sure that archetypes don't have UI for interoperability, and act more like documentation.

I see that statesOfMatter.general.view.navigationBar.phetButton.phetMenu.optionsDialogCapsule.optionsDialog.content.projectorModeCheckbox.p

[2020-08-20 21:16] zepumph commented on #346
Ahh this is all because of how we forward dynamic element metadata to be a reference to its archetypes'. This gives us the benefit of when, in `?admin` mode, a designer changes the archetype metadata, it automatically propagates to any dynamic instances already created. I think we can keep that feature, but just pull out anything that we don't want forwarded. We are already doing that for `phetioD

[2020-08-20 21:38] zepumph commented on #346
This bug boils down to the following behavior:

Dynamic elements didn't have interoperable instances made for them because they were always being classified as `phetioIsArchetype`. This is because their metadata is a Proxy to their archetypes metadata. There was an exception hard coded for `phetioDynamicElement` for this exact reason, but not for `phetioIsArchetype`. In the above commit I added an

[2020-08-20 21:59] pixelzoom commented on #346
Thanks, ph-scale has no dynamic elements.

[2020-08-20 22:38] kathy-phet commented on #347
Impressive find @KatieWoe.

@jbphet @arouinfar @kathy-phet reviewed this issue and decided it was unlikely to be desirable customization, and it wasn't very problematic even if it occurred. We decided it is not worth the dev time to fix it.

[2020-08-20 22:38] #347 closed

[2020-08-20 22:39] kathy-phet commented on #346
Not blocking for 1.2.0. Pull the fix into the maintenance release. Assigning to @jbphet .

[2020-08-20 22:49] kathy-phet commented on #343
@jbphet @arouinfar @kathy-phet - Definitely not blocking for SOM. Probably a small @pixelzoom fix, since he has been working on combo boxes most.

@pixelzoom - This impacts pH Scale, also. It's not critical because its not a realistic customization. We are OK deferring this fix, but if its quick and you want to fix it, then go ahead.

[2020-08-20 22:56] kathy-phet commented on #328
@jbphet @arouinfar @kathy-phet - We reviewed and decided that it's not important if this bug gets fixed, but if https://github.com/phetsims/phet-io/issues/1551 fixes it, then that's great.

[2020-08-20 22:57] #328 closed

[2020-08-20 22:58] kathy-phet commented on #338
We want to understand this new feature.

[2020-08-20 23:19] arouinfar commented on #344
Discussed with @jbphet  and @kathy-phet. We decided that this does not block the 1.2.0 release. @jbphet will take a look at this to see if it's symptomatic of a larger problem.

[2020-08-20 23:24] arouinfar opened #348 "Publish a Maintenance Release"
@jbphet @kathy-phet and I reviewed the issues currently open in the states-of-matter repo. There are a few issues that won't be fixed in time for the 1.2.0 delivery deadline, but it would be good to follow-up with a maintenance release once they've been addressed.
- [ ] #277
- [ ] #345
- [ ] #346

I think the consensus from today's PhET-iO meeting was that these would also be addressed in the main

[2020-08-20 23:27] jbphet opened #349 "Screenshots are not generated in production grunt task"
See https://github.com/phetsims/chipper/issues/969.

This will need to be fixed before I can publish the 1.2.0 release.

[2020-08-21 02:18] samreid commented on #325
* I tried setting up a unit test, creating two models with identical Random seeds and running them side-by-side, and that gave the same results.
* I tried setting the frame sizes to be the same width, and saw the same problem
* I printed out the `dt`s and found the downstream sim is running a few `dt`s before it starts processing the upstream `dt`s.  This could be throwing it out of whack.
* I tri

[2020-08-21 02:48] kathy-phet commented on #325
In another issue, Steele found the restore lid button or something similar also appears a few frames off in time in the playback. Maybe related?

Sent from my iPhone

[2020-08-21 04:20] samreid commented on #325
This patch appears to have reproducible playbacks, but starts the model paused:

<details>

[code]

</details>

[2020-08-21 04:24] samreid commented on #325
This patch shows that the random number generator is being called a different number of times in the upstream and downstream simulations:

[code]

[2020-08-21 04:26] samreid commented on #325
Using the above patch that counts random calls, I confirmed that putting `isPlayingProperty` to default to `true` causes the number of calls to the random sequence to line up.

[2020-08-21 05:19] samreid commented on #325
This patch appears to resolve the problem, but I am confused why, especially after viewing the list of listeners in the `timer`.  It's at a good point to check in with or collaborate with @zepumph.

[code]

[2020-08-24 21:47] phet-steele commented on #344
I checked and doubled checked (by pulling repeatedly) that master on phettest had the changes listed in https://github.com/phetsims/states-of-matter/issues/325#issuecomment-678417907.

I, however, still see this issue on master.

[2020-08-25 18:53] KatieWoe commented on #326
Problem still occurs on that link.

[2020-08-26 18:17] zepumph opened #350 "Patch PropertyStateHandler memory leak in MR"
A memory leak was outlined and fixed in master over in https://github.com/phetsims/axon/issues/328#issuecomment-681042541. It effects PhET brand. Please follow that link to cherry-pick changes into the next maintenance release of this sim.

[2020-08-26 18:56] zepumph opened #351 "Patch Tandem.dispose memory leak"
Over in https://github.com/phetsims/tandem/issues/203#issuecomment-681061719 a Tandem dispose memory leak in PhET brand was fixed. Please patch https://github.com/phetsims/tandem/commit/dc10b0352a7650599cd79be48f50c60ef6f328ea in the next MR.

[2020-08-26 19:12] samreid commented on #350
First, I'd like to check whether this sim is affected by this memory leak.  Self-assigning to test it out before we proceed with a maintenance release.

[2020-08-26 21:19] pixelzoom commented on #343
@jbphet I do not see this issue in master or the published version at https://phet-dev.colorado.edu/html/states-of-matter/1.2.0/phet-io/wrappers/studio/.   Did someone fix it, or did it self heal?

[2020-08-26 21:28] pixelzoom commented on #343
Oh wait.  I do see it.  The combo box still looks disabled, but you can interact with it (I misunderstood that bit).   I've located the source of the problem, and created https://github.com/phetsims/sun/issues/617.

[2020-08-26 22:30] zepumph commented on #346
I don't think there are any other sims in RC in which this bug is an issue. But we should do this in the future.

@samreid this is not just a problem with linked elements, but instead can be tested by looking at any sub component of the options dialog that has studio controls for it. For example, in master note how, once created, `statesOfMatter.general.view.navigationBar.phetButton.phetMenu.optio

[2020-08-27 00:27] samreid commented on #350
In https://github.com/phetsims/axon/issues/328#issuecomment-681174532 I tested that States of Matter does not trigger this memory leak, even without the fix.  I think this issue can be closed, especially if QA didn't identify another memory problem.  Please reopen if necessary.

[2020-08-27 00:27] #350 closed

[2020-08-27 03:29] arouinfar commented on #343
While the behavior is buggy, it's the result of unrealistic customization. It is not RC-blocking, and I don't think it's serious enough to include in the maintenance release currently planned for SOM.

I think we can probably close this issue, but I'll let @jbphet decide if he wants to keep it open while the sun issue is unresolved.

[2020-08-27 12:09] samreid commented on #346
Thanks @zepumph, I reverted studio and confirmed the problem you described.  I think the last step for this issue is to maintenance release into states of matter.  Leaving open and assigned to @jbphet for that step.

[2020-08-27 17:03] jbphet commented on #343
I'm happy to close, since I agree that it's the result of an unrealistic customization.

[2020-08-27 17:03] #343 closed

[2020-08-27 22:29] zepumph commented on #346
For the SOM MR, please cherry-pick https://github.com/phetsims/studio/commit/7fc920e13ec187920044c901dc7050f868c342f8

[2020-08-28 19:01] jbphet commented on #351
Marking as deferred until work on the next maintenance release begins, which is currently slated for early October 2020.

[2020-08-28 19:01] jbphet commented on #346
Marking as deferred until work on the next maintenance release begins, which is currently slated for early October 2020.

[2020-10-20 18:53] jbphet commented on #333
I did some experimentation and convinced myself that the code above is needed and can't be deleted.  Specifically, thinks would get off in the state wrapper if additional atoms/molecules were injected.  So, I moved the code into the `applyState` method, and it appears to be working well.  I tested it through several launches from studio, some focused testing in the state wrapper, and then fuzz tes

[2020-10-20 18:53] #333 closed

[2020-10-20 19:03] jbphet commented on #338
In #333 I ended up moving the code that was hooked to the `stateSetEmitter` into the `applyState` method so that all of the state setting code was in one place.  This seems to work fine in testing.

I believe that this makes much of the discussion in this issue moot, and it obviates the need for a `isInScope` check.  I'm not 100% certain, though, so I'd like @samreid to review and make sure that t

[2020-10-22 18:07] zepumph commented on #338
I was here and read through this, so I'll just answer for the phet-io context. . . .

Your above commit (https://github.com/phetsims/states-of-matter/commit/b78f16320d6a28495714bb70aa9e2a6cad7e7b6d) does a very good job of eliminating the problem, because `applyState` will only be called for that particular instance of the model (screen-specific).

The question still remains though if this patch m

[2020-10-22 20:28] jbphet commented on #338
Thanks @zepumph, I understand the concern you're expressing.  The first portion of the code in question won't be executed in the described case, because there will be no discrepancy between the number of non-normalized and normalized particles on the non-active screen.  The last part - the call to `syncAtomPositions` will essentially be a no-op, because it will be synchronizing particles that woul

[2020-10-22 20:28] #338 closed

[2020-10-28 00:59] ariel-phet commented on #310
Looks like we will try to do https://github.com/phetsims/states-of-matter-basics/issues/31 in the near future so assigning back to @jbphet

[2020-10-28 18:05] jbphet commented on #310
The deprecation warnings were fixed a while back, and both the phet and phet-io versions were published at the same time, so that helped the translations.  I spot checked some of them, and they looked good.  Since SOMB should be published shortly, I'll follow up in the issue related to that, and will close this one.

[2020-10-28 18:05] #310 closed

[2020-12-01 18:34] KatieWoe commented on #326
Seeing this in https://github.com/phetsims/QA/issues/576

[2020-12-03 00:59] arouinfar commented on #326
@samreid since this didn't block the delivery of SOM to the client, I don't think it should block GAO. I don't think the client using the recording wrapper, either.

[2020-12-07 20:24] KatieWoe commented on #342
I don't seem to be seeing this in https://github.com/phetsims/QA/issues/574

[2020-12-19 00:44] samreid commented on #326
I can see from the preceding comments that this issue does not block release to clients, also it is not labeled as "blocks publication", so I infer that it does not block a general release either.

[2021-02-25 21:04] pixelzoom opened #352 "Convert to one of the ZoomButtonGroup subclasses"
From https://github.com/phetsims/scenery-phet/issues/652, this sim is a candidate for converting to one of the ZoomButtonGroup subclasses.  The Buttons screen of the scenery-phet demo shows the 2 subclasses (screenshot below), PlusMinusZoomButtonGroup on the left, MagnifyingGlassZoomButtonGroup.  If you don't want to change the look of the sim, use MagnifyingGlassZoomButtonGroup.  If you think the

[2021-04-05 22:26] jbphet commented on #352
Done, closing.

[2021-04-05 22:26] #352 closed

[2021-04-05 22:29] jbphet commented on #204
@KatieWoe - This issue is several years old, and I believe Edge has been significantly updated since then.  Can you have the QA team re-test and, if performance is decent, close?

[2021-04-05 22:33] KatieWoe commented on #204
Looks good in published sim. We also don't really support Edge, so I think this can be closed.

[2021-04-05 22:33] #204 closed

[2021-04-05 22:36] jbphet opened #353 "Interaction potential graphs should be restructured"
I've noticed this before, but it became painfully apparent while working on #352.  The inheritance hierarchy for the various interaction potential graphs make the code very hard to maintain, and there is inappropriate coupling between the various levels of the hierarchy.  Much of this is on me, since I allowed it to pass code review, but I shouldn't have.  I'm generally the one who pays the price

[2021-05-19 21:58] phet-steele opened #354 "Pressure sometimes doesn't change when the lid is compressing"
This is in the published sim! (1.2.1) But also, the version of this sim we are asked to test in phetsims/QA/issues/649 (https://phet-dev.colorado.edu/html/states-of-matter/1.2.2-rc.2/phet/states-of-matter_en_phet.html) no longer "produces" any change in pressure when collapsing the lid. It happens in both phet and phet-io brands. At least the Studio, Mirror Inputs, and State wrappers are buggy, bu

[2021-05-19 22:02] KatieWoe commented on #354
May have something to due with platform (somehow) since I have not been able to recreate on my device. Win 10 Chrome. @phet-steele what were you on?

[2021-05-19 22:07] phet-steele commented on #354
When trying to drag the lid in master, I immediately see this error.

[code]

[2021-05-20 22:07] jbphet commented on #354
I've added some debug code on master to try to help track this down.

@phet-steele - Can you please reproduce this on your system using master and capture the output on the console?  It will be long, so I'd recommend putting it in a "details" section.

Also, is there any change the system you're testing with is using a faster-than-normal frame rate for the browser?  If so, that would explain the p

[2021-05-20 22:10] jbphet commented on #354
Note to self: It's a little lame that `TimeSpanDataQueue` requires the client to specify both the length of the queue and the expected dt.  Also, it shouldn't be called the "nominal" dt, it should be called the expected minimum.  I should modify these things as part of the overall fix for this.

[2021-05-20 22:23] phet-steele commented on #354
Almost guaranteed! `?profiler` has me running at 300 fps, which is expected on my device.

<details>
<summary>Output</summary>

=======
TimeSpanDataQueue.js:55 this.length = 793
TimeSpanDataQueue.js:56 this.maxTimeSpan = 12 seconds
TimeSpanDataQueue.js:57 this.head = 792
TimeSpanDataQueue.js:58 this.tail = 0
TimeSpanDataQueue.js:59 data queue contents:
TimeSpanDataQueue.js:69 -------
TimeSpanDataQ

[2021-05-21 23:27] jbphet commented on #354
@phet-steele - Color me skeptical on the 300 FPS bit.  That's 5x the nominal rate of 60 FPS, and the data you collected does not seem to indicate that rate.  The profiler may be running into the same problem that the sim is, which is that it was assuming a nominal frame rate of 60 FPS, and if it gets something different, things go south.

The data collected by @phet-steele in the previous comment

[2021-05-24 15:56] jonathanolson commented on #354
Can you keep me informed of whether a patch for this will go into the maintenance releases?

[2021-05-24 16:51] jbphet commented on #354
@jonathanolson - It is very likely that a patch will go in for states-of-matter and states-of-matter-basics, but it dependent upon what we hear back from @phet-steele and when.  If there is something specific that you'd like me to do differently versus the usual process for this, please let me know.

[2021-05-24 16:59] jonathanolson commented on #354
Release branches are still locked down to due the maintenance process, so let me know when it's ready to move to the branch.

[2021-05-24 19:03] phet-steele commented on #354
My refresh rate is 300 hz and this site also says I am getting 300 fps 😁 https://www.testufo.com/refreshrate

Sure seems like the problem has gone away, and I don't see performance issues on the mac and win 10 I have either.

[2021-05-25 16:03] jbphet commented on #354
Okay.  I'd just never heard of a refresh rate that high, but looking around online I _do_ see monitors that spec that rate, so I stand corrected.  We're not see animation frame requests that fast, so I'm curious about how high refresh rates and the standard browsers `window.requestAnimationFrame` method works, but that's a question for another time.

Cool, good to hear.  I'll move forward with a m

[2021-05-25 16:04] jbphet commented on #354
@jonathanolson - I'm ready to do a maintenance release for this issue.  How should we proceed?

[2021-06-01 00:01] samreid opened #355 "Provide more specific types than ObjectLiteralIO in MultipleParticleModelIO"
From https://github.com/phetsims/phet-io/issues/1774, MultipleParticleModel has ObjectLiteralIO listed twice as a "wildcard".  We should provide more specific types so we can track it in the API.

[code]

[2021-06-01 18:34] jbphet commented on #355
@samreid - in the comment above, you said:

From the revision history, it looks you're the one who changed these definitions from being `applyState` methods to `ObjectLiteralIO` in 6276d5eb60c84f6afd732a20732c0c677002ca24.  You've assigned this issue to me, so you apparently expect me to address it, but I have no idea at this point what I'm supposed to do here.  The issue you referenced above is q

[2021-06-01 18:43] jbphet opened #356 "CT: Uncaught Error: Cannot read property 'substance' of undefined"
Looks like some of the recent phet-io changes have introduced a CT issue.  This also affects states-of-matter basics.  Below is a stack trace.

[code]

[2021-06-01 19:29] jbphet commented on #354
For the record, @kathy-phet told me that she and @KatieWoe discussed whether or not to add a step to the QA process to test faster frame rates and decided against doing so.  @kathy-phet recommended that, for now, we add an item to the code review checklist to look for any code that assumes a certain frame rate.  I added such an item in https://github.com/phetsims/phet-info/commit/1f1c0af69e3209a84

[2021-06-02 22:17] phet-steele commented on #354
My guess is phetsims/molecule-shapes/issues/180 another one of this class of issue.

[2021-06-11 17:58] jbphet commented on #354
@jonathanolson - This is ready to go into an RC on the current release branch.  I think it would be best if I did it myself, since I can verify it more easily and know what to look for.  Is it okay for me to pull this onto the current release branch for states-of-matter and states-of-matter-basics?  Also, should I do the RC, or is there an upcoming one that you would make this a part of?

[2021-06-14 19:59] jbphet commented on #354
This is being tested by QA at the moment in an RC, see https://github.com/phetsims/QA/issues/656.  If QA testing passes, we can close it.  I'll unassign @jonathanolson, since it's pretty much up to me to follow up.

[2021-06-15 14:59] jbphet commented on #354
Assigning @KatieWoe as an assignee so that she or another member of the QA team can update based on the testing of the current RC.

[2021-06-15 15:15] KatieWoe commented on #354
@phet-steele said in https://github.com/phetsims/QA/issues/656#issuecomment-860981271

[2021-06-15 15:44] jbphet commented on #354
Excellent.  Closing.

[2021-06-15 15:44] #354 closed

[2021-06-22 01:24] samreid commented on #356
I ran states of matter through the states wrapper and couldn't see any problems.  It has been clear on CT for the last 20 columns or so, closing.

[2021-06-22 01:24] #356 closed

[2021-07-10 21:05] samreid commented on #355
A state value is like:

[code]

I'm not sure how this should be captured in the state schema, or just leave it as ObjectLiteralIO.  @zepumph can you please advise?

[2021-07-12 17:22] jbphet commented on #253
Reopening.  This branch was restored during an effort to recover some branches that were accidentally deleted.  This one had been _intentionally_ deleted, and now needs to be re-deleted.  See https://github.com/phetsims/special-ops/issues/198.

[2021-07-12 17:23] jbphet commented on #253
Re-deletion complete.  Closing.

[2021-07-12 17:23] #253 closed

[2021-07-14 15:51] zepumph commented on #355
I think that this is as easy as creating an IOType with only stateSchema responsibility. How does this look to you @samreid? That way that private state isn't a black box. That said, it's private state, so isn't it allowed to be a block box?

I guess I'd be fine keeping this commit, or reverting it.

BTW: I found a bug about API generation over in https://github.com/phetsims/phet-io/issues/1801.

[2021-07-28 01:25] samreid commented on #355
Excellent, that looks great, thanks!  I think we should keep it. Closing.

[2021-07-28 01:25] #355 closed

[2021-09-16 15:04] KatieWoe opened #358 "CT Assertion failed"
Also in Basics
[code]

[2021-09-27 21:13] jbphet commented on #358
Something seems very odd here.  Some observations:

- According to the information above, this issue happens in almost every test configuration, yet I can't reproduce it locally.
- The stack track includes `ThermometerNode.js:212:31`, then `Range.js:205:15`, but on master line 212 of `ThermometerNode.js` doesn't call `Range.getNormalizedValue`.
- I set up an experiment where I put a breakpoint at

[2021-09-27 21:52] jbphet commented on #358
Never mind @jonathanolson - I had some SHAs checked out locally from a recent build that were leading me astray.  I'm back on master and can now duplicate the problem.

[2021-09-27 22:03] jbphet commented on #358
He @zepumph - the commit https://github.com/phetsims/scenery-phet/commit/09d11015844aaf26e0811729953d149594351c1a breaks States of Matter.  This is because the temperature value is (or was) allowed to take on a value of `null`.  This was a very intentional choice, meant to be used when there is actually no temperature to be measured.  This occurs in SOM when there are no particles in the container

[2021-09-27 23:26] zepumph commented on #358
What a fun spot where TypeScript will be really, really nice. I didn't even think to check usages because the parameter doc didn't say that null was supported:

https://github.com/phetsims/scenery-phet/blob/09d11015844aaf26e0811729953d149594351c1a/js/ThermometerNode.js#L38

Looks like this was the only place that was documented.

https://github.com/phetsims/scenery-phet/blob/09d11015844aaf26e08117

[2021-10-01 20:32] jbphet commented on #358
Thanks @zepumph - the changes look great, and CT is succeeding.  It will indeed be cool if TypeScript can help us avoid situations like this.

Closing.

[2021-10-01 20:32] #358 closed

[2022-05-19 21:53] arouinfar opened #360 "Add query parameter table to teacher tips"
A user wrote into phethelp requesting the behavior provided by the `stickyBurners` query parameter, which made me realize that query parameters are not documented in the Teacher Tips.

[2022-07-05 17:29] arouinfar opened #361 "Use `defaultTemperatureUnits` instead of `defaultCelsius` and add control to the Options dialog"
In https://github.com/phetsims/states-of-matter/issues/216 we created the `defaultCelsius` query parameter to set the default temperature units to Celsius. This query parameter has never been shared with users in the Teacher Tips or with PhET-iO clients in [phet-io-guide.md](https://github.com/phetsims/phet-io-sim-specific/blob/master/repos/states-of-matter/client-guide/phet-io-guide.md).

In gree

[2022-07-05 18:30] jbphet commented on #361
Sound reasonable.  This sim, I believe, is slated to have its phet-io implementation updated to the latest and greatest reasonably soon.  I'm going to defer this particular issue now, and when the sim is getting some focus for the phet-io update, we can undefer and implement.

[2022-07-25 18:24] arouinfar commented on #360
I updated the tips for SOM & SOMB, closing.

[2022-07-25 18:24] #360 closed

[2022-11-21 22:54] jbphet opened #362 "CT: Uncaught Error: Assertion failed: PhET-iO API error:"
CT is currently failing for SOM and SOMB.  I'll investigate.

Here is the error:

[code]

Screenshot:

![image](https://user-images.githubusercontent.com/3082831/203174313-d334687e-5774-46e3-8398-df07e963fdd2.png)

[2022-11-21 23:49] jbphet commented on #362
This was likely caused by https://github.com/phetsims/scenery-phet/commit/74425ac54b59839f24a74c33d0f9b7ec4ecd42c0, where the strings were made into dynamic strings and thus are automatically featured (I think), so now now the API overrides file shouldn't mark it as such.  I've changed this, and it is working locally for me, so I'll commit it and keep an eye on CT.

Tagging @samreid as a reminder

[2022-11-22 16:33] arouinfar commented on #362
@jbphet I added this to the growing list of issues in https://github.com/phetsims/phet-io/issues/1873 documenting phetioFeatured hassles.

[2022-11-22 17:54] jbphet commented on #362
CT is now clear, closing.

[2022-11-22 17:54] #362 closed