[2015-01-13 07:13] kmsravindra opened #1 "The States of Matter label to be corrected."
Punctuation of "states of matter" to be corrected. The mock up has the label punctuation as - States of Matter.

[2015-01-13 07:15] kmsravindra opened #2 "Gradient and 3D look & feel of buttons in States of matter screen"
The mock-up has gradient/3D look & feel of buttons labelled - Solid, Liquid and Gas.

[2015-01-13 07:19] kmsravindra opened #3 "Solid,Liquid, Gas Buttons on SOM screen are not highlighting current state selected"
After clicking on Solid or Liquid or Gas, the respective button having the current state is not highlighted.

[2015-01-13 07:21] kmsravindra opened #4 "PhET logo missing on the bottom bar"
PhET logo is missing on the bottom bar

[2015-01-13 07:25] kmsravindra opened #5 "Checking "project colors" checkbox from options has no affect"
Checking "project colors" checkbox from options in the bottom bar, has no affect on sims - states of matter , phases changes.

[2015-01-13 07:27] kmsravindra opened #6 "Thermometer color"
Thermometer should be white in color and probably should change color depending on project options selected.

[2015-01-13 07:34] kmsravindra opened #7 "Dragging the lid up in Phases changes sim"
Dragging / Pulling the container lid upwards is somehow not as smooth experience as pushing the lid downwards. The lid sometimes jitters and doesn't very smooth while pulling upwards.

[2015-01-13 07:37] kmsravindra opened #8 "In adjustable attraction mode, the green horizontal line should be much thinner"
In adjustable attraction mode, the green horizontal line in Interaction potential graph should be much thinner. Please see mock-up

[2015-01-13 07:40] kmsravindra opened #9 "Interactions screen - The background of disabled zoomable icons should be much darker"
Interactions screen - The background of disabled zoomable icons should be much darker. Please see the mock-up

[2015-01-13 07:42] kmsravindra opened #10 "Interactions screen - Expand / Contract button for Forces should be on the left of the label"
Interactions screen - Expand / Contract button for Forces should be to the left side of the label "Forces". Please see mock-up

[2015-01-13 07:53] kmsravindra opened #11 "Log of minor UI issues"
Interaction screen -
1. Please check the label punctuation of Large/Small/Weak/Strong. They should read large/small/weak/strong. Please check all label punctuation.
2. The bottom bar label for Interaction sim should just read Interaction.
3. The horizontal adjustable green bar in interaction screen should be much thinner while the vertical green double arrows should be slightly broader. Please see

[2015-01-13 08:18] kmsravindra opened #12 "When hovering over buttons, the jittery motion of the atoms pause for a while"
When hovering over buttons / icons, the jittery motion of the atoms is pausing for a while.

[2015-01-13 08:24] kmsravindra opened #13 "When clicked on Reset in Phase changes screen, Pressure value is not getting reset"
When clicked on Reset in Phase changes screen, Pressure value is not getting reset

[2015-01-19 14:52] notsiddhartha commented on #9
Fixed here:
https://github.com/phetsims/atomic-interactions/commit/6c102b67d8aa3dafddcffbfa09e77887531b41ec

[2015-01-19 14:55] notsiddhartha commented on #4
Can't reproduce. Phet logo is pulled from the brand folder. Can you check if you have that folder in your set up?

[2015-01-19 14:56] notsiddhartha commented on #1
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-19 14:58] notsiddhartha commented on #3
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-19 14:58] notsiddhartha commented on #5
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-19 15:00] notsiddhartha commented on #8
Made thinner in the latest code. Assigning to @kmsravindra for verification.

[2015-01-19 15:01] notsiddhartha commented on #9
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-19 15:03] notsiddhartha commented on #10
Fixed here: https://github.com/phetsims/atomic-interactions/commit/e41e8e4b70abdcc911e1e6988f1edf4c3c51ec80
Assigning to @kmsravindra for verification

[2015-01-19 15:03] notsiddhartha commented on #13
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-19 15:11] notsiddhartha commented on #11
Fixed with the above commits. Assigning to @kmsravindra for verification.

[2015-01-20 09:50] kmsravindra commented on #13
Looks good. Closing

[2015-01-20 09:50] #13 closed

[2015-01-20 09:57] kmsravindra commented on #11
Looks good. Closing

[2015-01-20 09:57] #11 closed

[2015-01-20 09:58] kmsravindra commented on #10
Looks good. Closing

[2015-01-20 09:58] #10 closed

[2015-01-20 09:59] kmsravindra commented on #9
Looks good. Closing.

[2015-01-20 09:59] #9 closed

[2015-01-20 09:59] kmsravindra commented on #8
Looks good. Closing.

[2015-01-20 09:59] #8 closed

[2015-01-20 10:04] kmsravindra commented on #5
Looks good. However in interactions screen - there are 2 minor issues noticed when changing the background to white.
1. the fonts epsilon and sigma are also white on the graph and so they do not appear.
2. The label "Atoms & Molecules" appears to be off-centered from the box.

[2015-01-20 10:08] kmsravindra commented on #4
Looks good. Closing.

[2015-01-20 10:08] #4 closed

[2015-01-20 10:09] kmsravindra commented on #3
Looks good. Closing.

[2015-01-20 10:09] #3 closed

[2015-01-20 10:09] kmsravindra commented on #1
Looks good. Closing

[2015-01-20 10:09] #1 closed

[2015-01-20 10:55] kmsravindra opened #14 "iPad2 - Home screen of SOM - Icon images appear to be partial"
on iPad2, when the SOM is launched on the home screen, the icon images appear to be partial. The images inside the icons do not appear in full as on desktop.

[2015-01-20 10:58] kmsravindra opened #15 "iPad2 - Changing the tabs in bottom bar is too slow"
When clicking on tabs "States" / "Phase changes" / "Interaction" the respective screen takes quite a while to change.

[2015-01-20 11:02] kmsravindra opened #16 "iPad2 - Phase changes screen - Grabbing / Pumping the pump handle is too slow"
1. Touch area for the grab handle for the pump might have to be increased
2. The handle is not moving in sync with swipe of the finger. Probably its too slow.

[2015-01-20 11:05] kmsravindra opened #17 "iPad2 - Phase changes screen - Container lid movement is very slow"
When Container lid is touched and moved, it moves very slowly on iPad2.

[2015-01-20 11:10] kmsravindra opened #18 "iPad2 - Interaction screen - Adjusting the graphical plot in Adjustable attraction mode"
on IPad2, its difficult to grab and adjust the graphical curve plot in Adjustable attraction mode.

[2015-01-20 11:15] kmsravindra opened #19 "iPad2 - Opening the options tab is too slow"
Takes lot of time to open and select the project colors checkbox on iPad2.

[2015-01-30 06:22] ChandrashekarBemagoni commented on #14
Fixed above. Assigning to @kmsravindra for verification.

[2015-01-30 19:46] phet-steele opened #20 "Atom diameter slider doesn't reach minimum"
In the interaction screen with adjustable attraction selected, the slider to change atom diameter does not reach the minimum allowable diameter in the sim. In other words, after dragging the slider all the way to the left to make the atom smaller, the user can then use the arrows on the graph that go left and right to make the atom even smaller (by moving the graph left).

Video:
https://drive.goo

[2015-01-30 19:54] phet-steele opened #21 "Icons look bad on FF and IE"
Image scaling, especially on the screen images, is bad in FF and IE. FF/Chrome comparison:

FF
![ffstates](https://cloud.githubusercontent.com/assets/5863899/5982299/e4cb14ce-a87e-11e4-9b16-648e21f9d605.png)

Chrome
![chromestates](https://cloud.githubusercontent.com/assets/5863899/5982308/f6b04876-a87e-11e4-862e-f3ea27ca6c09.png)

Troubleshooting information:
Name: States of Matter
URL: http://ww

[2015-01-30 20:02] phet-steele opened #22 "FF heating/cooling bucket text is blurry when its slider is manipulated"
Seen in Win 8.1, FF 35.0.1 with 1.0.0-dev.2

Video:
https://drive.google.com/file/d/0B3HJopSo_QqLSkVLbWxxRTZqNFU/view?usp=sharing

Troubleshooting information:
Name: States of Matter
URL: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.2/states-of-matter_en.html
Version: 1.0.0-dev.2
Features missing: touch
User Agent: Mozilla/5.0 (Windows NT 6.3; WOW64; rv:35.0) Gecko/2010

[2015-01-30 20:05] pixelzoom commented on #21
The screen images are currently huge, 4267x2792.  They should be scaled down for the home screen. And if you want the navbar icons to look better in Firefox, create navbar-specific images at 147x100.

[2015-01-30 21:27] phet-steele opened #23 "Layered molecules behavioral inconsistency"
This is a known occurrence in Java as well, and would be difficult to fix. When molecules are in front of the nozzle that leads from the pump, the newly added pumped molecules move as if the original molecules weren't there, instead of interacting with any other molecules . This makes sense because the new incoming molecules need a place to go so moving behind the "blockage" is acceptable. The pro

[2015-02-02 18:58] phet-steele opened #24 "Rapid water phase switching causes explosion"
On the States screen, rapidly switching between the solid, liquid, and gas phases of water for a bit causes the lid to blow off.

![statomat](https://cloud.githubusercontent.com/assets/5863899/6006769/4e91e608-aad2-11e4-949f-11dac3533ae7.gif)

Occurs in all Win 8.1 browsers and OSX 10.9.5 browsers on 1.0.0-dev.2

Troubleshooting information:
Name: States of Matter
URL: http://www.colorado.edu/phys

[2015-02-02 19:49] phet-steele opened #25 "Point on graph flickers at lowest potential"
On the Interaction screen, the point on the graph will flicker at the lowest potential if the atoms are visibly stationary. The lowest potential in this situation is the highest value of interaction strength for the adjustable attraction atom. This also appears to happen at any atom diameter.

To reproduce,
1. Go to the Interaction screen.
2. Choose the Adjustable Attraction atom.
3. Slide the Int

[2015-02-03 16:45] orejolaphet opened #26 "Changing between types of atoms and molecules explodes water in "Phase Change" Scene"
Related to https://github.com/phetsims/states-of-matter/issues/24
Test device: Mac Book Pro
Operating System: 10.9.4
Browser: Chrome 39

Problem description:
In the "Phase Change" Scene if you give a solid enough energy so that it reaches the critical point, rapidly changing between types of molecules will cause water to explode upon selection.

Steps to reproduce:
-Select "Phase Change" scene
-Ad

[2015-02-03 16:56] orejolaphet opened #27 "Water molecules stop rotating/change direction when adding new molecules."
Test device: MacBook Pro
Operating System: 10.9.4
Browser: Chrome 39
Problem description: If a few particles are in the container in the "Phase Change" scene, the addition of a more water molecules cause some molecules to stop rotating, and change direction without a collision.

Steps to reproduce:
Select "Phase Change" Scene
Select Water
Push down on lid until a lid explodes
Wait until most of th

[2015-02-03 17:33] bryo5363 opened #28 "Oxygen molecules lose all rotational energy when switching between molecules"
Test device: MacBook Pro

Operating System: OSX 10.10.1

Browser: Safari 8.0 (10600.1.25.1)

Problem description: When switching between molecules in the Phase Changes tab, I noticed that oxygen lost all of its rotational energy while all other molecules retained their motion.

Steps to reproduce:
-open sim
-open phase changes tab
-select oxygen
-select another molecule
-go back to oxygen. Notice

[2015-02-06 16:52] jbphet commented on #20
Something's a bit odd with this.  I can duplicate it on the 1.0.0-dev.2 version that is posted to the development server, but I can't duplicate it on master.  None of the commits that have been made since this version was posted would appear to address the issue, some I'm not sure what is up.  I'll assign this to myself to follow up once the next dev version is out.

[2015-02-06 16:54] jbphet commented on #21
These icons are basically just screen shots, and no icons are currently depicted in the design doc.  Assigning to @ariel-phet to get manage the design and creation of icons that will work better.

[2015-02-06 17:06] jbphet commented on #22
This is a Firefox only issue, and similar issues have been seen on other simulations.  This isn't a bug in the sim code, so I'll assign it to myself and talk with other developers to find out if there is any fix for this.  All in all, it seems pretty minor.

[2015-02-06 17:12] jbphet commented on #23
Assigning to @ariel-phet to have him decide if this is something that we should try to address.  It behaves this way because when incoming particles are added to the container, they can't start by overlapping any other particles or it will cause excessive repulsion in the model, and the particles become way too energetic and often blow out of the container.  So, newly added particles exist in a so

[2015-02-06 17:16] jbphet commented on #24
This can be easily duplicated on version 1.0.0-dev.2.  I just tested the current version on the master branch, and it seems like @ChandrashekarBemagoni's change has fixed the behavior.  I will leave this open and assign to me for now, and will have it tested on the next dev release.

[2015-02-06 17:17] jbphet commented on #25
I was able to duplicate this on the current version of master.  Assigning to @kmsravindra to investigate.

[2015-02-06 17:22] jbphet commented on #26
This is easy to duplicate on v1.0.0-dev.2, but seems to be fixed on master with @ChandrashekarBemagoni's recent commit.  I will self assign, and will have this tested on the next dev version.

[2015-02-06 17:29] jbphet commented on #27
This can be duplicated on 1.0.0-dev.2 and is also still an issue on the current master branch.  I created a similar condition in the Java sim, and this issue didn't occur, or was at least much less obvious.

This is almost certainly related to the 'thermostat' code, which adjusts the energy in the various particles in order to keep the overall temperature reasonably stable.

Assigning to @kmsravin

[2015-02-06 18:02] jbphet opened #29 "Back of container is in front of particles in the z-order"
The z-order layering is not quite correct.  The two screen shots below should make the issue clear.  The first is from the HTML5 version of the sim, the second, which shows the correct layering, is from the Java version.

![som-new](https://cloud.githubusercontent.com/assets/3082831/6084571/4f4c7e8a-adef-11e4-888f-2a0471a8079c.png)

![som-old](https://cloud.githubusercontent.com/assets/3082831/608

[2015-02-11 16:43] ariel-phet commented on #21
@arouinfar you and I should work on some icons for SOM

[2015-02-13 05:23] ChandrashekarBemagoni commented on #20
https://github.com/phetsims/atomic-interactions/commit/0234c7f2ba472fe2e6d89c7b1fb73c20e486ac38
Fixed in the above commit.

[2015-02-13 05:46] ChandrashekarBemagoni commented on #29
Fixed in the above commit. Assigning to @jbphet for verification.

[2015-02-13 12:42] notsiddhartha commented on #25
A similar issue exists in the Java version as well. Looks like once in a while the point is going beyond the chart bounds and hence is not displayed resulting in a flickering display.

[2015-02-13 14:56] notsiddhartha commented on #28
moleculeForce and moleculeTorque are becoming zero after switching back. Need to investigate further.

[2015-02-16 14:51] notsiddhartha commented on #28
We observed that the temperature scale factor is turning out to be a small value. The rotation rates are multiplied by the scale factor and we are running the thermostat 8 times per dt. As a result rotation rates are turning out to be pretty small after switching to Oxygen from a different molecule.

@jbphet, what do you think of the above?

[2015-02-16 14:53] notsiddhartha commented on #27
The offset was wrong and the particle direction had to be switched. In the Java version, particles are injected from right to left (negative X direction) while in the HTML5 version they are injected from left to right (positive X direction)

[2015-02-16 18:32] notsiddhartha commented on #27
Fixed above. Assigning to @orejolaphet for review

[2015-02-16 18:33] notsiddhartha commented on #27
Couldn't assign to @orejolaphet. Assigned to @jbphet

[2015-02-19 16:54] jbphet opened #30 "Code review"
The first round of dev testing is complete and the issues found have been addressed.  Time for the code review.

[2015-02-19 23:45] jbphet opened #31 "Verify against design spec"
ActualConcepts has delivered a version of this simulation that is ready to be verified against the design spec.  This will be assigned to the original designer of the HTML5 version.

Link to version that should be verified: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.3/states-of-matter_en.html.

[2015-02-19 23:46] jbphet commented on #31
@arouinfar - Please log anything that needs to be resolved in a separate issue, and close this issue once your review is complete.

[2015-02-24 20:35] jbphet commented on #29
Much better - thanks.  Closing.

[2015-02-24 20:35] #29 closed

[2015-02-24 22:21] jbphet commented on #27
Tested the current version of the master branch, and the problem appears to be resolved.  Closing.

[2015-02-24 22:21] #27 closed

[2015-02-24 22:36] jbphet opened #32 "Finger and lid movement are incorrect when compressing the container"
On the "Phase Changes" screen, if the finger or lid is grabbed and dragged downward, the finger and lid only move when being dragged.  In the original version of the simulation, the finger and lid would be limited in how fast they move, but would eventually "catch up" to the end drag location.  The HTML5 version needs to match this behavior.

Also, and possibly related, I noticed that when draggin

[2015-02-24 23:12] jbphet opened #33 "Can we change how the base of the pump looks?"
The base of the pump looks funny to my eye, like it has feet, and I've never seen a bicycle pump with a base that looks anything like this.  In a sim that was targeted at a younger audience, this might be fine, but it looks odd to me in this sim.

![pump](https://cloud.githubusercontent.com/assets/3082831/6361477/e6eca64e-bc3f-11e4-9196-33af22dd2be7.png)

[2015-02-24 23:38] arouinfar commented on #33
The foot pads were designed to have a bit more dimension than the straight line that appears in our older sims.

Here's an example of the look we were going for.
![image](https://cloud.githubusercontent.com/assets/8419308/6361798/38884db6-bc43-11e4-9b9b-a5c613fbc1ef.png)

I'll discuss it with @ariel-phet.

[2015-02-25 00:01] arouinfar opened #34 "Shift Slider on Heat Bucket to the Right"
This is a duplicate of the issue reported for States of Matter: Basics (https://github.com/phetsims/states-of-matter-basics/issues/2)

The slider on the heat bucket should be shifted to the right to accommodate translations with longer strings.

dev.2:
![image](https://cloud.githubusercontent.com/assets/8419308/6361937/86b49746-bc44-11e4-97fd-2ef74b230f04.png)

mockup:
![image](https://cloud.githu

[2015-02-25 00:08] jbphet commented on #28
There is still something a bit odd about switching to oxygen when it is in a gaseous state.  I've just switched back and forth a bunch of times using the current master version, and it's hard to describe exactly what the issue is, but it appears to be that the energy is not very evenly distributed between the molecules.  There are a handful that are moving very quickly, and quite a few that aren't

[2015-02-25 00:09] arouinfar opened #35 "State Buttons Should Deselect when Heat Added/Removed"
This is a duplicate of the issue reported for States of Matter: Basics (https://github.com/phetsims/states-of-matter-basics/issues/3)

----

When heat is added/removed from the system, the state buttons should deselect. This behavior is present in the original Java sim.

In the screenshot below, the heat was added to solid water until it became a liquid. However, the solid button is still selected

[2015-02-25 00:18] jbphet opened #36 "Need to add credits"
Current master version has no credits.

[2015-02-25 00:24] jbphet opened #37 "Particles appear to move twice as fast versus the Java version"
When compared side-to-side with the Java version, particles in the HTML5 version appear to move much faster than those in the Java version when the substance is at the same temperature.  This is particularly noticeable when the substance is in the gaseous state.

This is probably related to the different in frame rates between the sims, since the browser clock rate is 60fps whereas the clock in th

[2015-02-25 00:33] jbphet opened #38 "Runaway particle in liquid phase"
On the "States" screen, if the user selects Neon or Argon and then switches back and forth between the solid and liquid states, there is often a 'runaway particle' or two, meaning a particle that is separated from the rest of the liquid blob and moving fairly quickly.  In some cases, it's moving very rapidly.  This doesn't occur on the Java version.

This problem can be reproduced on http://www.co

[2015-02-25 00:45] arouinfar commented on #37
I agree with @jbphet. The molecules look a bit too jittery in the HTML5 version. Since neither of us are chemistry content experts, we'd like @emily-phet's input. Do you think having faster molecules could interfere with student learning, or is the current behavior acceptable?

[2015-02-25 13:45] ChandrashekarBemagoni commented on #32
https://github.com/phetsims/states-of-matter/commit/2bf413fcda511b264baaa7fa8a0836842dc5388f

[2015-02-25 20:54] emily-phet commented on #37
Hi folks - I agree, the particles are moving too fast now. For example, if you look at water, even at quite low temperatures it's difficult to track individual molecules and notice interesting things (like how there is often particular alignment between hydrogens and oxygen of different water molecules). At higher temperatures, I think it may be distracting to students that some molecules can star

[2015-02-25 23:42] ycarpenterphet opened #39 "Alignment of horizontal axis label does not match design spec"
Duplicate of https://github.com/phetsims/atomic-interactions/issues/3

[2015-02-27 00:55] pixelzoom opened #40 "various problems with atom colors"
(1) The sim does not use color-blind red for oxygen, 'rgb(255,85,0)'.

(2) In fact, it uses 2 different colors for oxygen in SolidLiquidGasMoleculesControlPanel:

(3) Color are not encapsulated anywhere. Changing the colors in SolidLiquidGasMoleculesControlPanel (for example) does not change them elsewhere. This indicates that color literals are duplicated, making them difficult to change.

[2015-02-27 01:01] pixelzoom opened #41 "SVGBlock error when lid blows off the vessel"
To reproduce:

1. Go to "Phase Change" screen
2. Push finger down until top blows off the vessel.
3. Observe endless stream of errors in console:

![screenshot_216](https://cloud.githubusercontent.com/assets/3046552/6405495/44206358-bde1-11e4-85d1-a508e9edfc26.png)

[2015-02-27 01:04] pixelzoom opened #42 "overlapping touch areas"
See screenshot. Touch areas should not overlap because (a) user may inadvertently make the wrong selection, and (b) which node is selected will be dependent on scenery graph order,

![screenshot_217](https://cloud.githubusercontent.com/assets/3046552/6405528/c4632046-bde1-11e4-8103-d09028914c65.png)

[2015-02-27 01:05] pixelzoom commented on #42
Actually, this is also true of all the selections in the "Atoms & Molecules" panel, the touch areas (red dashed lines) overlap considerably.

[2015-02-27 01:13] pixelzoom opened #43 "Reset All button is too close to panel"
See 'Phase Change' screen. There 'Reset All' button looks very crowded, and there's lots of extra space between the panels above it.

![screenshot_220](https://cloud.githubusercontent.com/assets/3046552/6405628/18db46d4-bde3-11e4-9674-25918a4c790f.png)

[2015-02-27 01:22] pixelzoom opened #44 "i18n problems with Phase Diagram"
There are lots of i18n problems with the 'Phase Diagram' panel on the 'Phase Changes' screen.

Here's the panel with the default English strings:

![screenshot_220](https://cloud.githubusercontent.com/assets/3046552/6405638/2f448a98-bde3-11e4-82e4-4c84109ddbf7.png)

Here's the panel after I made the strings a tad longer, by adding 'XXXX' to the default English strings(not an unreasonable change in

[2015-02-27 01:24] pixelzoom opened #45 "test i18n"
Based on https://github.com/phetsims/states-of-matter/issues/44, I wouldn't be surprised if this sim has other i18n problems. Has it been rigorously tested to confirm that its layout will adapt properly to other languages?

[2015-02-27 01:26] pixelzoom opened #46 "i18n issues with "Interaction Potential" panel"
Similar issues to #44, here's a screenshot:

![screenshot_221](https://cloud.githubusercontent.com/assets/3046552/6405777/fd3a715a-bde4-11e4-9894-44d79d099fc4.png)

[2015-02-27 01:27] pixelzoom commented on #45
Confirmed in #46 that there are indeed other i18n issues.

[2015-02-27 01:29] pixelzoom opened #47 "problem with "Atoms & Molecules" panel"
There's something overlapping the edges of the "Atoms & Molecules" panel in the "Interaction" screen. Here's a screenshot, see how the white border is interrupted on the left and right edges.

master + Mac + all browsers.

![screenshot_222](https://cloud.githubusercontent.com/assets/3046552/6405801/5174d288-bde5-11e4-8fb7-ed79db7a6753.png)

[2015-02-27 01:36] pixelzoom opened #48 "states-of-matter depends on atomic-interactions"
(1) The dependency on atomic-interactions is missing from package.json.

(2) This is the exact same problem that we have with fluid-pressure-and-flow and under-pressure, see https://github.com/phetsims/under-pressure/issues/118. atomic-interactions is a single screen from states-of-matter. We agreed that this should be fixed fluid-pressure-and-flow and under-pressure, why shouldn't it be fixed her

[2015-02-27 01:39] pixelzoom commented on #48
Places where states-of-matter is using atomic-interactions shown in screenshot below. This is identical to how FPAF is using under-pressure.

![screenshot_223](https://cloud.githubusercontent.com/assets/3046552/6405925/c6369d4e-bde6-11e4-927c-9edc205bfa80.png)

[2015-02-27 01:41] pixelzoom commented on #41
@jonathanolson FYI.

[2015-02-27 02:17] jonathanolson commented on #41
Let me know about priority (it was on the live-coding list, but I'm happy to just take care of it).

[2015-02-27 12:03] ChandrashekarBemagoni commented on #47
Fixed in latest code.

[2015-02-27 12:07] ChandrashekarBemagoni commented on #47
Fixed in latest code.

[2015-02-27 12:20] ChandrashekarBemagoni commented on #47
Assinging to @pixelzoom  for verification.

[2015-02-27 12:22] ChandrashekarBemagoni commented on #40
Fixed in above commit .Assinging to @pixelzoom for review.

[2015-02-27 12:25] ChandrashekarBemagoni commented on #35
Fixed in above commits. Assinging to @arouinfar  for verification

[2015-02-27 12:26] ChandrashekarBemagoni commented on #34
Fixed in above commit. Assinging to @arouinfar  for verification.

[2015-02-27 12:27] ChandrashekarBemagoni commented on #32
Fixed in above commit. Assinging to @jbphet  for verification

[2015-02-27 12:30] ChandrashekarBemagoni commented on #20
Assigning to @jbphet  for verification.

[2015-02-27 12:31] ChandrashekarBemagoni commented on #7
Fixed in latest code. Assigning to @kmsravindra  for verification

[2015-02-27 12:33] ChandrashekarBemagoni commented on #5
Fixed in latest code .Assigning to @kmsravindra  for verification.

[2015-02-27 12:33] ChandrashekarBemagoni commented on #2
Fixed in latest code .Assigning to @kmsravindra for verification.

[2015-02-27 17:35] ariel-phet commented on #23
@jbphet and @phet-steele - actually I think this behavior is reasonable (a bit odd and visually inconsistent yes, but reasonable). The molecules being pumped in are in a gaseous state, so they actually are going to react to the addition of heat more obviously. The addition of heat goes into "lattice vibrations" for the solid block (which is kinetic energy), but visually that increase in kinetic en

[2015-03-02 05:09] kmsravindra commented on #5
Looks good. Closing.

[2015-03-02 05:09] #5 closed

[2015-03-02 05:46] kmsravindra commented on #2
Looks good. Closing.

[2015-03-02 05:46] #2 closed

[2015-03-02 05:47] kmsravindra commented on #7
Looks good. Closing

[2015-03-02 05:48] #7 closed

[2015-03-02 05:49] kmsravindra commented on #14
Looks good. Closing

[2015-03-02 05:49] #14 closed

[2015-03-02 16:59] jbphet commented on #48
Agreed - this should be reorganized.  I don't know that we ever communicated the requirement that Atomic Interactions should reach into States of Matter, and not the other way around, to ActualConcepts.  I will take on the reorganization and will communicate this policy to ActualConcepts so that they are aware of it for future sim development.

[2015-03-02 17:21] jbphet commented on #47
Looks fine now, closing.

[2015-03-02 17:21] #47 closed

[2015-03-02 17:33] jbphet commented on #42
Assigning to @kmsravindra.  I'm pretty sure you know how to view these areas but, just in case, the query param to make them visible is 'showPointerAreas'.

[2015-03-02 17:39] jbphet commented on #41
I am not able to duplicate this on either the current master version or the most recently published dev version (v1.0.0-dev.3).  I'm on Chrome+Win7.  Assigning to @jonathanolson for information about whether this was a short-term issue that is now corrected.  If not, he should reassign to @pixelzoom for more info on how to recreate.

[2015-03-02 17:43] jbphet commented on #39
Closing as duplicate.

[2015-03-02 17:43] #39 closed

[2015-03-02 17:47] pixelzoom commented on #41
Fixed by https://github.com/phetsims/scenery/issues/385.

[2015-03-02 17:47] #41 closed

[2015-03-02 18:04] pixelzoom commented on #40
StatesOfMatterConstants.OXYGEN_COLOR was not the correct value for color-blind red. I've changed it. Assigning to @jbphet for approval.

[2015-03-02 18:12] pixelzoom opened #49 "argon and oxygen colors are very similar"
After fixing oxygen to use 'colorblind red' in #40, argon and oxygen are now very similar in color.  Will this be an issue for colorblind users?

![screenshot_475](https://cloud.githubusercontent.com/assets/3046552/6446963/08a94522-c0cc-11e4-8e8d-589648a953be.png)

[2015-03-02 18:15] pixelzoom opened #50 "should this sim use nitroglycerin?"
Two of the 4 atoms present in this sim (H,O) are specified in nitroglycerin (see Element). And it would be nice if this sim contributed the other 2 (Ne, Ar) back to nitroglycerin.  Instead, this sim is duplicating colors.

[2015-03-02 18:17] pixelzoom opened #51 "dioxygen is labeled as oxygen - translation issue"
Oxygen is an atom. Dioxygen is a molecule. I would expect chemistry teachers to complain about the presentation in the control panel below, which shows a dioxygen molecule labeled as oxygen.

![screenshot_476](https://cloud.githubusercontent.com/assets/3046552/6447173/7eedb21c-c0cd-11e4-8f16-e06a99bbf6ec.png)

[2015-03-02 19:14] jbphet commented on #51
Labeling diatomic oxygen as "Oxygen" is consistent with the original Java sim, and I've never heard any complaints about it.  I just discussed it in person with @arouinfar and she believes this is a non-issue.  Closing for now, will reopen if we hear any objections after publication.

[2015-03-02 19:24] jbphet commented on #32
This is better, but the use can move it much faster than in the original sim.  I recall that we wanted to avoid making the motion too quick because it makes it easy to cause the container to explode, and kids tend to fixate on that.  I am assigning this back to @ChandrashekarBemagoni to make the max rate of lid motion more quickly match that of the original Java sim.

[2015-03-02 19:44] arouinfar commented on #34
Looks good, closing.

[2015-03-02 19:44] #34 closed

[2015-03-02 19:45] arouinfar commented on #35
Thanks! Looks good, closing.

[2015-03-02 19:45] #35 closed

[2015-03-02 20:23] jbphet commented on #49
Assigning to @arouinfar, since she did the visual redesign, to decide if one of the colors should be modified to be more distinct.

[2015-03-02 20:28] jbphet commented on #36
Initial credits have been added, will leave this open for now to remind us to finalize them before starting the release process.

[2015-03-02 20:45] jbphet opened #52 "Assertion for removal of node that is not a child"
In the current master version, an assertion is encountered on startup.  It appears to be from the AtomicInteractions screen.  Here is a stack trace with what seemed to me like the relevant bits:

window.assertions.assertFunction (assert.js:22)
extend.removeChild (Node.js?bust=1425328889108:264)
(anonymous function) (AtomicInteracti…5328889108:371)
inherit.link (Property.js?bus…5328889108:161)
Atom

[2015-03-02 21:13] ycarpenterphet commented on #49
It should also be noted that it looks like the colours of the atoms themselves in the Interactions screen were updated to match these icon colors, which makes Argon and Oxygen very difficult to distinguish in Atomic Interactions (where you can have one of each type paired together), especially for a color-blind user:

This is the illustrator color blindness preview (both protanopia and deuteranopi

[2015-03-02 21:20] jbphet opened #53 "Energy is not conserved in some cases in the "interactions" screen"
On the interactions tab, the atoms don't always retain the same energy level that they start with.  This can be duplicated on version http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.4/states-of-matter_en.html.  To see the behavior, open the sim, go to the "Interactions" screen, choose Adjustable Attraction, and slide the diameter all the way down.  Then position the atom a

[2015-03-02 21:23] jbphet commented on #20
Tested on http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.4/states-of-matter_en.html and the issue appears to be fixed.  Closing.

[2015-03-02 21:23] #20 closed

[2015-03-02 21:25] jbphet commented on #22
Assigning to @jonathanolson to take a look.  As I recall, this is just something that Firefox does, and there isn't that much that can be done about it.  If that's the case, @jonathanolson should just close the issue.  If something *can* be done (with reasonable effort), please let us know.

[2015-03-02 21:29] jbphet commented on #24
I just tested this on http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.4/states-of-matter_en.html and the problem appears to be corrected.  Closing.

[2015-03-02 21:29] #24 closed

[2015-03-02 21:31] jbphet commented on #26
I just tested this on http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.4/states-of-matter_en.html and the problem appears to have been corrected.  Closing.

[2015-03-02 21:31] #26 closed

[2015-03-02 21:32] arouinfar commented on #49
I updated the red in the mockup to colorblind red and used Illustrator's colorblind preview modes (screenshots below) to check the contrast between argon and oxygen. I think the contrast could be improved.

Protanopia-type:
![image](https://cloud.githubusercontent.com/assets/8419308/6450208/7c2507f4-c0e3-11e4-99fb-23ab47fbea93.png)

Deuteranopia-type:
![image](https://cloud.githubusercontent.com/a

[2015-03-02 21:33] jbphet commented on #40
@arouinfar is going to use the colors from the original simulation.  She inherited the spec, and doesn't know why the colors were changed, so we're going to change them back since they were vetted for colorblindness back when the Java version was released.

[2015-03-02 21:36] arouinfar commented on #43
I agree, the mockup had the panels and reset all button equally spaced. The panels should also have equal widths. Currently, the Phase Diagram panel is too wide.

![image](https://cloud.githubusercontent.com/assets/8419308/6451119/8b7284e2-c0e9-11e4-8058-2b97f4bebbb5.png)

[2015-03-02 21:43] pixelzoom commented on #40
As mentioned in https://github.com/phetsims/states-of-matter/issues/50, colors in nitroglycerin have also been approved for use across all chemistry sims. If this sim is going to deviate from those colors, that should be part of a large 'chem team' discussion.

[2015-03-02 21:53] ycarpenterphet commented on #40
@pixelzoom Do you know if the colors described in nitroglycerin cover Neon and Argon atoms?

I can see sticking with consistent colors vs. nitroglycerin for the oxygen atoms in oxygen and water here, but we may have to play around with the colour of the large moveable atom in the Interactions screen and in Atomic Interactions.

[2015-03-02 22:00] pixelzoom commented on #40
As noted in https://github.com/phetsims/states-of-matter/issues/50, nitroglycerin does not currently include Neon and Argon. And it would be nice if chem sims would proactively contribute new things to nitroglycerin that other sims can reuse, rather than waiting for someone to later discover that a sim already defined (possibly different) properties for an Element.

[2015-03-02 22:01] arouinfar opened #54 "Extend length of arm"
The hand should be given a bit more of an arm so it extends beyond the bounds of an iPad screen. I can also work with @jbphet to update the artwork so the arm fades away to avoid the severed look at non-standard window sizes.

![img_0049](https://cloud.githubusercontent.com/assets/8419308/6451525/3816583e-c0ec-11e4-8a37-1a6563e0afe0.PNG)

[2015-03-02 22:09] ycarpenterphet commented on #40
I suspect the reason that Ne and Ar are not part of nitroglycerin is that they don't have standard colors in chemistry -- whereas commonly discussed atoms like H, O, N do have disciplinary conventions.

It would be useful for our sims to be consistent between sims where possible, though.

Either way, @arouinfar and I can discuss the color used for oxygen in the SOM suite and decide how to proceed

[2015-03-02 22:46] jonathanolson commented on #22
It's on my list of things Firefox does that I don't know how to work around so far. As requested above, closing.

[2015-03-02 22:46] #22 closed

[2015-03-03 00:20] arouinfar opened #55 "Stroke around Atoms & Molecules panel should be white"
The stroke around the Atoms & Molecules panel appears to be slightly yellow, as does the stroke around the selection. Both should be white.

![image](https://cloud.githubusercontent.com/assets/8419308/6453882/4e62143e-c100-11e4-8976-e7a30bf3bfac.png)

[2015-03-03 00:29] arouinfar opened #56 "Phase Diagram panel needs adjusting"
The Phase Diagram panel on the Phase Changes screen should have the same width as the other panels.  There should also be more negative space between the word "Pressure" and the edge of the panel. The label can be moved closer to the vertical axis. The text within the phase diagram does not match the mockup. The text should all be lower case and the "triple point" and "critical point" labels shoul

[2015-03-03 00:36] pixelzoom commented on #56
You're going to have i18n problems with "critical point" being to the right of the point. It already looks cramped, and the only option will be to scale the text down as it gets longer. Recommended to move to the left of the point.

[2015-03-03 00:37] pixelzoom commented on #56
@arouinfar You're going to have i18n problems with "critical point" being to the right of the point. It already looks cramped, and the only option will be to scale the text down as it gets longer. Recommended to move to the left of the point.

[2015-03-03 00:38] arouinfar opened #57 "Reduce the height of the Atoms & Molecules panel"
There is too much negative space between Water and the border of the panel on the States screen. There is a similar issue on the Interaction screen. The height of the panel should be reduced to match the amount of negative space present in the mockup.

dev.4:
![image](https://cloud.githubusercontent.com/assets/8419308/6454082/be1ebb2c-c102-11e4-9a0b-531b4c7bc9ae.png)
![image](https://cloud.githubu

[2015-03-03 00:38] pixelzoom commented on #56
Have you considered right justification of "triple point"? Those 2 words are about the same length in English, but that's not guaranteed for all locales.

[2015-03-03 00:47] arouinfar opened #58 "Adjustable attraction sliders need adjusting to match spec"
The sliders for the adjustable attraction option need some updating to match the mockup. On the Phase Changes screen, the ends of the slider are disconnected from the body. For all of the sliders, the width should be increased to match the mockup. The sliders and Atom Diameter/Interaction Strength labels should also be centered within the panel.

dev.4 Phase Changes Screen:
![image](https://cloud.

[2015-03-03 01:36] ycarpenterphet commented on #51
This is one of those weird things about chemical nomenclature - O2 is pretty commonly referred to by chemists and chemistry texts as 'oxygen' (and this drives students crazy). Different instructors will deal with this differently, some preferring to use dioxygen, some using "oxygen gas" or "molecular oxygen" to indicate O2 and "oxygen atom" to refer to O.

FYI - this seems to be better handled in

[2015-03-03 06:49] ChandrashekarBemagoni commented on #52
Fixed in this commit.https://github.com/phetsims/atomic-interactions/commit/b033e576343a9c8fa4c0f072b3301a554c00b13b

[2015-03-03 16:02] pixelzoom commented on #51
@ycarpenterphet wrote:

Does the HTML5 version support 2 different strings, or has the Java problem been ported?

[2015-03-03 16:02] pixelzoom commented on #51
Reopening until @ycarpenterphet replies.

[2015-03-03 16:11] arouinfar commented on #56
@pixelzoom, thanks for your suggestions. The mockup was designed to look like the Java sim, but if that arrangement will be problematic, I'm happy to tweak it.

It looks like the critical point label runs off the screen in some of the translated versions, so moving it to the left of the point is a good idea.
![image](https://cloud.githubusercontent.com/assets/8419308/6466299/d6170a96-c183-11e4-843

[2015-03-03 17:11] arouinfar commented on #56
Here's an adjusted mockup showing the changes I've requested.

![image](https://cloud.githubusercontent.com/assets/8419308/6467766/8144c666-c18d-11e4-8f11-9f9271278f10.png)

[2015-03-03 18:33] arouinfar opened #59 "Interaction potential missing epsilon arrow"
The interaction potential graph should have two arrows -- one to indicate sigma (atom diameter) and one to indicate epsilon (interaction strength). The location of the epsilon label in the current dev version is fine, but the arrow indicating the depth of the well should be present.

dev.4:
![image](https://cloud.githubusercontent.com/assets/8419308/6469351/ea367f74-c198-11e4-9f0b-f86ae56546bb.png

[2015-03-03 19:04] arouinfar commented on #59
Upon further investigation, I've noticed that the epsilon label shifts and is sometimes obscured by the axis. For example, oxygen selected:
![image](https://cloud.githubusercontent.com/assets/8419308/6469841/fcf89dd2-c19c-11e4-92a4-c298ff24cf1e.png)

If possible, it would be nice to keep the epsilon label in a fixed position above the axis like this:
![image](https://cloud.githubusercontent.com/as

[2015-03-03 19:49] arouinfar opened #60 "Interaction potential for adjustable attraction too deep"
At the strongest setting, the epsilon arrow extends beyond the boundaries of the interaction potential graph and obscures the axis label. In the Java sim, the maximum well depth does not allow for this to happen. When the interaction strength is at its strongest, there should be no overlap between the epsilon arrow and the horizontal axis.

dev.4:
![image](https://cloud.githubusercontent.com/asset

[2015-03-03 19:51] ycarpenterphet commented on #51
I'm not sure whether the HTML5 version supports 2 distinct strings - @jbphet can you comment?

[2015-03-03 19:55] arouinfar commented on #60
This issue also exists on the Interaction screen.

Maximum allowable depth in dev.4:
![image](https://cloud.githubusercontent.com/assets/8419308/6470917/64569ae0-c1a4-11e4-927b-e3ab53cc46ca.png)

Desired maximum depth:
![image](https://cloud.githubusercontent.com/assets/8419308/6470932/80427b8e-c1a4-11e4-9d54-4853e865f443.png)

[2015-03-03 20:04] ycarpenterphet commented on #60
This is unfortunately an issue carried over directly from the Java sim, at least on the larger version of the graph (in both Atomic Interactions, and the Interactions screen of states of matter).

Reassigning to @jbphet to decide if we should be responsible for fixing it, since the issue in the large graph originates in the Java version.

[2015-03-03 21:15] arouinfar commented on #60
The issue reported in my first post is not present on the Phase Changes screen of the Java sim. When the interaction strength is at the maximum value, the epsilon arrow does not overlap the horizontal axis.

![image](https://cloud.githubusercontent.com/assets/8419308/6472407/658094e2-c1af-11e4-8233-a1454d081108.png)

@jbphet, should this be split into two separate issues?

[2015-03-03 22:28] arouinfar opened #61 "Text on solid, liquid, gas buttons should be left aligned"
The text on the solid, liquid, and gas buttons on the State screen should be left aligned to match the mockup. It's currently right-aligned.

dev.4:
![image](https://cloud.githubusercontent.com/assets/8419308/6473808/0cea1b00-c1b9-11e4-9db3-5cfd1c73eef9.png)

Mockup:
![image](https://cloud.githubusercontent.com/assets/8419308/6473900/d348a2d0-c1b9-11e4-8a80-2672caabff3b.png)

[2015-03-03 22:54] arouinfar commented on #31
Review complete. Closing.

[2015-03-03 22:54] #31 closed

[2015-03-04 11:10] ChandrashekarBemagoni commented on #55
Fixed in above commits. Assiging to @arouinfar  for verification.

[2015-03-04 14:39] ChandrashekarBemagoni commented on #6
Fixed in latest code. Assigning to @kmsravindra for verification.

[2015-03-04 14:41] ChandrashekarBemagoni commented on #12
Fixed in latest code .Assiging to @kmsravindra  for verification

[2015-03-04 23:49] jbphet commented on #52
Looks great, closing.

[2015-03-04 23:49] #52 closed

[2015-03-05 06:33] ChandrashekarBemagoni commented on #59
Fixed in above commits.Assigning to @arouinfar  for verification

[2015-03-05 07:01] ChandrashekarBemagoni commented on #57
Fixed in above commits.Assiging to @arouinfar  for verification

[2015-03-05 09:10] ChandrashekarBemagoni commented on #43
Fixed in above commits. Assigning to @pixelzoom  for verification

[2015-03-05 17:52] pixelzoom commented on #43
Tested the above fixes. It looks like spacing is not uniform between the panels, see screenshot below. Assigning to @arouinfar to determine if that's significant.

![screenshot_477](https://cloud.githubusercontent.com/assets/3046552/6510804/9def1b2e-c325-11e4-93c8-232b1a31e4d0.png)

[2015-03-06 17:22] arouinfar commented on #43
Spacing around the reset all button looks good, but the Interaction Potential panel should be move up a little bit so it's centered. Reassigning to @ChandrashekarBemagoni.

[2015-03-06 19:48] pixelzoom opened #62 "should current-state marker use PhetColorScheme.RED_COLORBLIND ?"
In PhaseDiagram, line 199:

      .ellipse( 0, 0, CURRENT_STATE_MARKER_DIAMETER, CURRENT_STATE_MARKER_DIAMETER ), { fill: 'red' } );

Recommend to change 'red' to PhetColorScheme.RED_COLORBLIND.

[2015-03-06 19:51] pixelzoom commented on #62
'red' is also used for the value readout in the Pressure gauge, when it exceeds max pressure. See DialGaugeNode line 93:

This is probably OK because it's likely to remain visible to colorblind people. But thought I'd point it out.

[2015-03-06 19:58] jbphet commented on #50
I just spent a bit of time looking at this, and my initial impression is that using nitroglycerin in this sim would be fairly difficult.  There are several reasons, but the main two are:
- The model simulates the position of each atom separately, e.g. it doesn't have a water molecule in the model, it has a type that defines a water molecule's structure but it provides position data for each atom s

[2015-03-06 20:01] jbphet commented on #50
Having made the two points above, I'd be fine with extracting the color data for the atoms from this repo, and would be glad to put Ne and Ar in there.  From what I understand, we are using our own colors for these two elements because there isn't as much agreement in the chemistry world on how to portray them as there is for the other elements.

@pixelzoom - in your opinion, is it worthwhile for

[2015-03-06 20:50] pixelzoom commented on #50
@jbphet asked:

I think that's up to the chem team. Do they want colors to be reusable/fixable across all sims? Or are they OK with duplicating colors?  If they want to standardize on colors, then maybe they should be added to PhetColorScheme, then used in nitroglycerin.

[2015-03-07 00:42] arouinfar commented on #62
Here's what the color blind previews look like for the current red and colorblind red.

Current red:
![image](https://cloud.githubusercontent.com/assets/8419308/6538966/a75367cc-c426-11e4-9687-f3bb6d04c534.png)   ![image](https://cloud.githubusercontent.com/assets/8419308/6538971/b5716278-c426-11e4-9822-28608e3457bc.png)

Colorblind red:
![image](https://cloud.githubusercontent.com/assets/8419308/

[2015-03-07 00:42] #62 closed

[2015-03-07 00:44] arouinfar commented on #57
Looks good, closing.

[2015-03-07 00:44] #57 closed

[2015-03-07 00:45] arouinfar commented on #55
Fixed! Closing.

[2015-03-07 00:45] #55 closed

[2015-03-09 13:52] ChandrashekarBemagoni commented on #61
Fixed in above commit. Assigning to @arouinfar  for verification

[2015-03-09 13:54] ChandrashekarBemagoni commented on #32
Fixed in above commit.Assigning to @jbphet  for verification

[2015-03-09 17:48] pixelzoom commented on #51
The HTML5 version does not support 2 distinct strings. Both atomic-interactions and states-of-matter are using a single "Oxygen" string.  Relevant code:

states-of-matter-strings_en.json, line 20:

AtomicInteractionsControlPanel, line 39:

PhaseChangesMileculesControlPanel, line 35:

SolidLiquidGassMoleculesControlPanel, line 28:

[2015-03-09 19:52] jbphet commented on #60
Yes, this is two separate issues.  The issue reported in the first post is unique to the HTML5 version, and is not seen in the Java version, so I'm assigning to Actual Concepts.  I will put the issue reported by @ycarpenterphet into a separate issue and disposition it there.

[2015-03-09 20:01] jbphet opened #63 "Depth of potential well can get too deep on 'Interaction' tab"
This issue was originally reported in #60, but is being split out separately here.

@ycarpenterphet reports that the depth of the potential well gets too deep on the 'Interaction' tab, and goes under the graph axes.  The following screen capture shows the issue.

![ai-graph-1](https://cloud.githubusercontent.com/assets/3082831/6563164/903a383c-c664-11e4-93df-f48a77cd81b9.png)

This is what @ycarpe

[2015-03-09 20:06] jbphet commented on #63
For future reference, here is a dev version that exhibits this issue: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.4/states-of-matter_en.html.

[2015-03-09 20:14] jbphet commented on #63
There are two ways in which this could be addressed.  One is to scale the graph differently.  The other is to reduce the maximum value for the interaction strength in the "Adjustable Attraction" case.  The depth of the well is already pretty small for neon (see below), so I'm not sure it would be a good idea to change the scale of the graph.

![ai-neon-depth](https://cloud.githubusercontent.com/as

[2015-03-09 20:19] jbphet commented on #63
Assigning to @ycarpenterphet to finalize a decision about how to address this.  In addition to the two options mentioned above, it may be possible to change the layout such that the graph is a little larger.  And, of course, it's always possible just to leave it as is, since I'm not aware of anyone ever expressing dissatisfaction about the Java version.

[2015-03-09 20:46] arouinfar commented on #59
Behavior now matches the Java version, but could still use a bit more tweaking, so assigning to @jbphet

The arrow has poor contrast with the yellow curve.
![image](https://cloud.githubusercontent.com/assets/8419308/6563917/7ac5f800-c66a-11e4-8f4d-a31720efd7fe.png)

Let's try adding a black stroke around the epsilon arrow similar to the one around the sigma arrow. I think that should improve the c

[2015-03-09 20:47] arouinfar commented on #61
Looks great, thanks!.

[2015-03-09 20:47] #61 closed

[2015-03-09 22:04] jbphet commented on #54
I've modified the artwork to extend the arm and have it fade out at the top.  This was reviewed with @arouinfar, and she felt that it worked.  Closing.

[2015-03-09 22:04] #54 closed

[2015-03-09 22:18] jbphet commented on #51
I have created a separate string for diatomic oxygen and am using it on the panels on the "States" and "Phase Changes" screens.  The original string, simply named "oxygen", is being used in the Atomic Interactions sim.  Closing.

[2015-03-09 22:18] #51 closed

[2015-03-09 22:23] jbphet commented on #32
Looks good, closing.

[2015-03-09 22:23] #32 closed

[2015-03-09 22:41] jbphet commented on #21
I've integrated a new set of icons provided by @arouinfar.  For the most part, I think they look pretty good.  The only issue is that the phase changes icon is hard to interpret on the nav bar (in my opinion).  Assigning to @arouinfar to take a look and decide whether to modify this icon or to supply a different version for the nav bar.  @arouinfar - if you feel it is acceptable as is, please go a

[2015-03-10 14:35] ChandrashekarBemagoni commented on #58
Fixed in above commits. Assigning to @arouinfar  for verification

[2015-03-10 14:36] ChandrashekarBemagoni commented on #43
Fixed in above commits. Assigning to @arouinfar for verification

[2015-03-10 14:38] ChandrashekarBemagoni commented on #56
Fixed in latest code .Assigning to @arouinfar  for verification

[2015-03-10 21:05] pixelzoom opened #64 "title missing in strings file"
package.json shows:

There is no such key in the string file. This cause build process failures.

[2015-03-10 21:06] pixelzoom commented on #64
Fixed, assigned to @jbphet to review.

[2015-03-10 23:00] jbphet opened #65 "Various lint issue"
Looks like some lint issues have crept in due to recent commits, and lint is failing.

[2015-03-11 06:32] ChandrashekarBemagoni commented on #65
Fixed in above in commit. Assigning to @jbphet for verification

[2015-03-11 16:11] jbphet commented on #48
I've moved the code from the atomic-interactions repository into the states-of-matter repository, so the dependency issue has been addressed.  I tried to preserve the history of the atomic-interaction files by following the process described here: http://gbayer.com/development/moving-files-from-one-git-repository-to-another-preserving-history/.  This doesn't appear to have worked, since when I loo

[2015-03-11 16:11] #48 closed

[2015-03-11 16:11] jbphet commented on #48
As a side note, the converse of this issue was also logged on atomic-interactions, see https://github.com/phetsims/atomic-interactions/issues/15.

[2015-03-11 20:37] jbphet commented on #65
Much better - thanks.  Closing.

[2015-03-11 20:37] #65 closed

[2015-03-11 20:39] jbphet commented on #64
Looks good, thanks.  Closing.

[2015-03-11 20:39] #64 closed

[2015-03-16 18:43] arouinfar commented on #58
Looks good. Closing.

[2015-03-16 18:43] #58 closed

[2015-03-16 19:01] arouinfar commented on #56
There is still some remaining work that must be done to match the spec.
- [ ] triple point and critical point labels should be lower case
- [ ] triple point and critical point labels should be right aligned (currently left aligned)
- [ ] triple point and critical point label should be moved further to the left so that they will not obscured by the point when right aligned

Latest Pull:
![image](ht

[2015-03-16 19:04] arouinfar commented on #43
Thanks, looks good. Closing.

[2015-03-16 19:04] #43 closed

[2015-03-16 19:23] arouinfar opened #66 "Atom selection stroke should be centered within the panel"
The selection stroke in the Atoms & Molecules panel should be centered within the panel. The padding between the selection stroke and the name/icon of the atom in the latest pull looks good and should be maintained. The iconic atoms/molecules should be moved to the left a little bit so that there is equal space between the left side of the atom/molecule name and the right side of the molecules.

S

[2015-03-16 19:29] arouinfar opened #67 "Update artwork for solid, liquid, gas"
Artwork for the solid, liquid, gas state buttons on the State screen should match the icons used on the home screen. Self-assigning until artwork for home screen icon is finalized.

![image](https://cloud.githubusercontent.com/assets/8419308/6674506/3335988c-cbe8-11e4-904d-834cb818b3d1.png)
![image](https://cloud.githubusercontent.com/assets/8419308/6674554/8ac1bb62-cbe8-11e4-9615-cf63e3869a98.png

[2015-03-16 19:38] arouinfar opened #68 "Scale Distance Between Molecules Label"
Phase Diagram Screen, Interaction Potential Panel
The horizontal axis label displays "Distance Between Atoms" or "Distance Between Molecules" depending on whether or not the selection is an atom or molecule. Currently, the text is too large and displays "Distance Between Molec". Please have the string scale to fit the axis width. This will also be important for translations.

Latest pull:
![image]

[2015-03-16 22:45] pixelzoom commented on #67
The artwork mentioned above should be checked into the assets/ directory.  When an artist provides image files (png, jpg,...) they are supposed to also provide the associate .ai file.

[2015-03-17 05:33] ChandrashekarBemagoni commented on #60
Fixed in above commit. Assigning to @jbphet  for verification

[2015-03-17 19:48] arouinfar opened #69 "Tweaks to home screen icons"
As discussed with @jbphet there are a few changes to make to the home screen icons.

- [x] Send separate artwork for the solid, liquid, and gas to @jbphet to implement on the state buttons. (Artwork from https://github.com/phetsims/tasks/issues/197 was emailed to JB 4/9/15)
- [x] Add white outline to home screen icons (like in Color Vision)
- [x] Populate States screen icon using the artwork for t

[2015-03-17 19:52] arouinfar commented on #21
Closing this issue and moving future discussion of icons to #69.

[2015-03-17 19:52] #21 closed

[2015-03-17 19:54] arouinfar commented on #67
I have sent the appropriate artwork and asset files to @jbphet so that they can be checked in. Thanks, @pixelzoom.

[2015-03-17 23:20] arouinfar commented on #33
Just to update -- Alex has previously drawn the pump in 2D for a design task, which we will be revisiting as we redesign the base of the pump.
https://github.com/phetsims/tasks/issues/196

[2015-03-19 10:39] ChandrashekarBemagoni commented on #66
Fixed in above commit. Assigning to @arouinfar for verification

[2015-03-19 10:48] ChandrashekarBemagoni commented on #42
Fixed in above commits. Assigning to @pixelzoom for verification

[2015-03-19 10:52] ChandrashekarBemagoni commented on #68
Fixed in the above commit .Assigning to @arouinfar for verification

[2015-03-19 10:57] ChandrashekarBemagoni commented on #46
Fixed  in above commits .Assigning to @pixelzoom for verification

[2015-03-19 10:59] ChandrashekarBemagoni commented on #44
Fixed in above commits. Assigning to @pixelzoom for verification

[2015-03-19 11:01] ChandrashekarBemagoni commented on #56
Fixed in above commits. Assigning to @arouinfar  for verification

[2015-03-19 18:17] arouinfar commented on #66
Looks good. Closing.

[2015-03-19 18:17] #66 closed

[2015-03-19 23:26] arouinfar commented on #68
Thanks! Closing.

[2015-03-19 23:26] #68 closed

[2015-03-20 19:50] pixelzoom opened #70 ""critical point" and "triple point" are not right justified"
Here's a screenshot:

![screenshot_486](https://cloud.githubusercontent.com/assets/3046552/6759721/d06dc8dc-cf07-11e4-9042-9ad4b955b220.png)

Note that the "critical point" and "triple point" labels are not right justified. There is an unwanted space after "critical" and "triple".  Here are the offending string file entries:

[code]

[2015-03-20 19:51] #46 closed

[2015-03-20 19:53] pixelzoom commented on #42
Overlap with expand/collapse button is fixed, but I still see overlap in the "Atoms & Molecules" panel. See screenshot below.  Testing with 'master' of all repositories.

![screenshot_487](https://cloud.githubusercontent.com/assets/3046552/6759777/657d5e06-cf08-11e4-9785-42da7d4fddb1.png)

[2015-03-20 19:55] pixelzoom commented on #42
I'm guessing that @ChandrashekarBemagoni read only the first comment in this issue. As noted in the 2nd comment:

[2015-03-20 21:03] #44 closed

[2015-03-20 22:08] jbphet commented on #60
The behavior in the graph on the Phase Changes screen now closely matches that of the Java sim.  Assigning to @ycarpenterphet to decide whether further tweaks are desired and, if not, she can close.

[2015-03-20 22:17] jbphet commented on #49
This is related to issue #50.

[2015-03-20 22:45] jbphet opened #71 "Performance not acceptable on iPad"
Performance on iPad 3 is quite poor.  Using version 1.0.0-dev.4, the speed and smoothness of the molecules in the container on the first two screens is noticeably laggy and chunky.  When the ?profiler query option was used, the readout indicated that the sim was reaching about 29 fps when neon was put into the gaseous state and no other interaction occurred.  When the heater/cooler button was then

[2015-03-23 18:17] arouinfar commented on #56
The triple point and critical point labels are still not right justified, but this issue has been moved to #70, so closing.

[2015-03-23 18:17] #56 closed

[2015-03-27 13:34] ChandrashekarBemagoni commented on #42
Fixed in above commits. Assigning to @pixelzoom  for verification

[2015-03-30 17:02] #42 closed

[2015-04-01 17:44] jbphet opened #72 "Potentially unused field in DualAtomModel"
DualAtomModel declares a field:

[code]

...but this doesn't appear to be used anywhere, and a quick comment-out test didn't seem to break anything.

[2015-04-01 17:54] jbphet opened #73 "Consider using an enum pattern for bonding state in DualAtomModel"
The following code in DualAtomModel.js looks a little weird in a JavaScript context:

[code]

I should consider using an enum or just string literals.  Assigning to myself since this matches the implementation in the original Java code.

[2015-04-01 18:53] jbphet opened #74 "Annotations should be added for properties, possibly private methods"
The code style guidelines in the PhET Development Overview document (https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit?usp=sharing) describe how annotations such as @private and @public for the properties and methods of a JavaScript object should be used.  I'm not seeing these annotations in the first files that I'm looking at for the code review (e.g. DualAtomMo

[2015-04-01 18:54] jbphet commented on #73
This was found during code review, see #30.

[2015-04-01 18:54] jbphet commented on #72
This was found during code review, see #30.

[2015-04-01 19:07] jbphet opened #75 "DualAtomModel.moleculeTypeProperty should be renamed"
The configuration of the atoms shown on the Atomic Interactions screen is currently controlled by a variable named "moleculeType" in the PropertySet call.  Potential values are NEON_NEON, NEON_OXYGEN, ARGON_ARGON, and so forth.  These are not molecule types - they are pairs of atoms that are in most cases not bound to one another - so the name is misleading.  I suggest renaming this property to "a

[2015-04-01 19:17] jbphet commented on #75
I did this one myself because I need to log some other tickets related to this property, and it will be less confusing if the name is changed now.  Assigning to @kmsravindra so that his team can review and be aware of the change.  He or someone on his dev team can close once reviewed.

[2015-04-01 19:28] jbphet opened #76 "Enum pattern should be used for atom pair selections"
AtomicInteractionsControlPanel.js contains the following code for defining the possible values for the atom pairs:

[code]

This should be done as an enum pattern in a separate object instead so that it can be shared with DualAtomModel.  Right now, DualAtomModel sets the initial atom pair value to 'NEON_NEON', which could get out of sync with the definitions above.

For an example of the enum patt

[2015-04-01 19:33] pixelzoom commented on #76
@jbphet area-builder.GameState is a little out-of-date as an enum example. I believe that we decide to freeze only when assertions are enabled, because freezing has a (slight?) performance penalty. See graphing-lines.PlayState for an example:

[code]

[2015-04-01 23:10] jbphet opened #77 "Should iterations on keys in colors be qualified with hasOwnProperty?"
AtomicInteractionColors contains the following code:

[code]

IntelliJ is highlighting this code with a warning that says "Possible interaction over unexpected (cusom/inherited) members, probably missing hasOwnProperty check".  Unless there is a good reason not to have this check, it should probably be added, for example something like this:

[code]

[2015-04-01 23:10] jbphet commented on #77
Note that there are several places in this file where the issue occurs, not just the one mentioned above.

[2015-04-01 23:11] jbphet commented on #77
This was found during code review, see #30.

[2015-04-01 23:18] jbphet opened #78 "Label for selection panel on "Interaction" screen seems odd"
The panel for selecting the interacting atoms on the "Interactions" panel is entitled "Atoms & Molecules", but there aren't any molecules that can be selected.  This seems a little odd, and may cause the users to assume that the "Adjustable" selection is a molecule.  Should this be named something else, like "Atoms" or "Atom Pairs"?

[2015-04-02 15:29] jbphet commented on #72
Thanks, closing.

[2015-04-02 15:29] #72 closed

[2015-04-02 15:56] jbphet opened #79 "Use constant instead of arbitrary number"
Saw this code in AtomicInteractionsControlPanel.  The 150 value should probably be a constant.

[code]

[2015-04-02 15:56] jbphet commented on #79
This was found during code review, see #30.

[2015-04-02 16:28] jbphet opened #80 "Use scale() for sizing text instead of changing the font size spec"
The following code (or something similar) is seen in multiple places within AtomicInteractionsControlPanel.js:

[code]

This is a potentially unreliable way to scale the text, since font sizes vary quite a bit across platforms.  The scale method should be used instead, something like:

[code]

This was found during code review, see #30.

[2015-04-02 16:33] jbphet opened #81 "Consider consolidating createText and createTitleText in AtomicInteractionsControlPanel"
There are two convenience functions in AtomicInteractionsControlPanel that overlap quite a bit in their functionality: createText and createTitleText.  It seems to me like they should be consolidated to improve maintainability.  If there is a good reason not to do so that I'm not seeing, it's okay to write the justification and close this issue.

This was found during code review, see #30.

[2015-04-02 16:42] jbphet opened #82 "Consider using Bounds2.dilatedX to set touch areas in AtomicInteractionsControlPanel"
The code that sets the touch areas in AtomicInteractionsControlPanel could be written much more compactly using the dilation functions in Bounds2, e.g. rewrite this:

[code]

as:

[code]

This was found during code review, see #30.

[2015-04-02 16:55] jbphet opened #83 "Touch areas on control panel should be closer together without overlapping"
The touch areas in the standalone version of Atomic Interactions has some space between them.  To make touching easier, they should be expanded vertically to where they meet, but do not overlap.

Screenshot of current master version:

![ai-touch-areas](https://cloud.githubusercontent.com/assets/3082831/6968798/a85ec818-d926-11e4-9d44-2c59652abd0e.png)

This should probably be addressed at the same

[2015-04-02 16:56] jbphet commented on #82
#83 should probably be addressed at the same time as this issue.

[2015-04-02 17:03] jbphet opened #84 "No need for functions to create the icons in AtomicInteractionsControlPanel"
There are three functions in AtomicInteractionsControlPanel for creating the icons for neon, argon, and adjustable atoms.  Each is only called once.  It would be more clear if they were just constants instead.

This was found during code review, see #30.

[2015-04-02 17:17] arouinfar commented on #78
Looking at the Java version, the panel is labeled "Atoms". This was not an intentional change on my part, so let's switch back to "Atoms". Good catch, @jbphet.

[2015-04-06 17:32] jbphet opened #85 "Missing or erroneous header comments"
The following files need some work on their header comments:

DimensionalArrowNode
ParticleNode
AtomicInteractionsScreen
InteractionStrengthTable

This was found during code review, see #30.

[2015-04-06 17:36] jbphet commented on #80
This pattern is also seen in ForcesControlPanel.js, and should be fixed there as well.  Seems like this should be a general utility function for the sim.

[2015-04-06 18:38] jbphet opened #86 "GlobalOptions should be in the common area, not in atomic-interactions/view"
Since it's shared by the whole sim, it should be in the common area.

This was found during code review, see #30.

[2015-04-07 08:48] ChandrashekarBemagoni commented on #77
Fixed in above commit. Assigning to @jbphet for review.

[2015-04-07 08:49] ChandrashekarBemagoni commented on #76
Fixed in above commit. Assigning to @jbphet for review.

[2015-04-07 08:50] ChandrashekarBemagoni commented on #79
Fixed in above commit. Assigning to @jbphet for review

[2015-04-07 08:50] ChandrashekarBemagoni commented on #86
Fixed in above commit. Assigning to @jbphet for review

[2015-04-07 08:52] ChandrashekarBemagoni commented on #84
Fixed in above commit. Assigning to @jbphet for review.

[2015-04-07 08:53] ChandrashekarBemagoni commented on #83
Fixed in above commit. Assigning to @jbphet for verifciation

[2015-04-07 08:55] ChandrashekarBemagoni commented on #81
Fixed in above commit.Assigning to @jbphet for review

[2015-04-07 09:00] ChandrashekarBemagoni commented on #75
Looks good, thanks. Closing.

[2015-04-07 09:00] #75 closed

[2015-04-07 09:08] ChandrashekarBemagoni commented on #85
Fixed in above commit. Assigning to @jbphet for review

[2015-04-07 13:07] ChandrashekarBemagoni commented on #82
Fixed in above commit. Assigning to @jbphet  for review.

[2015-04-07 13:08] ChandrashekarBemagoni commented on #74
Fixed in above commits. Assigning to @jbphet for review.

[2015-04-07 13:10] ChandrashekarBemagoni commented on #80
Fixed in above commits and here https://github.com/phetsims/states-of-matter/commit/189dfa689b59d9a7cd1e3f070ed9c631ff970251. Assigning to @jbphet  for review

[2015-04-08 20:36] jbphet opened #87 "AbstractVerletAlgorithm.calculateWallForce has odd looking parameter checking"
The parameter checking at the top of AbstractVerletAlgorithm.calculateWallForce should be changed to only use asserts.  As it currently stands, it could return undefined, which would be bad.

Assigning to myself, since the ported code is reasonably true to the original Java code.

This was found during code review, see #30.

[2015-04-08 20:46] #87 closed

[2015-04-08 21:18] jbphet opened #88 "Molecule position updater objects can be static"
The objects that update the positions of the molecules, i.e. DiatomicAtomPositionUpdater, MonatomicAtomPositionUpdater, and WaterAtomPositionUpdater, contain no state information and therefore can be implemented as static objects.  This may get us a slight performance improvement, and simplifies the code.

This was found during code review, see #30.

[2015-04-08 21:59] jbphet commented on #88
Converted the objects to be static, closing.

[2015-04-08 21:59] #88 closed

[2015-04-08 22:35] jbphet opened #89 "Truncated multi-line comments"
I'm seeing a number of cases where multi-line comments from the Java code were only partially moved into the JavaScript code.  I've fixed a number of these instances myself, but I'm seeing enough of them that I think Actual Concepts should probably review and fix.  For example, DiatomicVerletAlgorithm has the following code section:

[code]

In the original Java code, this looked like:

[code]

No

[2015-04-09 22:15] jbphet commented on #89
I'm seeing a lot of these in WaterPhaseStateChanger.js too.

[2015-04-09 22:21] jbphet commented on #89
...and WaterVerletAlgorithm.js...

[2015-04-09 23:22] arouinfar commented on #67
We will be using the artwork that Mariah created in https://github.com/phetsims/tasks/issues/197. I have emailed the assets to @jbphet to implement.

[2015-04-10 18:45] jbphet opened #90 "Investigate getting rid of Hydrogen2"
There is a class called Hydrogen2 that (I believe) exists for the sole purpose of allowing the water molecules to have some variation in the z-order of the atoms that comprise it.  This seems awkward, and I should see if there is a better way to do this.

[2015-04-10 18:51] jbphet opened #91 "AtomFactory can be a static object"
AtomFactory has an empty constructor and has no state.  It can be simplified into a static object.

[2015-04-10 18:52] jbphet commented on #91
This was found during code review, see #30.

[2015-04-10 19:08] jbphet opened #92 "Types can instead by static objects"
I've seen a few cases where something that could be a static object is implemented as a type, requiring a ```new``` to instantiate it before the methods can be used.  In the Java code, the objects are not instantiated and the methods are used statically.  In such cases, the corresponding JavaScript file should not have a constructor, and should just return an object with the required methods.  See

[2015-04-10 19:37] jbphet commented on #89
...and MultiParticleModel.js...

[2015-04-15 17:39] jbphet commented on #30
Below is the code review checklist, which will be used to guide the remainder of the code review:

PhET code-review checklist
=============

**Build and Run Checks**

- [ ] Does the sim pass jshint?
- [ ] Does the sim build without errors?
- [ ] Does the sim start up? (requirejs and built versions)
- [ ] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [ ] Does the

[2015-04-16 17:48] ycarpenterphet commented on #60
Reassigning to @arouinfar since she can best comment on whether this matches her desired behaviour for the Phase Changes screen.

[2015-04-16 18:48] ycarpenterphet commented on #63
While I am ok with leaving this as-is, I think there is another advantage of adjusting this so that the bottom of the well is slightly shallower and avoids overlapping the graph.

There is a known issue with the Java sim (which has carried over to the HTML5) where the point marker on the graph blinks or flickers when the bottom of the well overlaps the graph axis.

This problem seems to go away wh

[2015-04-24 19:08] arouinfar commented on #60
It looks like the behavior matches the Java version, but the well depth is still less than the desired depth:

![image](https://cloud.githubusercontent.com/assets/8419308/7326457/a3271da6-ea82-11e4-912c-94261ccf0dea.png)

Reassigning to @jbphet

[2015-04-28 16:22] jbphet opened #93 "original artwork missing for flames and ice cubes"
There is nothing in the "assets" directory for these images (used in the heater/cooler node).  These should be tracked down.

[2015-04-28 16:55] jessegreenberg commented on #93
I found the assets in the PhET Unfuddle in piccolo-phet.  They are fire.ai and ice-cube-stack.ai.  I added them to scenery-phet assets, sorry I forgot to reference phetsims/scenery-phet#151 in the commit.

[2015-04-28 18:33] jbphet opened #94 "documentation could use some improvement"
The implementation-notes.txt and model.md documents are a little light, and probably wouldn't be particularly useful to someone new who needed to do some maintenance on this suite of simulations.  It would probably be worth about an hr of time to expand these a little.

Assigning to myself, and my plan is to do this as we get close to release.

[2015-04-28 18:46] jbphet commented on #93
Sounds good.  Since the HeaterCoolerNode is now a common code element, scenery-phet/assets is indeed where these artwork files should be.  I renamed fire.ai to flame.ai so that the .ai and .png file names matched, and updated the license file with these two items.  Closing.

[2015-04-28 18:46] #93 closed

[2015-04-28 21:20] pixelzoom opened #95 "suggestions related to Screen constructors"
states-of-matter-main.js:

[code]

states-of-matter-basics-main.js:

[code]

Suggestions:

(1) I'm wondering why isHeterogeneousMoleculeControlPanel is pulled out as a var, while the first arg to PhaseChangesScreen (isInteractionDiagramEnabled) is inlined.  In both cases, I think an option would be preferable to a constructor parameter.  Next best would be to inline them both.

(2) Since each Scre

[2015-04-28 22:57] jbphet opened #96 "remove or justify usage of "|*" in type declarations"
In a number of places in the code, the string "|*" is used to specify a type, for example (from DualAtomModel):

[code]

Maybe this is a shorthand of some kind, but not familiar with it and it reads very vaguely to me, like "this function returns null or whatever".  It seems to me like this should only be used in cases where there is some very legitimate reason that the type can't be fully known.

[2015-04-28 23:18] jbphet opened #97 "primitive types should use lower case"
For example, {number} should be used instead of {Number}.  See the guidelines in the PhET Development Overview document, link = https://docs.google.com/document/d/1odXkliRagq0zuf1_NdOtQ2BrkC9hwlISnPi2y-dKdrk/edit?usp=sharing

[2015-04-28 23:20] jbphet commented on #96
Also, {*} is sometimes used as a type spec.  This should also be made more specific.  Example from line 26 of InteractionStrengthTable:

[code]

[2015-04-29 15:00] jbphet commented on #97
@kmsravindra - I implemented this one, but thought I'd pass it on to you and your team to have a look so that you're aware of this for future implementations.  Once you've let the appropriate developers know about it, feel free to close it.

[2015-04-29 16:06] pixelzoom commented on #97
The one exception is {Object}, not {object}.

[2015-04-29 16:09] pixelzoom commented on #97
Sorry, I misspoke. @jbphet said "primitive" types. Objects is a composite type.

[2015-05-07 23:03] ycarpenterphet opened #98 "Update Options menu text to be consistent with other PhET sims"
The Options menu currently lists "Projector colors" as a checkbox option.

The label should be updated to read "Projector Mode" instead, to be consistent with the label for this option in other PhET simulations.

This change should also affect Atomic Interactions and States of Matter Basics.

[2015-05-08 07:05] kmsravindra commented on #6
Looks good. Closing.

[2015-05-08 07:05] #6 closed

[2015-05-08 07:06] kmsravindra commented on #12
Looks good. Closing.

[2015-05-08 07:06] #12 closed

[2015-05-08 19:29] ycarpenterphet commented on #53
@notsiddhartha Can you comment on the current state of this issue?

[2015-05-08 19:37] ycarpenterphet commented on #63
If we do slightly reduce the maximum value for the adjustable attraction, it should simultaneously fix issue #25. Tagging this here so that we remember that these two issues are directly related.

[2015-05-08 19:37] ycarpenterphet commented on #25
The fix suggested for issue #63 should resolve this issue automatically as well.

[2015-05-09 06:26] ChandrashekarBemagoni commented on #97
Looks good , closing

[2015-05-09 06:26] #97 closed

[2015-05-09 07:09] ChandrashekarBemagoni commented on #98
Fixed in above commit . Assigning to @ycarpenterphet for verification

[2015-05-09 07:38] ChandrashekarBemagoni commented on #95
Fixed in above commits. Assigning to @pixelzoom for review

[2015-05-09 07:39] ChandrashekarBemagoni commented on #92
Fixed in above commit. Assigning to @jbphet for review

[2015-05-11 07:53] ChandrashekarBemagoni commented on #96
Fixed in above commits. Assigning to @jbphet for review

[2015-05-11 07:54] ChandrashekarBemagoni commented on #89
Fixed in above commits. Assigning to @jbphet for review

[2015-05-11 09:23] ChandrashekarBemagoni commented on #45
Fixed  in above commits . Assigning to @pixelzoom for verification

[2015-05-11 11:36] notsiddhartha commented on #53
This seems to happen in the java version as well.
Please find a screen grab from the Java version below:

![som-53](https://cloud.githubusercontent.com/assets/4057790/7563958/d04878cc-f7ff-11e4-9027-9abf0783542c.gif)

[2015-05-11 13:40] ChandrashekarBemagoni commented on #38
Fixed in above commit. Assigning to @jbphet for verification

[2015-05-11 13:41] ChandrashekarBemagoni commented on #28
Fixed in above commit.  Assigning to @bryo5363 for verification

[2015-05-11 15:58] jbphet commented on #92
Looks good, closing.

[2015-05-11 15:58] #92 closed

[2015-05-11 16:51] ycarpenterphet commented on #53
Thanks @notsiddhartha. You are right. It does seem to also occur in the Java simulation.

In both the HTML5 and the Java, this problem seems to only be observable when we have very small values of sigma and very large values for epsilon.

Since this is a bug in Java sim, reassigning to @jbphet

[2015-05-11 17:24] pixelzoom commented on #95
Looks great, closing.

[2015-05-11 17:24] #95 closed

[2015-05-11 17:34] pixelzoom commented on #45
Looks generally good. But there's something odd with the radio buttons in the "States" screen.

With ?stringTest=double, the "Liquid" label is truncated:

![screenshot_516](https://cloud.githubusercontent.com/assets/3046552/7570948/7ea70dfe-f7d1-11e4-82a6-d1d3f81854be.png)

With ?stringTest=ABCDEFGHIJKL, the labels on all 3 buttons are truncated:

![screenshot_517](https://cloud.githubusercontent.

[2015-05-12 06:17] ChandrashekarBemagoni commented on #25
Fixed in above commit. Assigning to @ycarpenterphet  for verification

[2015-05-12 06:18] ChandrashekarBemagoni commented on #63
Fixed in above commit. Assigning to @jbphet for verification

[2015-05-14 17:46] jessegreenberg opened #99 "Replace StoveNode with HeaterCoolerNode"
The StoveNode used in this sim is a common component that will be used in future sims.  A generalized version of stove-node was recently moved to scenery-phet and renamed as HeaterCoolerNode.  The StoveNodes in both screen views of this sim should be replaced with HeaterCoolerNode.

Related to phetsims/scenery-phet#151.

Assigning the replacement to myself.

[2015-05-15 22:06] jbphet commented on #96
Looks good, closing.

[2015-05-15 22:06] #96 closed

[2015-05-15 22:09] jbphet commented on #89
Much better - thanks.  Closing.

[2015-05-15 22:09] #89 closed

[2015-05-15 22:10] jbphet commented on #86
Looks good, closing.

[2015-05-15 22:10] #86 closed

[2015-05-15 22:11] jbphet commented on #85
Looks good, thanks.  Closing.

[2015-05-15 22:11] #85 closed

[2015-05-15 22:12] jbphet commented on #84
Looks good, closing.

[2015-05-15 22:12] #84 closed

[2015-05-15 22:16] jbphet commented on #91
I did this a while back and neglected to close, doing so now.

[2015-05-15 22:16] #91 closed

[2015-05-15 22:21] jbphet commented on #83
I just tested this on master, and the touch areas look pretty much the same.  I think what you need is a larger expansion in the Y direction versus the X direction.  The current code using the same expansion factor for each.  Assigning back to @ChandrashekarBemagoni.

[2015-05-15 22:22] jbphet commented on #82
Much cleaner, thanks.  Closing.

[2015-05-15 22:22] #82 closed

[2015-05-15 22:23] jbphet commented on #81
Looks good, closing.

[2015-05-15 22:23] #81 closed

[2015-05-15 22:24] jbphet commented on #79
Looks good, closing.

[2015-05-15 22:24] #79 closed

[2015-05-15 22:25] jbphet commented on #77
Yep, looks better.  Closing.

[2015-05-15 22:25] #77 closed

[2015-05-15 22:29] jbphet commented on #28
Nicely done, it looks great now!  Closing.

[2015-05-15 22:29] #28 closed

[2015-05-15 22:30] jbphet commented on #80
Looks good - closing.

[2015-05-15 22:30] #80 closed

[2015-05-16 01:50] jessegreenberg commented on #99
StoveNode has been removed from states-of-matter and replaced by HeaterCoolerNode.  Assigning to @jbphet for review.

[2015-05-18 06:32] ChandrashekarBemagoni commented on #83
Fixed in above commit. Assigning to @jbphet for verification

[2015-05-18 06:33] ChandrashekarBemagoni commented on #45
Fixed in above commit. Assigning to @pixelzoom for verification

[2015-05-18 15:26] jbphet commented on #83
Assigning to phet-steele for verification.

[2015-05-18 15:30] jbphet commented on #63
Assigning to @phet-steele for verification.

[2015-05-18 15:32] jbphet commented on #38
Assigning to @phet-steele for verification.

[2015-05-18 15:33] jbphet commented on #37
Assigning to phet-steele for verification.

[2015-05-18 15:34] jbphet commented on #25
Assigning to @phet-steele for verification.

[2015-05-18 16:01] phet-steele commented on #63
The well is shallower!

[2015-05-18 16:01] #63 closed

[2015-05-18 16:02] phet-steele commented on #25
#63 fixed this.

[2015-05-18 16:02] #25 closed

[2015-05-18 16:12] phet-steele commented on #38
When comparing to the java version, the new behavior is similar. Fixed in 1.0.0-dev.5

[2015-05-18 16:12] #38 closed

[2015-05-18 16:19] phet-steele commented on #37
In 1.0.0-dev.5, the particles are moving slower now. They are very similar to the java speed.

[2015-05-18 16:19] #37 closed

[2015-05-18 16:41] phet-steele commented on #83
Here's the new touch areas:

![pointerareas](https://cloud.githubusercontent.com/assets/5863899/7685268/40873e44-fd4a-11e4-8012-52c2f67e9163.PNG)

Touching was easy on atomic interactions 1.0.0-dev.8

[2015-05-18 16:41] #83 closed

[2015-05-19 19:58] pixelzoom commented on #45
Verified that this is fixed. Closing.

[2015-05-19 19:58] #45 closed

[2015-05-19 20:59] jbphet commented on #76
Looks great!  Closing.

[2015-05-19 20:59] #76 closed

[2015-05-19 21:00] jbphet commented on #74
Thanks, looks good, closing.

[2015-05-19 21:00] #74 closed

[2015-05-19 21:03] jbphet commented on #70
Despite the removal of the spaces in the strings, these labels still don't look quite right in the latest dev version (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html).  Leaving this open and assigned to me.

[2015-05-19 21:11] jbphet commented on #19
Seems to work fine on v1.0.0-dev.5 (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html).  Closing.

[2015-05-19 21:11] #19 closed

[2015-05-19 21:15] jbphet commented on #17
This is still an issue in v1.0.0-dev.5 (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html).

[2015-05-19 21:17] jbphet commented on #16
This is still an issue in v1.0.0-dev.5 (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html).

[2015-05-19 21:26] jbphet commented on #15
I compared this behavior in the latest dev version ((http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html)  to that of the currently published version of Balancing Act, which is also a three-screen sim.  They were pretty comparable.  I think this is about as good as we can expect on an iPad 2.  Will close for now, and reopen if necessary.

[2015-05-19 21:40] #15 closed

[2015-05-19 22:26] jbphet commented on #18
I've just tested this on the latest dev version (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.5/states-of-matter_en.html).  It's definitely a challenge to adjust the attraction curve from interacting with the arrow on the curve, but the issue doesn't seem to be the ability to grab the arrow, as the description above kind of implies.  It seems to me to be a performance i

[2015-05-20 13:55] notsiddhartha commented on #16
Touch areas fixed by @ChandrashekarBemagoni in the above commit.
The handle movement on iPad2 seems smooth. Assigning to @kmsravindra for verification

[2015-05-20 14:31] notsiddhartha commented on #18
There seem to be lots of Vector2 allocations per frame (in thousands) from the drawPotentialEnergyCurve call in InteractionPotentialDiagram. Particularly from Path.setShape call for potentialEnergyLine.

Re-writing InteractionPotentialDiagram using canvas should fix this on iPad2

[2015-05-20 14:40] notsiddhartha commented on #17
The cause for this seems to be allocations and the general sim performance on iPad2.
While pushing the lid, I have observed ~160 Vector2 allocations per frame (from Path.setShape while updating the DialGuageNode connector) and the performance drops to ~10 fps from ~20 fps.

This issue looks similar to https://github.com/phetsims/fluid-pressure-and-flow/issues/245

[2015-05-20 17:42] kmsravindra commented on #16
This is fixed. Request your confirmation before closing this.

[2015-05-20 17:49] kmsravindra commented on #17
@ariel-phet, @jbphet  Request your  direction on this issue wrt to the above comment.

[2015-05-20 21:09] jbphet commented on #17
Assigning to @jonathanolson to have a look and potentially recommend a more efficient way to update the shape of the shape that connects the gauge to the container.

@kmsravindra - PhET will take it from here.

[2015-05-21 10:08] ChandrashekarBemagoni commented on #18
Fixed in above . Assigning to @kmsravindra for verification

[2015-05-21 14:55] kmsravindra commented on #18
The performance is now decent on iPad2.

[2015-05-21 14:55] #18 closed

[2015-05-28 22:33] ycarpenterphet commented on #98
Looks good. Closing.

[2015-05-28 22:33] #98 closed

[2015-05-28 23:03] ycarpenterphet commented on #50
I don't think that it is worth adding Ne and Ar colors to PhetColorScheme and/or nitroglycerin, since there really isn't a standard or commonly-accepted color associated with either of these elements.

We may want to get @emily-phet to weigh in on this as well, in case there's something on the horizon (sim-wise) that would make having an internal standard for these elements particularly useful, bu

[2015-05-29 02:56] emily-phet commented on #50
Sounds right to me, I don't see anything on the horizon using Ne or Ar...or nitroglycerin.

[2015-05-29 15:18] jbphet commented on #50
Based on input from the chem team, it doesn't sound like integration with the nitroglycerin repository is worth the effort.  Closing.

[2015-05-29 16:40] pixelzoom commented on #50
It's not just the colors. It's also the relative sizes of the molecules.  But it sounds like there's no interest in this at the moment.

[2015-05-29 16:54] pixelzoom commented on #50
Reopening.

@emily-phet wrote:

Please clarify. nitroglycerin is a repository of reusable chemistry components. Every chem sim that I've worked on has used nitroglycerin. States Of Matter uses nitroglycerin.

@ycarpenterphet wrote:

Colors are not the only issue here. Atoms and molecules in nitroglycerin also render with the correct relative sizes.  By putting Ne and Ar in nitroglycerin now, we wo

[2015-05-29 16:59] pixelzoom commented on #50
Btw... The reason I'm pushing this issue is that I inevitably end up being the developer who has generalize and migrate elements to nitroglycerin. So I think a better approach is to add elements the first time they are needed by a sim.  But I'll be happy to close this issue if @jbphet agrees to do the work for Ne and Ar when it's inevitably needed by another sim (e.g., Neon Lights and Other Discha

[2015-05-29 19:29] ycarpenterphet commented on #50
With respect to Neon Lights + Other Discharge Lamps, even though Neon is one of the atoms used, the representations of the atoms in that sim are intentionally not distinguished by color or size, because its not a pedagogically relevant part of the representation (and would likely distract from the features of these atoms that we are trying to have students attend to).

Thinking about future HTML s

[2015-06-15 18:03] pixelzoom opened #100 "licensing issue with Random.js"
In Random.js:

[code]

According to the URL, java.util.Random is in turn taken from GNU Classpath, which is GPL v2.

Various things to address:

1. Random.js looks general. Should it be moved to common code? Or is there already something similar in common code that could replace it?

2. An entry for java.util.Random is needed in sherpa/third-party-licenses.json.

3. The entry created in (2) needs

[2015-06-15 22:27] aaronsamuel137 commented on #100
Random.js is a very incomplete port of Java's Random. It has only one method: nextGaussian. It was basically just enough to do a more direct port of states of matter. Given this, I'm not sure if we should move it to common code or not. But I guess it would make more sense to have it in dot instead of states-of-matter. Do you think I should move it there @pixelzoom? I am not aware of anything in co

[2015-06-15 22:29] pixelzoom commented on #100
I haven't looked at Random.js, and I don't know whether it should move to dot or somewhere else. Perhaps ask @jonathanolson.

There have been several mentions of the need for a random-number generator that can be seeded, for example to support reproducibility of playback. Is this at all related?...

[2015-06-15 22:30] pixelzoom commented on #100
Or if @jbphet is familiar with how Random was used in the Java version of SOM, perhaps he can chime in.

[2015-06-16 05:29] jonathanolson commented on #100
Yes, it would be ideal to have a reseedable PRNG, so that it could be reused during playback (and give the same values).

From scratch, it would be great to have at least something like a Mersenne Twister implementation, with conversion from bits => uniform, then uniform => other transforms (gaussian, etc.). I think @samreid had used something for this previously? I'd also note, it would probably

[2015-06-16 15:39] jbphet commented on #100
Here is an MIT-licensed pseudo-random number generator: https://github.com/ckknight/random-js.  The readme file is quite thorough and clear, which bodes well for the library itself.  Also, in the readme file the author indicates that Math.random could potentially behave differently on different browsers, so incorporating something like this may be essential when we are recording and reusing seeds.

[2015-06-16 16:19] samreid commented on #100
I have previously used sherpa/lib/seedrandom-2.2.js which provides seedable random numbers.

[2015-06-16 16:57] pixelzoom commented on #100
@aaronsamuel137 If SOM can use seedrandom-2.2.js, that might be the path of least resistance. It already has an entry in third-party-licenses.json, and you'd need to add it to "licenseKeys" in states-of-matter/package.json and (presumably) states-of-matter-basics/package.json.

[2015-06-16 16:58] pixelzoom commented on #100
@aaronsamuel137 If SOM can use seedrandom-2.2.js, that might be the path of least resistance. It already has an entry in third-party-licenses.json, and you'd need to add "../sherpa/lib/seedrandom-2.2.js", to "preload" in states-of-matter/package.json and (presumably) states-of-matter-basics/package.json.

[2015-06-16 20:56] aaronsamuel137 commented on #100
It doesn't look like seedrandom has any equivalent of nextGaussian, so I don't see how it can be used here.

I'm seeing that gene-expression-basics also has a partial port of Java's Random - so perhaps these could be moved to consolidated and moved to common code. We'd still need to add the licensing I expect.

I'm not sure what the best long term solution is though. This seems like a different is

[2015-06-18 19:14] samreid commented on #100
Here's an implementation of nextGaussian on wikipedia:
https://en.wikipedia.org/wiki/Box%E2%80%93Muller_transform

[2015-06-18 19:14] pixelzoom commented on #100
6/18/15 dev meeting:

• Can't use Java's Random.nextGaussian because it's GPL.
• Rewrite Random.nextGaussian, see above reference.
• Combine SOM and GEB Random.js and move to common-code

[2015-06-19 16:03] aaronsamuel137 commented on #100
Random.js has been moved to common code and now used Box-Muller for nextGaussian instead of the Java port.

The issues with random seeds have NOT been addressed. This should be a separate issue when the times comes.

The new nextGaussian method seems to be reasonably accurate. Here is a histogram of 2000 samples:

![screen shot 2015-06-19 at 9 54 02 am](https://cloud.githubusercontent.com/assets/3

[2015-06-19 16:31] jonathanolson commented on #100
I'd consider nextGaussian for being in Random, since it is used exclusively with random numbers.

Also, it doesn't look like a singleton, but something where you need "new Random()?"

For being in Dot, it should also assign itself to the namespace (see Range as an example), where it imports:
[code]
setting ```dot.Range```, so it is available in the namespace. A line should also be included in main

[2015-06-19 16:45] pixelzoom commented on #100
@jonathanolson If it's OK with you, I'm going to assign this to you, to work out the best way to integrate this into dot.

[2015-06-19 17:08] jonathanolson commented on #100
I was curious what the reasoning was for requiring a new (unique) instance, instead of being a collection of static functions, assigning to @aaronsamuel137.

[2015-06-19 17:36] aaronsamuel137 commented on #100
The only reasoning is that is facilitates direct ports from Java, since that keeps the same API as Java's Random. I am open to doing it a different way, but perhaps that should be tracked in a new issue. The main issue here seemed to be getting away from a GPL license, and not necessarily deciding how we want to handle Random in our js code.

[2015-06-19 17:47] aaronsamuel137 commented on #100
I've added Random to the Dot namespace by following the example in Range.

Regarding these comments:

Also, it doesn't look like a singleton, but something where you need "new Random()?"

I am not totally sure what you mean. nextGaussian is part of Random - but it uses boxMullerTransform(), which I have put in Util at @samreid's suggestion. Are you suggesting this go into Random as well?

Assignin

[2015-06-19 20:41] jonathanolson commented on #100
I was expecting that we'd only need one Instance ever for simulations, since we only want to be using one randomness source. I guess it could be conceivable that a sim needs to control its own seedable randomness source that can be repeated, so it could make sense to have multiple instances.

If Random is not just a collection of functions, but a type with multiple instances, it doesn't make sense

[2015-06-25 15:06] pixelzoom opened #101 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-07-27 21:08] jbphet opened #102 "invalid aspect ratio for screen icons in navbar"
Screen icons for the navbar must have the same aspect ratio as either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE. See phetsims/joist#263 (comment). This sim does not, and fails when assertions are enabled.

[2015-08-04 16:18] #101 closed

[2015-08-10 20:16] jbphet opened #103 "Illustrator files needed for home screen icons"
I have PNG files for the home screens, but not the .ai files.  @arouinfar - can I get those from you?

For reference, here is what they look like:

![som-home-screen](https://cloud.githubusercontent.com/assets/3082831/9183078/57d75720-3f6a-11e5-8624-6b4a2bed9dc5.png)

[2015-08-10 20:21] jbphet commented on #102
fixed, closing

[2015-08-10 20:21] #102 closed

[2015-08-10 23:46] arouinfar commented on #103
@jbphet there are a few tweaks that need to be made to the home screen icons that have been documented in #69. The Phase Changes and Interaction screen icons will be drawn in code. I have re-sent the asset files for the States screen to you.

[2015-08-12 00:16] pixelzoom opened #104 "unused images"
[code]

[2015-08-25 17:08] pixelzoom opened #105 "states-of-matter fails lint"
[code]

[2015-08-25 19:10] jbphet opened #106 "consider doing away with "itemSpec""
In many places in this code, an "itemSpec" is used which consists of an object that combines the icon and label used on a button.  So far, I have found it to be more confusing than helpful.  At the very least, these should probably be renamed to something less vague, like "iconAndLabel".  It may be best to just remove it entirely as work is being done on this sim to move it towards publication.

[2015-08-25 20:58] jbphet commented on #106
I eliminated "itemSpec" in SolidLiquidGasPhaseControlNode.js while working on the integration of new artwork.  The result seemed to me to be much more simple, clear, and thus maintainable.  See b88a5bc8b212211143daeb168e20190d392a789d and b260709d4f94227a4038de7175b2bdf7aaac56c8

[2015-08-25 21:00] jbphet commented on #67
The new artwork is integrated.  Assigning back to @arouinfar to review.  In my opinion, the edges of the icons fade a bit too much into the button background.  We could either adjust the background colors or rework the artwork a bit to have more distinct edges.  Or leave it, if other don't see it as a problem.

[2015-08-25 21:04] jbphet commented on #105
Looks good, closing.

[2015-08-25 21:04] #105 closed

[2015-08-25 22:22] jbphet commented on #78
done, closing

[2015-08-25 22:22] #78 closed

[2015-08-25 22:27] jbphet commented on #104
These files were left over from the StoveNode, which was changed to be the HeaterCoolerNode and moved into common code.  The images have now been removed, closing.

[2015-08-25 22:27] #104 closed

[2015-08-26 17:51] jbphet commented on #99
Looks good, works well, closing.

[2015-08-26 17:51] #99 closed

[2015-08-26 21:37] jbphet commented on #69
Icons are now all programmatically generated, assigning to @arouinfar for review.

[2015-08-26 21:44] jbphet commented on #103
The icons for the 2nd two screens are now created completely in code, so no asset needed for those.  The icon for the first screen is created using the three images that represent solid, liquid, and gas throughout the sim, and I now have those assets.  So, we've got everything we need for this.  Closing.

[2015-08-26 21:44] #103 closed

[2015-08-26 22:31] jbphet commented on #73
Implemented, closing.

[2015-08-26 22:31] #73 closed

[2015-08-26 22:35] jbphet opened #107 "change usages of "SolidLiquidGas" to "States""
The first screen for this sim is entitled "States".  Most of the code that is specific to this screen is in classes named "SolidLiquidGasXxx".  I think the name of the screen may have changed during the course of the development.  Regardless, the code will be easier to decipher for future maintainers if the names more closely match the screen names, e.g. "StatesXxx".

[2015-08-26 22:44] jbphet commented on #107
implemented, closing

[2015-08-26 22:44] #107 closed

[2015-08-26 22:58] jbphet commented on #70
I've adjusted the positions a bit and things look pretty good at this point.  It's not absolutely perfect, but is acceptable, and I think this is probably as good as it will get given the limitations with text bounds.  Here's a screenshot from Chrome, and it looks quite similar on Firefox and IE.
![som-phase-diagram-1](https://cloud.githubusercontent.com/assets/3082831/9508546/98587422-4c13-11e5-9

[2015-08-26 22:58] jbphet commented on #70
done, closing

[2015-08-26 22:58] #70 closed

[2015-08-27 17:20] jbphet commented on #67
@arouinfar is out, and at today's status meeting it was suggested that this be assigned to @amyh-phet.  Changing assignment.

[2015-08-27 17:22] jbphet commented on #69
Since @arouinfar is away I am transferring the assignment to @amyh-phet,

[2015-08-28 20:02] amyh-phet commented on #69
Icons look good.   Closing issue.

[2015-08-28 20:02] #69 closed

[2015-08-28 20:04] amyh-phet commented on #67
I agree that we need to make icons more visible on button.  I will look into possible changes to button background color and update.   @jbphet

[2015-09-01 18:41] jbphet opened #108 "phase states should be an enum"
In MultipleParticleModel there are the following definitions:

[code]

In StatesPhaseControlNode there are these:

[code]

In looking at how the code operates, these are expected to have corresponding values.  They should be consolidated into an enum to avoid maintenance issues.

[2015-09-02 20:47] arouinfar commented on #67
@amyh-phet showed me the updated colors for the buttons. Looks good!

[2015-09-02 23:18] jbphet commented on #67
@arouinfar says it looks good.  Closing.

[2015-09-02 23:18] #67 closed

[2015-09-16 23:14] jbphet commented on #59
I had to adjust the shape of the arrow to make this work, and had to also use a thin stroke to keep the middle of the arrow from disappearing.  I applied the same stroke to the sigma arrow for consistency.  Screenshot below.  Back to @arouinfar for review.

![som-epsilon](https://cloud.githubusercontent.com/assets/3082831/9920992/41604d46-5c96-11e5-86a1-be7bc4d8e45b.png)

[2015-09-16 23:14] arouinfar commented on #59
Looks great! Thanks @jbphet. Closing.

[2015-09-16 23:14] #59 closed

[2015-09-22 22:48] #108 closed

[2015-09-25 03:59] jbphet commented on #49
The colors for neon, argon, and adjustable attraction have been updated.  To my eye, argon and adjustable attraction are improvements, since they are more distinct from oxygen.  I have a slight preference for the previous color used for neon, since it was a bit more 'lively'.  Assigning back to @arouinfar to take a look and decide if this is complete or if we should use the other color for neon.

[2015-09-25 18:11] arouinfar commented on #49
After speaking with @jbphet, we agreed that the brighter blue used for Neon in the mockups is preferable. Since the brighter blue did not have any contrast issues with the other colors in the colorblind previews, we've decided to switch back to the brighter blue.

[2015-09-25 18:35] arouinfar commented on #33
@jbphet @ariel-phet what do you think about this?

![image](https://cloud.githubusercontent.com/assets/8419308/10109058/d8cc4878-6381-11e5-8189-95b8e0e7d870.png)

[2015-09-25 18:44] jbphet opened #109 "integrate recent changes to color scheme"
Some common code has been created recently to support dynamic color schemes in the simulations, see https://github.com/phetsims/scenery-phet/issues/156.  Since SOM has a projector mode, it should be modified to make use of the new common code.

[2015-09-25 19:14] ariel-phet commented on #33
I think that would work for me. I might go with a different color for the base. Maybe grey as well? Poop brown seems best to be avoided.

[2015-09-25 19:19] arouinfar commented on #33
Done!
![image](https://cloud.githubusercontent.com/assets/8419308/10110065/17876614-6388-11e5-8a90-e83b0b249fd4.png)

[2015-09-25 19:31] ariel-phet commented on #33
Looks good to me...what do you think @arouinfar

[2015-09-25 19:33] arouinfar commented on #33
I'm happy with the look, @ariel-phet. @jbphet originally raised the concern about the look of the base, so I'd like to see what he has to say.

[2015-09-25 19:43] arouinfar commented on #33
@jbphet stopped by the office and likes the new base. The pump is drawn in code, so I've emailed him an updated image to use as a reference when creating the new base.

[2015-09-25 20:04] jbphet commented on #50
I've gone ahead and added argon and neon to Element class in the nitroglycerin repo, and States of Matter (SOM) now extracts all atom colors and masses - including oxygen and hydrogen - from the Element class.  There are two issues that we should address before we're done with this:
+ SOM uses the van der Waals radius values for the atoms, and nitroglycerin uses the covalent radius.  These values

[2015-09-25 20:17] jbphet commented on #50
I've sent off an email to the chem team to ask what they would suggest for electronegativity values for neon and argon.

[2015-09-25 20:41] jbphet commented on #49
Updated the color for neon.  That should be it for this issue, closing.

[2015-09-25 20:41] #49 closed

[2015-09-25 23:39] jbphet commented on #50
@amyh-phet said:

...and @emily-phet responded with:

This doesn't necessarily mean that we should use Javascript's ```undefined``` value, but we should agree how to handle it and document it in the Element constructor.

[2015-09-28 17:14] pixelzoom commented on #50
Re: elements that have no electronegativity
I see that you set electronegativity to `null` in these cases. I guess that's appropriate, since undefined is typically used for a JS property that has no definition, while null is used for a property that exists but doesn't have a known value.

Re: covalent vs van der Waals radius
Probably best to consult with @jonathanolson on this, since he create Ele

[2015-09-29 15:55] jbphet commented on #50
I spoke with @jonathanolson, and he was fine with the idea of adding ```vanDerWaalsRadius``` as a property of Element.  I'll do this.  I'll also add some documentation about the electronegativity property and null values.

[2015-10-07 17:57] jbphet commented on #50
Done, assigning to @pixelzoom to review.  https://github.com/phetsims/nitroglycerin/issues/9 will also be assigned to him at some point to verify that the changes didn't adversely affect other sims, so he might want to look at both at the same time.

[2015-10-09 18:29] pixelzoom commented on #50
Inspected changes, looks good, closing.

[2015-10-09 18:29] #50 closed

[2015-10-09 20:25] jbphet commented on #33
Reopening and assigning to myself to implement the changes.

[2015-10-09 23:07] jbphet commented on #33
Implemented, assigning to @arouinfar for review and, if it looks okay, closure.

[2015-10-12 17:55] arouinfar commented on #33
@jbphet, I tried to pull the latest version of SOM to phettest, but it looks like there's something broken in scenery. Pulling scenery did not fix the issue.

![image](https://cloud.githubusercontent.com/assets/8419308/10434609/d8b6fcd0-70d7-11e5-93b2-54ee87d4df82.png)

Can you send me a screenshot instead?

[2015-10-14 19:09] jbphet commented on #33
Here is what it looks like as of the previous commit:

![som-pump-with-new-base](https://cloud.githubusercontent.com/assets/3082831/10494667/ccf50948-7274-11e5-96dc-3153ad27bc95.png)

[2015-10-14 19:23] arouinfar commented on #33
Looks pretty good, @jbphet.

My only suggestion is to move the hose connection down to the base of the pump, where it originally was.
![image](https://cloud.githubusercontent.com/assets/8419308/10494967/8476a710-7276-11e5-9d54-53f388f42ef8.png)

[2015-10-15 20:53] jbphet commented on #33
Ah, yes, I'd missed that.  It now looks like this:

![som-pump-with-new-base](https://cloud.githubusercontent.com/assets/3082831/10527197/62ef9666-734c-11e5-9967-a8c1b1015cb6.png)

[2015-10-15 21:21] arouinfar commented on #33
Looks great! Closing.

[2015-10-15 21:21] #33 closed

[2015-10-22 03:56] jonathanolson opened #110 "InteractionPotentialCanvasNode catch / paintCanvas"
It has a try/catch that is preventing automated testing from finding legitimate errors. I'd highly recommend the try/catch not be used.

Additionally, see https://github.com/phetsims/scenery/issues/480 about not calling setShape() on arrows in paintCanvas(). I'd recommend applying those changes in the view step instead.

Let me know if there are any questions about this, I'm available to help.

[2015-10-22 04:07] jonathanolson commented on #110
Also, this will be a very blocking issue, as it will cause the built version of the sim to infinite-loop on Edge.

[2015-10-26 17:12] samreid opened #111 "Avoid scenery calls when painting a canvas"
Discovered by automated fuzz tester:

[code]

[2015-10-28 19:08] jbphet commented on #111
This is essentially a duplicate of #110.

[2015-10-28 20:43] jbphet commented on #111
This issue has been addressed by moving the updates of non-canvas nodes out of the paintCanvas call in InteractionPotentialCanvasNode.  Fuzz testing is now succeeding.  Closing.

[2015-10-28 20:43] #111 closed

[2015-10-28 20:43] jbphet commented on #110
This issue has been addressed by moving the updates of non-canvas nodes out of the paintCanvas call in InteractionPotentialCanvasNode.  Fuzz testing is now succeeding.  Closing.

[2015-10-28 20:43] #110 closed

[2016-01-11 19:34] pixelzoom opened #112 "unused strings"
[code]

[2016-01-11 20:23] jonathanolson opened #113 "Automated testing (test-server) require.js fuzzMouse error"
[code]

[2016-03-10 17:29] jonathanolson commented on #17
Checked briefly into DialGaugeNode.

Many shapes could be cached and not re-created every time. If it's the elbowHeight changing every frame, it would be helpful for me to collaborate with the developer for the sim (maybe we can have part of the shape remain the same, or use transforms)?

@jbphet, let me know if you'd be the person to talk to?

[2016-03-10 19:15] jbphet commented on #17
This sim is on hold for now.  @jonathanolson - I or whoever is ultimately tasked with working on this will talk with you when this sim is back on the short list.

[2016-05-02 21:11] jbphet opened #114 "all sims in the States of Matter suite need to be namespaced"
The title pretty much says it all.

[2016-05-06 17:10] aadish commented on #114
fixed, closing

[2016-05-06 17:10] #114 closed

[2016-05-06 17:45] aadish commented on #112
fixed closing

[2016-05-06 17:45] #112 closed

[2016-05-10 18:48] phet-steele opened #115 "Automated Testing Build Errors (5/10/2016 10:00 AM)"
[code]

[2016-05-11 15:58] aadish commented on #115
fixed closing

[2016-05-11 15:58] #115 closed

[2016-05-20 21:42] aadish commented on #113
cannot duplicate closing

[2016-05-20 21:42] #113 closed

[2016-05-24 17:20] phet-steele opened #116 "Automated Testing Sim Errors (5/24/2016 10:00 AM)"
[code]

[2016-05-26 17:03] aadish commented on #90
fixed referring to the commit 2ba660ded5700fa1311eb8ba926581c7a99def57, closing

[2016-05-26 17:03] #90 closed

[2016-05-26 17:25] aadish commented on #109
fixed, closing

[2016-05-26 17:25] #109 closed

[2016-06-02 16:47] aadish commented on #116
fixed closing

[2016-06-02 16:47] #116 closed

[2016-06-02 20:03] brroberts1231 opened #117 "Thermometer remains at absolute zero after adding moving atoms"
For phetsims/tasks#609
Test device: Bates

Operating System: Windows 7

Browser: Chrome

Problem description: In the phase changes screen, if there are no atoms in the container, the thermometer will read 0 K, which is valid. But then if you pump in new atoms, they will be moving around, but the thermometer will still read 0 K, which would only be correct if the atoms are not moving. The pressure

[2016-06-03 16:17] phet-steele commented on #60
@arouinfar, new well depths, may you approve?

![screen shot 2016-06-03 at 10 14 24 am](https://cloud.githubusercontent.com/assets/5863899/15785342/069b64ec-2974-11e6-8518-fd08773f43f1.png)
![screen shot 2016-06-03 at 10 14 41 am](https://cloud.githubusercontent.com/assets/5863899/15785344/098a02ee-2974-11e6-96bc-e3b463ceda4b.png)

[2016-06-03 16:36] phet-steele opened #118 "Custom interaction strength lost upon atom switching"
Same as phetsims/atomic-interactions/issues/30, except with regards to the adjustable attraction in the Phase Changes screen of SOM. The interaction strength slider always resets to max strength when switching between atom options. This slider should retain its custom value until the reset all button is pressed.

For phetsims/tasks/issues/609.

[2016-06-03 17:06] phet-steele opened #119 "OVERLOADE!"
The "D" gets cut off on the pressure gauge. @arouinfar If "OVERLOADED" is too long, maybe change it to "OVERLOAD"? Additionally, this screen shot was captured with `?stringTest=double`, and this looks exactly the same with single strings. This pressure gauge is not scaling the string to fit...anything.
![screen shot 2016-06-03 at 11 01 17 am](https://cloud.githubusercontent.com/assets/5863899/1578

[2016-06-03 18:20] arouinfar commented on #60
@aadish looks good, but there appears to be a layering issue. The green arrow that adjusts the well depth on the Interaction screen should sit on top of the axes.

[2016-06-03 20:54] phet-steele opened #120 "Thermometer returns higher than its original position"
Returning the lid **while viewing the temperature in Celsius**, the thermometer will be placed higher than normal:

Before returning the lid:
![screen shot 2016-06-03 at 2 39 00 pm](https://cloud.githubusercontent.com/assets/5863899/15792195/fa65a474-2998-11e6-98b9-605cdff201f7.png)

After returning the lid:
![screen shot 2016-06-03 at 2 39 54 pm](https://cloud.githubusercontent.com/assets/5863899

[2016-06-03 20:54] phet-steele opened #121 "No Return Lid button on States screen"
Blowing the lid off of the container on the States screen has no "Return Lid" button. @aadish @arouinfar I feel it should?

![screen shot 2016-06-03 at 2 45 02 pm](https://cloud.githubusercontent.com/assets/5863899/15792325/cb507050-2999-11e6-8e7e-af172b485c7e.png)

Seen on OSX 10.11.5 Chrome. For phetsims/tasks/issues/609.

Troubleshooting information:
Name: ‪States of Matter‬
URL: http://www.col

[2016-06-03 20:55] phet-steele opened #122 "Resetting doesn't reset temperature unit option"
The Reset All button does not return the user to viewing the temperature in Kelvin if they were viewing in Celsius beforehand.

Seen on OSX 10.11.5 Chrome. For phetsims/tasks/issues/609.

Troubleshooting information:
Name: ‪States of Matter‬
URL: http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.6/states-of-matter_en.html
Version: 1.0.0-dev.6 2016-06-02 15:57:50 UTC
Features

[2016-06-03 20:55] phet-steele opened #123 "Bucket & container not centered with each other"
The heating/cooling bucket is not quite centered underneath the container (or vice versa) on either the States or Phase Changes screens. Hopefully this screenshot makes it clear:

![screen shot 2016-06-03 at 2 49 55 pm](https://cloud.githubusercontent.com/assets/5863899/15792440/7900fae4-299a-11e6-9188-4cd62687f6a1.png)

Seen on OSX 10.11.5 Chrome. For phetsims/tasks/issues/609.

Troubleshooting i

[2016-06-03 21:05] brroberts1231 opened #124 "Adjustable Attraction bursts lid earlier than other gases"
For phetsims/tasks#609
Test device: Bates, Lave
Operating System: Win 7, iOS 8.4.1
Browser: Chrome, Safari

Problem description: When using the Adjustable Attraction atoms, the lid will burst at about 130 atm instead of going all the way up to OVERLOAD at 200 atm like all the other gases do. Seen on both Windows and iPad 2.

Screenshots:
Paused and stepping frame by frame:
![ezgif com-video-to-gif

[2016-06-03 22:09] arouinfar commented on #121
Nice observation @phet-steele! While this matches the Java behavior, I'm not sure what motivated this design decision. Perhaps this case wasn't considered because it takes quite a long time to blow the lid off in the States screen?

Let's add a Return Lid button to the States screen @aadish.

[2016-06-03 22:10] arouinfar commented on #123
👍
@aadish please move the bucket so that it is centered below the container.

[2016-06-03 22:57] ariel-phet commented on #121
@emily-phet do you remember what there is no such button in the Java version?

[2016-06-04 17:48] emily-phet commented on #121
@ariel-phet - I don't recall the exact conversation, but as I think through it now I'm not sure that "return lid" is needed. For this screen, the primary goal is about distinguishing between the different phases, not thinking about pressure so much. Students can use reset to reset the container, and the select the solid/liquid/gas button to get close to there last state/temperature quickly.

[2016-06-06 17:14] aadish commented on #121
@ariel-phet what is the final take on this, should we add it or not

[2016-06-06 17:17] ariel-phet commented on #121
Considering @emily-phet comments we should not. Closing

[2016-06-06 17:17] #121 closed

[2016-06-06 17:19] alynne-phet opened #125 "Atom overlaps the slow motion button when max diameter is chosen"
For phetsims/tasks/issues/609
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: When on the interaction screen, the atom overlaps the slow motion button when the maximum atom diameter is chosen.

Steps to Reproduce:
1. Choose the adjustable attraction atom
2. Slide the atom diameter to the maximum size
3. Drag the atom to the right until it is ove

[2016-06-06 19:23] arouinfar commented on #125
Good catch @alynne-phet. @aadish it seems like the best option would be to move the center of the atoms up so that at the maximum radius the atom is vertically centered between the "Distance Between Atoms" label and the Slow Motion radio button.

![image](https://cloud.githubusercontent.com/assets/8419308/15834627/945aaf5a-2be9-11e6-950e-b3d206bca082.png)

[2016-06-06 19:43] alynne-phet opened #126 "Points on phase diagram are not exactly on the line"
For phetsims/tasks/issues/609
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: When on the phase changes screen, the points showing the triple point and critical point are not exactly on the line. When the red ball depicting the actual conditions moves over the black point, they do not directly overlap.

Steps to Reproduce:
1. Choose the phase ch

[2016-06-06 20:08] brroberts1231 opened #127 "Phase Diagram overlaps Reset All button"
Test device: Vygotsky

Operating System: Chrome OS

Browser: Chrome

Problem description: On the phase changes screen, the phase diagram window overlaps the reset all button.

Screenshots:
![screenshot 2016-06-06 at 2 08 01 pm](https://cloud.githubusercontent.com/assets/11947677/15836040/253a0678-2bf0-11e6-91dd-1435665a8f61.png)

Troubleshooting information (do not edit):
Name: ‪States of Matter‬

[2016-06-06 20:34] brroberts1231 commented on #127
For phetsims/tasks#609

[2016-06-06 20:38] brroberts1231 commented on #127
Possibly only occurs on Chromebook, because I don't recall seeing this before, and it doesn't appear in #126 either

[2016-06-06 21:00] aadish commented on #125
@arouinfar sounds good will fix this

[2016-06-07 17:41] phet-steele commented on #17
@arouinfar states that performance while dragging the container lid is acceptable.

[2016-06-07 17:41] #17 closed

[2016-06-07 17:59] phet-steele commented on #23
So @ariel-phet, still reasonable behaviour? This isn't exactly the same procedure, but is certainly the same root issue. See all the water molecules along the bottom sort of just bouncing up and down instead of vaporizing?

![som01](https://cloud.githubusercontent.com/assets/5863899/15868917/18f4ea10-2ca7-11e6-9876-dc69e9fb211d.gif)

[2016-06-07 18:03] phet-steele commented on #23
@ariel-phet when I say "not the same procedure", I really should clarify that there is hardly a procedure to this at all. I'm getting those dud water molecules from simple, non-edge-case, pumping.

[2016-06-07 18:09] phet-steele opened #128 "I18n of interaction potential and phase diagram panels"
@aadish @arouinfar the sim generally passes `?stringTest=double`. The only areas that could use some attention are these two panels on the Phase Changes screen:

<img width="318" alt="screen shot 2016-06-07 at 12 01 36 pm" src="https://cloud.githubusercontent.com/assets/5863899/15869116/30f671e6-2ca8-11e6-8d05-6ee600ce8066.png">

I'm going to pass this off to @arouinfar to make the relevant decisi

[2016-06-07 22:01] aadish commented on #124
this behavior is consistent with java version of the simulation and currently have no idea how to deal with it

in discussion with @jbphet it seems it is not a bug but will take a look later

[2016-06-07 22:14] aadish commented on #117
@arouinfar when adding more particles in the container the pressure goes up but the temperature remains constant and this is in sync with Java Version what do you think

[2016-06-07 22:28] arouinfar commented on #124
It's not just Adjustable Attraction that blows the lid too early -- argon and oxygen blow before the pressure reaches overload.

@phet-steele mentioned this problem could be related to the interaction strength. What's puzzling is that neon and water are both capable of reaching pressure overload, despite having VERY different intermolecular forces. Neon would experience very weak London dispersion

[2016-06-07 23:06] aadish commented on #117
there was a piece of code which was not ported from the java version which deals with when container was empty, fixed in above commit

[2016-06-08 00:02] arouinfar opened #129 "System remains at absolute zero when pumping in particles to a 0K sample"
In discussing #117 with @aadish and @jbphet, we discovered another issue related to absolute zero.

If a solid is cooled to absolute zero, the particles will stop moving (as they should). If additional particles are pumped in, the temperature remains 0K, but the solid sample will begin to vibrate once one of the newly pumped in particle collides with it.

![absolutezero2](https://cloud.githubuserc

[2016-06-08 00:40] emily-phet commented on #129
I think @ariel-phet would know more about these temperatures...but wouldn't the temperature of the system be above zero once the particles are pumped in? Aside from whether or not the thermometer should read 1 upon pumping in or upon interacting with the stationary particles, I agree with @jbphet 's suggestion.

[2016-06-08 06:36] ariel-phet commented on #129
I agree that the moment you pump atoms in and they are moving you have to have a temperature above 0. I suppose if you are getting technical I feel like I could make an argument that the solid could start vibrating before the collision -- any particles in motion will have a finite temperature and therefore be emitting blackbody radiation which could cause heating (even if ever so slight) of the so

[2016-06-08 16:10] aadish commented on #60
fixed the layering issue in above commie

[2016-06-08 17:49] arouinfar commented on #128
There's not much we can do to prevent long strings in this case, but perhaps we can give them a bit more room.

@aadish let's allow these panels to expand by up to 50px to accommodate long strings. This will alleviate some of the problem for horizontal strings -- there's not really anything we can do about the vertical strings. However, if ONE panel expands to accommodate a string, the others shou

[2016-06-08 18:18] arouinfar commented on #128
The sigma and epsilon are unlikely to be translated, and if they are, it's still unlikely that the string will be longer than a character or two. To avoid the situation in the screenshot above, let's scale the sigma string so the text becomes smaller, rather than expanding.

The adjustable attraction slider looks like it has quite a few i18n issues. The strong and weak labels should be allowed to

[2016-06-08 18:44] ariel-phet commented on #23
@phet-steele does this occur in the Java version?

[2016-06-08 18:48] ariel-phet commented on #23
Please check and assign back to me if there is any discrepancy. If this behavior is in both, I will talk more with @jbphet

[2016-06-08 19:28] arouinfar commented on #129
Thanks @emily-phet and @ariel-phet!

The problem is that the model does not assign any temperature to incoming particles, but instead the temperature is derived from other properties of the system. Adding more particles to the container will never change the temperature of the system, so there needs to be an exception for the situation described in this issue.

I am not particularly bothered by th

[2016-06-09 00:17] phet-steele commented on #23
@ariel-phet yup.

[2016-06-09 15:58] jbphet commented on #129
What @arouinfar described in the comment above is close, but not quite how the model behaves.  The temperature value is actually a parameter that is set within the code.  So, for instance, when the user uses the heater-cooler to add heat to the system, the code gradually increases the temperature.  That's why adding particles currently does not affect the temperature.  What might be possible is to

[2016-06-09 17:34] arouinfar commented on #129
Thanks for the clarification @jbphet!

I think it would be more problematic to show molecular motion at 0K than for the solid to heat up before a collision. In the latter situation we could leverage @ariel-phet's black body radiation explanation.

I'm tagging this issue with teaching resources, because whatever approach we take will need to be documented in the Teacher Tips.

[2016-06-09 20:03] brroberts1231 commented on #117
For phetsims/tasks#611
dev.7: Appears to be fixed for Neon, Argon, and Adjustable Attraction, but not Oxygen or Water. So far only tested on Win 7 Chrome and Firefox.

Also, on one occasion something interesting happened with Oxygen that I haven't been able to recreate since. After pumping in the particles to the empty container, the molecules slowed down and stopped moving on their own, as if I h

[2016-06-10 04:48] ariel-phet commented on #129
@jbphet yes I think the code should bump the temperature a bit. Temperature is an ensemble average of kinetic energy of a system, so it makes sense to measure it as having increased with pumped in moving particles. In addition, we can ask @dubson opinion, but I think it is valid from a quantum mechanical point of view that you can have these particles start to gain energy before a collision occurs

[2016-06-10 14:41] arouinfar commented on #129
Sounds good @ariel-phet. I'll reach out to Mike and Steve and report back.

[2016-06-13 18:06] alynne-phet opened #130 "Pin button moves to different locations when on the adjustable attraction option"
For phetsims/tasks/issues/611
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: On the Interaction screen with the adjustable attraction option selected, the pin button moves to different locations. Occasionally it is directly on top of the atom, whereas other times it isn't even touching the atom. Also seen on Atomic Interactions sim.

Steps to R

[2016-06-23 20:27] phet-steele commented on #122
👍 in 1.0.0-dev.6

[2016-06-23 20:29] #122 closed

[2016-06-23 20:33] phet-steele commented on #118
Fixed in 1.0.0-dev.6

[2016-06-23 20:33] #118 closed

[2016-06-23 20:34] phet-steele commented on #119
Fixed in 1.0.0-dev.6

[2016-06-23 20:34] #119 closed

[2016-06-23 20:35] phet-steele commented on #120
Fixed in 1.0.0-dev.6

[2016-06-23 20:35] #120 closed

[2016-06-23 20:36] phet-steele commented on #123
Fixed in 1.0.0-dev.6

[2016-06-23 20:36] #123 closed

[2016-06-23 20:37] phet-steele commented on #125
Fixed in 1.0.0-dev.6

[2016-06-23 20:37] #125 closed

[2016-06-23 20:40] phet-steele commented on #126
@jbphet this issue is half fixed. What remains is the red point, which is not centered on the line prior to the triple point. After the triple point, everything appears fine.

[2016-06-23 21:01] phet-steele commented on #128
@arouinfar, please take a look. I like all these changes; there has certainly been an improvement. My only qualm is this, at weak interaction potential (Adjustable Interaction):
<img width="282" alt="screen shot 2016-06-23 at 2 59 18 pm" src="https://cloud.githubusercontent.com/assets/5863899/16320091/51fe8cc2-3953-11e6-9031-de76f416bc13.png">
The epsilon is slightly covered.

[2016-06-23 21:32] phet-steele commented on #60
Fixed in 1.0.0-dev.7

[2016-06-23 21:32] #60 closed

[2016-06-30 18:44] arouinfar commented on #128
Good observation @phet-steele!

@aadish can the epsilon be moved a little to the right to avoid this overlap?

[2016-06-30 18:55] phet-steele commented on #128
This is something for @jbphet

[2016-07-05 17:37] phet-steele opened #131 "[Chromebook] Parenthesis spacing"
@jbphet on chromebook, the spacing of the parenthesis here is a little strange (only for van der Waals). This is on the Interaction screen and 1.0.0-dev.7:
![screenshot 2016-07-05 at 11 33 00 am](https://cloud.githubusercontent.com/assets/5863899/16593797/608bba76-42a4-11e6-9e08-f0f5657523af.png)
For phetsims/tasks/issues/611.
Troubleshooting information:
Name: ‪States of Matter‬
URL: http://www.c

[2016-07-05 17:38] phet-steele commented on #127
Fixed in 1.0.0-dev.7

[2016-07-05 17:38] #127 closed

[2016-07-05 19:10] alynne-phet opened #132 "Red point on the phase diagram goes off of the graph"
For phetsims/tasks#611
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: On the Phase Changes screen when the atom is completely cooled, the red point on the phase diagram goes off of the graph past the white arrow lines.

Steps to Reproduce:
1. Choose any of the atoms or molecules
2. Use the bucket of ice to cool the atoms or molecules to 0 K
3.

[2016-07-05 20:04] alynne-phet opened #133 "Interaction strength arrow overlaps some of the letters on the x-axis title"
For phetsims/tasks#611
Test Device: Personal Laptop
Operating System: Mac OSX 10.11.5
Browser: Chrome

Problem Description: On the Interaction screen on the adjustable attraction option, the interaction strength arrow overlaps some of the letters on the x-axis title.

Steps to Reproduce:
1. Choose the adjustable attraction option
2. Set the interaction strength to strong
3. Move the atom diameter

[2016-07-05 20:07] alynne-phet commented on #133
This is seen in the Atomic Interactions sim as well

[2016-07-22 20:19] jbphet commented on #133
Should be fixed, back to @alynne-phet to verify on master.

[2016-07-22 21:37] jbphet commented on #132
I fixed this by added a clip region so that the dot can still get to x=0 and y=0 but doesn't go off the graph.  Back to @alynne-phet for testing on master.

[2016-07-22 22:40] jbphet commented on #131
Should now be fixed on master, back to @phet-steele to validate on master.

[2016-07-22 22:44] jbphet commented on #130
This is an issue in the original Java sim too, we just (apparently) never noticed it.  Here is a screenshot:

![som-pin-off](https://cloud.githubusercontent.com/assets/3082831/17073181/95e9fff4-502b-11e6-9db3-8537928e130b.PNG)

[2016-07-22 23:46] jbphet commented on #130
I've added code to update the position of the push pin any time a new fixed atom is added.  This should fix the problem, assigning back to @alynne-phet to verify on master.

[2016-07-25 18:00] alynne-phet commented on #130
Fixed! Closing

[2016-07-25 18:00] #130 closed

[2016-07-25 18:08] alynne-phet commented on #133
Fixed. Closing

[2016-07-25 18:08] #133 closed

[2016-07-25 19:13] phet-steele commented on #132
@jbphet the axis arrows have a certain line thickness, and in 1.0.0-dev.7 it looks like the dot is centered on the left edge of the y-axis arrow and almost the bottom edge of the x-axis arrow (making it look to go off the graph).
<img width="373" alt="screen shot 2016-07-25 at 1 12 07 pm" src="https://cloud.githubusercontent.com/assets/5863899/17113796/6de4e42a-5269-11e6-8f7e-8f368d97f736.png">

A

[2016-07-25 19:16] phet-steele commented on #132
For the record, clip area looks a little strange:
<img width="625" alt="screen shot 2016-07-25 at 1 16 32 pm" src="https://cloud.githubusercontent.com/assets/5863899/17113944/09607a22-526a-11e6-9080-0100b6f800c2.png">

[2016-07-25 22:10] jbphet commented on #128
Fixed the issue noted just above by adding code to limit the number of characters for this label to 1, also moved epsilon to be just above the well since current position does not match Java version and does not make it clear what it represents.  Assigning to @arouinfar to test on master.

[2016-07-25 22:17] jbphet commented on #129
I've added code that bumps up the temperature 2 degrees Kelvin if the user pumps in particles while at absolute zero.  This works reasonably well, but is very much a special case.  I tried making the injected particles cause the temperature to be adjusted more naturally by turning off the thermostats when injection was occurring, and that seemed to work reasonably well, but it changes a lot of gen

[2016-07-25 22:18] jbphet commented on #129
Assigning solely to @arouinfar to test and, if necessary, check in with Mike and Steve before deciding on whether this solution is acceptable.

[2016-07-25 22:22] arouinfar commented on #128
Epsilon location looks great @jbphet!

[2016-07-25 22:22] #128 closed

[2016-07-25 22:24] arouinfar commented on #129
Thanks @jbphet. Master looks good! I'll run it by Mike and/or Steve and let you know if there are any changes we should make.

[2016-07-25 23:01] jbphet commented on #126
Fixed the position of the red point.  It is slightly above the line when below the triple point, this is intentional since it is more in a solid phase.  Assigning back to @alynne-phet to verify.

[2016-07-25 23:51] jbphet commented on #117
Fixed this so that oxygen and water are now properly handled.  Assigning to @brroberts1231 to verify off of master.

[2016-07-26 15:55] jbphet commented on #132
I removed the clipping area and improved the positioning accuracy of the red marker.  Seems like this fix addresses the issue better than the clipping region.  @phet-steele - give this a try and, if it looks good, please close the issue.

[2016-07-26 16:19] alynne-phet commented on #126
Fixed. Closing

[2016-07-26 16:19] #126 closed

[2016-07-26 16:20] alynne-phet commented on #132
@jbphet This looks good to me.

[2016-07-26 16:43] phet-steele opened #134 "Automated Testing Build Error (7/26/2016 10:00 AM)"
[code]

[2016-07-26 16:56] jbphet commented on #124
The root of this problem is that the code has (or had) a mapping algorithm for internal model pressure to pressure in atmosphere that was different depending on the atom/molecule selection.  This was done in order to have more realistic values of pressure.  However, since the internal pressure value is the determining factor in what causes the container to explode, different pressure mappings caus

[2016-07-26 17:40] arouinfar commented on #124
@jbphet that sounds reasonable to me and @amyh-phet.

[2016-07-26 17:57] #106 closed

[2016-07-26 18:11] jbphet commented on #40
Neon and Argon were added to the nitroglycerin repo a while back, see https://github.com/phetsims/nitroglycerin/commit/826a0d7c848bf9271ef37950963ce7c3fb082f28.  The colors for all atoms are now drawn from nitroglycerin.  We did a little bit of updating to the color used for neon in order to make it stand out a bit more, see https://github.com/phetsims/states-of-matter/issues/49.  I think our work

[2016-07-26 18:17] phet-steele commented on #132
@jbphet this dot is great! Best dot ever! Thanks!

[2016-07-26 18:17] #132 closed

[2016-07-26 18:26] arouinfar commented on #40
Looks good to me @jbphet. Closing.

[2016-07-26 18:26] #40 closed

[2016-07-26 18:40] jbphet commented on #36
Assigning to @ariel-phet to check over the credits and recommend any updates or close.

[2016-07-26 22:25] arouinfar commented on #129
Ran this by Mike, and he also thought it looked good. I'm going to leave this issue open, because it will need to be documented in the teacher tips.

[2016-07-26 22:36] ariel-phet commented on #36
I should be "Ariel" not "Arial" but otherwise looks good.

[2016-07-26 22:41] ariel-phet commented on #124
I agree, sounds reasonable to me

[2016-07-27 15:32] jbphet commented on #36
Fixed (sorry).  Closing.

[2016-07-27 15:32] #36 closed

[2016-07-27 16:05] jbphet commented on #134
Fixed, closing.

[2016-07-27 16:05] #134 closed

[2016-07-27 16:08] phet-steele commented on #131
@brroberts1231 might have a chance to look at this before me, assigning to him.

[2016-07-27 17:36] jbphet commented on #53
I improved the way that the main model class for this screen - DualAtomModel - handles time stepping, and set a minimum time step such that energy should be conserved in all situations available for this screen.  This should solve the problem.  Assigning to @phet-steele to verify on master.

[2016-07-27 17:38] jbphet commented on #53
On second thought, no need for verification.  It looks good to me, and @ariel-phet and I agreed that since it's a rare case and since the Java sim had the issue too, fixing this would basically be "gravy".  It's fixed, so we'll enjoy the gravy and move on.  Closing.

[2016-07-27 17:38] #53 closed

[2016-07-27 20:35] arouinfar opened #135 "Update Projector Mode Colors"
The projector mode colors need updating. I will work on these, and then pass them along to @jbphet to implement.

[2016-07-27 22:06] ariel-phet commented on #23
Discussed with @jbphet 7/26/2016 sounds like not much can be done about this issue without potentially causing some funkiness in the model. Marking as "won't fix"

[2016-07-27 22:06] #23 closed

[2016-07-28 08:06] arouinfar commented on #129
Marking this as on-hold until it's time to write the teacher tips.

[2016-07-28 15:12] jbphet commented on #124
Great.  This should now be addressed, assigning to @phet-steele to verify on master and close if the problem appears to be corrected.

[2016-08-02 18:59] arouinfar commented on #135
Global panel colors
* White panel fill
* Black panel stroke
* Black text
* Black selection stroke
* Black slider track
* Black graph axes

Additionally, for the interaction potentials
* Black sigma/epsilon fill (no stroke)
* Black sigma/epsilon arrow fill with white stroke
* Red interaction potential line (match the red used on the Interaction screen in non-projector mode) -- Please make this chan

[2016-08-02 19:00] arouinfar commented on #135
Assigning to @jbphet for implementation.

[2016-08-03 17:30] jbphet commented on #117
Assigning to @phet-steele to verify off master, since I know he's around.

[2016-08-03 19:43] phet-steele commented on #124
👍

[2016-08-03 19:43] #124 closed

[2016-08-03 20:40] phet-steele commented on #117
@jbphet, I talked with @arouinfar and the scenario in this issue needs to match the solution in #129. Any particles added to a container at 0 K should only raise the temperature to 2 K (currently the temperature rises to the critical point of the selected particle).

[2016-08-03 20:40] phet-steele commented on #131
👍

[2016-08-03 20:40] #131 closed

[2016-08-03 20:46] phet-steele opened #136 "Fix the panel layout"
A reminder for @jbphet to revert a commit made that moved some panels around. Currently, master of Atomic Interactions looks like the image below. The panels used to be to the left more so as to not cover the reset all button:

<img width="429" alt="screen shot 2016-08-03 at 2 18 05 pm" src="https://cloud.githubusercontent.com/assets/5863899/17381368/c5220e04-5988-11e6-8ce7-4cf055a596ca.png">

[2016-08-04 18:54] jbphet opened #137 "add query parameter to turn on projector mode"
At the 8/4/2016 status meeting it was suggested that we support projector mode via a query parameter in order to make it easier for teachers to use.  Adding general support for this would be a bit of a big deal, so we logged an issue for it (see https://github.com/phetsims/joist/issues/342) and decided that, in the short term, sims will support the parameter on an individual basis.  This should be

[2016-08-04 22:18] jbphet commented on #136
Should now be fixed, please test and close if so.

[2016-08-04 22:19] jbphet commented on #137
Done, closing.

[2016-08-04 22:19] #137 closed

[2016-08-04 22:33] jbphet commented on #117
I don't think 2k is what we want in this case.  The particles are injected with an initial velocity that corresponds to the critical point, and if a number of particles are pumped in, they will appear to be in the gaseous state.  Having the thermometer read 2k in this situation would obviously be wrong.  @phet-steele was arguing for having no reading at all for the empty container.  If that works

[2016-08-04 22:39] arouinfar commented on #117
That sounds like a great idea @phet-steele @jbphet. Since there's no matter to measure the temperature of, it seems reasonable to disable the thermometer (display a dash) when the container is empty. That way, when gas is pumped in at the critical point it doesn't seem discrepant from the case where particles are cooled to 0K.

[2016-08-04 23:01] jbphet opened #138 "improve artwork for bike pump to improve contrast"
@arouinfar wrote the following to me in an email:

[2016-08-04 23:08] jbphet commented on #138
Turns out the bike pump is not done with artwork - it's drawn in code.  I'll work to adjust the code to match the artwork that @arouinfar sent me.

[2016-08-05 17:38] arouinfar opened #139 "Move vector icons in Force panels to the right"
In SOM and Atomic Interactions, the vector icons in the force panels are a bit too close to the text
![image](https://cloud.githubusercontent.com/assets/8419308/17444968/fcf903d2-5aff-11e6-89a2-f847b01053b4.png)

It also looks like the current location of the vector icons restricts the length of the strings during i18n.
![image](https://cloud.githubusercontent.com/assets/8419308/17445169/d47e5564-

[2016-08-05 20:21] jbphet commented on #138
I just reviewed the changes with @arouinfar and she said it looks good to her.  Closing.

[2016-08-05 20:21] #138 closed

[2016-08-08 15:06] phet-steele commented on #136
👍

[2016-08-08 15:06] #136 closed

[2016-08-08 17:32] jbphet opened #140 "Can we update the pressure gauge less frequently?"
The pressure gauge currently updates every frame.  I'm currently working on improving the performance (see https://github.com/phetsims/states-of-matter/issues/71) and in the process of doing some profiling I can see the the updates to the pressure gauge are taking around 5% of the update time for each frame.  I'm going to try reducing the update frequency to something like every 1/2 second in orde

[2016-08-08 17:35] arouinfar commented on #140
That sounds like very reasonable approach, and I would imagine that updates every 1/2 second should be sufficient to observe that pressure is a result of collisions with the container.

Go for it @jbphet!

[2016-08-08 22:39] arouinfar opened #141 "Add Amy H to credits"
@amyh-phet should be credited as a team member for all the sims in the SOM suite. Can you please add her to the credits @jbphet?

[2016-08-08 23:11] jbphet commented on #71
The two devices that I'm using to measure performance on iPads are Tycho, which is an iPad 2 model A1395 running iOS 9.3.3, and Disessa, which is an iPad 3 model A1416 running 9.3.3.  The performance issues are the most apparent when displaying water, which makes sense, since both the model and the view are more complicated.

I'm using one general test with three options to benchmark the performan

[2016-08-09 18:30] phet-steele opened #142 "Automated Testing Build Error (8/9/2016 9:56 AM)"
[code]

[2016-08-09 19:04] jbphet commented on #140
Done, looks pretty decent to me, closing.

[2016-08-09 19:04] #140 closed

[2016-08-09 19:50] jbphet commented on #141
Added, closing.

[2016-08-09 19:50] #141 closed

[2016-08-09 20:06] jbphet commented on #139
I've added some padding, assigning to @arouinfar to verify on the next dev version, which I'm just about to publish.

[2016-08-09 20:40] jbphet commented on #142
fixed, closing

[2016-08-09 20:40] #142 closed

[2016-08-09 20:43] jbphet commented on #71
For the record, water in the gaseous state looks great and runs at 60 fps on Leibniz, an iPad 4 model A1566 running iOS 9.3.2.

[2016-08-09 21:02] arouinfar commented on #139
Looks great! Closing.

[2016-08-09 21:02] #139 closed

[2016-08-09 22:41] jbphet commented on #71
I found an article on line where it said that calls to ```context.fill()``` and ```context.stroke()``` are expensive so it's best to try to minimize them.  I tried restructuring ParticleCanvasNode.paintCanvas to do all the drawing, then call ```fill``` and ```stroke```.  When profiled on Chrome, it seemed to bring about a slight performance improvement, but we're already getting 60 fps easily on C

[2016-08-11 16:58] jbphet opened #143 "something is not quite right with the rotation of the water molecules"
If I start the sim, select the first screen, choose water as the molecule and then set it to the gaseous state, a number of the molecules are rotating, but all are rotating in the counterclockwise direction, and none of the molecules ever seem to change their rate of rotation.  If I cool down the molecules to the point where there is no rotation, then heat them back up, some of them will be rotati

[2016-08-11 18:20] jbphet commented on #143
This behavior appears to have introduced fairly recently.  It's in v1.0.0-dev.8 but not v1.0.0-dev.7.

[2016-08-15 21:52] jbphet commented on #143
Fixed, see commit messages above.  Closing.

[2016-08-15 21:52] #143 closed

[2016-08-15 21:54] jbphet commented on #135
@amyh-phet - I've worked through a number of the issues for the projector mode.  I'd like to set up a time to look at a few things with you, such as the sigma and epsilon arrows.  Let's set up a time and see if we can finalize this, I'm thinking it will take roughly an hour.

[2016-08-15 21:56] amyh-phet commented on #135
@jbphet. Is this for @arouinfar?  Happy to set up a time if you need me to weigh in.

[2016-08-15 21:58] arouinfar commented on #135
@amyh-phet pretty sure he meant me :)

@jbphet does tomorrow work for you? My schedule is flexible.

[2016-08-16 18:24] jbphet commented on #135
@arouinfar and I reviewed this together, made some final changes, and agree that it is now acceptable.  Closing.

[2016-08-16 18:24] #135 closed

[2016-08-17 16:58] jbphet commented on #71
At this point, after the optimizations done so far, performance looks pretty good for everything except water on the "Phase Changes" screen.  For this particular setup, the frame rate is around 10-15 fps.

[2016-08-17 17:41] jbphet commented on #71
I added some temporary code to collect data about how long it takes to run the model and to do the rendering on iPads.  This code collects the processing time for 100 iterations of the model and 100 instances of rendering for water on the "Phase Changes" screen.  Screenshots are shown below.
![som-ipad-model-times-1](https://cloud.githubusercontent.com/assets/3082831/17746517/96998518-646d-11e6-81

[2016-08-17 18:13] jbphet commented on #71
While collecting this data, I found that the model often starts out with a relatively long execution for the very first time through, then does a number of iterations that take on the order of 50ms, then starts running at around 19ms per iteration.  Below is an example of this happening (I put a little red scribble where the interaction time dropped down).

![som-ipad-render-times-2](https://cloud

[2016-08-17 22:25] jbphet commented on #117
I've implemented this, here's a screenshot of what it looks like:

![som-no-temp](https://cloud.githubusercontent.com/assets/3082831/17755450/34672a10-6497-11e6-89ff-445b392ef259.PNG)

Assigning to @arouinfar to test on master and close this issue if the behavior looks good.

[2016-08-17 22:28] arouinfar commented on #117
👍

[2016-08-17 22:28] #117 closed

[2016-08-17 23:27] jbphet commented on #16
I tested this and found the performance to still be poor on an iPad 2 (Tycho), and did some investigation.  The way the drag handler was implemented caused the pump handle to not go to the full extent of the drag if the user drags past the allowable range, which makes it feel like the motion isn't keeping up.  I fixed this, and the behavior is much better.  Closing.

[2016-08-17 23:27] #16 closed

[2016-08-23 20:13] jbphet commented on #100
The ```nextGaussian``` function has been integrated into dot and this sim is now using it.  Closing.

[2016-08-23 20:13] #100 closed

[2016-08-23 20:20] jbphet opened #144 "molecules can get stuck in the corner"
Sometimes after exploding the container, a molecule will end up stuck in the corner of the container after a while.  The screenshot below shows what this looks like.  In this case, the water molecule first paused at the upper left of the container, then fell down to the lower left and just stayed there, spinning the entire time.

![som-molecule-in-corner](https://cloud.githubusercontent.com/assets

[2016-08-24 21:30] jbphet commented on #144
This issue was due to some code that was added to try to constrain particles from blowing through the sides of the containers when their velocity was high.  The code ended up just clamping the position, which isn't really what was needed.  I removed the original code and added code to the various Verlet algorithms to detect when the atom or molecule's center of mass would end up outside the contai

[2016-08-24 21:30] jbphet commented on #144
Should now be fixed, closing.

[2016-08-24 21:30] #144 closed

[2016-08-25 16:24] phet-steele opened #145 "Lid compression rate"
The maximum rate at which the lid can be lowered should be compared to the Java version.

For phetsims/tasks/issues/687

[2016-08-25 16:28] phet-steele commented on #145
Right away, big differences. Videos coming soon.

[2016-08-25 16:47] phet-steele commented on #145
@jbphet @ariel-phet @arouinfar here are the results.
Java takes this long, also notice that the expansion rate is much quicker than the compression:
![som02](https://cloud.githubusercontent.com/assets/5863899/17977739/29829566-6ab0-11e6-862f-14064e1ed853.gif)

The 1.0.0-dev.10 version of HTML5 takes this long with similar expression/compression rates:
![som03](https://cloud.githubusercontent.com/a

[2016-08-25 23:41] pixelzoom opened #146 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim use Panel option `minWidth` and relies on the old default of `align:'right'`.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:59] pixelzoom opened #147 "Reset All button moves around when switching screens"
We typically try to put the Reset All button in the same place on each screen, and it doesn't seem like there's any reason not to do so in this sim.  The button is in a different position on the "Interaction" screen.

Steps to reproduce:
1. Start sim
2. Select "States" screen
3. Select "Interaction" screen, see Reset All button shift up and right.

[2016-08-26 15:00] pixelzoom commented on #146
Visually inspected and compared to previous dev versions, I see no change.  @jbphet up to you whether you want to inspect further or close.

[2016-08-26 17:32] jbphet commented on #146
This is a duplicate of https://github.com/phetsims/atomic-interactions/issues/57, and the panel has been tested and everything looks good.  Closing.

[2016-08-26 17:32] #146 closed

[2016-08-26 20:41] #147 closed

[2016-08-26 23:09] arouinfar commented on #145
@jbphet I think it's okay if the compression and expansion rates are similar, but we'll want to slow down the compression rate to about half of what @phet-steele showed in dev.10. I think this will more closely match the Java behavior, and address the concerns that @kathy-phet raised during status.

[2016-08-29 15:46] ariel-phet commented on #145
Yes, definitely match java behavior

[2016-08-29 19:36] pixelzoom opened #148 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-29 22:02] phet-steele opened #149 "Phase Diagram point when temp is "-""
Phase Changes screen, continuously compress and explode the container until there are no more molecules left in the container. Return the lid. From the changes in #117, the thermometer will display a "-", but there is still a corresponding dot on the phase diagram (that shouldn't be there):

<img width="1284" alt="screen shot 2016-08-29 at 11 00 28 am" src="https://cloud.githubusercontent.com/asse

[2016-08-29 22:07] jbphet commented on #71
Water on the "Phase Changes" screen is now acting very similar to water on the "States" screen.  Turns out that there was an optimization for the latter that I'd just missed applying to the former.  That has been corrected.

[2016-08-29 22:23] phet-steele opened #150 "Lid is unable to compress with large amounts of molecules"
@jbphet there is some seriously confusing behaviour with the lid. When there is a large amount of particles in the container (usually max amount), the lid refuses to be dragged below a certain point. The point is different depending on particle type/amount.

An example procedure with Argon:
1. Compress the container until the lid is right above the pump nozzle.
2. Cool to 0 K.
3. Add argon until t

[2016-08-29 23:56] jbphet commented on #145
Fix committed, see https://github.com/phetsims/states-of-matter/commit/61092355900e980a010d87a8fbfdec84d300e2a0 (forgot to reference this issue in commit message).

[2016-08-30 18:15] jbphet commented on #148
I've adjusted the dilation amounts, looks good at this point, closing.

[2016-08-30 18:15] #148 closed

[2016-08-31 22:45] jbphet commented on #150
I just tested this on the Java version of the sim, and it has the same issue.

[2016-08-31 23:00] jbphet commented on #150
There was code that would calculate the minimum allowed container size based on the number of particles, but I don't know why it was there, and there were no comments that explained it.  I've gone ahead and removed it, which gets rid of the problematic behavior described above.  This should be thoroughly tested to see if removing it has some undesirable consequences.

Assigning to @phet-steele to

[2016-08-31 23:01] jbphet commented on #145
Assigning to @phet-steele to verify on master.

[2016-08-31 23:22] jbphet commented on #149
Fixed, assigning to @phet-steele to verify on master.

[2016-09-01 20:42] jbphet opened #151 "improve the artwork for the hand that presses the container lid"
@ariel-phet asked me to take a shot at making the artwork for the hand look a little better, specifically making the nails look a little more natural.  Here's a screenshot from v1.0.0-dev.10:

![som-lid-pressing-finger](https://cloud.githubusercontent.com/assets/3082831/18183599/5b6c7a2c-7052-11e6-8867-9f8e07bdd40c.PNG)

[2016-09-01 23:14] jbphet commented on #151
Revised, it now looks like this:

![som-revised-hand](https://cloud.githubusercontent.com/assets/3082831/18187531/86c5f31e-7067-11e6-875a-8cdeb82d8c17.PNG)

[2016-09-01 23:15] jbphet commented on #151
Reviewed with @ariel-phet, revisions approved, closing.

[2016-09-01 23:15] #151 closed

[2016-09-01 23:45] jbphet opened #152 "water molecules can get rotating very fast, never slow down"
When water is selected and set to a gaseous temperature, occasionally a molecule or two will get into a state where it is rotating so fast that it never stops.  In some cases, due to aliasing, it can cause the molecule to look like it includes 3 hydrogen atoms instead of 2.  If left long enough, the water will appear to condense because the molecule that is rotating so rapidly posseses a ton of ki

[2016-09-01 23:46] jbphet commented on #152
The first thing to try is to limit the max rotational velocity.  I'll have to determine a limit empirically.

[2016-09-02 22:29] jbphet commented on #152
I did some experimentation and ended up with a rotational limit of 16 revolutions per second (rps).  Faster rotating molecules would sometimes recover, but it would take a while.  I let one runaway rotating molecule go for about 5 minutes and it reached a rate of 69 rps.

We should test with this limit in place and make sure there are no negative consequences.

[2016-09-06 20:26] phet-steele commented on #149
@jbphet master looks good.

[2016-09-06 20:26] #149 closed

[2016-09-08 16:04] jbphet commented on #152
I've tested a fair amount, and I think we're good.  Closing.

[2016-09-08 16:04] #152 closed

[2016-09-12 18:22] phet-steele commented on #145
@jbphet both master and 1.0.0-dev.11 look good.

[2016-09-12 18:22] #145 closed

[2016-09-12 19:58] jbphet commented on #71
Another optimization issue that I'll need to look at is that the performance goes down when the lid assembly (i.e. the lid, the pressure gauge, the thermometer, and the hand) is moving on the 2nd screen.  This applies both to when it is being manually moved by the user or motion is being animated after explosion of the container.  The performance drop is visible in the speed at which the atoms/mol

[2016-09-12 20:06] jonathanolson opened #153 "[branch] performance"
Working on performance enhancements.

[2016-09-12 21:37] phet-steele opened #154 "Pressure gauge behaviour at 0K"
Currently, this is how sim pressure behaves at 0K:

HTML5:
- 0K and molecule/lid contact: Pressure very slowly settles on a value then remains constant
- 0K and no molecule/lid contact: Pressure remains constant

I talked with @arouinfar who said this behaviour was wrong. She suggested that in any scenario involving 0K, the pressure gauge should very quickly, yet smoothly, drop to 0.00 atm.

@jbph

[2016-09-13 16:49] jonathanolson commented on #153
Also the branch performance-no-gradients, which included stripping parts of the sim away to determine what in the drag causes lower performance.

[2016-09-14 22:03] pixelzoom opened #155 "suspicious default cases in switch statements"
Noticed while working on https://github.com/phetsims/chipper/issues/485 ...

There are a bunch of switch statements in `MultipleParticleModel` that look suspect.

(1) Three default cases use an anti-pattern for error handling, e.g.:

[code]

It it's truly an "Error", then why does the sim continue, rather than throwing an Error?

(2) This one has an unnecessary `break` in the `default` case:

[cod

[2016-09-15 20:23] jbphet commented on #155
These were left over from the port by the original authors, and I'd noticed them but hadn't taken the time to clean them up.  I have now, putting ```throw new Error``` for most of them.

I don't agree that it's an anipattern to use a ```break``` statement in the ```default``` case.  Sure, it's the last case in the switch statement and it isn't technically required, but if anyone ever stuck another

[2016-09-15 20:23] #155 closed

[2016-09-15 20:43] pixelzoom commented on #155
Looks good, with exception of lint error (fixed above).

[2016-09-15 22:44] pixelzoom opened #156 "lint errors"
After adding eslint rules related to switch statements (https://github.com/phetsims/chipper/issues/485), this sim is failing lint.

[code]

[2016-09-16 01:35] pixelzoom commented on #156
Errors fixed, @jbphet please review.

[2016-09-16 16:34] jbphet commented on #156
Changes look good, and I ran the sim through its paces and it runs fine.  Closing.

[2016-09-16 16:34] #156 closed

[2016-09-16 20:34] jbphet opened #157 "Pressure takes a long time to stabilize, sometimes continues increasing"
This issue exists and can be reproduced on all platforms, but it is especially easy to duplicate on an iPad 2.

The basic issue is that after changing the container size, the pressure value can continue to increase over time, and can lead to a container explosion as long as 30 seconds after the last interaction from the user.  Here is a sequence that produces the problem once out of ever several t

[2016-09-20 18:36] jbphet commented on #157
This problem is particularly pronounced on older iPads, such as an iPad 2.  This is because the pressure calculation was being done based on the number of time steps, and wasn't taking the **duration** of the time step into account.  Because the frame rate for this sim when running on an iPad 2 is generally 1/2 as much as when running on a desktop device, the pressure was taking twice as long to s

[2016-09-20 18:59] jbphet opened #158 "container explosion occurs much more easily on older ipads"
When running on older iPads, such as an iPad 2, the container on the 2nd screen (Phase Changes) explodes much more easily than on a desktop or a newer iPad.

This issue can be seen on version http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.11 and earlier.

To duplicate:
- Start the sim
- Go to the 2nd screen (phase changes)
- Heat the default substance (Neon) to 60k
- Wait

[2016-09-20 19:12] jbphet commented on #158
This behavior is due to the slower maximum frame rate that is achieved on the iPad 2.  The nominal frame rate when running on a good machine is 60 fps, but only 30 fps or less is being achieved on the iPad 2, and this frame rate goes down even further when the lid is being moved.  As a result, particles are ending up much closer to the lid when the lid is moving downwards in a during a time step,

[2016-09-20 19:14] jbphet commented on #158
Assigning to @ariel-phet for discussion, prioritization, and such.

[2016-09-20 19:17] jbphet commented on #158
By the way, I have a subjective comment about the current behavior on iPad 2:  I feel like the container explodes too easily due to this problem, and could potentially be a distraction for people trying to use the Phase Changes screen in labs and activities.

[2016-09-21 00:16] ariel-phet commented on #158
Discussed with @jbphet and decided to proceed with (3)

[2016-09-21 17:21] jbphet commented on #71
As mentioned in the previous comment, the frame rate drops noticeably on iPad2 when the lid is being moved up and down.  I added some temporary code to measure how much of the change was due to the model being stepped and how much of it was due to the display being updated.  The code was added (temporarily) to Sim.js in the ```stepSimulation``` method and made use of the function ```performance.no

[2016-09-21 23:33] jonathanolson commented on #71
Was that profiling done in master, or on the performance branch? I've done optimization on the performance branch that should improve the CPU usage during the model+view step.

[2016-09-23 15:20] jbphet commented on #71
I've integrated the performance improvements from the performance branch into master, so the optimizations are reflected in the data above.

[2016-09-30 21:39] jbphet commented on #71
I added a ```preventFit``` flag to the ```ParticleContainerNode```, made several measurements on iPad 2, and saw a 23.6% reduction in the time for ```updateDisplay``` and a 14.3% reduction in the time for stepping the model.  These numbers are based on the average of 50 data points for each measurement.

I compared this to having the ```preventFit``` flag set for all the subcomponents of this node

[2016-10-04 15:18] jbphet opened #159 "branch: new-wall-behavior"
I've created this branch as a place to test out changes to the way in which particles interact with the walls of the container.  This is being done in an attempt to get more consistent behavior across different platforms.  See #158 and #71 for more information on the issues that motivated these changes.

[2016-10-04 18:04] jbphet opened #160 "idea: remove lid components as soon as out of layout bounds"
On an iPad 2, the frame rate goes down quite a bit when the lid, thermometer, and pointing hand are moving.  When the container explodes, the lid blows off the top, and as soon as it stops moving, the particles start moving more smoothly.  If we just remove the lid and its components from the scene graph as soon as it is out of the dev bounds, this improved particle behavior would happen sooner.

[2016-10-05 16:40] jbphet opened #161 "consider removing "unsafe" particles"
As of this writing, the particle simulation portion of the code tracks whether or not a particle is considered "safe", meaning that it is okay to interact with other particles.  This was done to avoid problems with injecting new particles, since the appearance of new particles could cause instantaneous overlap with other particles, which would lead to super-high particle velocities, which could ca

[2016-10-12 23:31] jbphet opened #162 "layout of screens is not using model-view transform"
While working on some layout issues, I noticed that the way that the particle canvas, the particle container, the container lid, and several other view components are being positioned is through the use of a bunch of tweaky constants instead of by using of a model-view transform.  This is true for ```StatesScreenView.js``` and ```PhaseChangesScreenView.js```.  This doesn't affect functionality, bu

[2016-10-17 19:33] jbphet opened #163 "use reproducible random number generators"
As of this writing, the sim has 20 usages of Math.random().  In order to support reproducible playback, this should be replaced with seedable versions of the random number generators, see https://github.com/phetsims/phet-io/issues/551.

[2016-10-18 18:54] jbphet opened #164 "temperature increases too much from lid collisions"
The temperature goes up a lot when the lid is being moved down, particularly for oxygen and water.  The amount of temperature increase seems disproportionately large.  This can be seen on v1.0.0-dev.12.

[2016-10-18 21:20] phet-steele commented on #162
@jbphet, you were mentioning how the container opening was something to fix. It is missing from the first screen all together.

![missingrim](https://cloud.githubusercontent.com/assets/5863899/19496803/728b357c-9546-11e6-9cf3-add2949c6093.PNG)

[2016-10-18 22:25] jbphet opened #165 "container explodes sometimes when expanding while substance is in gaseous state"
When the substance is in a gaseous state and the user rapidly expands the container, it sometimes just explodes suddenly.

[2016-10-19 16:50] jbphet commented on #160
I did some experimenting with this and have decided against it, since otherwise the components would disappear when used on an iPad in portrait mode.  Closing.

[2016-10-19 16:50] #160 closed

[2016-10-19 16:51] jbphet commented on #157
I had @kathy-phet (who pointed it out initially) test this on v1.0.0-dev.12, and she agrees that it has been addressed.  Closing.

[2016-10-19 16:51] #157 closed

[2016-10-19 17:09] jbphet commented on #154
The behavior of v1.0.0-dev.12 now matches the Java simulation in that pressure goes to zero when there is not contact with the lid.  I'm not sure that I agree that it should go to zero if there is contact with the lid, since where would be some repulsive force from the atoms on the lid, even in the absence of motion.  I'm assigning back to @arouinfar and @ariel-phet to decide if we're sure that we

[2016-10-19 17:21] jbphet opened #166 "particles can be suspended above the surface, then resume moving at 0K"
When the temperature is reduced to 0K (absolute zero) very quickly, particles sometimes end up in suspended above the surface.  When the cooling stops (i.e. the slider on the heater-cooler node is released) the particles start moving again but the temperature stays at absolute zero, which is physically incorrect.

There should probably be some code that detects particles that are not on the floor

[2016-10-19 17:41] jbphet commented on #158
Assigning to @phet-steele to verify that this is fixed.  Version 1.0.0-dev.12 has the improved behavior.

[2016-10-19 17:49] jbphet commented on #153
The performance branch has been merged with master, but I haven't done anything with the performance-no-gradients branch.  @jonathanolson - can we delete these branches and close this issue?

[2016-10-19 17:51] jbphet commented on #159
The experiments in these branches worked out well and have been merged into master.  I'm going to leave this issue unassigned and open until the sim is published in case I want to go back and look at any of the commits that were specific to this branch during the final test-and-release process.  Once this sim is out the door, I'll delete the branch and close the issue.

[2016-10-19 19:50] arouinfar commented on #154
Good point @jbphet. The behavior in dev.12 looks good!

Instead of closing, I'm going to leave this self-assigned and tagged for documentation in the Teacher Tips.

[2016-10-19 19:51] jbphet opened #167 "Indicator on pump for amount of remaining particles"
The pump doesn't currently indicate to the user when they can't pump any more particles into the container - it just stops.  @ariel-phet and I discussed this and decided that some sort of visual indication would be good.  Something kind of like this might do the trick (with a single strip of squares of all the same color):

![led-bar-graph-vu-meter-dual-channel-level-indicator-display-](https://cl

[2016-10-19 19:59] arouinfar opened #168 "Items to Include in Teacher Tips"
From the Java Tips (some rewording necessary)
- [x]  For solid water, the sim simplifies the model emphasizing that there is space between the
  molecules. A resource for the most common visual for ice structure is
  http://www1.lsbu.ac.uk/water/hexagonal_ice.html
- [x] The phase diagrams are shown qualitatively in the sim, to help students get a general
  understanding of phase diagrams. Quantita

[2016-10-19 19:59] arouinfar commented on #168
@jbphet if there is anything else you can think of, please add them to the checklist.

[2016-10-19 20:00] arouinfar commented on #154
On second thought, we're tracking the Teacher Tips in #168. Closing.

[2016-10-19 20:00] arouinfar commented on #129
We're tracking the Teacher Tips in #168. Closing.

[2016-10-19 20:00] #129 closed

[2016-10-19 20:08] jbphet opened #169 "the temperature can sometimes drop a bit when container is compressing"
When compressing the container, the model extracts its temperature from the kinetic energy of the particles.  Sometimes the temperature can go down as a result.  I believe that this is because the kinetic energy ends up being sampled at a time when some of the energy is being stored as potential energy between the particles, since their interaction is being modeled using Lennard-Jones potentials.

[2016-10-19 20:09] jbphet commented on #169
The Java sim has this same issue.  It is actually quite a bit more noticeable for that sim.

[2016-10-19 20:10] jbphet commented on #169
I discussed this with @ariel-phet and we decided not to try to address this because:
+ it's not very noticeable
+ the Java sim had the same issue
+ the general temperature trend is upwards when the container is being compressed
+ it would be tricky to address, since we'd have to start tracking potential energy

[2016-10-19 20:12] jbphet commented on #169
Actually, after a little thought, it might not be too hard to add some code to prevent this from happening that doesn't involve tracking the potential energy.  I could just say that the temperature is not allowed to decrease if the container is currently being compressed.

[2016-10-19 20:13] arouinfar opened #170 "Update color of solid/liquid/gas buttons"
I've worked with @amyh-phet to find some colors for the solid/liquid/gas buttons that look a bit less muddy than the ones currently in the sim (below).

![image](https://cloud.githubusercontent.com/assets/8419308/19535556/65f6372a-9605-11e6-8c31-20417597d0f7.png)

Here's a quick/rough mockup showing the new button colors. Please disregard the flat appearance.
![image](https://cloud.githubuserconte

[2016-10-20 16:58] arouinfar commented on #168
Marking as on-hold until the sim is closer to publication.

[2016-10-20 21:54] jbphet commented on #30
On 10/20/2016, it was decided that I should do another final pass through this sim to clean up the code before publication.  It's getting close, so I'm reassigning the issue to myself.

[2016-10-20 22:43] jbphet commented on #170
I made the update.  For the most part, they look pretty good, but the unselected color is pretty light so the highlight doesn't show up very much.  @arouinfar - please test off of the current master version and see what you think.  I tried darkening the color slightly, using F8D980, and thought it worked a little better.

[2016-10-20 23:32] jbphet commented on #163
Done, closing.

[2016-10-20 23:32] #163 closed

[2016-10-25 23:27] arouinfar commented on #170
@jbphet's suggestion of F8D980 does indeed look better. Back to you @jbphet.

[2016-10-26 17:57] jbphet commented on #170
I updated the unselected color to the somewhat darker value mentioned above (#F8D980).  I accidentally committed this as part of a fix for another issue after demoing it to @arouinfar.  For reference, the commit is c5ab0bbc6739c67f32887a689d56851c0c35ee25.

[2016-10-26 17:58] jbphet commented on #170
Fixed, closing.

[2016-10-26 17:58] #170 closed

[2016-10-26 22:51] jbphet commented on #162
This has been addressed, closing.

[2016-10-26 22:51] #162 closed

[2016-10-27 23:28] jbphet opened #171 "move away from using PropertySet"
See https://github.com/phetsims/axon/issues/102 for background.

[2016-10-28 17:07] jbphet commented on #168
Here's an item:

[ ] - It is possible to reach absolute zero, but the rate of temperature change slows down quite substantially as 0K is approached.  This is intentional, since it is very difficult to make a system of molecules this cold.  True absolute zero is impossible to achieve, so this should be thought of as rounding down from anything below 0.5K.

[2016-10-28 20:03] jbphet commented on #171
Done, closing.

[2016-10-28 20:03] #171 closed

[2016-10-31 21:02] pixelzoom opened #172 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:44] pixelzoom commented on #172
This issue should have been in SOM-basics. Fixed in above commit. Closing.

[2016-10-31 21:44] #172 closed

[2016-11-01 15:55] jbphet commented on #167
Assigning to @ariel-phet for review.

[2016-11-01 16:51] ariel-phet commented on #167
I think this indicator is looking great in my opinion - clear feedback, not too eye-catching, and the indicator bars seem abstract enough not to be confused with particles.

@arouinfar please also weigh in (probably need to look at from phettest)

[2016-11-01 17:06] arouinfar commented on #167
Looks great @jbphet! I think gray is a good choice here. Not too eye-catching, but clear.

[2016-11-01 17:08] arouinfar commented on #168
@ariel-phet when you have some time, can you review this list and see if there's anything else that should be documented?

[2016-11-01 17:09] ariel-phet commented on #167
Excellent, closing

[2016-11-01 17:15] ariel-phet opened #173 "Consider keeping track of number of particles on phase changes screen"
As I flip between the various atoms/molecules if I have pumped in some particles, that information is lost.

So for instance, if I begin on Neon, pump some particles in, flip to Oxygen, and then back to Neon, the particles I have pumped in go away.

If someone explores each atom/molecule one at a time and does not flip back this behavior will not be noticed, but it does seem a bit incongruous sinc

[2016-11-01 17:17] phet-steele opened #174 "Automated Testing Sim Error (11/1/2016 10:00 AM)"
[code]

[2016-11-01 17:25] ariel-phet commented on #168
@arouinfar two things:
- a bit of explanation of "Return Lid" behavior, might be useful since it might not be completely obvious. basically that it captures the particles in the container at the time and the pump is "refilled" to a level that allows the max number of particles (I believe)
- a note that we do not include Plasma on purpose (even though it is considered a state of matter). I have see

[2016-11-01 17:27] ariel-phet opened #175 "States of Matter Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 05/22/2014)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) using phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 10/24/2014)
- [x] **Design concept compl

[2016-11-01 23:43] jbphet opened #176 "interactive potential graph and control panels "dance" when particles move through a certain range"
There is an issue with the current master versions of States of Matter and Atomic Interactions where the interaction potential diagram (3rd screen of SOM, main screen of AI) shimmies around when the particles move through a certain range.  After a lot of detective work, I found that commenting out the HandNode makes the problem go away.  I showed this to @jonathanolson, and he suggested that I log

[2016-11-02 18:22] jbphet commented on #176
I've added a partial workaround for this that moves the hand to an out-of-the-way position if it is invisible.  This causes the shimmy to stop when the hand is not visible.

[2016-11-02 23:09] jbphet opened #177 "pressure behavior is sometimes a bit odd"
After compressing the container when it has a gas in it, we sometimes see the pressure go up, appear to stabilize, then jump up a bit more after several seconds.  This should be investigated and fixed if possible.

[2016-11-07 17:23] jonathanolson commented on #176
Is there more information about reproducing, as I don't seem able to reproduce this. Which browsers/OSes and screens (as it seemed screen-specific?) had this problem, and are there any tips to reproduce?

[2016-11-08 00:06] arouinfar commented on #154
After discussing with @ariel-phet @amyh-phet  and @jbphet and we've reversed this decision. The pressure should be zero at absolute zero because pressure is caused by momentum transfers between the atoms/molecules and the container. No motion = no momentum transfer = no pressure.

[2016-11-08 00:23] jbphet commented on #177
I've made major changes to the way in which pressure is computed.  It is now done as a time-based moving average.  I've reviewed the latest behavior on master with @kathy-phet and @ariel-phet and both approved.  It will appear in a dev version in v1.0.0-dev.14.  Closing.

[2016-11-08 00:23] #177 closed

[2016-11-08 00:25] jbphet opened #178 "consider speeding up particle motion"
@kathy-phet was in my office looking at this sim, and we had the Java version up at the same time.  She noticed that the particle motion is a little faster on the Java version.  I explained that this was a result of trying to get adequate performance on an iPad 2, i.e. I had slowed the motion down a little as part of a tradeoff towards optimizing performance.  She suggested that I investigate spee

[2016-11-08 00:33] jbphet commented on #178
I tried speeding up the particles by about 25% versus the most recently dev version (http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.13/states-of-matter_en.html).  It looks good on my machine, but not great on iPad 2.  @ariel-phet was looking at it with me and agreed to write up his thoughts, so I'm assigning this to him.

[2016-11-08 16:44] ariel-phet commented on #178
On the iPad2 with the slightly faster speed there is a noticeable performance drop when the heat/cool bucket is applied. With the slightly slower speed, all visualizations still convey the learning goals, but there is not a noticeable performance change when applying the heat/cool control and all other animations of particle motions remain smooth through the range of temperatures.

Closing.

[2016-11-08 16:44] #178 closed

[2016-11-08 19:53] jbphet commented on #174
The reset method was removed from ParticleContainerNode last week, and the testing must have just caught a moment when all references to it had not yet been cleaned up.  There are no calls to this method in the code any more, and reset works fine on both screens where it could potentially have been called.  Closing.

[2016-11-08 19:53] #174 closed

[2016-11-08 23:10] jbphet commented on #167
I reviewed this yesterday with @ariel-phet, and we decided that the indicator should always show the amount that remains to be pumped into the container.  This avoids some potentially odd situations, such as where the user has blown the lid off the container and allowed one or two particles to escape before returning the lid, and the indicator is full be goes empty after pumping one or two particl

[2016-11-09 00:02] jbphet commented on #167
I made the changes described in the immediately preceding comment.  Looks good to me.  Back to @ariel-phet to try it out, make sure it's what we're after, and to close if so.

[2016-11-09 00:18] jbphet commented on #168
Two more thoughts:
- [ ] Some amount of gravity is simulated, but it is minimal - just enough to keep the solid forms of the substances on the floor of the container.  For this reason, substances in their liquid form don't always spread out along the bottom of the container, as, say, water does in a glass.
- [ ] For younger students, it may be important to explain that the hand and the container a

[2016-11-09 00:26] arouinfar commented on #168
Thanks @jbphet and @ariel-phet!

[2016-11-09 00:34] jbphet commented on #166
I've done a fair amount of work on this, and it seems like it's much improved at this point.  I'll have it checked out in the next round of dev testing.

[2016-11-09 20:33] phet-steele commented on #150
@jbphet, it's been 2 months since this was addressed and we haven't seen any odd behaviour. I think that's more than enough time for unintended consequences to crop up. I went ahead and followed the above procedure and saw no issue. Closing.

[2016-11-09 20:33] #150 closed

[2016-11-10 00:35] ariel-phet commented on #167
Looks good, closing

[2016-11-10 00:35] #167 closed

[2016-11-10 19:58] phet-steele commented on #165
Looks good to me.

[2016-11-10 19:58] #165 closed

[2016-11-10 20:10] phet-steele commented on #154
Works beautifully @jbphet.

[2016-11-10 20:10] #154 closed

[2016-11-10 20:31] phet-steele commented on #169
I certainly can't notice temperature decreasing, and I can't think why it should. Closing.

[2016-11-10 20:31] #169 closed

[2016-11-11 00:08] EthanWJohnson opened #179 "Particle Blob freezing"
Reproduced on: Chrome, Safari, Edge

Seen on: Windows 10, iPad, Mac

Using the adjustable attraction particle with a low number of total particles set to maximum attraction at about 120 degrees kelvin. At some point the blob will interact in a certain way with the sim that freezes the entire blob--as if , while a sole particle bounces up and down in a perfectly straight line.

After much careful w

[2016-11-14 21:04] EthanWJohnson commented on #179
Just a note regarding previous versions; the bug ALMOST seems to occur in prior versions. I have noted the blob's velocity to nearly reduce to zero after the sequence of events above plays out; however, the particle and the blob's horizontal movement never fully stopped, and so at some point they collided again. In three hours of letting the sim run, it never quite froze, but it got very close.

[2016-11-17 00:15] jbphet commented on #176
I just did some testing, and saw this on:
+ Chrome 54.0.2540.99 on Win 10
+ Firefox 49.0.2 on Win 10
+ Firefox 42 on Win 7

I did NOT see it on
+ Chrome Canary 56.0.2920.0 on Win 10
+ Safari on OSX
+ Chrome on OSX
+ Edge on Win 10

@jonathanolson - are you going to be on campus for meetings tomorrow?  If so, I could just demo the behavior.

[2016-11-17 00:29] jbphet commented on #176
I just tried the following and saw the effect on both:
- Firefox 50 on OSX 10.12.1
- Firefox 50 on Win 7

[2016-11-17 16:36] jonathanolson commented on #176
Yes, will be on campus today.

[2016-11-17 19:55] jbphet commented on #176
@jonathanolson and I looked at this together, and it appears that the jiggling was due to block sizes changing and thus being "refitted".  Setting `preventFit` to `true` for the `AtomicInteractionsScreenView` causes the symptom to disappear.

I've seen other performance issues in the past with this screen that I would bet are related to this as well.

For the record, the nodes that were pushing ou

[2016-11-17 23:08] phet-steele commented on #164
Temperature increases at a good rate and does not instantly blow the container on iPad 2. Closing as fixed.

[2016-11-17 23:08] #164 closed

[2016-11-17 23:44] EthanWJohnson opened #180 "Particle blobs increase velocity at low temperatures"
At very low temperatures blobs of neon/water molecules (what I've seen thus far) will start out moving/vibrating slowly but, over several minutes, will move/vibrate much more quickly.

![low temperature water 1](https://cloud.githubusercontent.com/assets/22551096/20409415/b55477a4-acd6-11e6-8991-645036f13ab5.gif)

After mere moments the water blob will begin vibrating and moving faster and faster.

[2016-11-17 23:45] phet-steele commented on #166
@jbphet, particles can still be frozen in midair. If a particle(s) bounces off the bottom and moves upward, there is a chance that it will not make it back to the bottom of the container before reaching 0K. This will occur most often with fewer particles in the container. Maybe a case we don't care about, @jbphet?

Watch towards the left:
![som05](https://cloud.githubusercontent.com/assets/5863899

[2016-11-18 22:59] EthanWJohnson opened #181 "With multiple particle blobs at absolute zero, only one gets heated"
While this was caught a while ago, evidently it was never formerly recorded here in the issues.

When there are multiple blobs of particles in _relatively_ close proximity to each other frozen at absolute zero, applying heat will only apply the heat to one of the blobs, never both.
![temperature increase with multiple blobs](https://cloud.githubusercontent.com/assets/22551096/20449402/57c595b6-ada

[2016-11-21 17:21] phet-steele commented on #158
Looks great in 1.0.0-dev.14

[2016-11-21 17:21] #158 closed

[2016-11-21 21:28] kathy-phet commented on #180
This is also in the Java sim.

[2016-11-22 00:19] jbphet commented on #181
I've done some investigation, and I think I know what's happening here.  The isokinetic thermostat calculates a scaling factor when changing the temperature and applies it to the kinetic energy values of all particles.  If there is a group where all of the particles have essentially zero kinetic energy, the scaling factor won't change anything.

A potential solution would be to have a small random

[2016-11-28 17:12] phet-steele commented on #161
@jbphet I like this behaviour!

[2016-11-28 17:12] #161 closed

[2016-11-28 23:47] EthanWJohnson opened #182 "Adding particles with few in the container slows down all active particles"
When there are not many molecules in the container and more are added, all active particles will bleed velocity--often considerably, depending on how many particles are added and how many are already present.

![bleeding velocity](https://cloud.githubusercontent.com/assets/22551096/20690619/eaf6a930-b588-11e6-8e1d-a862e7cb66e5.gif)

It is highly visible with oxygen but does occur with every atom/m

[2016-11-29 00:33] jbphet commented on #182
@ariel-phet - I demonstrated a variation of this issue to you a while back, and you said it wasn't a problem.  The thing I demonstrated was that injecting particles at low temperature could cause the injected particles to start off fast and then slow rapidly.  I believe you said something like, "That's fine - it just shows how cold it is in the container".  This issue that @EthanWJohnson just logg

[2016-11-29 01:24] ariel-phet commented on #182
@jbphet you and I should discuss...though I understand (from your description) that the behavior shown is arising from the same fundamental model assumptions as the case you demonstrated for me, this case seems problematic.

The case you demonstrated was at very cold temperature, and things seemed to generally "jive" - particles looked like they were just coming out of the nozzle very cold. But he

[2016-11-29 01:26] ariel-phet commented on #182
@jbphet the other thing I wonder is if the "rule" could just be that injected particles are injected at the temperature of the container, won't that make everything easy? So if things are cold, the particles are cold, if things are hot the particles are hot, if the come in with an average speed that matches the average kinetic energy, won't everything be hunky dory? The one exception would need to

[2016-11-29 16:59] jbphet commented on #182
The problem with using slower velocities for injected particles at low temperatures is that particles end up overlapping at the injection point, which in turn creates a large amount of kinetic energy, which then has to be removed by the thermostat.  This would also look very unnatural, so I think we'd be robbing Peter to pay Paul.

@ariel-phet - if you think the current behavior is not acceptable,

[2016-11-29 19:27] ariel-phet commented on #182
@jbphet and I discussed over Skype, allowing temperature to increase as you pump particles in seems totally reasonable and worth investigation. We will try to implement in less than 5 hours, if things seem like they are spiraling into a big time sink we will revisit if we can live with this behavior.

[2016-11-30 17:48] jbphet commented on #168
Another thought:

- [ ] The model works best when there are at least (roughly) 15 particles in the container.  It is possible to create situations where there is only a few particles in the container and, in these situations, users may observe some odd behaviors.  One example is occasional visible changes to the velocity of individual particles.  If students observe such things, they should be tol

[2016-11-30 21:18] jbphet commented on #182
I've added the code that allows the temperature to change when particles are injected.  It appears to work well, and actually allowed me to remove some other special-case code that dealt with forcing the temperature to go up when particles are injected at absolute zero.  The change is available in http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.15/states-of-matter_en.html.

[2016-11-30 21:20] jbphet commented on #181
I've added code that gives each particle a minimum amount of kinetic energy when the particles transition from absolute zero to above absolute zero.  This is available in http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.15/states-of-matter_en.html.

[2016-11-30 21:25] jbphet commented on #179
This is due to a subtle interaction between the thermostat and falling particles.  The thermostat doesn't scale down Y velocities of falling particles so that they don't end up stuck in mid air when cooling down the system, but that can create a situation like this where all of the kinetic energy is essentially in one particle, and the others have virtually none.

I've added code that prevents the

[2016-11-30 21:26] jbphet commented on #180
I fixed this by switching to the isokinetic thermostat at low temperatures.  The change is available in http://www.colorado.edu/physics/phet/dev/html/states-of-matter/1.0.0-dev.15/states-of-matter_en.html.

[2016-11-30 21:53] ariel-phet commented on #182
When I tested out several scenarios, all looked quite natural to me. I tested:
- very hot particles and pumping particles in
- absolute zero and pumping particles in
- very few oxygen molecules and pumping

[2016-12-01 01:40] ariel-phet commented on #168
And here is a fun one for you @arouinfar, from unfuddle (2013), worth a read through and seeing if a few sentences would help with some of the concerns:

[2016-12-01 01:47] ariel-phet commented on #168
And another...but basically the tips should probably include some comment in the model section about latent heat not really being addressed (but could discuss the breaking of the crystal lattice order or such)

[2016-12-01 01:51] ariel-phet opened #183 "String for "Oxygen""
From YY on unfuddle:

@jbphet I am not sure if this was ever addressed, would be good to do before publication. Perhaps there could be a string key that distiguishes "O2"

[2016-12-01 02:09] ariel-phet opened #184 "Oxygen Oxygen not escaping when one atom pushed above binding energy"
From Carl (back in 2012 on unfuddle)

@jbphet this bug has apparently been around for 4 years....however if it is something reasonably easy to address might be nice to fix with our publication of SOM

[2016-12-01 02:32] ariel-phet opened #185 "Color Blind testing good except for Phase Diagram"
I looked over the sim using the new Chrome extension I found, all look pretty good, except for the phase diagram assuming Protanopia. It looks like the solid and liquid color could have a bit more contrast.

![som protanopia](https://cloud.githubusercontent.com/assets/4051174/20779737/ad533812-b733-11e6-9afb-c11aa5a656d2.PNG)

[2016-12-01 17:28] arouinfar commented on #168
Thanks for finding this user emails @ariel-phet. I can certainly address these in the Tips, but will most likely need to pick @jbphet's brain about some of the model issues raised in https://github.com/phetsims/states-of-matter/issues/168#issuecomment-264053333.

[2016-12-01 21:07] EthanWJohnson commented on #179
Fix above looks to be working;

![frozen single still occuring](https://cloud.githubusercontent.com/assets/22551096/20812065/74d86846-b7cd-11e6-8b65-e8161fef7b25.gif)

While the situation came up (very rapidly, in fact) the particle maintained a minimal X velocity and self corrected after about a minute. It can look a bit strange, but it will certainly self-correct and we could consider this fixed

[2016-12-01 22:39] EthanWJohnson commented on #180
This looks fine now--I've left the sim running at very low temperatures and movement is very consistent. Closing.

[2016-12-01 22:39] #180 closed

[2016-12-01 22:42] #179 closed

[2016-12-01 23:15] EthanWJohnson opened #186 "Particle Blob Freezing when close to absolute zero, not heating"
Seems to be related to https://github.com/phetsims/states-of-matter/issues/181, logging as asked.

When cooled to nearly absolute zero, but not quite, some blobs of particles will freeze at absolute zero long before others. While not an issue in of itself, this creates another issue where heating the container will not add any velocity to these already frozen blobs;

![near absolute zero freezing]

[2016-12-01 23:39] EthanWJohnson commented on #182
Looks good in all scenarios, as far as I can tell. There is still a slight decrease in velocity with low numbers of oxygen molecules, but it's practically invisible unless you're explicitly looking for it.

[2016-12-01 23:39] #182 closed

[2016-12-02 21:36] EthanWJohnson commented on #181
This looks good--when moving out of absolute zero, all blobs and particles are heating up and moving across the board.

[2016-12-02 21:36] #181 closed

[2016-12-02 23:56] EthanWJohnson opened #187 "Ice-10 (Frozen, high density water at high temperatures)"
Under a certain set of conditions, water will condense into a very dense, orderly, high temperature yet completely stationary "ice" phase, by exploding and then cooling water. Upon reaching this phase, Ice-10 will kill sim performance (frames and input times measured in seconds), render heating and cooling completely nonfunctional, and will continuously increase sim memory usage.

Steps to Reprodu

[2016-12-04 03:57] samreid opened #188 "Duplicated code"
While looking into https://github.com/phetsims/chipper/issues/526 I noticed that states-of-matter had around 280 lines of duplicated code.  It seemed higher than I would expect, so I thought I would make a note of it.  Here is the subset of the report from the chipper issue that points out the duplicated code in states-of-matter:

[code]

[2016-12-07 17:45] jbphet commented on #183
It was addressed, and I just verified that there are two strings in the English file, one designated `oxygen` and the other designated `diatomicOxygen`.  Whether translators will figure this out and translate it correctly is another matter, since the key is the only hint that they will have on the current translation UI.  At any rate, the sim does support having a separate name for diatomic oxygen